- show_description ||= false
%li.collection
  = link_to image_tag(collection.logo_url, :alt => collection.name), collections_path(collection.id)
  %h4= link_to collection.name, collections_path(collection.id)
  = I18n.t(:items_with_count_semi_colon, :count => collection.collection_items.count)
  = I18n.t(:last_updated_time_ago, :time_passed => time_ago_in_words(collection.updated_at))
  - if show_description
    %p= collection.description