- show_description ||= false
- minimal ||= false
%li.collection
  = link_to image_tag(collection.logo_url, :alt => collection.name), collection_path(collection.id)
  - if minimal
    = link_to collection.name, collection_path(collection)
  - else
    %h4
      = link_to collection.name, collection_path(collection.id)
      - collection.communities.each do |community|
        •
        = I18n.t(:from_community, :community => link_to(truncate(community.name, :length => 64), community_path(community)))
    = I18n.t(:items_with_count_semi_colon, :count => collection.collection_items.count)
    = I18n.t(:last_updated_time_ago, :time_passed => time_ago_in_words(collection.updated_at))
    - if defined?(show_user) && show_user
      - collection.users.each do |user|
        = I18n.t(:maintained_by_user, :user => link_to(user.full_name, user_path(user)))
    - if defined?(annotation) && !annotation.blank?
      %p= annotation
