%ul.tabs.with_icons
  - if @collection.watch_collection?
    - newsfeed_label = I18n.t(:watch_list_newsfeed)
  - elsif @collection.focus?
    - newsfeed_label = I18n.t(:focus_list_newsfeed)
  - else
    - newsfeed_label = I18n.t(:collection_newsfeed)
  %li{:class => 'newsfeed' + (@filter == 'newsfeed' ? ' active' : '')}= link_to(newsfeed_label, "/collections/#{@collection.id}/newsfeed")
  %li{:class => 'total' + (@filter.nil? ? ' active' : '')}= link_to I18n.t(:total_items_with_count, :count => @facet_counts['All'] || 0), @collection
  - types = CollectionItem.types
  - types.keys.each do |type|
    - count = @facet_counts[types[type][:facet]] || 0
    - if count > 0
      -# NOTE - a string is used for the path instead of collection_path(@collection, :filter => 'newsfeed') because
      -# that version produces an awkward-looking URL.
      - li_class = (type == :text) ? 'articles' : type
      %li{:class => "#{li_class}#{@filter == type.to_s ? ' active' : ''}" }= link_to I18n.t("#{types[type][:i18n_key]}_with_count", :count => count), "/collections/#{@collection.id}/#{type}"
