%ul.tabs.with_icons
  %li{:class => 'total' + (@filter ? '' : ' active')}= link_to I18n.t(:total_items_with_count, :count => @facet_counts['All'] || 0), @collection
  - types = CollectionItem.types
  - types.keys.each do |type|
    - count = @facet_counts[types[type][:facet]] || 0
    - if count > 0
      %li{:class => "#{type}#{@filter == type.to_s ? ' active' : ''}" }= link_to I18n.t("#{types[type][:i18n_key]}_with_count", :count => count), "/collections/#{@collection.id}/#{type}"
