- unless @filter == 'editors' # You don't need to show this, if we're viewing editors.
  %h3= I18n.t(:managed_by)
  %ul
    - editors = collection.maintained_by
    - editors[0..3].each do |thing|
      %li
        - if thing.is_a? Community
          = link_to image_tag(thing.logo_url, :alt => '', width: 35, height: 35), thing
          %h4= link_to thing.name, thing
        - elsif thing.is_a? User
          = link_to image_tag(thing.logo_url(:small), :alt => '', width: 35, height: 35), thing
          %h4= link_to thing.full_name, thing
          %p= thing.tag_line
    - if editors.length > 4
      %li= link_to(I18n.t(:see_all_editors_with_count, :count => editors.length), "/collections/#{@collection.id}/editors")
