= form_for Collection.new, :builder => ApplicationHelper::EolFormBuilder do |collection_form|
  = collection_form.hidden_field :user_id, :value => current_user.id
  - if @for
    = hidden_field_tag :for, @for
    = hidden_field_tag :source_collection_id, @collection.id
    = hidden_field_tag :scope, @scope
  - if @selected_collection_items
    - @selected_collection_items.each do |collection_item_id|
      = hidden_field_tag "collection_items[]", collection_item_id, :id => "collection_item_#{collection_item_id}"
  %fieldset.new_collection
    = collection_form.label :name, I18n.t(:collection_name_label), {:class => 'assistive'}
    = collection_form.text_field :name
    = submit_tag I18n.t(:create_collection_button)
