- editable = collection.editable_by?(current_user)
- #TODO refer to older commit e.g. 5f64447fe0c1ac9b78c3 when need to reimplement editable actions and forms
#tabs_sidebar
  %ul.tabs.with_icons
    %li.active.total= link_to I18n.t(:total_items_with_count, :count => 37), "/placeholder"
    %li.taxa= link_to I18n.t(:taxa_with_count, :count => 23), "/placeholder"
    %li.videos= link_to I18n.t(:videos_with_count, :count => 3), "/placeholder"
    %li.images= link_to I18n.t(:images_with_count, :count => 3), "/placeholder"
    %li.communities= link_to I18n.t(:communities_with_count, :count => 3), "/placeholder"
    %li.people= link_to I18n.t(:people_with_count, :count => 3), "/placeholder"
    %li.collections= link_to I18n.t(:collections_with_count, :count => 3), "/placeholder"
  -#TODO: Make this sort functional
  %form(action="" method="post")
    %fieldset
      %dl
        %dt
          %label= I18n.t(:sort_items_label)
        %dd
          %select
            %option= I18n.t(:sort_items_by_newest_option)
    %fieldset.actions
      %input{:type => "submit", :value => I18n.t(:sort_items_button)}
#sidebar
  .collection_contributors
    %h3= I18n.t(:collected_by)
    %ul
      %li
        - if collection.community_id
          = link_to image_tag('/images/v2/icon_communities_tabs.png', :alt => ""), collection.community
          %h4= link_to collection.community.name, collection.community
        - elsif collection.user_id
          = link_to image_tag collection.user.logo_url, user_path(:user_id => collection.user)
          %h4= link_to collection.user.username, user_path(:user_id => collection.user)
          -#TODO: %p= collection.user.expertise

#collections.main_container
  - form_for(collection) do |form|
    - collection.collection_items.each do |item|
      = render :partial => 'collection_items/show', :locals => { :collection_item => item, :editable => editable }
