%p= "annotated_collection_view_#{@collection_items.hash}"
- cache("annotated_collection_view_#{@collection_items.hash}", :expires_in => 1.week) do
  - editable ||= false
  - item_editable = editable && !@collection.is_resource_collection?
  %ul#collection_items.object_list
    - @collection_items.each do |item|
      - item_type = en_type(item)
      %li{:class => item_type}
        - cache("annotated_#{item_type}_#{item.id}_#{item_editable ? 'editable' : 'static'}", :expires_in => 1.week) do
          = render :partial => 'collection_items/show', :locals => { :collection_item => item, :item_type => item_type,
            :view_style => 'annotated', :item_editable => item_editable }
