#collections.main_container
  %h2= I18n.t("#{@for}_items_to_a_new_collection")
  = render :partial => 'collections/new'
  - @collections ||= []
  - collections = @collections.reject {|c| c.id == @collection.id }
  - unless collections.empty?
    %h2= I18n.t("or_#{@for}_them_to_existing_collection")
    %ul.object_list
      - collections.each do |collection|
        %li
          = image_tag collection.logo_url, :alt => ''
          - form_for(collection) do |f|
            = f.hidden_field :id
            = hidden_field_tag :for, @for
            = hidden_field_tag :source_collection_id, @collection.id
            = hidden_field_tag :scope, @scope
            - if @selected_collection_items
              - @selected_collection_items.each do |collection_item_id|
                = hidden_field_tag "collection_items[]", collection_item_id, :id => "collection_item_#{collection_item_id}"
            %h3= collection.name
            - if collection.community_id
              = I18n.t(:this_is_a_focus_collection_for_community, :community => link_to(collection.community.name, community_path(collection.community))).downcase
            = I18n.t(:items_with_count, :count => collection.collection_items.count).downcase
            %fieldset.actions
              = submit_tag I18n.t(:choose)
