#collections.main_container
  %h2= I18n.t(:choose_a_destination_collection)
  %ul.object_list
    %li
      = render :partial => 'collections/new'
    - @collections.each do |collection|
      - next if collection.id == @collection.id
      %li
        = image_tag collection.logo_url, :alt => ''
        - form_for(collection) do |f|
          = f.hidden_field :id
          = hidden_field_tag :for, @for
          = hidden_field_tag :source_collection_id, @collection.id
          = hidden_field_tag :scope, @scope
          - if @selected_collection_items
            - @selected_collection_items.each do |collection_item_id|
              = hidden_field_tag "collection_items[]", collection_item_id, :id => "collection_item_#{collection_item_id}"
          %h3= collection.name
          = I18n.t(:items_with_count, :count => collection.collection_items.count)
          %fieldset.actions
            = submit_tag I18n.t(:choose)
