- # commenting out because its inconsistent with other layouts and HR mockups - we have cancel or go back links at end of form but not in header
- # content_for :additional_page_actions do
- #  %li
- #   = link_to I18n.t(:go_back), collection_path(@collection)
%h2= I18n.t(:edit_collection_details_header)
- form_for @collection, :html => { :class => 'standard', :multipart => true } do |f|
  = validation_errors_for(@collection)
  %fieldset
    %dl
      %dt
        = f.label :name
      %dd
        - if @collection.watch_collection?
          %p= f.label @collection.name
        -else
          = f.text_field :name, :value => @collection.name
      %dt
        = f.label :description
      %dd
        = f.text_area :description, :value => @collection.description, :rows => 3, :cols => 60
      %dt
        = f.label :sort_style_id
      %dd
        = f.select :sort_style_id, @sort_options.map {|so| [so.name, so.id]}
      %dt
        = f.label :logo
      %dd
        = f.file_field :logo, :size=>10
  %fieldset.actions
    = submit_tag I18n.t(:update_collection_submit_button), :class => 'button'
    = link_to I18n.t(:go_back), collection_path(@collection)
