- form_for @collection, :html => { :multipart => true } do |collection_form|
  = hidden_field_tag :action_name, controller.action_name
  = hidden_field_tag :filter, @filter if @filter
  #page_heading.with_image
    .site_column
      = image_tag @collection.logo_url, :alt => ''
      .hgroup_fields
        %h1.assistive= h @collection.name
        %fieldset
          = collection_form.label :name, I18n.t(:collection_name_label), {:class => 'assistive'}
          = collection_form.text_field :name, :value => @collection.name
          = collection_form.label :description, I18n.t(:collection_description_label), {:class => 'assistive'}
          = collection_form.text_area :description, :value => @collection.description, :rows => 3, :cols => 60
      .page_actions
        %ul
          %li
            %fieldset.actions
              = submit_tag I18n.t(:update_collection_submit_button), :name => :commit_edit_collection
          %li
            = link_to I18n.t(:go_back), collection_path(@collection)
    = render :partial => 'shared/flash_messages'

  #content
    .site_column
      #tabs_sidebar
        = render :partial => 'collections/filter_by_item_type'
      #sidebar
        - unless @collection.empty?
          .filters
            %h4= I18n.t(:collect_items)
            %fieldset.actions
              = submit_tag I18n.t(:select_all_button), :name => :commit_select_all
              = submit_tag I18n.t(:copy_selected_button), :name => :commit_copy_collection_items
              = submit_tag I18n.t(:move_selected_button), :name => :commit_move_collection_items
              = submit_tag I18n.t(:remove_selected_button), :name => :commit_remove_collection_items
            %h4= I18n.t(:primary_image_header)
            = collection_form.label :logo, I18n.t(:primary_image_choose)
            = collection_form.file_field :logo, :size=>10
        .collection_contributors
          = render :partial => 'collections/managed_by', :locals => { :collection => @collection }
        - if @collection.collection_endorsements.count > 0
          .collection_contributors
            = render :partial => 'collections/endorsed_by', :locals => { :collection => @collection }

      #collections.main_container
        .heading
          - if @collection.empty?
            %p#empty= I18n.t(:collection_is_empty)
          - else
            -# NOTE: A little weird to make the field label an h4, but wanted to keep the formatting the same as the
            -# show view, so that it's clear what you're affecting.
            %h4= I18n.t(:by_default_sort_collection_by_colon)
            %fieldset
              %legend.assistive= I18n.t(:default_sorting_legend)
              = label_tag :default_sorting, I18n.t(:default_sorting_label), :class => 'assistive'
              = collection_form.select :sort_style_id, @sort_options.map {|so| [so.name, so.id]}
            - # FIXME: Users need to be able to choose an image for a collection
        - unless @collection.empty?
          %ul.object_list
            - @collection_items.each do |item|
              - collection_form.fields_for :collection_items, item do |collection_item_fields|
                = render :partial => 'collection_items/edit', :locals => { :collection_item => item['instance'], :fields => collection_item_fields }
