<h1>Editing collection</h1>

<% form_for(@collection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :community_id %><br />
    <%= f.text_field :community_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :special_collection_id %><br />
    <%= f.text_field :special_collection_id %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :object_type %><br />
    <%= f.text_field :object_type %>
  </p>
  <p>
    <%= f.label :object_id %><br />
    <%= f.text_field :object_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @collection %> |
<%= link_to 'Back', collections_path %>
