<h1><%= I18n.t("listing_collections") %></h1>

<table>
  <tr>
    <th><%= I18n.t("name") %></th>
    <th><%= I18n.t("community") %></th>
    <th><%= I18n.t("user") %></th>
    <th><%= I18n.t("special_collection") %></th>
    <th><%= I18n.t("public") %></th>
    <th><%= I18n.t("object_type") %></th>
    <th><%= I18n.t("object") %></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%=h collection.name %></td>
    <td><%=h collection.community_id %></td>
    <td><%=h collection.user_id %></td>
    <td><%=h collection.special_collection_id %></td>
    <td><%=h collection.public %></td>
    <td><%=h collection.object_type %></td>
    <td><%=h collection.object_id %></td>
    <td><%= link_to I18n.t("show"), collection %></td>
    <td><%= link_to I18n.t("edit"), edit_collection_path(collection) %></td>
    <td><%= link_to I18n.t("destroy"), collection, :confirm => I18n.t("are_you_sure"), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t("new_collection"), new_collection_path %>
