<h1>Listing collections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Community</th>
    <th>User</th>
    <th>Special collection</th>
    <th>Public</th>
    <th>Object type</th>
    <th>Object</th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%=h collection.name %></td>
    <td><%=h collection.community_id %></td>
    <td><%=h collection.user_id %></td>
    <td><%=h collection.special_collection_id %></td>
    <td><%=h collection.public %></td>
    <td><%=h collection.object_type %></td>
    <td><%=h collection.object_id %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New collection', new_collection_path %>
