#tabs_sidebar
  = render :partial => 'collections/filter_by_item_type'
#sidebar
  .collection_contributors
    = render :partial => 'collections/managed_by', :locals => { :collection => @collection }
  - if @collection.communities.count > 0
    .collection_contributors
      = render :partial => 'collections/endorsed_by', :locals => { :collection => @collection }
#collections.main_container
  .copy
    - watch_lists = link_to I18n.t(:newsfeed_watch_lists), '/info/watch_list'
    %p= I18n.t(:newsfeed_description_for_collection, :watch_lists => watch_lists)
  .article.list.updates
    = render :partial => 'comments/new', :locals => {:parent => @collection}
    .newsfeed_heading
      %h3= I18n.t(:newsfeed)
    = render :partial => 'activity_logs/index', :locals => {:log => @collection.activity_log(:page => @page) }
