#tabs_sidebar
  = render :partial => 'collections/filter_by_item_type'
#sidebar
  .collection_contributors
    = render :partial => 'collections/managed_by', :locals => { :collection => @collection }
  - if @collection.featuring_communities.count > 0
    .collection_contributors
      = render :partial => 'collections/endorsed_by', :locals => { :collection => @collection }
#collections.main_container
  .copy
    - if @collection.watch_collection?
      %p.help_text= I18n.t(:newsfeed_help_for_watchlist)
    - else
      %p.help_text= I18n.t(:newsfeed_help_for_collection)
  .article.list.updates
    = render :partial => 'comments/new', :locals => {:parent => @collection}
    .newsfeed_heading
      %h3= I18n.t(:newsfeed)
    - log = @collection.activity_log(:page => @page)
    = render :partial => 'activity_logs/index', :locals => {:log => log }
