- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
- editable = @collection.editable_by?(current_user)
= content_for :additional_page_actions do
  = render :partial => 'collections/editable_actions', :locals => { :editable => editable }
- if @collection_items.blank?
  #sidebar
    .collection_contributors
      = render :partial => 'collections/managed_by', :locals => { :collection => @collection }
    = render :partial => 'collections/recently_visited'
  #collection.main_container
    .empty
      %p= I18n.t(:collection_is_empty)
      - if editable && ! @collection.special?
        = button_to I18n.t(:collection_delete_link), collection_url(@collection), :data => { :confirm => I18n.t(:collection_delete_link) }, :method => :delete
- else
  = form_for @collection, :method => :put, :builder => ApplicationHelper::EolFormBuilder do |f|
    = hidden_field_tag(:filter, @filter) if @filter
    #tabs_sidebar
      = render :partial => 'collections/filter_by_item_type'
    #sidebar
      - if logged_in?
        .filters
          %h4= I18n.t(:actions)
          %fieldset.actions
            = select_tag :scope, options_for_select(@collection_item_scopes)
            - if editable && !@collection.is_resource_collection?
              -# NOTE - we use name because we don't want to handle the I18n of the button.
              = submit_tag I18n.t(:move),   :name => 'commit_move'
              = submit_tag I18n.t(:copy),   :name => 'commit_copy'
              = submit_tag I18n.t(:remove), :name => 'commit_remove'
            - else
              = submit_tag I18n.t(:copy), :name => 'commit_copy'
      = render :partial => 'collections/recently_visited'
    #collection.main_container
      .heading
        %fieldset
          = label_tag :sort_by, I18n.t(:sort_collection_by_label)
          = select_tag :sort_by, options_for_select(@sort_options.map {|so| [so.name, so.id]}, @sort_by.id)
        %fieldset.actions
          = submit_tag I18n.t(:sort_by_button), :name => 'commit_sort'
        %fieldset
          = label_tag :view_as, I18n.t(:view_as_label)
          = select_tag :view_as, options_from_collection_for_select(@view_as_options, :id, :name, @view_as.id)
        %fieldset.actions
          = submit_tag I18n.t(:view_as_button), :name => 'commit_view_as'
      - previous_label = (@collection_results.current_page == 1) ? '' : I18n.t(:pagination_previous)
      - next_label = (@collection_results.current_page == @collection_results.total_pages) ? '' : I18n.t(:pagination_next)
      = will_paginate @collection_results, :previous_label => previous_label, :next_label => next_label, :inner_window => 2, :outer_window => 2
      - case @view_as
      - when ViewStyle.gallery
        = render :partial => 'collections/show_gallery_style'
      - when ViewStyle.list
        = render :partial => 'collections/show_list_style'
      - else
        = render :partial => 'collections/show_annotated_style', :locals => { :editable => editable, :parent_form => f }
      = will_paginate @collection_results, :previous_label => previous_label, :next_label => next_label, :inner_window => 2, :outer_window => 2

- if InaturalistProjectInfo.needs_caching?
  :javascript
    $(window).load(function() {
      $.ajax({ url: "/collections/cache_inaturalist_projects" });
    });
    
