- content_for :social_sharing do
  = render 'shared/social_sharing'
- editable = @collection.editable_by?(current_user)
-# TODO - russian-doll caching q.v. http://staging.eol.org/collections/744 - takes a LONG time to load.  :\
-# TODO - move this Logic to the model:
- items_editable = editable && ! @collection.is_resource_collection?
= content_for :additional_page_actions do
  = render 'collections/editable_actions', { :editable => editable }
  - if current_user.is_admin? && @collection_results && @collection_results.is_a?(WillPaginate::Collection) && @collection_results.total_entries < Collection::REINDEX_LIMIT
    %li= link_to I18n.t(:reindex_page_button), reindex_collection_path(@collection), :class => 'button'
    - if @collection.collection_has_data?
      = link_to I18n.t(:download_collection_data), choose_taxa_data_collections_path(collection_id: @collection), :class => 'button'
- if @collection_items.blank?
  #sidebar
    .collection_contributors
      = render 'collections/managed_by', { :collection => @collection }
    = render 'collections/recently_visited'
  #collection.main_container
    .empty
      %p= I18n.t(:collection_is_empty)
      - if editable && ! @collection.special? && @collection.communities.count != 1
        = button_to I18n.t(:collection_delete_link), collection_url(@collection), :data => { :confirm => I18n.t(:collection_delete_link) }, :method => :delete
- else
  #tabs_sidebar
    = render 'collections/filter_by_item_type'
  #collection.main_container
    .heading
      -# TODO - deal with this later. Really, these should be *links* and then JS should "clean them up" to make them look like drop-down. There's no *form* here, these
      -# are just GET requests!
      = form_for @collection, :method => :put, :builder => ApplicationHelper::EolFormBuilder do |f|
        = hidden_field_tag(:filter, @filter) if @filter
        %fieldset
          = label_tag :sort_by, I18n.t(:sort_collection_by_label)
          = select_tag :sort_by, options_for_select(@sort_options.map {|so| [so.name, so.id]}, @sort_by.id)
        %fieldset.actions
          = submit_tag I18n.t(:sort_by_button), :name => 'commit_sort'
        %fieldset
          = label_tag :view_as, I18n.t(:view_as_label)
          = select_tag :view_as, options_from_collection_for_select(@view_as_options, :id, :name, @view_as.id)
        %fieldset.actions
          = submit_tag I18n.t(:view_as_button), :name => 'commit_view_as'
    = form_for @collection_job do |f|
      = validation_errors_for(@collection_job)
      = f.hidden_field :collection_id
      -# TODO - change all the layout stuff to make this a sidebar again. Had to move it to put it in the form!
      #sidebar
        - if logged_in?
          .filters
            %h4= I18n.t(:actions)
            %fieldset.actions
              = select_tag :scope, options_for_select(@collection_item_scopes)
              - if items_editable
                - CollectionJob::VALID_COMMANDS.each do |command|
                  = f.submit I18n.t(command), :name => command
              - else
                = f.submit I18n.t(:copy), :name => 'copy'
        = render 'collections/recently_visited'
      - previous_label = (@collection_results.current_page == 1) ? '' : I18n.t(:pagination_previous)
      - next_label = (@collection_results.current_page == @collection_results.total_pages) ? '' : I18n.t(:pagination_next)
      = will_paginate @collection_results, :previous_label => previous_label, :next_label => next_label, :inner_window => 2, :outer_window => 2
      - case @view_as
      - when ViewStyle.gallery
        = render 'collections/show_gallery_style'
      - when ViewStyle.list
        = render 'collections/show_list_style'
      - else
        = render 'collections/show_annotated_style', { editable: items_editable }
      = will_paginate @collection_results, :previous_label => previous_label, :next_label => next_label, :inner_window => 2, :outer_window => 2

- if InaturalistProjectInfo.needs_caching?
  :javascript
    $(window).load(function() {
      $.ajax({ url: "/collections/cache_inaturalist_projects" });
    });
