= eol_lang_error_messages_for :news_item
= javascript_include_tag 'ckeditor/init'
:javascript
  var todays_date = '#{Date.today}';
= javascript_include_tag 'admin-news-item.js'
%br
=I18n.t(:edit_news_item_instructions_with_link, :link => link_to(I18n.t("tinyurl"), 'http://www.tinyurl.com', :target => '_blank'))
%table{:width => '100%'}
  = render(:partial => 'small_form', :locals => { :f => f })
  = #From here, this is the language dependent part
  %tr
    %td{:colspan => 2, :height => 1, :bgcolor => '#000000'}
  %tr
    %td{:width => 150}
      %strong
        = I18n.t("language")
    %td
      = f.select :current_translation_language, @news_item.not_available_in_languages(@news_item.current_translation_language).collect {|l| [l.iso_639_1, l.id]}

  = render(:partial => 'language_form', :locals => { :f => f })
%br
%br
= cancel_button_goes_back(return_to_url)
|
= f.submit
