= eol_lang_error_messages_for :news_item
:javascript
  var todays_date = '#{Date.today}';
= javascript_include_tag 'admin-news-item.js'
%br
Edit the news item below.  HTML is allowed in both fields, and *either* title or the body is required.  For best results, just use the title and enter a short news item.  When creating hyperlinks to other sites, you can use
= link_to 'TinyURL','http://www.tinyurl.com',:target=>'_blank'
to create shorter URLs to conserve characters.
%table
  %tr
    %td{ :valign => "top" }
      %strong
        Title:
      %br
      %span#title_remaining_length
    %td
      = f.text_field :title, :size=>50, :maxlength=>250,:onKeyDown=>"check_title_remaining();",:onKeyUp=>"check_title_remaining();"
  %tr
    %td{ :valign => "top" }
      %strong
        Body:
      %br
      %span#body_remaining_length
    %td
      = f.text_area :body,{:cols=>50,:onKeyDown=>"check_body_remaining();",:onKeyUp=>"check_body_remaining();"}
  %tr
    %td{ :valign => "top" }
      %strong
        Preview
    %td
      #previewed_news_item{:style=>'width:500px'}
      %br
      %i
        Note: The preview is not exact -- just use to check HTML formatting
  %tr
    %td
      %strong
        News Item Date as shown to user (time only shown in RSS feed):
    %td
      = f.datetime_select :display_date
  %tr
    %td{ :valign => "top" }
      %strong
        News Item is visible on website after this time:
    %td
      = f.datetime_select :activated_on
      %br
      Note that all times are UTC (Greenwich Mean Time)
      %br
      = f.check_box :active
      Publish item based on time set above (uncheck to always hide)
  - if (controller.action_name != 'new' && controller.action_name != 'create') && @news_item.user.nil? == false
    %tr
      %td
        %strong
          Created by:
      %td
        = @news_item.user.username + " (" + @news_item.user.given_name + ")"
  - else
    = f.hidden_field :user_id, :value=>current_user.id
%br
%br
= cancel_button_goes_back(return_to_url)
|
= f.submit
