= eol_lang_error_messages_for :news_item
= javascript_include_tag 'fckeditor/fckeditor'
:javascript
  var todays_date = '#{Date.today}';
= javascript_include_tag 'admin-news-item.js'
%br
=I18n.t(:edit_news_item_instructions_with_link, :link => link_to(I18n.t("tinyurl"), 'http://www.tinyurl.com', :target => '_blank'))
%table{:width => '100%'}
  %tr
    %td{:width => '25%'}
      %strong
        =I18n.t("news_item_date_as_shown_to_use")
    %td
      = f.date_select(:display_date, :order => [:day,:month,:year], :start_year => (Time.now.year - 10), :end_year => (Time.now.year + 1), :use_month_numbers => true)
  %tr
    %td{ :valign => "top" }
      %strong
        =I18n.t("news_item_is_visible_on_websit")
    %td
      = f.date_select(:activated_on, :order => [:day,:month,:year], :start_year => (Time.now.year - 10), :end_year => (Time.now.year + 1), :use_month_numbers => true)
      %br
      =I18n.t(:note_all_times_utc)
  %tr
    %td{ :colspan => 2 }
      = f.check_box :active
      =I18n.t("publish_item_based_on_time_set")
      %br
      %br
  %tr
    %td
      %strong
        = I18n.t(:language)
    %td
      = f.select :language_id, Language.find_active.collect {|l| [l.source_form, l.id]}
  %tr
    %td{ :valign => "top" }
      %strong
        =I18n.t(:title)
      %br
      %span#title_remaining_length
    %td
      = f.text_field :title, :size => 50, :maxlength => 250, :onkeyup => "javascript:check_title_remaining();"
  %tr
    %td{ :valign => "top" }
      %strong
        =I18n.t(:abstract)
      %br
      %span#abstract_remaining_length
    %td
      = f.text_field :abstract, :size => 50, :maxlength => 500, :onkeyup => "javascript:check_abstract_remaining();"

  %tr
    %td{ :valign => "top" }
      =I18n.t(:description)
    %td
      = fckeditor_textarea(:news_item, :description, :toolbarSet => 'Simple', :width => '100%', :height => '400px')
%br
%br
= cancel_button_goes_back(return_to_url)
|
= f.submit
