%tr
  %td
    %strong
      =I18n.t("news_item_date_as_shown_to_use")
  %td
    = f.date_select(:display_date, :order => [:day,:month,:year], :start_year => (Time.now.year - 10), :end_year => (Time.now.year + 1), :use_month_numbers => true)
%tr
  %td{ :valign => "top" }
    %strong
      =I18n.t("news_item_is_visible_on_websit")
  %td
    = f.date_select(:activated_on, :order => [:day,:month,:year], :start_year => (Time.now.year - 10), :end_year => (Time.now.year + 1), :use_month_numbers => true)
    %br
    =I18n.t(:note_all_times_utc)
    %br
    = f.check_box :active
    =I18n.t("publish_item_based_on_time_set")
- if (controller.action_name != 'new' && controller.action_name != 'create') && @news_item.user.nil? == false
  %tr
    %td
      %strong
        =I18n.t(:created_by)
    %td
      = @news_item.user.username + " (" + @news_item.user.given_name + ")"
- else
  = f.hidden_field :user_id, :value => current_user.id
