= eol_lang_error_messages_for :news_item
= javascript_include_tag 'fckeditor/fckeditor'
:javascript
  var todays_date = '#{Date.today}';
= javascript_include_tag 'admin-news-item.js'
%br
- form_for :news_item,@news_item,:url => {:action=>'update', :id=>params[:id]},:html=>{:id=>'page_form'} do |f|
  %table{:width => '100%'}
    = render :partial => 'form', :locals => {:f=>f}