=I18n.t("this_section_is_used_to_create", :rss_link => link_to(I18n.t("rss_feed"),:controller=>'/content',:action=>'news',:format=>'rss'), :news_archive => link_to(I18n.t("news_archive_page"),:controller=>'/content',:action=>'news'))
=I18n.t("you_must_be_comfortable")
=I18n.t("note_that_you_can_reference_im")
#news
  - form_tag({:action=>'index'},:method=>'get') do
    =I18n.t(:search_for_items_containing)
    = text_field_tag(:term_search_string,@term_search_string)
    = select_tag :search_language, options_from_collection_for_select(Language.find_active, "id", "source_form", @search_language.to_i)
    = submit_tag I18n.t("search")
    %br
    = link_to I18n.t("add_a_new_news_item"),:action=>'new'
    %br
    %br
    - if @news_items.nil? == false && @news_items.size > 0
      =I18n.t("a_total_of_items_were_found_matching_your_criteria", :count => @news_items_count)
      %br
      = will_paginate @news_items
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("id")
          %th
            =I18n.t(:language)
          %th
            =I18n.t(:active)
          %th
            =I18n.t(:publish_after_utc)
          %th
            =I18n.t(:news_date)
          %th
            =I18n.t(:title)
          %th
            =I18n.t(:abstract)
          %th
            =I18n.t("delete")
        - for news_item in @news_items
          - column_class=cycle('odd','even')
          %tr
            %td{ :class => column_class }
              = link_to news_item.id,:action=>'edit',:id=>news_item.id
            %td{ :class => column_class }
              = news_item.language.iso_639_1
            %td{ :class => column_class }
              = news_item.active
            %td{ :class => column_class }
              = h format_date_time(news_item.activated_on,:format=>'short_no_tz')
            %td{ :class => column_class }
              = h format_date_time(news_item.display_date,:format=>'short_no_tz')
            %td{ :class => column_class }
              = news_item.title
            %td{ :class => column_class }
              = news_item.abstract
            %td{ :class => column_class }
              = link_to I18n.t("delete"), {:action=>'destroy',:id=>news_item.id}, :confirm => I18n.t("this_cannot_be_undone_are_you_sure"), :method => :delete
      %br
      = will_paginate @news_items
    - else
      =I18n.t("no_news_items_are_available_ma")
