= eol_lang_error_messages_for :news_item
= javascript_include_tag 'ckeditor/init'
= javascript_include_tag 'admin-news-item.js'
= form_for :news_item,@news_item,:url=>{:action=>'save_translation', :id=>@news_item.id, :language_id=>@language.id},:html=>{:id=>'news_item_form', 'data-news_item_id' => @news_item.id} do |f|
  %table{:width => '100%'}
    %tr
      %td
        %strong
          = I18n.t("language")
      %td
        = @language.iso_639_1
    = render(:partial => 'language_form', :locals => { :f => f })

  %br
  %br
  = cancel_button_goes_back(return_to_url)
  |
  = f.submit  
  |
  = link_to I18n.t("delete_firstcap"), {:action=>'delete_translation',:id=>@news_item.id, :language_id=>@news_item.current_translation_language.id}, :confirm => I18n.t("are_you_sure_this_action_cannot_be_undone"), :method => :delete_language
