%div{"data-role"=>"header", "data-position"=>"fixed", "data-theme"=>"a"}
  =link_to image_tag("/images/mobile/logo_simple.png", :height => '24'), mobile_contents_path(), "data-ajax" => "false"
  %h1=t "mobile.contents.home" 

%div{"data-role"=>"content"}
  
  %form#search_form{"action"=>"#{mobile_search_path}", "method"=>"get"}
    %div#search_field_container{"data-role"=>"fieldcontain"}
      %input{"type"=>"search","name"=>"mobile_search","id"=>"search_field","value"=>""}

  %ul#static_taxa_index{"data-role" => "listview", "data-inset"=>"true"}
    %li{"data-role"=>"list-divider"}=t "mobile.contents.taxa" 
    %li= link_to "Nihileri voluptasus", mobile_taxon_path(9)
    %li= link_to "Dignissimosii inutes", mobile_taxon_path(10)
    %li= link_to "Fugais utharumatus", mobile_taxon_path(11)

  %ul{"data-role" => "listview", "data-inset"=>"true", "data-theme"=>"c", "list-divider-theme"=>"e"}
    %li.taxon
      =image_tag("/images/v2/icon_taxon.png")
      %h3= "#{total_count('taxon_concepts')} #{t(:taxa)}"
      %p= link_to t(:what_is_a_taxon), ""
    %li.contributors
      =image_tag("/images/v2/icon_contributors.png")
      %h3= "#{total_count('users')} #{t(:members_like_you)}"
      %p= link_to I18n.t(:learn_how_to_join), ""
    %li.communities
      =image_tag("/images/v2/icon_communities.png")
      %h3= "#{total_count('collections')} #{t(:collections)}"
      %p= link_to I18n.t(:learn_how_to_interact), ""
    %li.images
      =image_tag("/images/v2/icon_partners.png")
      %h3= "#{total_count('data_objects')} #{t(:images)}"
      %p= link_to t(:learn_how_to_contribute), ""
    %li.partners
      =image_tag("/images/v2/icon_images.png")
      %h3= "#{total_count('content_partners')} #{t(:content_partners)}"
      %p= link_to t(:learn_about_content_partners), ""
    
%div{"data-role"=>"footer"}
  %h3#go_to_full{"data-inline"=>"true"}
    //=link_to_remote "Full site", :url => "/mobile/contents/disable"
    =link_to "Full site", disable_mobile_contents_path, "data-ajax" => "false"
  