.list
  %h3= h list.name
  %p.owner
    - if list.community_id 
      = "for"[]
      = link_to list.community.name, list.community
    - else
      = "by"[]
      = link_to list.user.username, user_info_path(list.user)
    - if list.published?
      = "(This list can be viewed by the public)"[]
  .items
    - list.list_items.each do |item|
      = list_item_link_to(item)
