<h1>Listing lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Community</th>
    <th>User</th>
    <th>Special list</th>
    <th>Public</th>
    <th>Object type</th>
    <th>Object</th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%=h list.name %></td>
    <td><%=h list.community_id %></td>
    <td><%=h list.user_id %></td>
    <td><%=h list.special_list_id %></td>
    <td><%=h list.public %></td>
    <td><%=h list.object_type %></td>
    <td><%=h list.object_id %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list', new_list_path %>