<h1>New list</h1>

<% form_for(@list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :community_id %><br />
    <%= f.text_field :community_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :special_list_id %><br />
    <%= f.text_field :special_list_id %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :object_type %><br />
    <%= f.text_field :object_type %>
  </p>
  <p>
    <%= f.label :object_id %><br />
    <%= f.text_field :object_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lists_path %>