= eol_lang_error_messages_for :search_suggestion
%br
=I18n.t("enter_in_a_search_term_users_a")
=I18n.t("you_can_edit_those_later_if_ne")
%table
  %tr
    %td
      %strong
        =I18n.t(:search_term)
      %br
      =I18n.t("trigger_search_term_entered_by")
    %td
      = f.text_field :term, {:size=>'50', :maxlength=>'250'}
  - if action_name != 'new'
    %tr
      %td
        %strong
          =I18n.t(:page_linked_to)
        %br
        =I18n.t("the_suggested_page_to_direct_users_to_link")
      %td
        = link_to @search_suggestion.taxon_concept.summary_name, taxon_url(:id=>@search_suggestion.taxon_id), :target=>'_blank'
  %tr
    %td
      %strong
        =I18n.t(:suggested_result_page_id)
    %td
      = f.text_field :taxon_id, {:size=>'10',:maxlength=>'70'}
  %tr
    %td
      %strong
        =I18n.t(:notes_not_shown_to_user)
    %td
      = f.text_area :notes
  %tr
    %td
      %strong
        =I18n.t(:content_notes_not_shown_to_us)
    %td
      = f.text_field :content_notes,{:size=>'50',:maxlength=>'250'}
  %tr
    %td
      %strong
        =I18n.t(:sort_order)
    %td
      = f.text_field :sort_order,{:size=>'3',:maxlength=>'3'}
      =I18n.t(:only_multi_search_suggestions)
  %tr
    %td
      %strong
        =I18n.t("language")
    %td
      = f.select :language_label, Language.find_active.collect {|l| [l.source_form, l.iso_639_1]}
      %br
  %tr
    %td
      %strong
        =I18n.t("active_colon")
    %td
      = f.check_box :active
      =I18n.t(:must_be_checked_in_to_show)
%br
%br
= cancel_button_goes_back(return_to_url)
&#124;
= f.submit
