=I18n.t("this_area_is_used_to_generate_")
=I18n.t("be_directed_to_as_a_suggestion")
#search_suggestions
  - form_tag({:action=>'index'}, :method=>'get') do
    =I18n.t("search_for_terms_containing")
    = text_field_tag(:term_search_string, @term_search_string)
    = submit_tag I18n.t("search")
    %br
    = link_to I18n.t("add_a_new_search_suggestion"), :action=>'new'
    %br
    %br
    - if @search_suggestions.nil? == false && @search_suggestions.size > 0
      =I18n.t("a_total_of")
      = @search_suggestions_count
      =I18n.t("terms_were_found_matching_your")
      %br
      = will_paginate @search_suggestions
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("term")
          %th
            =I18n.t("scientific_name")
          %th
            =I18n.t("common_name")
          %th
            =I18n.t("image")
          %th
            =I18n.t("action")
        - for search_suggestion in @search_suggestions
          - column_class=cycle('odd', 'even')
          %tr
            %td{ :class => column_class }
              = link_to search_suggestion.term, :action=>'edit', :id=>search_suggestion.id
            %td{ :class => column_class }
              = search_suggestion.scientific_name
            %td{ :class => column_class }
              = search_suggestion.common_name
            %td{ :class => column_class }
              = image_tag(search_suggestion.image_url) unless search_suggestion.image_url.blank?
            %td{ :class => column_class }
              = link_to I18n.t("_search_"), taxon_concept_url(:id=>search_suggestion.taxon_id), :target=>'_blank'
              %br
              = link_to I18n.t("_delete_"), {:action=>'destroy', :id=>search_suggestion.id}, :confirm => I18n.t("this_cannot_be_undone__are_you"), :method => :delete
      %br
      = will_paginate @search_suggestions
    - else
      =I18n.t("no_search_suggestions_are_avai")
