-# NOTE - this Haml file is REALLY OLD and should NOT be used as an exemplar. At all. Embedded JS, to say the least...
%div#edit_toc
  %table.toc_editor{:cellspacing => '2px', :cellpadding => '2px', :border => '1px #cccccc'}
    %tr
      %th
        =I18n.t(:toc_entry_col_header)
      %th
        =I18n.t(:info_items_col_header)
      %th
        =I18n.t("count")
    - input_counter = 0
    - last_toc_chapter = TocItem.last_major_chapter
    - @whole_tree = TocItem.whole_tree
    - @whole_tree.each_with_index do |toc, index|
      - cell1_class = toc.is_major? ? 'major' : 'sub'
      - cell2_class = toc.is_major? ? 'major_ii' : 'sub'
      - if toc.is_reserved?
        - cell1_class += " reserved"
        - cell2_class += " reserved"
      %tr
        %td{:class => cell1_class, :valign => 'top'}
          - if toc.is_sub?
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          - if toc == @whole_tree.first || (toc.is_sub? && @whole_tree[index-1] && @whole_tree[index-1].is_major?)
            = image_tag('arrow_blank.gif') + image_tag('arrow_blank.gif')
          - else
            %a{:href => '', :onclick => "javascript:toc_move_up(#{toc.id}, true); return false;"}= image_tag('arrow_way_up.gif', :alt => I18n.t("move_to_top"), :title => I18n.t("move_to_top"))
            %a{:href => '', :onclick => "javascript:toc_move_up(#{toc.id}, false); return false;"}= image_tag('arrow_up.gif', :alt => I18n.t("move_up"), :title => I18n.t("move_up"))
          - if toc.id == last_toc_chapter.id || (toc.is_sub? && @whole_tree[index+1] && @whole_tree[index+1].is_major?)
            = image_tag('arrow_blank.gif') + image_tag('arrow_blank.gif')
          - else
            %a{:href => '', :onclick => "javascript:toc_move_down(#{toc.id}, false); return false;"}= image_tag('arrow_down.gif', :alt => I18n.t("move_down"), :title => I18n.t("move_down"))
            %a{:href => '', :onclick => "javascript:toc_move_down(#{toc.id}, true); return false;"}= image_tag('arrow_way_down.gif', :alt => I18n.t("move_to_bottom"), :title => I18n.t("move_to_bottom"))

          - if !toc.label.blank?
            %span{:id => "toc_label_#{toc.id}"}
              &nbsp;
              = toc.label.html_safe
              &nbsp;
              %a{:href => '', :onclick => %Q[javascript:toc_edit_label(#{toc.id}, "#{toc.label}"); return false;]}= image_tag('pencil.png', :alt => I18n.t(:edit), :title => I18n.t(:edit), :style => 'float: right; margin: 0px;')

        %td{:class => cell2_class, :valign => 'top'}
          - unless toc.info_items.empty?
            - toc.info_items.each do |ii|
              = ii.schema_value.gsub(/^.*?\.(.*?\..*?)\/.*\/(.*?#)/, '\\1 ... \\2')
              %br
        %td{:class => cell2_class, :valign => 'top'}
          = toc.object_count
      - if @whole_tree[index+1].blank? || @whole_tree[index+1].is_major?
        - input_counter += 1
        - add_to_id = toc.is_major? ? toc.id : toc.parent_id
        %tr
          %td.sub{:valign => 'top', :colspan => 3}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %input{:id => "input_#{input_counter}", :type => 'text', :size => '40'}
            %a{:href => '', :onclick => "javascript:toc_add_sub_chapter(#{add_to_id}, 'input_#{input_counter}'); return false;"}
              =I18n.t("add_sub_chapter")
      - if toc == @whole_tree.last
        %tr
          %td.major_ii{:valign => 'top', :colspan => 3}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %input{:id => "input_chapter", :type => 'text', :size => '40'}
            %input{:type => 'submit', :value => 'Add Major Chapter', :onclick => "javascript:toc_add_chapter('input_chapter'); return false;"}
