#classifications_summary.article.browsable.classifications
  - count = @taxon_concept.classifications.length
  .header
    %h3= I18n.t(:classifications_summary_header_with_count, :count => count)
    - if count > 1
      = link_to(I18n.t(:see_all_classifications_with_count_html, :count => count), '/placeholder_link')
  %ul
    - @taxon_concept.classifications[0..1].each do |classification|
      %li
        %h4= classification[:name]
        %ul
          -# TODO: Find out whether links on kingdom and genus should be going to taxon pages or specific hierarchy entries for the classification (is the latter even an option?)
          -# TODO: Provide more descriptive title attributes, e.g. what happens when a rank is null, blank or will it just say 'taxon' if rank is missing?
          -# TODO - If we're on a Kingdom page, we don't want two hard-coded entries, here:
          %li
            %p
              = link_to(classification[:kingdom].italicized_name, mobile_taxon_path(classification[:kingdom].taxon_concept_id), { :title => classification[:kingdom].rank_label })
            - unless classification[:parent].nil? || classification[:parent].parent.nil?
              %ul
                %li
                  %p
                    = link_to(classification[:parent].parent.italicized_name, mobile_taxon_path(classification[:parent].parent.taxon_concept_id), { :title => classification[:parent].parent.rank_label })
