#taxa_content
  .toolbar
    %h1 Taxa Overview
    =link_to "Home", "/mobile/contents", :class => "back", :rel => "external"
  .info
    %h3= @taxon_concept.title(@session_hierarchy) unless @taxon_concept.title(@session_hierarchy).blank?
  
  #first_image
    %img{:src => @media.first.original_image}

  #taxonomy
    .snippet
      =render(:partial => 'taxa/text_summary')
    / .snippet
    /   = render(:partial => 'taxa/media_summary')
    .snippet
      = render(:partial => 'taxa/iucn_status_summary')
    .snippet
      = render(:partial => 'taxa/collections_summary')
    .snippet
      = render(:partial => 'taxa/communities_summary')
    .snippet
      = render(:partial => 'taxa/classifications_summary')
    .snippet
      = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
    .snippet
      = render(:partial => 'feed_items/index', :locals => {:feed => @taxon_concept.feed})
  
  #more_buttons
    %ul.individual
      %li
        =link_to "Overview", ""
      %li
        =link_to "Details", details_mobile_taxon_path(@taxon_concept.id)
    %ul.individual
      %li
        %p Media
      %li
        %p Maps
    %ul.individual
      %li
        %p Nomenclature
      %li
        %p Literature
    %ul.individual
      %li
        %p Community
      %li
        %p Resources
    
    