= form_for @collection_item do |f|
  %fieldset
    = f.label :annotation
    = f.text_area :annotation
    - if @collection.show_references
      = f.label :refs, raw(I18n.t('helpers.label.collection_item.refs'))
      = text_area_tag 'references', @references
    = f.label :sort_field, raw(I18n.t('helpers.label.collection_item.sort_field'))
    = f.text_field :sort_field
  %fieldset.actions
    = submit_tag I18n.t(:save)
    = link_to I18n.t(:cancel), '#', class: 'close'
