- # Partial rendered within collections page by 'collections/edit_collection_item' partial when JS enabled.
= parent_form.fields_for :collection_items, collection_item do |item_form|
  - # TODO: figure out why I18n is not getting the helpers label scope value automatically for item_form
  %fieldset
    = item_form.label :annotation
    = item_form.text_area :annotation
    %p= item_form.allowed_html_help_tip
    - if @collection.show_references
      = item_form.label :refs, I18n.t('helpers.label.collection_item.refs')
      = text_area_tag 'references', @references
    = item_form.label :sort_field, I18n.t('helpers.label.collection_item.sort_field')
    = item_form.text_field :sort_field
  %fieldset.actions
    = submit_tag I18n.t(:save), :name => :commit_annotation
    = link_to I18n.t(:cancel), '#'
