- en_type = en_type(collection_item)
%li{:class => "#{en_type}"}
  .checkbox
    = check_box_tag "collection_items[]", collection_item.id, @selected_collection_items.include?(collection_item.id.to_s) || @select_all, :id => "collection_item_#{collection_item.id}"
  - if ['image', 'video', 'sound'].include?(en_type)
    = render :partial => "shared/item_summary_media.html.haml", :locals => {:item => collection_item.object, :en_type => en_type}
  - else
    = render :partial => "shared/item_summary_#{en_type}.html.haml", :locals => {:item => collection_item.object}
  %fieldset
    = fields.label :annotation, I18n.t(:collection_item_annotation_label), {:class => 'assistive'}
    = fields.text_area :annotation, :value => collection_item.annotation, :rows => 2, :cols => 60
