-# Okay, weeeeeeeeird, but: this form fixes a problem (?) in Chrome, at least, where the action gets replaced with the action on the page's other form (which is wrong).
= raw %(<form> </form>)
#collection_items_edit
  %h2= @collection_item.name
  = form_for(@collection_item) do |f|
    %fieldset
      %dl
        = f.label :annotation
      %dt
        = f.text_area :annotation
      - if @collection.show_references
        %dl
          = f.label :refs, raw(I18n.t('helpers.label.collection_item.refs'))
        %dt
          = text_area_tag 'references', @references
      %dl
        = f.label :sort_field, raw(I18n.t('helpers.label.collection_item.sort_field'))
      %dt
        = f.text_field :sort_field
    %fieldset.actions
      = submit_tag I18n.t(:save), data: { id: @collection_item.id }
      = link_to I18n.t(:cancel), '#', class: 'close'
