- # NOTE: If user is not logged in collection will be nil, so we don't assume it exists here.
- form_for CollectionItem.new, { :html => {:class => 'button_to'} } do |f|
  = f.hidden_field :object_type, :value => object_being_collected.class.name
  = f.hidden_field :object_id, :value => object_being_collected.id
  = f.hidden_field :collection_id, :value => collection.id unless collection.blank?
  = hidden_field_tag :return_to, current_url
  = hidden_field_tag :submit_to, '/collection_items/create' unless logged_in?
  %fieldset.actions
    = submit_tag I18n.t(:add_to_my_collection_button), :class => 'button'
