- view_style ||= 'default'
- item_type ||= en_type(collection_item)
- if logged_in?
  - if collection_item
    .checkbox
      = check_box_tag "collection_items[]", collection_item.id, @selected_collection_items.include?(collection_item.id.to_s), :id => "collection_item_#{collection_item.id}"
- if ['image_map', 'image', 'video', 'sound'].include?(item_type)
  = render :partial => "shared/item_summary_media.html.haml", :locals => {:item => collection_item.object, :en_type => item_type, :view_style => view_style}
- elsif ! item_type.blank?
  = render :partial => "shared/item_summary_#{item_type}.html.haml", :locals => {:item => collection_item.object, :view_style => view_style}
- else
  = I18n.t(:item_details_missing)
- unless ['image_gallery','names_only'].include?(view_style)
  - if collection_item
    - if collection_item.annotation
      -# TODO: .annotation  ...don't want to muck things up yet, though.
      %p= collection_item.annotation
    - unless collection_item.sort_field.blank?
      %p= I18n.t(:sort_field) + collection_item.sort_field
