- type = collection_item_get_type(collection_item)
%div{:class => "collection #{type}"}
  = collection_item_icon(collection_item)
  .details
    %h3= collection_item.name
    %p= collection_item_detail(collection_item)
    %p= collection_item_view_type_link_to(collection_item)
  %span.icon= I18n.t(:collection_item_type_with_label, :type => type)
  .comment
    - #FIXME: get proper comment
    %p= "collection_item comment"
  %p.meta
    - date = format_date(collection_item.created_at, format = "%B %d,%Y")
    %br
    = I18n.t(:added_date, :date => date)
