- view_style ||= 'default'
- item_type ||= en_type(collection_item)
- item_editable ||= false
- if logged_in?
  - if collection_item
    .checkbox
      = check_box_tag "collection_job[collection_item_ids][]", collection_item.id, @collection_job.collection_items.detect{ |ci| ci == collection_item }
- if ['image_map', 'image', 'video', 'sound'].include?(item_type)
  = render "shared/item_summary_media", {:item => collection_item.collected_item, :en_type => item_type, :view_style => view_style}
- elsif ! item_type.blank?
  = render "shared/item_summary_#{item_type}", {:item => collection_item.collected_item, :view_style => view_style}
- else
  = I18n.t(:item_details_missing)
-# TODO - if view_style.show_editable_attributes?
- unless ['gallery','list'].include?(view_style)
  - if collection_item
    .editable
      = render 'collection_items/show_editable_attributes', { :collection_item => collection_item,
        :item_editable => item_editable }
