- type = collection_item_get_type(collection_item)
%div{:class => "collection #{type}"}
  - #FIXME: get proper image from collection_item
  = image_tag '/images/v2/icon_taxa_tabs.png', :alt => ''
  .details
    %h3= collection_item.name
    - #TODO: Show common name for taxon description for image, expertise for person etc...
    %p= collection_item_view_type_link_to(collection_item)
  %span.icon= I18n.t(:collection_item_type_with_label, :type => type)
  / .comment
  /   -#FIXME: get proper comment
  /   %p collection_item
  %p.meta
    - #TODO: Format date
    - date = collection_item.created_at
    %br
    = I18n.t(:added_date, :date => date)
