- editable ||= false
- item_type ||= en_type(collection_item)
- if logged_in?
  .checkbox
    = check_box_tag "collection_items[]", collection_item.id, @selected_collection_items.include?(collection_item.id.to_s), :id => "collection_item_#{collection_item.id}"
- if ['image', 'video', 'sound'].include?(item_type)
  = render :partial => "shared/item_summary_media.html.haml", :locals => {:item => collection_item.object, :en_type => item_type}
- elsif item_type
  = render :partial => "shared/item_summary_#{item_type}.html.haml", :locals => {:item => collection_item.object}
- else
  = I18n.t(:item_details_missing)
%p= collection_item.annotation
- if editable
  %p.edit= link_to(I18n.t(:edit_annotation), edit_collection_item_path(collection_item))
