- if collection_item.annotation && ! collection_item.annotation.blank?
  .annotation
    %p= collection_item.annotation
- if @collection.show_references
  %p.references
  - unless collection_item.refs.blank?
    %strong= I18n.t :references_cabs_colon
    - collection_item.refs.each do |ref|
      %br
      = ref.full_reference.split.map {|w| w.gsub(/^(http\S+)/, '<a href="\1">\1</a>') }.join(' ')
- unless collection_item.sort_field.blank?
  %p.sort_value
    %strong= I18n.t('helpers.label.collection_item.sort_field_show')
    = collection_item.sort_field
- if item_editable
  %p.edit
    = link_to I18n.t(:edit), edit_collection_item_path(collection_item, :return_to => current_url)
