- en_type = en_type(collection_item)
%li{:class => "#{en_type}"}
  - if ['image', 'video', 'sound'].include?(en_type)
    = render :partial => "shared/item_summary_media.html.haml", :locals => {:item => collection_item.object, :en_type => en_type}
  - else
    = render :partial => "shared/item_summary_#{en_type}.html.haml", :locals => {:item => collection_item.object}
  %p= collection_item.annotation
