- # Full page used for editing collection items when JS is disabled.
#content
  #collection_items_edit.site_column
    = form_for @collection_item, :builder => ApplicationHelper::EolFormBuilder do |item_form|
      = hidden_field_tag :return_to, params[:return_to]
      %fieldset
        %dl
          %dt
            = item_form.label :annotation
          %dd
            = item_form.text_area :annotation
            %p= item_form.allowed_html_help_tip
          - if @collection.show_references
            %dt
              = item_form.label :refs
            %dd
              = text_area_tag 'references', @references
          %dt
            - # TODO: figure out why I18n is not getting the label value automatically for sort_field: label value should override attribute value.
            = item_form.label :sort_field, I18n.t('helpers.label.collection_item.sort_field')
          %dd
            = item_form.text_field :sort_field
      %fieldset.actions
        = item_form.submit I18n.t('helpers.submit.collection_item.update')
        = link_to I18n.t(:cancel), params[:return_to] || @collection
