<h1>Listing collection items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Object type</th>
    <th>Object</th>
  </tr>

<% @collection_items.each do |collection_item| %>
  <tr>
    <td><%=h collection_item.name %></td>
    <td><%=h collection_item.url %></td>
    <td><%=h collection_item.object_type %></td>
    <td><%=h collection_item.object_id %></td>
    <td><%= link_to 'Show', collection_item %></td>
    <td><%= link_to 'Edit', edit_collection_item_path(collection_item) %></td>
    <td><%= link_to 'Destroy', collection_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New collection_item', new_collection_item_path %>
