#tabs_bar
  %ul.tabs
    - shared_translation_scope = [:admins, :statistics]
    %li{:class => resource_is_active('admins/statistics', 'index')}
      = link_to I18n.t(:index_link, :scope => shared_translation_scope), admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'content_partner')}
      = link_to I18n.t(:content_partner_link, :scope => shared_translation_scope), content_partner_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'data_object')}
      = link_to I18n.t(:data_object_link, :scope => shared_translation_scope), data_object_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'curator')}
      = link_to I18n.t(:curator_link, :scope => shared_translation_scope), curator_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'page_richness')}
      = link_to I18n.t(:page_richness_link, :scope => shared_translation_scope), page_richness_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'marine')}
      = link_to I18n.t(:marine_link, :scope => shared_translation_scope), marine_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'user_added_data')}
      = link_to I18n.t(:user_added_data_link, :scope => shared_translation_scope), user_added_data_admin_statistics_path
    %li{:class => resource_is_active('admins/statistics', 'lifedesk')}
      = link_to I18n.t(:lifedesk_link, :scope => shared_translation_scope), lifedesk_admin_statistics_path
