= render :partial => 'menu'
#statistics_marine.main_container
  .copy
    %h2= t(".page_header")
  = render 'download_form'  
  = will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
  %table.standard
    %caption
      = t(".page_header")
    %thead
      %tr
        - report_attributes.each do |attribute|
          %th= I18n.t("activerecord.attributes.eol_statistic.#{attribute}")
    %tbody
      - @stats.each do |s|
        %tr
          %td= number_with_delimiter(s.marine_pages)
          %td= number_with_delimiter(s.marine_pages_in_col)
          %td= number_with_delimiter(s.marine_pages_with_objects)
          %td= number_with_delimiter(s.marine_pages_with_objects_vetted)
          %td= s.created_at.strftime("%Y-%m-%d")
  = will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
