= render :partial => 'menu'
#content_partners.main_container
  .copy
    %h2= I18n.t(:admin_statistics_rich_page_header)
  - form_tag({}, :method => :get) do
    %fieldset.actions.download
      = submit_tag I18n.t(:admin_content_partners_statistics_first_published_download_csv_submit),
        :name => :commit_download_csv
      %input{:type => 'checkbox', :name => 'all_records'}
      %input{:type => 'hidden', :name => 'report', :value => 'rich_page'}
      = I18n.t('all_title')
      %input{:type => 'hidden', :name => 'page', :value => params[:page]}
= will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
%table.standard
  %caption
  %thead
    %tr
      %th= I18n.t('activerecord.attributes.eol_statistic.pages_count')
      %th= I18n.t('activerecord.attributes.eol_statistic.pages_with_content')
      %th= I18n.t('activerecord.attributes.eol_statistic.rich_pages')
      %th= I18n.t('activerecord.attributes.eol_statistic.hotlist_pages')
      %th= I18n.t('activerecord.attributes.eol_statistic.rich_hotlist_pages')
      %th= I18n.t('activerecord.attributes.eol_statistic.redhotlist_pages')
      %th= I18n.t('activerecord.attributes.eol_statistic.rich_redhotlist_pages')
      %th= I18n.t('activerecord.attributes.eol_statistic.pages_with_score_10_to_39')
      %th= I18n.t('activerecord.attributes.eol_statistic.pages_with_score_less_than_10')
      %th= I18n.t('created_at')
  %tbody
    - @stats.each do |s|
      %tr
        %td{:align => 'right'}= number_with_delimiter(s.pages_count)
        %td{:align => 'right'}= number_with_delimiter(s.pages_with_content)
        %td{:align => 'right'}= number_with_delimiter(s.rich_pages)
        %td{:align => 'right'}= number_with_delimiter(s.hotlist_pages)
        %td{:align => 'right'}= number_with_delimiter(s.rich_hotlist_pages)
        %td{:align => 'right'}= number_with_delimiter(s.redhotlist_pages)
        %td{:align => 'right'}= number_with_delimiter(s.rich_redhotlist_pages)
        %td{:align => 'right'}= number_with_delimiter(s.pages_with_score_10_to_39)
        %td{:align => 'right'}= number_with_delimiter(s.pages_with_score_less_than_10)
        %td{:align => 'right'}= s.created_at.strftime("%Y-%m-%d")
= will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
