.session.signed_in
  %h2.assistive= I18n.t(:account_information)
  %ul.notifications
    %li= link_to raw(I18n.t(:user_pending_notifications_comments_with_count_assistive, :count => current_user.message_count)),
      comments_user_newsfeed_path(current_user)
    %li= link_to raw(I18n.t(:user_pending_notifications_with_count_assitive, :count => current_user.notification_count)),
      user_newsfeed_path(current_user)
  = link_to image_tag(current_user.logo_url('small'), :alt => I18n.t(:profile_image_alt_text_member, :user_full_name => h(current_user.full_name))),
    user_newsfeed_path(current_user)
  .details
    %p<
      %strong= h current_user.short_name
      %br/
      = h current_user.tag_line
    %ul.user_links
      %li= link_to I18n.t(:profile), user_path(current_user)
      - if current_user.is_admin?
        %li= link_to I18n.t(:pages_admin_section_link), administrator_path
      - if current_user.is_curator?
        %li= link_to I18n.t(:pages_curator_section_link), curators_path
      %li= link_to I18n.t(:sign_out), logout_url
