- cache("sessions_#{current_user.id}", expires_in: 10.minutes) do
  .session.signed_in
    %h2.assistive= I18n.t(:account_information)
    %ul.notifications
      %li= link_to raw(I18n.t(:user_pending_notifications_comments_with_count_assistive, :count => current_user.message_count)),
        comments_user_newsfeed_path(current_user), :title => I18n.t(:user_pending_notifications_comments_with_count, :count => current_user.message_count)
      %li= link_to raw(I18n.t(:user_pending_notifications_with_count_assitive, :count => current_user.notification_count)),
        user_newsfeed_path(current_user), :title => I18n.t(:user_pending_notifications_with_count, :count => current_user.notification_count)
    = link_to image_tag(current_user.logo_url(size: :small), :alt => I18n.t(:profile_image_alt_text_member, :user_full_name => h(current_user.full_name)), width: 48, height: 48),
      user_newsfeed_path(current_user)
    .details
      %p<
        %strong= h current_user.short_name
        %br/
        = h current_user.tag_line
      %ul.user_links
        %li= link_to I18n.t(:profile), user_path(current_user)
        - if current_user.is_admin?
          %li= link_to I18n.t(:pages_admin_section_link), admin_path
        - elsif current_user.can?(:edit_cms)
          %li= link_to I18n.t(:cms_editor), admin_content_pages_path
        - if current_user.is_curator?
          %li= link_to I18n.t(:pages_curator_section_link), curators_path
        %li= link_to I18n.t(:sign_out), logout_url(return_to: current_url)
