- # TODO: Fix HR css so we don't need different classes here
- session_class = @home_page ? 'session signed_in' : 'session'
%div{:class => session_class}
  %h2.assistive= I18n.t(:account_information)
  = link_to image_tag(current_user.logo_url('small'), :alt => I18n.t(:profile_image_alt_text_member, :user_full_name => h(current_user.full_name))),
    user_newsfeed_path(current_user)
  .details
    %p
      %strong= h current_user.short_name
      - if current_user.agreed_with_terms # They don't have one yet AND this causes an infinite loop, otherwise:
        %br/
        %span#tag_line{ :"data-user-id" => current_user.id }= h current_user.tag_line
    %p.user_links
      - if current_user.is_admin?
        = link_to I18n.t(:pages_admin_section_link), admin_path
        &bull;
      - if current_user.is_curator?
        = link_to I18n.t(:pages_curator_section_link), curators_path
        &bull;
      = link_to I18n.t(:profile), user_newsfeed_path(current_user)
      &bull;
      = link_to I18n.t(:sign_out), logout_url(:return_to => current_url(false))
