- form_for :session, :url => sessions_path, :builder => ApplicationHelper::EolFormBuilder do |f|
  %fieldset
    %h1= I18n.t(:login_header)
    %dl
      %dt
        = f.label :username_or_email
      %dd
        = f.text_field :username_or_email
      %dt
        = f.label :password
      %dd
        = f.password_field :password, :maxlength => 16
    - f.label :remember_me, { :class => 'checkbox' } do
      = check_box_tag :remember_me
      = I18n.t("helpers.label.session.remember_me")
  %fieldset.actions
    = f.submit I18n.t("helpers.submit.session.create")
    = link_to I18n.t(:forgot_password), forgot_password_users_path
