- # I'm using more variables here because I don't want HAML to add newlines anywhere
- if comment.from_curator?
  - profile_link = url_for(:controller => :account, :action => :show, :id => comment.user.id, :only_path => false)
  - linked_name = "<a href='#{profile_link}'>#{comment.user.full_name}</a>"
- else
  - linked_name = comment.user.full_name
- data_object_link = url_for(:controller => :data_objects, :action => comment.parent_id, :only_path => false)
= linked_name + " commented on your image on the <a href='#{data_object_link}'>Encyclopedia of Life site</a>:\n#{comment.body}"
