- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#content_partner_statistics.site_column
  .main_container
    .heading
      - form_tag({}, :method => :get) do
        %fieldset
          %label
            = I18n.t(:content_partner_statistics_month_label)
            = select_month(@month.to_i)
          %label
            = I18n.t(:content_partner_statistics_year_label)
            = select_year(@year.to_i, :start_year => Date.current.year, :end_year => 2008)
        %fieldset.actions
          = submit_tag I18n.t(:change), :name => nil
    - if @partner_summary.blank? && @pages.blank? && @year.to_s == '2012' && (['8', '9', '10'].include?(@month.to_s))
      - @partner_summary = nil
      - @pages = nil
      .empty
        %p= I18n.t(:content_partner_stats_message)
    - elsif @partner_summary.blank? && @pages.blank?
      .empty
        %p= I18n.t(:content_partner_statistics_empty, :month_name => @month_name, :year => @year)

    - unless @partner_summary.blank?
      %table.standard
        %caption
          = I18n.t(:content_partner_statistics_summary_caption, :partner_name => @partner.name)
        %thead
          %th= I18n.t(:content_partner_statistics_column_header_statistic, :month_name => @month_name, :year => @year)
          %th= I18n.t(:content_partner_statistics_column_header_provider_count)
          %th= I18n.t(:content_partner_statistics_column_header_total_count)
          %th= I18n.t(:content_partner_statistics_column_header_provider_proportion)
        %tbody
          %tr
            %td= I18n.t('helpers.label.google_analytics_partner_summaries.taxa_pages')
            %td= @partner_summary.taxa_pages
            %td= @site_summary.taxa_pages
            %td= "#{@partner_summary.percent_overall_taxa_pages(@site_summary).round(2)}%"
          %tr
            %td= I18n.t('helpers.label.google_analytics_partner_summaries.taxa_pages_viewed')
            %td= @partner_summary.taxa_pages_viewed
            %td= @site_summary.taxa_pages_viewed
            %td= "#{@partner_summary.percent_overall_taxa_pages_viewed(@site_summary).round(2)}%"
          %tr
            %td= I18n.t('helpers.label.google_analytics_partner_summaries.unique_page_views')
            %td= @partner_summary.unique_page_views
            %td= @site_summary.unique_pageviews
            %td= "#{@partner_summary.percent_overall_unique_page_views(@site_summary).round(2)}%"
          %tr
            %td= I18n.t('helpers.label.google_analytics_partner_summaries.page_views')
            %td= @partner_summary.page_views
            %td= @site_summary.pageviews
            %td= "#{@partner_summary.percent_overall_page_views(@site_summary).round(2)}%"
          %tr
            %td= I18n.t('helpers.label.google_analytics_partner_summaries.time_on_page')
            %td= @partner_summary.time_on_page_in_hours.round(2)
            %td= @site_summary.time_on_pages_in_hours.round(2)
            %td= "#{@partner_summary.percent_overall_time_on_page_in_hours(@site_summary).round(2)}%"

    - unless @pages.blank?
      .header
        = will_paginate @pages, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
          :inner_window => 2, :outer_window => 2
      %table.standard
        %caption
          = I18n.t(:content_partner_statistics_taxa_page_caption, :partner_name => @partner.name)
        %thead
          %th= I18n.t(:id)
          %th= I18n.t(:scientific_name)
          %th= I18n.t(:content_partner_statistics_column_header_taxa_page_page_views)
          %th= I18n.t(:content_partner_statistics_column_header_taxa_page_unique_page_views)
          %th= I18n.t(:content_partner_statistics_column_header_taxa_page_time_on_page_seconds)
        %tbody
          - @pages.each do |page|
            %tr
              %td= page.taxon_concept_id
              %td= page.taxon_concept.title
              %td= page.page_views
              %td= page.unique_page_views
              %td= page.timeonpage
      .footer
        = will_paginate @pages, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
          :inner_window => 2, :outer_window => 2
