%h2
  = @hierarchy.label
= "("+ link_to(I18n.t("browse_hierarchy"), {:action => 'browse', :id => @hierarchy.id }) +")"

= form_for @hierarchy, :url => { :action => 'edit' }, :html => { :method => :post } do |f|
  %table.results_table{:width => "100%", :cellspacing => "0"}
    - column_class=cycle('odd','even')
    %tr
      %th
        =I18n.t("attribute")
      %th
        =I18n.t("value")
    %tr
      %td{:class => column_class}
        = f.label :label, I18n.t("label")
      %td{:class => column_class}
        = f.text_field :label, :maxlength => 200, :size=>50
        %br
        %i
          =I18n.t("this_is_the_label_that_will_be_used_for_attribution")
    %tr
      %td{:class => column_class}
        = f.label :descriptive_label, I18n.t("descriptive_label")
      %td{:class => column_class}
        = f.text_field :descriptive_label, :maxlength => 200, :size=>50
        %br
        %i
          =I18n.t("hierarchy_selector_drop_down_list_label")
    %tr
      %td{:class => column_class}
        = f.label :description, I18n.t("description")
      %td{:class => column_class}
        = f.text_area :description, :cols => 70, :rows => 3
    %tr
      %td{:class => column_class}
        = f.label :browsable, I18n.t("browsable")
      %td{:class => column_class}
        = f.check_box :browsable
        =I18n.t("check_this_to_browse_eol_by_the_hierarchy")
    %tr
      %td{:class => column_class}
        = f.label :complete, I18n.t("curated")
      %td{:class => column_class}
        = f.check_box :complete, :disabled => 'disabled'
        =I18n.t("note_about_homonym_problems")
    %tr
      %td{:class => column_class}
        = f.label :request_publish, I18n.t("publish_requested")
      %td{:class => column_class}
        = f.hidden_field :request_publish
        = (@hierarchy.request_publish == true) ? 'yes' : 'no'
  %br
  = submit_tag I18n.t(:update)
%hr
