%h3
  = @hierarchy.label

- form_for @hierarchy, :url => { :action => 'edit' }, :html => { :method => :post } do |f|
  %table.results_table{:width => "100%", :cellspacing => "0"}
    - column_class=cycle('odd','even')
    %tr
      %th
        Attribute
      %th
        Value
    %tr
      %td{:class => column_class}
        = f.label :label, "Label"
      %td{:class => column_class}
        = f.text_field :label, :maxlength => 200, :size=>50
    %tr
      %td{:class => column_class}
        = f.label :description, "Description"
      %td{:class => column_class}
        = f.text_area :description, :cols => 70, :rows => 3
  %br
  = submit_tag "Update"
%hr
