%h2
  = @hierarchy.label
= "("+ link_to("browse hierarchy", {:action => 'browse', :id => @hierarchy.id }) +")"

- form_for @hierarchy, :url => { :action => 'edit' }, :html => { :method => :post } do |f|
  %table.results_table{:width => "100%", :cellspacing => "0"}
    - column_class=cycle('odd','even')
    %tr
      %th
        Attribute
      %th
        Value
    %tr
      %td{:class => column_class}
        = f.label :label, "Label"
      %td{:class => column_class}
        = f.text_field :label, :maxlength => 200, :size=>50
        %br
        %i
          This is the label that will be used for attribution
    %tr
      %td{:class => column_class}
        = f.label :descriptive_label, "Descriptive Label"
      %td{:class => column_class}
        = f.text_field :descriptive_label, :maxlength => 200, :size=>50
        %br
        %i
          This is the label that will appear in the hierarchy selector drop down list
    %tr
      %td{:class => column_class}
        = f.label :description, "Description"
      %td{:class => column_class}
        = f.text_area :description, :cols => 70, :rows => 3
    %tr
      %td{:class => column_class}
        = f.label :browsable, "Browsable"
      %td{:class => column_class}
        = f.check_box :browsable
        if this box is checked the hierarchy will be an option for users to browse EOL
    %tr
      %td{:class => column_class}
        = f.label :complete, "Curated"
      %td{:class => column_class}
        = f.check_box :complete, :disabled => 'disabled'
        NOTE: only change this attribute if you are certain - unchecking this could cause serious homonym problems
    %tr
      %td{:class => column_class}
        = f.label :request_publish, "Publish Requested"
      %td{:class => column_class}
        = f.hidden_field :request_publish
        = (@hierarchy.request_publish == true) ? 'yes' : 'no'
  %br
  = submit_tag "Update"
%hr
