All Hierarchies

%br/
= will_paginate @hierarchies

%table.results_table{:width => "100%", :cellspacing => "0"}
  %tr
    %th
      = link_to I18n.t("agent"), {:order_by=>'agent'}
    %th
      = link_to I18n.t("hierarchy"), {:order_by=>'label'}
    %th
      = link_to I18n.t("browsable"), {:order_by=>'browsable'}
    %th
      =I18n.t("edit")
  - for hierarchy in @hierarchies
    - column_class=cycle('odd','even')
    %tr{:valign => "top"}
      %td{:width => "40%", :class => column_class}
        - if hierarchy.user_or_agent
          = hierarchy.user_or_agent.full_name
        - if hierarchy.resource && hierarchy.resource.content_partner
          %small
            = "("+ link_to(I18n.t("partner_page"), { :controller => 'administrator/content_partner_report', :action => 'show', :id => hierarchy.resource.content_partner.id }) +")"
      %td{:class => column_class}
        - if hierarchy.user_or_agent_or_label_name == 'uBio'
          =I18n.t("this_is_a_flat_list_of_10_million_strings")
        -else
          = link_to(hierarchy.form_label, { :action => 'browse', :id => hierarchy.id })
          %br
          = sanitize hierarchy.description.balance_tags
      %td{:class => column_class}
        - browsable = 'no'
        - browsable = 'yes' if hierarchy.browsable==1
        - browsable = '<strong>pending</strong>' if hierarchy.request_publish==true
        = browsable
      %td{:class => column_class}
        = link_to(I18n.t(:edit), {:action => 'edit', :id => hierarchy.id })
%br
%br
= will_paginate @hierarchies
