= form_tag(search_url(:protocol => "http"), :method => "get", :onsubmit => "javascript:return EOL.validate_search_parameters(this, false);") do
  .search_box
    %fieldset
      = text_field_tag :q, params[:q] || "", {:size => "20", :maxlength => "250", :onfocus => "javascript:$(this).select();", :class => "left"}
      \&nbsp;
      %input.search_image{ :name => "search_image", :title => "Find", :value => "", :type => "submit" }
      = image_tag("indicator_arrows_black.gif", :style => "display:none;", :id => "top_search_spinner")
  .search_options
    = render "/shared/google_custom_search_params"
    = radio_button_tag("search_type", "text", (['text', nil].include? @search_type))
    Names
    = radio_button_tag("search_type", "tag", @search_type == "tag")
    Tags
    = radio_button_tag("search_type", "google", @search_type == "google")
    Full-text
  %span#search_message
