- content_for :head do
  - if @additional_javascript
    - @additional_javascript.each do |js|
      = javascript_include_tag js
- content_for :content do
  #content
    #page-separator-general
    #page-title
      %h1
        = @page_title || I18n.t(:select_an_item_from_the_menu)
      %hr
    #page-content.clearfix
      #page-content-bgfauxinside
        #page-content.clearfix
          #full-page-content
            #left-pane
              = render(:partial => @navigation_partial)
            #right-pane
              = yield
= render :file => 'layouts/deprecated/main'
