<%= render :partial => '/admin/content_top', :locals => {:name => 'Error Log'} %>
<script language="JavaScript">
 function select_date(form_value) {
    selected_date=form_value.options[form_value.selectedIndex].value;
		window.location.href='/administrator/error_log/index?date='+created_at;
 }
</script>
	<div id="errors">

		<% if @errors.nil? == false && @errors.size > 0 %>
    <form id="page-form" action="/administrator/error_log/index" method="post">
		The following <%=@errors_count%> errors are in the error log <%="for date #{@date}" unless @date.blank?%>.  Filter by day: 
		<%= select_tag(:date, '<option value="">--select--</option><option value="all">all dates</option>' + options_from_collection_for_select(@distinct_dates,:date, :date,@date),{:onChange=>"JavaScript:$('page-form').submit();"}) %> 

			<br />

			  <%= will_paginate @errors %>
			</form>
		    <table class="results_table" width="100%" cellspacing="0">
		    <tr><th>ID</th><th>Exception</th><th>URL</th><th>User agent</th><th>Date</th></tr>
			<% for error in @errors
				column_class=cycle('odd','even')  %>
			    <tr><td class="<%= column_class%>"><%=error.id%></td><td class="<%= column_class %>"><%=link_to(h(error.exception_name),:action=>'show',:id=>error.id)%></td><td class="<%= column_class %>"><%=h error.url%></td><td class="<%=column_class%>"><%=h error.user_agent%></td<td class="<%=column_class%>"><%=format_date_time(error.created_at)%></td></tr>
				
			<% end %>
		    </table>
			
			<br />
			  <%= will_paginate @errors %>
			</form>
	    <% elsif @errors.nil? == false && @errors.size == 0 %>
			No errors are available.
		<% end %>
	</div>
					
<%= render :partial => '/admin/content_bottom' %>					