#errors
  %a{ :href => "javascript:history.back();" }
    =I18n.t("_go_back_")
  %br
  %br
  %strong
    =I18n.t("id_")
  = @error.id
  %br
  %strong
    =I18n.t("date_")
  = format_date_time(@error.created_at)
  %br
  %strong
    =I18n.t("exception_")
  = @error.exception_name
  %br
  %strong
    =I18n.t("url_")
  = @error.url
  %br
  %strong
    =I18n.t("ip_")
  = @error.ip_address
  %br
  %strong
    =I18n.t("user_agent_")
  = @error.user_agent
  %br
  %strong
    =I18n.t("user_id_")
  = @error.user_id
  %br
  %strong
    =I18n.t("details_")
  %br
  = @error.backtrace.gsub(/\n/,"<br />")
