#errors
  %a{ :href => "javascript:history.back();" }
    =I18n.t(:go_back)
  %br
  %br
  %strong
    =I18n.t(:id)
  = @error.id
  %br
  %strong
    =I18n.t(:date_caps)
  = format_date_time(@error.created_at)
  %br
  %strong
    =I18n.t(:exception)
  = @error.exception_name
  %br
  %strong
    =I18n.t(:url)
  = @error.url
  %br
  %strong
    =I18n.t(:ip)
  = @error.ip_address
  %br
  %strong
    =I18n.t(:user_agent)
  = @error.user_agent
  %br
  %strong
    =I18n.t(:user_id)
  = @error.user_id
  %br
  %strong
    =I18n.t(:details)
  %br
    .v1_error_stacktrace
      = raw @error.display_backtrace
