%p= I18n.t(:content_summary_introduction_html, :glossary_term_trusted => define_term(I18n.t(:trusted)), :glossary_term_unreviewed => define_term(I18n.t(:unreviewed)))
- for hierarchy_entry in content[:items]
  %table.standard{:summary =>  I18n.t(:content_summary_table_summary)}
    %caption= I18n.t(:content_summary_table_caption, :taxon_name => hh(@taxon_concept.title), :hierarchy_label => hierarchy_entry.hierarchy.label)
    %colgroup
    %colgroup.count
    %thead
      %tr
        %th= I18n.t(:content_summary_table_type_status_column_header)
        %th= I18n.t(:content_summary_table_count_column_header)
    %tbody
      %tr.odd
        %td= I18n.t(:content_summary_table_type_descendants_row)
        %td= hierarchy_entry.hierarchy_entry_stat.total_children
      %tr.even
        %td= I18n.t(:content_summary_table_type_trusted_images_row)
        %td= hierarchy_entry.hierarchy_entry_stat.all_image_trusted
      %tr.odd
        %td= I18n.t(:content_summary_table_type_unreviewed_images_row)
        %td= hierarchy_entry.hierarchy_entry_stat.all_image_untrusted
      %tr.even
        %td= I18n.t(:content_summary_table_type_trusted_text_row)
        %td= hierarchy_entry.hierarchy_entry_stat.all_text_trusted
      %tr.odd
        %td= I18n.t(:content_summary_table_type_unreviewed_text_row)
        %td= hierarchy_entry.hierarchy_entry_stat.all_text_untrusted
