- # TODO: Looks like V1 markup, remove if obsolete, or update
- blind_outlink_parameter = URI.encode(sanitize(strip_tags(@taxon_concept.entry.title_canonical)))
- blind_outlink_parameter_scientific = URI.encode(sanitize(strip_tags(@taxon_concept.scientific_name)))
- show_both=(blind_outlink_parameter == blind_outlink_parameter_scientific ? false : true)
#search_the_web_wrapper.text_object
  #links.unvetted-background-text
    %table.results_table{:cellspacing => "0", :summary => "Links"}
      %tbody
        %tr
          %th
            = I18n.t(:project)
          %th
            = I18n.t(:search)
          - if show_both
            %th= I18n.t(:by_scientific_name_table_header)
        %tr
          %td.odd{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/google.gif'), 'http://www.google.com/search?q=' + blind_outlink_parameter, :show_link_icon => false)
          %td.odd
            = external_link_to(I18n.t("google"), "http://www.google.com/search?q=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.odd
              = external_link_to(I18n.t("google"), "http://www.google.com/search?q=" + blind_outlink_parameter_scientific, :show_link_icon=>true)
        %tr
          %td.even{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/google.gif'), 'http://www.google.com/images?q=' + blind_outlink_parameter, :show_link_icon => false)
          %td.even
            = external_link_to(I18n.t("google_images"), "http://www.google.com/images?q=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.even
              = external_link_to(I18n.t("google_images"), "http://www.google.com/images?q=" + blind_outlink_parameter_scientific, :show_link_icon => true)
        %tr
          %td.odd{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/google.gif'), 'http://scholar.google.com/scholar?q=' + blind_outlink_parameter, :show_link_icon => false)
          %td.odd
            = external_link_to(I18n.t("google_scholar"), "http://scholar.google.com/scholar?q=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.odd
              = external_link_to(I18n.t("google_scholar"), "http://scholar.google.com/scholar?q=" + blind_outlink_parameter_scientific, :show_link_icon => true)
        %tr
          %td.even{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/yahoo.gif'), 'http://search.yahoo.com/search?p=' + blind_outlink_parameter, :show_link_icon => false)
          %td.even
            = external_link_to(I18n.t("yahoo"), "http://search.yahoo.com/search?p=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.even
              = external_link_to(I18n.t("yahoo"), "http://search.yahoo.com/search?p=" + blind_outlink_parameter_scientific, :show_link_icon => true)
        %tr
          %td.odd{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/yahoo.gif'),'http://images.search.yahoo.com/search/images?p=' + blind_outlink_parameter, :show_link_icon => false)
          %td.odd
            = external_link_to(I18n.t("yahoo_images"), "http://images.search.yahoo.com/search/images?p=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.odd
              = external_link_to(I18n.t("yahoo_images"), "http://images.search.yahoo.com/search/images?p=" + blind_outlink_parameter_scientific, :show_link_icon => true)
        %tr
          %td.even{:height => "60", :width => "100"}
            = external_link_to(image_tag('agent_icons/vivisimo.gif'), 'http://vivisimo.com/vivisimo/cgi-bin/query-meta?query=' + blind_outlink_parameter, :show_link_icon => false)
          %td.even
            = external_link_to(I18n.t("vivisimo"), "http://vivisimo.com/vivisimo/cgi-bin/query-meta?query=" + blind_outlink_parameter, :show_link_icon => true)
          - if show_both
            %td.even
              = external_link_to(I18n.t("vivisimo"), "http://vivisimo.com/vivisimo/cgi-bin/query-meta?query=" + blind_outlink_parameter_scientific, :show_link_icon => true)
