%p
  = "The following values represent the sum of different types of content for this taxon and all of its taxonomic descendants."[]
  = define_term('Trusted'[])
  = "content has either been approved by an EOL curator or comes from a trusted provider."[]
  = define_term('Unreviewed'[])
  = "content has not yet been assessed by an EOL curator. Every taxonomic hierarchy is unique, so each browsable hierarchy is listed for comparison."[]
%br
%br
-# sorting the results to put the stats for preferred hierarchy first
- selected_hierarchy_stat_entries = @content[:items].select{ |he| he.hierarchy_id == @session_hierarchy.id }
- @content[:items] -= selected_hierarchy_stat_entries
- selected_hierarchy_stat_entries.each{ |he| @content[:items].unshift(he) }
- for hierarchy_entry in @content[:items]
  %strong
    = hierarchy_entry.hierarchy.label
  %br
  %table.results_table
    %tr
      %th
      %th
    %tr
      %td.odd
        \# of descendants
      %td.odd
        = hierarchy_entry.hierarchy_entry_stat.total_children
    %tr
      %td.even
        \# of trusted images
      %td.even
        = hierarchy_entry.hierarchy_entry_stat.all_image_trusted
    %tr
      %td.odd
        \# of unreviewed images
      %td.odd
        = hierarchy_entry.hierarchy_entry_stat.all_image_untrusted
    %tr
      %td.even
        \# of trusted text objects
      %td.even
        = hierarchy_entry.hierarchy_entry_stat.all_text_trusted
    %tr
      %td.odd
        \# of unreviewed text objects
      %td.odd
        = hierarchy_entry.hierarchy_entry_stat.all_text_untrusted
  %br
