- is_curator = @taxon_concept.is_curatable_by?(current_user)
- names_by_language = common_names_by_language(@content[:items], current_user.language_id)
- if is_curator
  #common_names_error{ :style => "color:brown;text-align:center;padding-bottom:8px;display:none;" }
    Sorry! There was an error sending the curation request; please try again later.
  #common_names_spinner{ :style => "text-align:right;float:right;" }
    = image_tag('indicator_arrows_black.gif', :style => 'display:none;')

#common_names_wrapper.text_object
  - if names_by_language.empty?
    = render(:partial => 'taxa/content/content_common_names_insert') 
  - else
    - names_by_language.each_with_index do |language_names, index|
      - language = language_names[1][:language]
      - locals = {:names => language_names[1][:names], :language_id => language[:id]} 
      .title
        - if index == 0
          = "Language:"[]
        == #{language[:label]}
        - if !language[:name].empty? && language[:name] != language[:label]
          == (#{language[:name]})
      - if is_curator
        = render(:partial => 'taxa/content/content_language_common_names_curator', :locals => locals) 
      - else
        = render(:partial => 'taxa/content/content_language_common_names', :locals => locals) 
      - if index == 0 && is_curator
        = render(:partial => 'taxa/content/content_common_names_insert', :locals => locals) 
    %br
    .divider
    .content-attribution-area
      .attribution-header.text-area-header
        = "Source and Additional Information"[]
      %span.source
        Names come from multiple sources.
:javascript
  if (!EOL) var EOL = {};
  if (!EOL.CommonNameCuration) EOL.CommonNameCuration = {};

  Event.addBehavior({
    'td.preferred_name_selector input[type="radio"]:click': function(e) {
      var form = e.element().form;
      form.submit();
    }
  });
  
  Event.addBehavior({
    'td.preferred_name_selector input[type="checkbox"]:click': function(e) {
      var form = e.element().form;
      name_id = e.element().value
      duplicate = form.elements["duplicate_" + name_id].value;
      agent = form.elements["agent_" + name_id].value;
      is_checked_now = e.element().checked;
      do_submit = true;
      if(is_checked_now == false && !duplicate)
      {
        do_submit = confirm("Are you sure you want to delete this common name added by "+agent+"?");
      }
      if(do_submit)
      {
        form.elements["trusted_name_clicked_on"].value = name_id;
        form.elements["trusted_synonym_clicked_on"].value = form.elements["synonym_id_" + name_id].value;
        form.elements["trusted_name_checked"].value = e.element().checked;
        form.submit();
      }else
      {
        e.element().checked = true
      }
    }
  });

  if ($("add_common_name_button")) $("add_common_name_button").observe('click', confirmAddCommonName);

  function confirmAddCommonName(e) {
    var name = $("name_name_string").value.strip();
    var language = $("name_language").value;
    if (name != '') {
      i_agree = confirm("Create a new common name?\n\nYou can always delete it later");
      if (i_agree) {
        var form = e.element().form;
        form.submit();
      }
    } else alert("Add a new common name first");
  }


