
- for stats in @content[:items]
  %strong
    = stats['hierarchy_label']
  %br
  %table.results_table
    %tr
      %th
      %th
    %tr
      %td.odd
        \# of descendants of entry
      %td.odd
        = stats['total_children']
    %tr
      %td.even
        \# of trusted images at or below this entry
      %td.even
        = stats['all_image_trusted']
    %tr
      %td.odd
        \# of unreviewed images at or below this entry
      %td.odd
        = stats['all_image_untrusted']
    %tr
      %td.even
        \# of trusted text objects at or below this entry
      %td.even
        = stats['all_text_trusted']
    %tr
      %td.odd
        \# of unreviewed text objects at or below this entry
      %td.odd
        = stats['all_text_untrusted']
  %br
  %br
