%table.results_table{ :cellspacing => "0", :summary => "Common Names", :style => "width:100%"}
  %tr
    %th{ :scope => "col" }= "Name"[]
    %th= "Sources"[]
  - names.each do |name|
    - column_class = cycle("odd", "even")
    - column_class += ' trusted' if name.trusted?
    - column_class += ' untrusted' if name.untrusted?
    - column_class += ' unreviewed' if name.unreviewed?
    %tr
      %td{ :class => column_class }
        = name.preferred ? "<strong>#{name.string}</strong>" : name.string
      %td{ :class => column_class, :style => "text-align:center;" }
        - if name.sources.blank?
          = "Multiple sources."[]
        - else
          = agent_partial(name.sources)
