= javascript_include_tag 'common-names'
- is_curator = @taxon_concept.is_curatable_by?(current_user)
- if is_curator
  #common_names_error{ :style => "color:brown;text-align:center;padding-bottom:8px;display:none;" }
    Sorry! There was an error sending the curation request; please try again later.
  #common_names_spinner{ :style => "text-align:right;float:right;" }
    = image_tag('indicator_arrows_black.gif', :style => 'display:none;')

#common_names_wrapper.text_object
  - names_by_language = common_names_by_language(@content[:items], current_user.language_id)
  - if names_by_language.empty?
    = render(:partial => 'taxa/content/content_common_names_insert') 
  - else
    - names_by_language.each_with_index do |language_names_pair, index|
      - language = language_names_pair[0]
      - names    = language_names_pair[1]
      .title
        - if index == 0
          = "Language:"[]
        == #{language}
      - if is_curator
        = render(:partial => 'taxa/content/content_language_common_names_curator', :locals => {:names => names}) 
      - else
        = render(:partial => 'taxa/content/content_language_common_names', :locals => {:names => names}) 
      - if index == 0 && is_curator
        = render(:partial => 'taxa/content/content_common_names_insert', :locals => {:names => names}) 
    %br
    .divider
    .content-attribution-area
      .attribution-header.text-area-header
        = "Source and Additional Information"[]
      %span.source
        Names come from multiple sources.
