- is_curator = @taxon_concept.is_curatable_by?(current_user)
- names_by_language = common_names_by_language(@content[:items], current_user.language_id)
- if is_curator
  #common_names_error{ :style => "color:brown;text-align:center;padding-bottom:8px;display:none;" }
    Sorry! There was an error sending the curation request; please try again later.
  #common_names_spinner{ :style => "text-align:right;float:right;" }
    = image_tag('indicator_arrows_black.gif', :style => 'display:none;')

#common_names_wrapper.text_object
  - names_by_language.each do |language_names|
    - language = language_names[1][:language]
    - locals = {:names => language_names[1][:names], :language_id => language[:id]} 
    .title
      = "Language:"[]
      = language[:label]
    - if is_curator
      = render(:partial => 'taxa/content/content_language_common_names_curator', :locals => locals) 
    - else
      = render(:partial => 'taxa/content/content_language_common_names', :locals => locals) 
  %br
  - if is_curator
    - form_tag "/pages/#{@taxon_concept.id}/add_common_name", :method => :post, :id => 'add_common_name' do
      %fieldset.standout
        %legend Add a new common name
        = hidden_field :name, "category_id", :value => params[:category_id]
        = label_tag :name_name_string, "Name"
        = text_field :name, :name_string, :size => 40, :maxlength => 300
        %br
        %br
        = label_tag :name_language, "Name's Language"
        %select{:id => "name_language", :name => "name[language]"}
          - @languages.each do |language|
            %option{ :selected => language[:selected], :value => language[:id] }= language[:label]
        %br
        %br
        %input{:type => "button", :name => "add_common_name_button", :value => "Add", :id => "add_common_name_button"}
  %br
  .divider
  .content-attribution-area
    .attribution-header.text-area-header
      = "Source and Additional Information"[]
    %span.source
      Names come from multiple sources.
:javascript
  if (!EOL) var EOL = {};
  if (!EOL.CommonNameCuration) EOL.CommonNameCuration = {};

  update_common_names = function(form) {
      $$('div#common_names_spinner img')[0].appear();
      $('common_names_error').disappear();
      new Ajax.Request(form.action,
      {
          asynchronous: true,
          evalScripts: true,
          method: 'put',
          onError: function() {
              $('common_names_error').appear();
              $$('div#common_names_spinner img')[0].disappear();
          }.bind(form),
          onComplete: function() {
              $$('div#common_names_spinner img')[0].disappear();
          }.bind(form),
          parameters: Form.serialize(form)
      });
  }

  Event.addBehavior({
    'td.preferred_name_selector input[type="radio"]:click': function(e) {
      update_common_names(this.form);
    }
  });

  if ($("add_common_name_button")) $("add_common_name_button").observe('click', confirmAddCommonName);

  function confirmAddCommonName(e) {
    var name = $("name_name_string").value.strip();
    var language = $("name_language").value;
    if (name != '') {
      i_agree = confirm("Create a new common name?\n\nYou can always delete it later");
      if (i_agree) {
        var form = e.element().form;
        form.submit();
      }
    } else alert("Add a new common name first");
  }


