#mesh_terms.text_object
  These terms are derived by searching the biomedical literature database,
  = external_link_to 'PubMed', 'http://pubmed.gov'
  =I18n.t("for_the_name__")
  = @taxon_concept.quick_scientific_name
  ".
  =I18n.t("the_results_are_analyzed_with_")
  = external_link_to I18n.t("ligercat"), 'http://ligercat.ubio.org'
  =I18n.t("tool__which")
  = external_link_to I18n.t("mesh"), 'http://www.ncbi.nlm.nih.gov/sites/entrez?db=mesh'
  =I18n.t("___each_term_s_relative_size_i")
  %p
    %br
  - # There should only be one mapping for LigerCat, but if there are several, this will show all:
  - if @content[:item] && outlink = @content[:item].outlink
    = render :partial => '/shared/embed_external_page', :locals  => {:height => '400', :width => '100%', :url => "#{outlink[:outlink_url]}.cloud"}
  %p
    %br
  .divider
  .content-attribution-area
    .attribution-header.text-area-header= I18n.t(:source_and_additional_information) 
    %span.source
      =I18n.t("terms_provided_by")
      = external_link_to I18n.t("pubmed"), 'http://www.ncbi.nlm.nih.gov/pubmed/'
      =I18n.t("__clouds_provided_by_the_mbl")
      = external_link_to I18n.t("biology_of_aging_project"), 'http://aging.ubio.org'
      \.
