#mesh_terms.text_object
  These terms are derived by searching the biomedical literature database,
  = external_link_to 'PubMed', 'http://pubmed.gov'
  for the name "
  = @taxon_concept.quick_scientific_name
  ".
  The results are analyzed with the
  = external_link_to 'LigerCat', 'http://ligercat.ubio.org'
  tool, which
  builds the cloud from the most relevant Medical Subject Headings (
  = external_link_to 'MeSH', 'http://www.ncbi.nlm.nih.gov/sites/entrez?db=mesh'
  ). Each term's relative size indicates how many times it
  appears in the PubMed search results. Click on a term to access the full LigerCat cloud, with live PubMed search
  capabilities.
  %p
    %br
  - # There should only be one mapping for LigerCat, but if there are several, this will show all:
  - for mapping in @content[:items]
    = render :partial => '/shared/embed_external_page', :locals  => {:height => '400', :width  => '100%', :url    => "#{mapping.url}.cloud"}
  %p
    %br
  .divider
  .content-attribution-area
    .attribution-header.text-area-header= "Source and Additional Information"[]
    %span.source
      Terms provided by
      = external_link_to 'PubMed', 'http://www.ncbi.nlm.nih.gov/pubmed/'
      \. Clouds provided by the MBL
      = external_link_to 'Biology of Aging project', 'http://aging.ubio.org'
      \.
