%tr
  %td{ :class => column_class }
    = h name_string
  %td{ :class => column_class }
    = h("#{language_label} - #{language_name}") unless language_name.blank?
  - if is_curator
    - if language_id.to_i == current_user.language_id
      %td{ :class => "#{column_class} preferred_name_selector", :style => "text-align:center;" }
        = radio_button_tag('name_id', name_id, preferred == '1')
    - else
      %td{ :class => column_class }
