%label{ :title => I18n.t(:curation_scope)  }
  = I18n.t(:curation_scope)
= I18n.t(:please_note_expertise_smaller_than_scope)
%br
= f.text_area :curator_scope, { :rows => 3, :cols => 80 }
%br
%label{ :title => I18n.t(:credentials) , :for => "user_credentials" }
  = I18n.t(:credentials)
= I18n.t(:please_state_one_credential)
%br
%ol
  %li=I18n.t(:faculty_staff_or_grad_student_credential_option)
  %li=I18n.t(:author_of_peer_reviewed_publication_credential_option)
  %li=I18n.t(:member_of_professional_society_credential_option)
= f.text_area :credentials, { :rows => 7, :cols => 80 }
