%label{ :title => I18n.t(:curation_scope)  }
  = I18n.t(:curation_scope)
= I18n.t(:please_note_expertise_smaller_than_scope)
%br
= f.text_area :curator_scope, { :rows => 3, :cols => 80 }
%br
%label{ :title => I18n.t(:credentials) , :for => "user_credentials" }
  = I18n.t(:credentials)
= I18n.t("please_state_at_least_one_spec")
%br
%ol
  %li=I18n.t("faculty__staff__or_graduate_st")
  %li=I18n.t("authorship_of_a_peer_reviewed_")
  %li=I18n.t("member_of_a_professional_socie")
= f.text_area :credentials, { :rows => 7, :cols => 80 }
