- form_for :user, :html=>{:class=>"single_body_form warning-warn invalid-invalid styleLabelOnErr"} do |f|
  - if $ALLOW_CURATOR_SELF_REG
    %h3= I18n.t(:curators)
    - unless @user.is_curator?
      %label{ :title => I18n.t(:do_you_want_to_be_a_curator) , :for => "user_curator_signup" }
        = I18n.t(:do_you_want_to_be_a_curator)
      = f.check_box :curator_request, {:id => "curator_request"}
      =  I18n.t(:yes_answer)
    #curator_request_options{ :style => ('display:none' unless @user.is_curator?) }
      - unless @user.is_curator?
        %span
          = I18n.t(:curator_signup_message)
      = render(:partial => 'curator_form', :locals => {:f => f})
      - if @user.curator_approved
        %p
          = link_to I18n.t("view_your_curator_profile"), { :controller => :curators, :action => :profile, :id => @user.id }
  .button
    = submit_tag I18n.t(:update_account)
