%b
  =I18n.t("taxon_concept_stats")
= link_to I18n.t(:main_species_page_link_with_spaces),{:controller=>'/taxa', :action=>:show, :id => metric.taxon_concept_id}
%br
%table.results_table
  %tr
    %th
      =I18n.t("stat")
    %th
      =I18n.t("value")
  %tr
    %td.odd
      =I18n.t("text_object")
    %td.odd.stats
      = metric.text_trusted
  %tr
    %td.even
      =I18n.t("image_object")
    %td.even.stats
      = metric.image_trusted
  %tr
    %td.odd
      =I18n.t("video_object")
    %td.odd.stats
      = metric.video_trusted
  %tr
    %td.even
      =I18n.t("flash_video")
    %td.even.stats
      = metric.flash_trusted
  %tr
    %td.odd
      =I18n.t("youtube_video")
    %td.odd.stats
      = metric.youtube_trusted
  %tr
    %td.even
      =I18n.t("sound_object")
    %td.even.stats
      = metric.sound_trusted
  %tr
    %td.odd
      =I18n.t("data_object_reference")
    %td.odd.stats
      = metric.data_object_references
  %tr
    %td.even
      =I18n.t("info_item")
    %td.even.stats
      = metric.info_items
  %tr
    %td.odd
      =I18n.t("bhl_publication")
    %td.odd.stats
      = metric.BHL_publications
  %tr
    %td.even
      =I18n.t(:content_partner)
    %td.even.stats
      = metric.content_partners
  %tr
    %td.odd
      =I18n.t("outlink")
    %td.odd.stats
      = metric.outlinks
  %tr
    %td.even
      =I18n.t("gbif_map")
    %td.even.stats
      - if metric.has_GBIF_map?
        =I18n.t("available")
      - else
        =I18n.t("none")
  %tr
    %td.odd
      =I18n.t("biomedical_terms")
    %td.odd.stats
      - if metric.has_biomedical_terms?
        =I18n.t("available")
      - else
        =I18n.t("none")
  %tr
    %td.even
      =I18n.t("user_submitted_text")
    %td.even.stats
      = metric.user_submitted_text
      - if metric.submitted_text_providers > 0
        = " &nbsp;&nbsp; #{I18n.t(:providers)}"
        = metric.submitted_text_providers
  %tr
    %td.odd
      =I18n.t(:common_name)
    %td.odd.stats
      = metric.common_names
      - if metric.common_name_providers > 0
        = " &nbsp;&nbsp; #{I18n.t(:providers)}"
        = metric.common_name_providers
  %tr
    %td.even
      =I18n.t("synonym")
    %td.even.stats
      = metric.synonyms
      - if metric.synonym_providers > 0
        = " &nbsp;&nbsp; #{I18n.t(:providers)}"
        = metric.synonym_providers
  %tr
    %td.odd
      =I18n.t("page_views_th")
    %td.odd.stats
      = metric.page_views
  %tr
    %td.even
      =I18n.t("unique_page_views_th")
    %td.even.stats
      = metric.unique_page_views
