.current_harvest
  %h2
    = I18n.t(:currently_running_harvesting)
  - if @harvest_log && @harvest_resource
    %table
      - unless @harvest_resource
        %tr
          %td
            %b
              = I18n.t(:harvest_resource)
          %td
            = @harvest_resource.title
      %tr
        %td
          %b
            = I18n.t(:harvest_duration)
        %td
          = time_diff(@harvest_log.began_at, Time.now)
  - else
    %p
      = I18n.t(:no_harvesting_events_running_now)
