.current_harvest
  %h2
    = I18n.t(:currently_running_harvesting)
  - if @harvest_log && @harvest_resource
    %table
      %tr
        %td
          %b
            = I18n.t(:harvest_resource)
        %td
          = link_to(@harvest_resource.title, url_for([@harvest_resource.content_partner, @harvest_resource]))
      %tr
        %td
          %b
            = I18n.t(:harvest_duration)
        %td
          = time_diff(@harvest_log.began_at, Time.now)
  - else
    %p
      = I18n.t(:no_harvesting_events_running_now)
