= javascript_include_tag 'admin'
#admin_overview.main_container
  .article.copy
    %p= raw(I18n.t(:admin_information))
    %h3= I18n.t(:admin_simple_actions_header)
    .actions
      %ul
        %li.data
          = form_tag(change_eol_configs_path, remote: true) do
            = hidden_field_tag(:parameter, 'all_users_can_see_data')
            - val = EolConfig.all_users_can_see_data rescue false
            = check_box_tag('value', val, val)
            = I18n.t(:admin_option_all_users_can_see_data)
        %li= link_to(I18n.t(:recount_collection_items).html_safe, recount_collection_items_admin_path)
  %p
    %br
  - if defined?(Resque) && Resque && Resque.info
    .article.copy
      %h3= I18n.t(:resque_status_header)
      - Resque.queues.each_with_index do |q,i|
        %p= I18n.t(:resque_pending_job_count, count: Resque.size(Resque.queues[i]), queue: q)
      - Resque.workers.each do |worker|
        %p
          = "There is a worker for #{worker.queues.join(", ")}. It is #{worker.working? ? "working" : "idle"}."
          - if worker.working?
            %pre= worker.job.inspect
      %p
        %br
          = render partial: "current_harvest"
