%fieldset
  %p.tip= I18n.t(:content_partner_resource_new_edit_form_tip,
    :required_icon => image_tag('/images/v2/icon_required.png', :alt => ''))
  %dl
    %dt.required
      = resource_form.label :title
    %dd
      = resource_form.text_field :title, :maxlength => 255
  %dl.resources
    %dt
      = radio_button_tag :resource, :url, !@resource.accesspoint_url.blank?
      = label_tag :resource, I18n.t('helpers.label.resource.resource_choose_url')
    %dd
      %dl
        %dt.required
          = resource_form.label :accesspoint_url
        %dd
          = resource_form.text_field :accesspoint_url, :maxlength => 255
        %dt.required
          = resource_form.label :refresh_period_hours
        %dd
          = resource_form.select :refresh_period_hours, options_for_select(@import_frequencies, @resource.refresh_period_hours)
    %dt
      = radio_button_tag :resource, :file, !@resource.dataset.blank?
      = label_tag :resource, I18n.t('helpers.label.resource.resource_choose_file')
    %dd
      %dl
        %dt.required
          = resource_form.label :dataset
        %dd
          = resource_form.file_field :dataset
  %dl
    %dt
      = resource_form.label :dwc_archive_url
    %dd
      = resource_form.text_field :dwc_archive_url, :maxlength => 255
    %dt.required
      = resource_form.label :license_id
    %dd
      = resource_form.select :license_id, options_from_collection_for_select(@licenses, :id, :title, @resource.license_id)
    %dt
      = resource_form.label :rights_holder
    %dd
      = resource_form.text_field :rights_holder
    %dt
      = resource_form.label :rights_statement
    %dd
      = resource_form.text_field :rights_statement, { :maxlength => 300 }
    %dt
      = resource_form.label :bibliographic_citation
    %dd
      = resource_form.text_area :bibliographic_citation
    %dt.required
      = resource_form.label :language_id
    %dd
      = resource_form.select :language_id, options_from_collection_for_select(@languages, :id, :source_form, @resource.language_id)
    %dt
      = resource_form.label :description
    %dd
      = resource_form.text_area :description
