#content_partner_resources.site_column.copy
  = form_for [@partner, @resource], :builder => ApplicationHelper::EolFormBuilder,
    :html => { :multipart => true } do |resource_form|
    = validation_errors_for(@resource)
    = render :partial => 'resource_fieldset', :locals => { :resource_form => resource_form }
    %fieldset.actions
      = resource_form.submit I18n.t('helpers.submit.resource.update')
      = link_to I18n.t(:cancel), content_partner_resource_path(@partner, @resource)
