#content_partner
  .main_container
    .article.copy
      %p= I18n.t(:content_partner_resources_information)
      %p= link_to I18n.t(:content_partner_resource_new_link), new_content_partner_resource_path(@partner), :class => 'button'
      %h3= I18n.t(:content_partner_resources_with_count, :count => @resources.size)
    - unless @resources.blank?
      %table.standard
        %thead
          %th= I18n.t('helpers.label.resource.title')
          %th= I18n.t('helpers.label.resource.accesspoint_url')
          %th= I18n.t('helpers.label.resource.refresh_period_hours')
          %th= I18n.t('helpers.label.resource.resource_status_id')
          %th= I18n.t('helpers.label.resource.license_id')
          %th &nbsp;
        %tbody
          - @resources.each do |resource|
            %tr
              %td
                = h resource.title
              %td
                = link_to I18n.t('helpers.label.resource.accesspoint_url'), h(resource.accesspoint_url)
              %td
                = frequency(resource.refresh_period_hours)
              %td
                = resource.status_label
              %td
                = link_to image_tag(resource.license.logo_url, :alt => I18n.t("license_#{resource.license.title.gsub(/[- .]/, '_').strip}")),
                  resource.license.source_url
              %td
                - if current_user.can_update?(resource)
                  = link_to I18n.t(:content_partner_resource_edit_link), edit_content_partner_resource_path(@partner, resource)
