= content_for :page_actions do
  - if current_user.can_update?(@resource)
    %li= link_to I18n.t(:content_partner_resource_edit_with_type_link),
      edit_content_partner_resource_path(@partner, @resource),
      class: "button"
  - if current_user.is_admin?
    %li= link_to I18n.t(:content_partner_resource_delete_with_type_link), [@partner, @resource],
      :confirm => I18n.t(:admin_resource_delete_confirmation), :method => :delete, class: "button"
  %li= link_to raw(I18n.t(:content_partner_resources_link_back_to)),
    content_partner_resources_path(@partner)

#content_partner_show.site_column
  #sidebar
    = render "collections_summary"
    .content_partner_managers
      = render "content_partners/managed_by"

  #resources_show.main_container
    .article
      .header
        %h3= I18n.t(:content_partner_resource_about_header)
      - if @resource.description.blank?
        .empty
          %p= I18n.t(:content_partner_resource_description_empty)
      - else
        .copy
          %p= sanitize @resource.description.balance_tags
    .section.half
      .article
        .header
          %h3= I18n.t(:content_partner_resource_dataset_details_header)
        %dl
          %dt= I18n.t("helpers.label.resource.dataset")
          %dd
            - if @resource.accesspoint_url.blank?
              - unless @resource.dataset_file_name.blank?
                = @resource.dataset_file_name
            - else
              = link_to @resource.accesspoint_url.sub(/^.*\//, ""),
                @resource.accesspoint_url
          %dt= I18n.t("activerecord.attributes.resource.dwc_archive_url")
          %dd= link_to_url_or_empty(@resource.dwc_archive_url)
          %dt= I18n.t("activerecord.attributes.resource.dataset_source_url")
          %dd= link_to_url_or_empty(@resource.dataset_source_url)
          %dt= I18n.t("activerecord.attributes.resource.dataset_hosted_url")
          %dd= link_to_url_or_empty(@resource.dataset_hosted_url)
          %dt
            = I18n.t("activerecord.attributes.resource.hierarchy")
          %dd
            - hierarchy = @resource.hierarchy
            - unless @resource.dwc_hierarchy.blank?
              - hierarchy =  @resource.dwc_hierarchy
            - en_browsable_status = en_browsable_status(hierarchy)
            - if hierarchy.blank?
              = I18n.t(:value_empty)
            - else
              = I18n.t "content_partner_resource_hierarchy_" + en_browsable_status
              - if current_user.is_admin?
                = "["
                = link_to I18n.t(:content_partner_resource_hierarchy_edit_link),
                  edit_content_partner_resource_hierarchy_path(@partner,
                  @resource, hierarchy, return_to: current_url)
                = "]"
              - if hierarchy.request_to_publish_can_be_made? && current_user.can_update?(@resource)
                = request_to_publish_hierarchy_button(hierarchy)

          %dt= I18n.t("activerecord.attributes.resource.language_id")
          %dd
            - if @resource.language.nil?
              = Language.english.label
              = I18n.t(:value_default)
            - else
              = @resource.language.label

    .section.half
      .article
        .header
          %h3= raw(I18n.t(:content_partner_resource_licensing_details_header))
        %dl
          %dt= I18n.t("activerecord.attributes.resource.dataset_license_id")
          %dd= license_title_or_empty @resource.dataset_license
          %dt= I18n.t("activerecord.attributes.resource.dataset_rights_holder")
          %dd= attribute_or_empty @resource.dataset_rights_holder
          %dt= I18n.t("activerecord.attributes.resource.dataset_rights_statement")
          %dd= attribute_or_empty @resource.dataset_rights_statement
          - if current_user.can_update?(@resource)
            %dt= I18n.t("activerecord.attributes.resource.license_id")
            %dd= license_title_or_empty @resource.license
            %dt= I18n.t("activerecord.attributes.resource.rights_holder")
            %dd= attribute_or_empty @resource.rights_holder
            %dt= I18n.t("activerecord.attributes.resource.rights_statement")
            %dd= attribute_or_empty @resource.rights_statement
          %dt= I18n.t("activerecord.attributes.resource.bibliographic_citation")
          %dd= attribute_or_empty @resource.bibliographic_citation

    - if current_user.can_update?(@resource)
      .section.half.processing_status
        .article
          .header
            %h3= I18n.t(:content_partner_resource_processing_header)
          %dl
            %dt
              = I18n.t("helpers.label.resource.resource_status_id")
            %dd{ class: en_resource_status }
              = @resource.status_label
              - if @resource.status_can_be_changed_to?(ResourceStatus.force_harvest)
                = button_to I18n.t("helpers.submit.resource.force_harvest"), force_harvest_content_partner_resource_path(@partner, @resource),
                  data: { confirm: I18n.t(:content_partner_resource_confirm_force_harvest, resource_title: h(@resource.title)) }
            %dt
              = I18n.t("activerecord.attributes.resource.notes")
            %dd
              - if @resource.notes.blank?
                = I18n.t(:value_empty)
              - else
                = raw(truncate(@resource.notes, length: 100000))
            %dt
              = I18n.t("helpers.label.resource.refresh_period_hours")
            %dd
              = frequency(@resource.refresh_period_hours)
            - if current_user.is_admin?
              %dt
                = I18n.t("activerecord.attributes.resource.auto_publish")
              %dd
                - if @resource.auto_publish
                  = I18n.t(:content_partner_resource_auto_publish_true)
                - else
                  = I18n.t(:content_partner_resource_auto_publish_false)
              %dt
                = I18n.t("activerecord.attributes.resource.vetted")
              %dd
                - if @resource.vetted
                  = I18n.t(:content_partner_resource_vetted_true)
                - else
                  = I18n.t(:content_partner_resource_vetted_false)
      .section.half
        .article
          .header
            %h3= I18n.t("activerecord.attributes.resource.harvest_events")
            - if @resource.harvest_events.count > 0
              = link_to raw(I18n.t(:content_partner_resource_harvest_events_see_all_link)), content_partner_resource_harvest_events_path(@partner, @resource)
          %dl
            %dt
              = I18n.t("helpers.label.resource.latest_harvest_event")
            %dd
              - if @resource.latest_harvest_event.blank?
                = I18n.t(:value_empty)
              - else
                = I18n.t("helpers.label.harvest_event.began_at")
                = time_or_empty @resource.latest_harvest_event.began_at
                %br/
                = I18n.t("helpers.label.harvest_event.completed_at")
                = time_or_empty @resource.latest_harvest_event.completed_at
                %br/
                = I18n.t("helpers.label.harvest_event.published_at")
                = time_or_empty @resource.latest_harvest_event.published_at
                - if secs = @resource.last_harvest_seconds && ! secs.nil? && secs > 0
                  %br/
                  = I18n.t("helpers.label.harvest_event.last_harvest_seconds", time_in_words: distance_of_time_in_words(secs))
                - unless @resource.preview_collection.blank?
                  %br/
                  = link_to I18n.t(:content_partner_resource_preview_collection_show_link), @resource.preview_collection
                - if current_user.is_admin?
                  - if !@resource.latest_harvest_event.publish? && @resource.latest_harvest_event.publish_is_allowed?
                    = form_for [@partner, @resource, @resource.latest_harvest_event] do |f|
                      = hidden_field_tag "return_to", current_url
                      = f.hidden_field :publish, value: :true
                      %fieldset.actions
                        = f.submit I18n.t("helpers.submit.harvest_event.publish"), name:  :commit_publish_harvest_event,
                          data: { confirm: I18n.t(:content_partner_resource_harvest_event_confirm_publish, completed_at: format_date_time(@resource.latest_harvest_event.completed_at), resource_title: h(@resource.title)) }
                  - elsif @resource.latest_harvest_event.publish_pending?
                    %br/
                    %em= I18n.t(:content_partner_resource_harvest_event_publish_pending)

            %dt
              = I18n.t("helpers.label.resource.latest_published_harvest_event")
            %dd
              - if @resource.latest_published_harvest_event.blank?
                = I18n.t(:value_empty)
              - else
                = format_date_time(@resource.latest_published_harvest_event.published_at, format: :medium )
                - unless @resource.collection.blank?
                  %br/
                  = link_to I18n.t(:content_partner_resource_collection_show_link), @resource.collection
            %dt
              = I18n.t("helpers.label.resource.oldest_published_harvest_event")
            %dd
              - if @resource.oldest_published_harvest_event.blank?
                = I18n.t(:value_empty)
              - else
                = format_date_time(@resource.oldest_published_harvest_event.published_at, format: :medium)
