%li
  %div{ :id => "comment_#{comment.id}" }
    %p{ :class => comment.visible? ? '' : ' class="invisible-comment"' }
      = allow_some_html(h(comment.body))
  %h6
    - if comment.from_curator
      %img{ :src => "/images/icons/link-visited/star.gif", :height => "18", :alt => "curator", :width => "18" }
    %strong
      = comment.user.nil? ? 'Anonymous' : comment.user.username
    = comment.updated_at
    - if (current_user.is_moderator? || current_user.can_curate?(comment))
      %span.invisible-comment{ :id => "vis_cmnt_#{comment.id}" }
      - if comment.visible?
        [
        = link_to_remote('remove', :url => remove_comment_path(comment), :method  => :put, :confirm => 'Are you sure you want this hidden?', :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update  => {:success => "vis_cmnt_#{comment.id}", :failure => '' })
        ]
      - unless comment.visible?
        THIS COMMENT IS NOT VISIBLE
        [
        = link_to_remote 'make visible', :url     => make_visible_comment_path(comment), :method  => :put, :confirm => 'Are you sure you want this visible?', :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update  => "vis_cmnt_#{comment.id}"
        ]
      - else
        \&nbsp;
