.comment_button.comment-button-image{ :id => "comment_button_id_#{data_object_id}", :title => title }
  = link_to "<span class='span_block'>#{comments_count}</span>", |
    "/data_objects/#{data_object_id}/comments", |
    {'data-data_object_id' => data_object_id, |
    :alt => alt, |
    :class => comment_class, |
    :id => "comment_button_link_#{data_object_id}", |
    :rel => rel } |