%li
  %div{ :id => "comment_#{comment.id}" }
    %p{ :class => comment.visible? ? '' : ' class="invisible-comment"' }
      = allow_some_html(h(comment.body))
      - if @taxon_concept && comment.parent_id != @taxon_concept.id
        %br
        =I18n.t("from_a_previous_version_of_thi")
        %br
  %h6
    - if comment.from_curator
      %img{ :src => "/images/icons/link-visited/star.gif", :height => "18", :alt => I18n.t("curator"), :width => "18" }
    %strong
      = comment.user.nil? ? I18n.t("anonymous") : comment.user.username
    = comment.updated_at
    - if (current_user.is_moderator? || current_user.can_curate?(comment))
      %span.invisible-comment{ :id => "vis_cmnt_#{comment.id}" }
        - if comment.visible?
          [
          = link_to_remote(I18n.t("remove_"), :url => remove_comment_path(comment), :method  => :put, :confirm => I18n.t("are_you_sure_you_want_this_hid"), :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update  => {:success => "vis_cmnt_#{comment.id}", :failure => '' })
          ]
        - unless comment.visible?
          =I18n.t("this_comment_is_not_visible")
          [
          = link_to_remote I18n.t("make_visible"), :url     => make_visible_comment_path(comment), :method  => :put, :confirm => I18n.t("are_you_sure_you_want_this_vis"), :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update  => "vis_cmnt_#{comment.id}"
          ]
        - else
          \&nbsp;
