- unless comment.nil?
  = form_for comment, :builder => ApplicationHelper::EolFormBuilder do |f|
    = hidden_field_tag :actual_date, params[:actual_date]
    %fieldset
      = f.label :body, I18n.t('helpers.label.comment.body_edit')
      = f.text_area :body
      %p= f.allowed_html_help_tip
    %fieldset.actions
      = f.submit I18n.t(:save_comment_lowercase)
      = link_to I18n.t(:cancel), '#'
