%h1
  Editing comment
- form_for(@comment) do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :text
    %br
    = f.text_field :text
  %p
    = f.submit "Update"
= link_to 'Show', @comment
|
= link_to 'Back', comments_path
