%h1
  =I18n.t("editing_comment")
- form_for(@comment) do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :text
    %br
    = f.text_field :text
  %p
    = f.submit I18n.t("update")
= link_to I18n.t("show"), @comment
|
= link_to I18n.t("back"), comments_path
