%h1
  =I18n.t("new_comment")
- form_for(@comment) do |f|
  = f.error_messages
  %p
    = f.label :text
    %br
    = f.text_field :text
  %p
    = f.submit I18n.t("create")
= link_to I18n.t("back"), comments_path
