#taxon_updates
  = render 'menu'
  #main
    .main_container.update_feed
      .copy
        %p.help_text= I18n.t(:newsfeed_help_for_taxon)
      = render('comments/new', { parent: @taxon_concept })
      .heading
        %h3= I18n.t(:newsfeed)
      .article.list.updates
        = render('activity_logs/index', {log: @taxon_activity_log })
