#content
  .site_column#taxon_updates
    = render :partial => 'menu'
    #main
      .main_container.update_feed
        = render(:partial => 'comments/new', :locals => { :parent => @taxon_concept })
        - log = @taxon_concept.activity_log(:per_page => 10, :page => @page)
        - unless log.empty?
          .header
            - start_number = (log.current_page - 1) * log.per_page + 1
            - end_number = [ (start_number + log.per_page - 1), log.total_entries ].min
            %h3= I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number, :total => log.total_entries)
            = will_paginate log, |
              :previous_label => I18n.t(:pagination_previous_with_count, :count => log.per_page), |
              :next_label => I18n.t(:pagination_next_with_count, :count => log.per_page), |
              :page_links=>false
        .article.list.updates
          = render(:partial => 'activity_logs/index', :locals => {:log => log })

