- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
- editable = @collection.editable_by?(current_user)
= content_for :additional_page_actions do
  = render :partial => 'collections/editable_actions', :locals => { :editable => editable }
#tabs_sidebar
  = render :partial => 'collections/filter_by_item_type'
#sidebar
  = render :partial => 'collections/recently_visited'
#collections.main_container
  .article.list.updates
    = render :partial => 'comments/new', :locals => {:parent => @collection}
    .heading
      %h3= I18n.t(:newsfeed)
    = render :partial => 'activity_logs/index', :locals => {:log => @collection.activity_log(:page => @page)}
