- content_for :social_sharing do
  = render 'shared/social_sharing'
- editable = @collection.editable_by?(current_user)
= content_for :additional_page_actions do
  = render 'collections/editable_actions', { :editable => editable }
#tabs_sidebar
  = render 'collections/filter_by_item_type'
#sidebar
  = render 'collections/recently_visited'
#collection_newsfeed.main_container
  .article.list.updates
    = render 'comments/new', { :parent => @collection }
    .heading
      %h3= I18n.t(:newsfeed)
    = render 'activity_logs/index', {:log => @activity_log }
