.article
  - if @user_added_data
    - submit_to_url = user_added_datum_path(@user_added_data)
    .header
      %h3= I18n.t('user_added_data.edit_data_header')
  - else
    - submit_to_url = user_added_data_path
  = form_for @user_added_data || UserAddedData.new(subject: @taxon_concept),
    url: submit_to_url, html: { class: 'user_added_data has_many_expandable' }, builder: ApplicationHelper::EolFormBuilder do |f|
    = f.hidden_field :subject_type
    = f.hidden_field :subject_id
    %fieldset.main
      = validation_errors_for(@user_added_data) if @user_added_data
      = hidden_field_tag :predicate_uri_type
      = f.hidden_field :predicate_known_uri_id
      = f.hidden_field :object_known_uri_id
      = f.hidden_field :has_values
      -# TODO - what are these data-include fields?  Do we need them?  If not, remove.
      %dl
        %dt= f.label :predicate, hide_errors: true
        %dd= f.autocomplete_field :predicate, autocomplete_known_uri_predicates_known_uris_path, size: 100,
          update_elements: { id: '#user_added_data_predicate_known_uri_id', uri_type: '#predicate_uri_type',
            has_values: '#user_added_data_has_values'}, class: :predicate_autocomplete
        %dt= f.label :object, hide_errors: true
        %dd= f.autocomplete_field :object, autocomplete_known_uri_values_known_uris_path,
          id_element: '#user_added_data_object_known_uri_id',
          'data-include-predicate_known_uri_id' => '#user_added_data_predicate_known_uri_id',
          'data-min-length' => 0, size: 100
      = f.fields_for :user_added_data_metadata, UserAddedDataMetadata.unit_of_measure do |m|
        = m.hidden_field :predicate
        = m.hidden_field :object_known_uri_id
        %fieldset.unit_of_measure
          %dl
            %dt= m.label :object, I18n.t(:unit_of_measure), hide_errors: true
            %dd= m.autocomplete_field :object, autocomplete_known_uri_units_known_uris_path,
              id_element: '#user_added_data_user_added_data_metadata_attributes_0_object_known_uri_id',
              'data-include-predicate_known_uri_id' => '#user_added_data_predicate_known_uri_id',
              'data-min-length' => 0
      .has_many{ data: { another: I18n.t(:add_another_metadata_field).i18n_downcase, other_fields: 3 } }
        = f.fields_for :user_added_data_metadata, UserAddedDataMetadata.new do |m|
          = m.hidden_field :predicate_known_uri_id, class: :predicate_known_uri_id
          = m.hidden_field :object_known_uri_id
          = m.hidden_field :has_values
          %fieldset
            %dl
              %dt
                %label.once= I18n.t('user_added_data.additional_fields')
              %dd.new_field= m.autocomplete_field :predicate, autocomplete_known_uri_metadata_known_uris_path,
                id_element: '#user_added_data_user_added_data_metadata_attributes_1_predicate_known_uri_id',
                update_elements: { has_values: '#user_added_data_user_added_data_metadata_attributes_1_has_values' },
                'data-include-predicate_known_uri_id' => '#user_added_data_predicate_known_uri_id',
                'data-min-length' => 0, size: 25, class: 'has_default', placeholder: I18n.t('user_added_data.new_field')
              %dd.new_value= m.autocomplete_field :object, autocomplete_known_uri_values_known_uris_path,
                id_element: '#user_added_data_user_added_data_metadata_attributes_1_object_known_uri_id',
                'data-include-predicate_known_uri_id' => '#user_added_data_user_added_data_metadata_attributes_1_predicate_known_uri_id',
                'data-min-length' => 0, size: 100, class: 'has_default', placeholder: I18n.t('user_added_data.new_value')
    %fieldset.metadata
      - if @user_added_data && !@user_added_data.user_added_data_metadata.empty?
        - @user_added_data.user_added_data_metadata.each do |metadata|
          = f.fields_for :user_added_data_metadata, metadata do |m|
            %fieldset
              %dl
                %dt= m.label :predicate, hide_errors: true
                %dd= m.text_field :predicate, size: 25
                %dt= m.label :object, hide_errors: true
                %dd= m.text_field :object, size: 100
                %dt= m.label :_destroy, I18n.t(:delete)
                %dd= m.check_box :_destroy
      - else
        = f.fields_for :user_added_data_metadata, UserAddedDataMetadata.default_supplier(current_user) do |m|
          = m.hidden_field :predicate
          %fieldset
            %dl
              %dt= I18n.t(:supplier)
              %dd= m.text_field :object, size: 100
        = f.fields_for :user_added_data_metadata, UserAddedDataMetadata.default_source do |m|
          = m.hidden_field :predicate
          %fieldset
            %dl
              %dt= I18n.t(:source)
              %dd= m.text_field :object, size: 100, class: 'has_default',
                placeholder: I18n.t('user_added_data.source_field_helper')
    %fieldset.actions
      #new_uri_warning= I18n.t(:new_uri_warning)
      = submit_tag(I18n.t('user_added_data.submit_data'))
      = link_to I18n.t(:cancel), '#', class: 'close', :id => "cancel_add_data"
