<h1><%= I18n.t("listing_tasks") %></h1>

<table>
  <tr>
    <th><%= I18n.t("task_name")  %></th>
    <th><%= I18n.t("task_state") %></th>
    <th><%= I18n.t("owner_user") %></th>
    <th><%= I18n.t("created_by_user") %></th>
    <th><%= I18n.t("expires_on") %></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=h task.task_name_id %></td>
    <td><%=h task.task_state_id %></td>
    <td><%=h task.owner_user_id %></td>
    <td><%=h task.created_by_user_id %></td>
    <td><%=h task.expires_on %></td>
    <td><%= link_to I18n.t("show"),  task %></td>
    <td><%= link_to I18n.t("edit"), edit_task_path(task) %></td>
    <td><%= link_to I18n.t("destroy"), task, :confirm =>  I18n.t("are_you_sure"), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t("new_task"), new_task_path %>
