- content_for :head do
  = javascript_include :statistics
  %link{:href => "/javascripts/jquery-ui-1.8.22.datepicker/jquery-ui-1.8.22.datepicker.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%p
  = t(:comparing_dates, :date_one => @stats_one.created_at.strftime('%b %d, %Y'),
    :date_two => @stats_two.created_at.strftime('%b %d, %Y'), :scope => [:eol_statistics])
- form_tag({}, :method => :get, :'data-datepicker_opts' => jquery_ui_datepicker_opts) do
  %fieldset
    %label
      %span.assistive= t('helpers.label.eol_statistic.date_one')
      = select_date(@stats_one.created_at.to_date, {:prefix => 'date_one', :order => [:day, :month, :year],
        :start_year => Date.current.year, :end_year => 2012}, {:class => 'assistive'})
    %label
      %span= t('helpers.label.eol_statistic.date_two')
      = select_date(@stats_two.created_at.to_date, {:prefix => 'date_two', :order => [:day, :month, :year],
        :start_year => Date.current.year, :end_year => 2012}, {:class => 'assistive'})
  = hidden_field_tag :date_one_set, @stats_one.created_at.to_date
  = hidden_field_tag :date_two_set, @stats_two.created_at.to_date
  %fieldset.actions.assistive
    = submit_tag t('helpers.submit.eol_statistic.change_date'), :name => nil

