%center
  =I18n.t("jump_to_")
  = link_to I18n.t("overview"), :controller => '/content', :action => 'page', :id => 'api_overview'
  |
  = link_to I18n.t("api_docs_home"), :controller => 'api/docs'
  |
  = link_to I18n.t("ping_"), :controller => 'api/docs', :action => 'ping'
  |
  = link_to I18n.t("pages__"), :controller => 'api/docs', :action => 'pages'
  |
  = link_to I18n.t("search"), :controller => 'api/docs', :action => 'search'
  |
  = link_to I18n.t("collections"), :controller => 'api/docs', :action => 'collections'
  |
  = link_to I18n.t("dataobjects"), :controller => 'api/docs', :action => 'data_objects'
  |
  = link_to I18n.t("hierarchyentries"), :controller => 'api/docs', :action => 'hierarchy_entries'
  |
  = link_to I18n.t("hierarchies_"), :controller => 'api/docs', :action => 'hierarchies'
  |
  = link_to I18n.t("providerhierarchies"), :controller => 'api/docs', :action => 'provider_hierarchies'
  |
  = link_to I18n.t("searchbyprovider"), :controller => 'api/docs', :action => 'search_by_provider'
  |
  = link_to I18n.t("terms_of_use"), :controller => '/content', :action => 'page', :id => 'api_terms'
