%center
  Jump To:
  = link_to 'Overview', :controller => '/content', :action => 'page', :id => 'api_overview'
  |
  = link_to 'API Docs Home', :controller => 'api/docs'
  |
  = link_to 'Ping', :controller => 'api/docs', :action=>'ping'
  |
  = link_to 'Pages', :controller => 'api/docs', :action=>'pages'
  |
  = link_to 'Search', :controller => 'api/docs', :action=>'search'
  |
  = link_to 'DataObjects', :controller => 'api/docs', :action=>'data_objects'
  |
  = link_to 'HierarchyEntries', :controller => 'api/docs', :action=>'hierarchy_entries'
  |
  = link_to 'Hierarchies', :controller => 'api/docs', :action=>'hierarchies'
  |
  = link_to 'ProviderHierarchies', :controller => 'api/docs', :action=>'provider_hierarchies'
  |
  = link_to 'SearchByProvider', :controller => 'api/docs', :action=>'search_by_provider'
  |
  = link_to 'Terms of Use', :controller => '/content', :action => 'page', :id => 'api_terms'
