%h3
  = I18n.t("parameters")
- unless @api_method.parameters.blank?
  %table
    %col.name
    %col.values
    %col.default
    %col.notes
    %thead
      %tr
        %th= I18n.t("name")
        %th= I18n.t("values")
        %th= I18n.t("default")
        %th= I18n.t("notes")
    %tbody
      - @api_method.parameters.each do |p|
        %tr
          %td= p.name
          %td
            - if p.array?
              = p.values.join(", ")
            - elsif p.range?
              = "#{p.values.min} - #{p.values.max}"
            - elsif p.values
              = p.values
            - elsif p.integer?
              %em= I18n.t('any_integer')
            - elsif p.string?
              %em= I18n.t('any_string')
            - elsif p.boolean?
              = "true, false"
          %td
            - if p.default
              = p.default.to_s
            - elsif p.default == false
              = 'false'
            - else
              %em= "---"
          %td= raw(p.notes)
- else
  %p
    %em= I18n.t("none")