- url = url_for(:controller => '/api', :action => 'collections', :version => '1.0', :id => '5', :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        = I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        = I18n.t("parameters")
      %table
        %col.name
        %col.values
        %col.default
        %col.notes
        %thead
          %tr
            %th
              = I18n.t("name")
            %th
              = I18n.t("values")
            %th
              = I18n.t("default")
            %th
              = I18n.t("notes")
        %tbody
          %tr
            %td
              = "page"
            %td
              %i
                = I18n.t("any_integer")
            %td
              1
            %td
          %tr
            %td
              = "per_page"
            %td
              %i
                = I18n.t("any_integer")
            %td
              50
            %td
          %tr
            %td
              = "filter"
            %td
              articles, collections, communities, images, sounds, taxa, users, video
            %td
            %td
          %tr
            %td
              = "sort_by"
            %td
              = SortStyle.all.map{ |ss| ss.name.downcase.gsub(' ', '_') rescue nil }.compact.join(', ')
            %td
              = SortStyle.newest.name.downcase.gsub(' ', '_')
            %td
          %tr
            %td
              -# this is weird, but without quotes it was using the i18n translation
              = "sort_field"
            %td
              %i
                = I18n.t("any_string")
            %td
              %i
                = I18n.t("none")
            %td
              = I18n.t("collection_api_sort_field_notes")

      %h3
        = I18n.t("description")
      %p
        = I18n.t(:api_docs_collections_description)
      %h3
        = I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <response>
              <name>New Species from the Census of Marine Life</name>
              <description/>
              <logo_url>http://10.19.19.226/content/2011/07/13/12/04367_130_130.jpg</logo_url>
              <created>2011-07-14 18:46:36 UTC</created>
              <modified>2011-07-14 18:46:36 UTC</modified>
              <total_items>22</total_items>
              <item_types>
                  <item_type>
                      <label>TaxonConcept</label>
                      <item_count>6</item_count>
                  </item_type>
                  <item_type>
                      <label>Text</label>
                      <item_count>6</item_count>
                  </item_type>
                  <item_type>
                      <label>Video</label>
                      <item_count>0</item_count>
                  </item_type>
                  <item_type>
                      <label>Image</label>
                      <item_count>6</item_count>
                  </item_type>
                  <item_type>
                      <label>Sound</label>
                      <item_count>0</item_count>
                  </item_type>
                  <item_type>
                      <label>Community</label>
                      <item_count>1</item_count>
                  </item_type>
                  <item_type>
                      <label>User</label>
                      <item_count>3</item_count>
                  </item_type>
                  <item_type>
                      <label>Collection</label>
                      <item_count>0</item_count>
                  </item_type>
              </item_types>
              <collection_items>
                  <item>
                      <name>j_runolfsson</name>
                      <object_id>5</object_id>
                      <title>Joshuah Runolfsson</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <object_type>User</object_type>
                  </item>
                  <item>
                      <name>Brief Summary</name>
                      <object_id>285</object_id>
                      <title>&lt;p&gt;Gray wolves usually live in p...</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad76</object_guid>
                      <object_type>Text</object_type>
                  </item>
                  <item>
                      <name>Anochetus mayri</name>
                      <object_id>491753</object_id>
                      <title>&lt;i&gt;Anochetus mayri&lt;/i&gt; Emery, 1884</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <richness_score>0.0</richness_score>
                      <object_type>TaxonConcept</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>277</object_id>
                      <title>Iure ratione at nulla.</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>3a117abf96e7fe8793ef87b14d166d6j</object_guid>
                      <source>http://10.19.19.226/content/2008/12/10/21/83535_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
                  <item>
                      <name>Columbia Intro Biology</name>
                      <object_id>2</object_id>
                      <title>Columbia Intro Biology</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <object_type>Community</object_type>
                  </item>
                  <item>
                      <name>Dinochelus ausubeli</name>
                      <object_id>17924149</object_id>
                      <title>&lt;i&gt;Dinochelus ausubeli&lt;/i&gt; Ahyong, Chan &amp; Bouchet, 2010</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <richness_score>0.0</richness_score>
                      <object_type>TaxonConcept</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>295</object_id>
                      <title>Reprehenderit voluptatem corrupt...</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad82</object_guid>
                      <source>http://10.19.19.226/content/2010/12/10/03/75791_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
                  <item>
                      <name>Brief Summary</name>
                      <object_id>279</object_id>
                      <title>Haramonas (ha-ra-moan-ass) dimor...</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>3a117abf96e7fe8793ef87b14d166d6k</object_guid>
                      <object_type>Text</object_type>
                  </item>
                  <item>
                      <name>Pinus strobus</name>
                      <object_id>1061748</object_id>
                      <title>&lt;i&gt;Pinus strobus&lt;/i&gt; L.</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <richness_score>0.0</richness_score>
                      <object_type>TaxonConcept</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>273</object_id>
                      <title>Asperiores dolore voluptatem ear...</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad69</object_guid>
                      <source>http://10.19.19.226/content/2010/09/28/03/03944_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
                  <item>
                      <name>Brief Summary</name>
                      <object_id>297</object_id>
                      <title>Anochetus are presumably predato...</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad83</object_guid>
                      <object_type>Text</object_type>
                  </item>
                  <item>
                      <name>Amanita muscaria</name>
                      <object_id>2866150</object_id>
                      <title>&lt;i&gt;Amanita muscaria&lt;/i&gt; (L. ex Fr.) Hook.</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <richness_score>0.0</richness_score>
                      <object_type>TaxonConcept</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>289</object_id>
                      <title>In qui sed est ipsa nam.</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>3a117abf96e7fe8793ef87b14d166d6q</object_guid>
                      <source>http://10.19.19.226/content/2011/05/13/23/11043_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
                  <item>
                      <name>Brief Summary</name>
                      <object_id>275</object_id>
                      <title>Dinochelus ausubeli is a new spe...</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad70</object_guid>
                      <object_type>Text</object_type>
                  </item>
                  <item>
                      <name>s_parisian</name>
                      <object_id>3</object_id>
                      <title>Spencer Parisian</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <object_type>User</object_type>
                  </item>
                  <item>
                      <name>Canis lupus</name>
                      <object_id>328607</object_id>
                      <title>&lt;i&gt;Canis lupus&lt;/i&gt; Linnaeus, 1758</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <richness_score>0.0</richness_score>
                      <object_type>TaxonConcept</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>269</object_id>
                      <title>Qui occaecati tempora ut et.</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>3a117abf96e7fe8793ef87b14d166d6e</object_guid>
                      <source>http://10.19.19.226/content/2011/01/14/13/05714_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
                  <item>
                      <name>Brief Summary</name>
                      <object_id>291</object_id>
                      <title>&lt;p&gt;Pinus strobus, the Eastern Wh...</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>3a117abf96e7fe8793ef87b14d166d6r</object_guid>
                      <object_type>Text</object_type>
                  </item>
                  <item>
                      <name>m_connelly</name>
                      <object_id>4</object_id>
                      <title>Mariana Connelly</title>
                      <created>2011-07-14 18:46:38 UTC</created>
                      <updated>2011-07-14 18:46:38 UTC</updated>
                      <object_type>User</object_type>
                  </item>
                  <item>
                      <name>Image</name>
                      <object_id>283</object_id>
                      <title>Nam repudiandae delectus cumque....</title>
                      <created>2011-07-14 18:46:37 UTC</created>
                      <updated>2011-07-14 18:46:37 UTC</updated>
                      <data_rating>2.5</data_rating>
                      <object_guid>a509ebdb2fc8083f3a33ea17985bad75</object_guid>
                      <source>http://10.19.19.226/content/2009/07/24/11/71232_orig.jpg</source>
                      <object_type>Image</object_type>
                  </item>
              </collection_items>
          </response>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped

          {
              "collection_items":
              [
                  {
                      "name":"j_runolfsson",
                      "title":"Joshuah Runolfsson",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":5,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"User"
                  },
                  {
                      "name":"Brief Summary",
                      "title":"<p>Gray wolves usually live in p...",
                      "data_rating":2.5,
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad76",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":285,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Text"
                  },
                  {
                      "name":"Anochetus mayri",
                      "title":"<i>Anochetus mayri</i> Emery,
                       1884",
                      "richness_score":0.0,
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":491753,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"TaxonConcept"
                  },
                  {
                      "name":"Image",
                      "title":"Iure ratione at nulla.",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2008/12/10/21/83535_orig.jpg",
                      "object_guid":"3a117abf96e7fe8793ef87b14d166d6j",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":277,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Image"
                  },
                  {
                      "name":"Columbia Intro Biology",
                      "title":"Columbia Intro Biology",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":2,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"Community"
                  },
                  {
                      "name":"Dinochelus ausubeli",
                      "title":"<i>Dinochelus ausubeli</i> Ahyong,
                       Chan & Bouchet,
                       2010",
                      "richness_score":0.0,
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":17924149,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"TaxonConcept"
                  },
                  {
                      "name":"Image",
                      "title":"Reprehenderit voluptatem corrupt...",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2010/12/10/03/75791_orig.jpg",
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad82",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":295,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"Image"
                  },
                  {
                      "name":"Brief Summary",
                      "title":"Haramonas (ha-ra-moan-ass) dimor...",
                      "data_rating":2.5,
                      "object_guid":"3a117abf96e7fe8793ef87b14d166d6k",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":279,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Text"
                  },
                  {
                      "name":"Pinus strobus",
                      "title":"<i>Pinus strobus</i> L.",
                      "richness_score":0.0,
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":1061748,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"TaxonConcept"
                  },
                  {
                      "name":"Image",
                      "title":"Asperiores dolore voluptatem ear...",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2010/09/28/03/03944_orig.jpg",
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad69",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":273,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Image"
                  },
                  {
                      "name":"Brief Summary",
                      "title":"Anochetus are presumably predato...",
                      "data_rating":2.5,
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad83",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":297,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"Text"
                  },
                  {
                      "name":"Amanita muscaria",
                      "title":"<i>Amanita muscaria</i> (L. ex Fr.) Hook.",
                      "richness_score":0.0,
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":2866150,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"TaxonConcept"
                  },
                  {
                      "name":"Image",
                      "title":"In qui sed est ipsa nam.",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2011/05/13/23/11043_orig.jpg",
                      "object_guid":"3a117abf96e7fe8793ef87b14d166d6q",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":289,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"Image"
                  },
                  {
                      "name":"Brief Summary",
                      "title":"Dinochelus ausubeli is a new spe...",
                      "data_rating":2.5,
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad70",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":275,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Text"
                  },
                  {
                      "name":"s_parisian",
                      "title":"Spencer Parisian",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":3,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"User"
                  },
                  {
                      "name":"Canis lupus",
                      "title":"<i>Canis lupus</i> Linnaeus,
                       1758",
                      "richness_score":0.0,
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":328607,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"TaxonConcept"
                  },
                  {
                      "name":"Image",
                      "title":"Qui occaecati tempora ut et.",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2011/01/14/13/05714_orig.jpg",
                      "object_guid":"3a117abf96e7fe8793ef87b14d166d6e",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":269,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Image"
                  },
                  {
                      "name":"Brief Summary",
                      "title":"<p>Pinus strobus,
                       the Eastern Wh...",
                      "data_rating":2.5,
                      "object_guid":"3a117abf96e7fe8793ef87b14d166d6r",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":291,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"Text"
                  },
                  {
                      "name":"m_connelly",
                      "title":"Mariana Connelly",
                      "updated":"2011-07-14T18:46:38Z",
                      "object_id":4,
                      "created":"2011-07-14T18:46:38Z",
                      "object_type":"User"
                  },
                  {
                      "name":"Image",
                      "title":"Nam repudiandae delectus cumque....",
                      "data_rating":2.5,
                      "source":"http://10.19.19.226/content/2009/07/24/11/71232_orig.jpg",
                      "object_guid":"a509ebdb2fc8083f3a33ea17985bad75",
                      "updated":"2011-07-14T18:46:37Z",
                      "object_id":283,
                      "created":"2011-07-14T18:46:37Z",
                      "object_type":"Image"
                  }
              ],
              "modified":"2011-07-14T18:46:36Z",
              "name":"New Species from the Census of Marine Life",
              "item_types":
              [
                  {
                      "item_count":6,
                      "item_type":"TaxonConcept"
                  },
                  {
                      "item_count":6,
                      "item_type":"Text"
                  },
                  {
                      "item_count":0,
                      "item_type":"Video"
                  },
                  {
                      "item_count":6,
                      "item_type":"Image"
                  },
                  {
                      "item_count":0,
                      "item_type":"Sound"
                  },
                  {
                      "item_count":1,
                      "item_type":"Community"
                  },
                  {
                      "item_count":3,
                      "item_type":"User"
                  },
                  {
                      "item_count":0,
                      "item_type":"Collection"
                  }
              ],
              "total_items":22,
              "logo_url":"http://10.19.19.226/content/2011/07/13/12/04367_130_130.jpg",
              "description":null,
              "created":"2011-07-14T18:46:36Z"
          }
