= render(:partial => 'uservoice')
#content.cms_page
  #api_methods.site_column
    .nav
      = @navigation_menu
    .article.copy
      %h3
        =I18n.t("methods")
      %table
        %thead
          %tr
            %th
              =I18n.t("method")
            %th
              =I18n.t("description")
        %tbody
          %tr
            %td
              = link_to I18n.t("ping"), :controller => 'api/docs', :action => 'ping'
            %td
              =I18n.t("returns_either_a_positive_resp")
          %tr
            %td
              = link_to I18n.t("search_"), :controller => 'api/docs', :action => 'search'
            %td
              =I18n.t("given_a_value_for_a_specific_e")
          %tr
            %td
              = link_to I18n.t("pages_"), :controller => 'api/docs', :action => 'pages'
            %td
              =I18n.t("takes_an_eol_page_identifier_a")
          %tr
            %td
              = link_to I18n.t("collections_lowercase"), :controller => 'api/docs', :action => 'collections'
            %td
              =I18n.t("returns_all_metadata_about_a_p")
          %tr
            %td
              = link_to I18n.t("data_objects"), :controller => 'api/docs', :action => 'data_objects'
            %td
              =I18n.t("returns_all_metadata_about_a_p")
          %tr
            %td
              = link_to I18n.t("hierarchy_entries"), :controller => 'api/docs', :action => 'hierarchy_entries'
            %td
              =I18n.t("gives_access_to_a_single_hiera")
          %tr
            %td
              = link_to I18n.t("provider_hierarchies"), :controller => 'api/docs', :action => 'provider_hierarchies'
            %td
              =I18n.t("lists_the_identifiers_for_all_")
          %tr
            %td
              = link_to I18n.t("hierarchies"), :controller => 'api/docs', :action => 'hierarchies'
            %td
              =I18n.t("given_a_hierarchy_identifier__")
          %tr
            %td
              = link_to I18n.t("search_by_provider"), :controller => 'api/docs', :action => 'search_by_provider'
            %td
              =I18n.t("get_the_eol_page_ids_given_a_p")
              %br
              =I18n.t("_e_g__search_for_the_eol_page_")
              - url = url_for(:controller => '/api', :action => 'search_by_provider', :version => '1.0', :id => '180542', :hierarchy_id => 107, :only_path => false)
              = link_to url, url
              )
      %h3
        =I18n.t("response_formats")
      %p
        =I18n.t("all_apis_return_by_default_an_")
        %code<
          :escaped
            http://www.eol.org/api/search/Robin
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.xml
      %p
        =I18n.t("every_method_can_also_return_a")
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.json
      %p
        =I18n.t("____and_jsonp_by_adding_a_call")
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.json?callback=some_neat_function
      %p#api_key_section.indent
        =I18n.t("you_can_identify_yourself_to_e")
        %code<
          ="http://www.eol.org/api/search/Robin?key=1111111111111111111111111111111111"
      %p
        =I18n.t("each_method_s_documentation_pa")
