#content.cms_page
  #api_methods.site_column
    .nav
      = @navigation_menu
    .article.copy
      %h3
        =I18n.t(:methods)
      %table
        %thead
          %tr
            %th
              =I18n.t(:method)
            %th
              =I18n.t(:description)
        %tbody
          -# DON'T TRANSLATE WORDS THAT *MUST* BE PRESERVED.  A path of "data_objects" *must* be written
          -# "data_objects", since it's part of a URL. ...so you cannot translate it!
          %tr
            %td
              = link_to 'ping', :controller => 'api/docs', :action => 'ping'
            %td
              =I18n.t(:returns_either_a_positive_or_negative_response)
          %tr
            %td
              = link_to 'search', :controller => 'api/docs', :action => 'search'
            %td
              =I18n.t(:search_method_description)
          %tr
            %td
              = link_to 'pages', :controller => 'api/docs', :action => 'pages'
            %td
              =I18n.t(:pages_method_description)
          %tr
            %td
              = link_to 'collections', :controller => 'api/docs', :action => 'collections'
            %td
              =I18n.t(:returns_all_metadata_about_a_particular_collection)
          %tr
            %td
              = link_to 'data_objects', :controller => 'api/docs', :action => 'data_objects'
            %td
              =I18n.t(:returns_all_metadata_about_a_particular_data_object)
          %tr
            %td
              = link_to 'hierarchy_entries', :controller => 'api/docs', :action => 'hierarchy_entries'
            %td
              =I18n.t(:gives_access_to_a_single_hierarchy_indexed_by_eol)
          %tr
            %td
              = link_to 'provider_hierarchies', :controller => 'api/docs', :action => 'provider_hierarchies'
            %td
              =I18n.t(:lists_the_identifiers_for_all_hierarchies)
          %tr
            %td
              = link_to 'hierarchies', :controller => 'api/docs', :action => 'hierarchies'
            %td
              =I18n.t(:method_to_get_metadata_about_the_hierarchy)
          %tr
            %td
              = link_to 'search_by_provider', :controller => 'api/docs', :action => 'search_by_provider'
            %td
              - url = url_for(:controller => '/api', :action => 'search_by_provider', :version => '1.0', :id => '180542', :hierarchy_id => Hierarchy.itis.id, :only_path => false)
              =I18n.t(:search_by_provider_method_description_with_link, :link => link_to(url, url))
      %h3
        =I18n.t(:response_formats)
      %p
        =I18n.t(:all_apis_return_by_default_an_xml_response)
        %code<
          :escaped
            http://www.eol.org/api/search/Robin
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.xml
      %p
        =I18n.t(:every_method_can_also_return_json_response)
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.json
      %p
        =I18n.t(:jsonp_by_adding_a_callback_parameter)
        %code<
          :escaped
            http://www.eol.org/api/search/Robin.json?callback=some_neat_function
      %p#api_key_section.indent
        =I18n.t(:you_can_identify_yourself_to_eol)
        %code<
          ="http://www.eol.org/api/search/Robin?key=1111111111111111111111111111111111"
      %p
        =I18n.t(:each_method_documentation_page_has_formatted_responses)
