#content.cms_page
  #api_methods.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      - if current_user.can?(:beta_test)
        %h3= I18n.t('forums.forums_heading')
        %p= raw I18n.t('api.docs.forum_beta_test_text', :forums_link => forums_path)
      %h3
        =I18n.t(:methods)
      %table
        %thead
          %tr
            %th= I18n.t(:method)
            %th= I18n.t(:description)
        %tbody
          -# DON'T TRANSLATE WORDS THAT *MUST* BE PRESERVED.  A path of "data_objects" *must* be written
          -# "data_objects", since it's part of a URL. ...so you cannot translate it!
          - EOL::Api::METHODS.each do |method|
            - method_version = EOL::Api.default_version_of(method)
            - unless method_version.nil?
              %tr
                %td= link_to method, :controller => 'api/docs', :action => method, :version => method_version::VERSION
                %td= raw(method_version.brief_description)
      %h3= I18n.t(:response_formats)
      %p
        =I18n.t(:all_apis_return_by_default_an_xml_response)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :only_path => false)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :format => 'xml', :only_path => false)
      %p
        =I18n.t(:every_method_can_also_return_json_response)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :format => 'json', :only_path => false)
      %p
        =I18n.t(:jsonp_by_adding_a_callback_parameter)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :format => 'json', :callback => 'some_neat_function', :only_path => false)
      %p#api_key_section.indent
        =I18n.t(:you_can_identify_yourself_to_eol)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :key => 1111111111111111111111111111111111, :only_path => false)
      %p= I18n.t(:each_method_documentation_page_has_formatted_responses)
      %h3= I18n.t(:caching_results)
      %p
        =I18n.t(:api_results_can_be_cached)
        %code<
          = url_for(:controller => '/api', :action => 'search', :id => 'Robin', :cache_ttl => 60, :only_path => false)
