= render(:partial=>'uservoice')
- itis = Hierarchy.find_by_label('Integrated Taxonomic Information System (ITIS)', :order => 'id desc')
- url = url_for(:controller => '/api', :action => 'search_by_provider', :version => '1.0', :id => '180542', :hierarchy_id => itis.id, :only_path => false)
#content
  #page-separator-general
  #page-title
    %h1
      EOL API: Search By Provider
    %hr
  #page-content.clearfix
    #full-page-content
      = render(:partial=>'jump_to_nav')
      %h3
        Request
      %p.indent
        %a{ :href => url }
          = url
      %h3
        Parameters
      %table.results_table
        %tr
          %th
            Name
          %th
            Values
          %th
            Default
          %th
            Notes
        %tr
          %td.odd.strong
            hierarchy_id
          %td.odd
            %i
              any integer
          %td.odd
            %i
              none
          %td.odd
            the ID of the provider's hierarchy you are searching within. Check
            = link_to 'provider_hierarchies', :controller => 'api/docs', :action => 'provider_hierarchies'
            for valid IDs
      %br
      %h3
        Description
      %p.indent
        This method takes an integer or string which is the unique identifier for a taxon from some provider's database, and a hierarchy_id which represents the provider and returns the EOL page ID for that taxon. For example using the
        = link_to 'provider_hierarchies', :controller => 'api/docs', :action => 'provider_hierarchies'
        API I can find out that the EOL hierarchy_id for the Integrated Taxonomic Information System (ITIS) is
        = itis.id
        \. I can then search EOL for the ITIS Taxonomic Serial Number (TSN) of 180542,
        %i
          Ursus maritimus
        , by calling 
        = link_to url, url
      %h3
        XML Response
      .formatted_code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <results>
            <eol_page_id>11508631</eol_page_id>
          </results>
      %h3
        JSON Response
      .formatted_code<
        :escaped
          [
              {
                  "eol_page_id":328580
              }
          ]