= render(:partial=>'uservoice')
- itis = Hierarchy.find_by_label('Integrated Taxonomic Information System (ITIS)', :order => 'id desc')
- url = url_for(:controller => '/api', :action => 'search_by_provider', :version => '1.0', :id => '180542', :hierarchy_id => itis.id, :only_path => false)
#content
  #page-separator-general
  #page-title
    %h1
      =I18n.t("eol_api__search_by_provider")
    %hr
  #page-content.clearfix
    #full-page-content
      = render(:partial=>'jump_to_nav')
      %h3
        =I18n.t("request")
      %p.indent
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %table.results_table
        %tr
          %th
            =I18n.t("name")
          %th
            =I18n.t("values")
          %th
            =I18n.t("default")
          %th
            =I18n.t("notes")
        %tr
          %td.odd.strong
            =I18n.t("hierarchy_id")
          %td.odd
            %i
              =I18n.t("any_integer")
          %td.odd
            %i
              =I18n.t("none")
          %td.odd
            =I18n.t("the_id_of_the_provider_s_hiera")
            = link_to 'provider_hierarchies', :controller => 'api/docs', :action => 'provider_hierarchies'
            =I18n.t("for_valid_ids")
      %br
      %h3
        =I18n.t("description")
      %p.indent
        =I18n.t("this_method_takes_an_integer_o")
        = link_to I18n.t("provider_hierarchies"), :controller => 'api/docs', :action=>I18n.t("provider_hierarchies")
        =I18n.t("api_i_can_find_out_that_the_eo", :itis_id => itis.id)
        %i
          =I18n.t("ursus_maritimus")
        =I18n.t("__by_calling") 
        = link_to url, url
      %h3
        =I18n.t("xml_response")
      .formatted_code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <results>
            <eol_page_id>11508631</eol_page_id>
          </results>
      %h3
        =I18n.t("json_response")
      .formatted_code<
        :escaped
          [
              {
                  "eol_page_id":328580
              }
          ]
