- names_by_language = common_names_by_language(@common_names, current_user.language_id).uniq
- names_by_language.each_with_index do |language_names_pair, index|
  - language = language_names_pair[0]
  - names = language_names_pair[1]
  %h4= language
  %table.standard
    %thead
      %tr
        %th= I18n.t(:names_preferred_column_header)
        %th= I18n.t(:names_name_column_header)
        %th= I18n.t(:names_sources_column_header)
        %th= I18n.t(:names_status_column_header)
    %tbody
      - names.each do |name|
        %tr
          %td
            %span{:class => name.preferred == 1 ? 'preferred' : 'assistive'}
              = name.preferred == 1 ? I18n.t(:name_preferred_for_language_yes) : I18n.t(:name_preferred_for_language_no)
          %td
            = name.string
          %td
            - name.sources.each do |source|
              = source.full_name
          %td
            %span.flag{:class => vetted_id_class(name.vetted_id)}= Vetted.find_by_id(name.vetted_id).label
