= form_for Name.new, :url => taxon_names_path(@taxon_concept) do |f|
  .copy
    %h3=I18n.t(:add_a_new_common_name)
  %fieldset
    %dl
      = f.fields_for :synonym do |s|
        %dt
          = s.label :language_id
        %dd
          = s.select(:language_id, @languages, :selected => current_language.id)
          - if @taxon_page.classification_filter?
            = s.hidden_field :hierarchy_entry_id, :value => @taxon_page.hierarchy_entry.id
      %dt
        = f.label :string
      %dd
        = f.text_field :string, { :maxlength => 300 }

  %fieldset.actions
    = f.submit I18n.t('helpers.submit.name.create'), :name => :commit_add_common_name
