- names_by_language = common_names_by_language(@common_names, current_language.id).uniq
- if names_by_language.blank?
  .empty
    %p= I18n.t(:names_common_empty)
- else
  %h3.assistive= I18n.t(:names_common_list_by_language_assistive_header)
  %p.help_text
    = I18n.t(:name_preferred_for_language_help_tip,
      :icon => image_tag("/images/v2/icon_required.png", :alt => I18n.t(:name_preferred_for_language_yes), :class => 'indicator'))
  - names_by_language.each_with_index do |language_names_pair, index|
    - language = language_names_pair[0]
    - names = language_names_pair[1]
    %h4= language
    %table.standard.common_names
      %thead
        %tr
          %th= I18n.t(:names_name_column_header)
          %th= I18n.t(:names_sources_column_header)
          %th= I18n.t(:names_status_column_header)
      %tbody
        - names.each do |name|
          %tr
            %td{:class => name.preferred ? 'preferred' : nil,
              :title => name.preferred ? I18n.t(:name_preferred_for_language_yes) : nil}
              = name.name_string
            %td
              = common_name_display_attribution(name)
            %td
              = name.vetted.label
