#tabs_sidebar
  %ul.tabs
    - if @dropdown_hierarchy_entry
      %li{:class => resource_is_active('taxa/names', 'show')}
        = link_to I18n.t(:related_names_with_count, :count => @taxon_concept.related_names_count), taxon_hierarchy_entry_names_path(@taxon_concept, @dropdown_hierarchy_entry)
      %li{:class => resource_is_active('taxa/names', 'common_names')}
        = link_to I18n.t(:common_names_with_count, :count => @taxon_concept.common_names.count), common_names_taxon_hierarchy_entry_names_path(@taxon_concept, @dropdown_hierarchy_entry)
      %li{:class => resource_is_active('taxa/names', 'synonyms')}
        = link_to I18n.t(:synonyms_with_count, :count => @taxon_concept.synonyms.count), synonyms_taxon_hierarchy_entry_names_path(@taxon_concept, @dropdown_hierarchy_entry)	
    - else
      %li{:class => resource_is_active('taxa/names', 'show')}
        = link_to I18n.t(:related_names_with_count, :count => @taxon_concept.related_names_count), taxon_names_path(@taxon_concept)
      %li{:class => resource_is_active('taxa/names', 'common_names')}
        = link_to I18n.t(:common_names_with_count, :count => @taxon_concept.common_names.count), common_names_taxon_names_path(@taxon_concept)
      %li{:class => resource_is_active('taxa/names', 'synonyms')}
        = link_to I18n.t(:synonyms_with_count, :count => @taxon_concept.synonyms.count), synonyms_taxon_names_path(@taxon_concept)