#tabs_sidebar
  %ul.tabs
    - if @selected_hierarchy_entry
      - related_names = TaxonConcept.related_names(:hierarchy_entry_id => @selected_hierarchy_entry.id)

      %li{:class => resource_is_active('taxa/names', 'index')}
        = link_to I18n.t(:classifications_with_count, :count => @browsable_hierarchy_entries.length), taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry)
      %li{:class => resource_is_active('taxa/names', 'related_names')}
        = link_to I18n.t(:related_names_with_count, :count => @taxon_concept.related_names_count(related_names)), related_names_taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry)
      %li{:class => resource_is_active('taxa/names', 'common_names')}
        = link_to I18n.t(:common_names_with_count, :count => @common_names_count), common_names_taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry)
      %li{:class => resource_is_active('taxa/names', 'synonyms')}
        = link_to I18n.t(:synonyms_with_count, :count => @selected_hierarchy_entry.scientific_synonyms.length), synonyms_taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry)

    - else
      - related_names = TaxonConcept.related_names(:taxon_concept_id => @taxon_concept.id)

      %li{:class => resource_is_active('taxa/names', 'index')}
        = link_to I18n.t(:classifications_with_count, :count => @browsable_hierarchy_entries.length), taxon_names_path(@taxon_concept)
      %li{:class => resource_is_active('taxa/names', 'related_names')}
        = link_to I18n.t(:related_names_with_count, :count => @taxon_concept.related_names_count(related_names)), related_names_taxon_names_path(@taxon_concept)
      %li{:class => resource_is_active('taxa/names', 'common_names')}
        = link_to I18n.t(:common_names_with_count, :count => @common_names_count), common_names_taxon_names_path(@taxon_concept)
      %li{:class => resource_is_active('taxa/names', 'synonyms')}
        = link_to I18n.t(:synonyms_with_count, :count => @taxon_concept.viewable_synonyms.length), synonyms_taxon_names_path(@taxon_concept)
