- if language == "Chinese (Simplified)"
  - r = get_sound_url(URI.encode("http://chinese.biodinfo.org/ChineseCharactorWebService.asmx/GetWordPinyinSoundMP3?word=#{name.name_string}&psd=1"))
  %audio{src: "#{r}",id: "#{r}"}
  - speaker = image_tag raw('v2/splayer.png')
  %img{src: '/assets/v2/splayer.png',alt: "#{name.name_string}", onclick: "playsound('#{r}')"}
    :javascript
      function playsound(name){
        document.getElementById(name).play();
      }
