%p
- unless content[:items]['parents'].blank?
  %b
    =I18n.t("parents_")
  %br
  %table.results_table
    %tr
      %th
        =I18n.t("name")
      %th
        =I18n.t("sources")
    - content[:items]['parents'].each do |key, related_hash|
      - row_class = cycle('odd', 'even')
      %tr
        %td{:class => row_class, :valign => 'top'}
          %a{:href => "/pages/#{related_hash['taxon_concept_id']}?category_id=#{TocItem.related_names.id}"}
            = related_hash['name_string']
        %td{:class => row_class}
          - for source in related_hash['sources']
            = source['hierarchy_label']
            - if source != related_hash['sources'].last
              %hr.results
  %br
  %br
- unless content[:items]['children'].blank?
  %b
    =I18n.t("children_colon")
  %br
  %table.results_table
    %tr
      %th
        =I18n.t("name")
      %th
        =I18n.t("sources")
    - content[:items]['children'].each do |key, related_hash|
      - row_class = cycle('odd', 'even')
      %tr
        %td{:class => row_class, :valign => 'top'}
          %a{:href => "/pages/#{related_hash['taxon_concept_id']}?category_id=#{TocItem.related_names.id}"}
            = related_hash['name_string']
        %td{:class => row_class}
          - for source in related_hash['sources']
            = source['hierarchy_label']
            - if source != related_hash['sources'].last
              %hr.results
