- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_names
  .article
    .copy
      %p= I18n.t(:names_explanation)
  .article.recognized
    .header
      %h3= I18n.t(:taxon_recognized_by_header)
  = render :partial => 'menu'
  .main_container
    - # TODO - fancier.
    = render :partial => 'taxa/recognized_by'
