- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_names
  .article
    .copy
      %p= I18n.t(:names_explanation)
  = render :partial => 'menu'
  .main_container
    - # TODO - fancier.
    - if @hierarchy_entries.blank?
      .empty
        %p= I18n.t(:not_recognized_by_available_hierarchies)
    - else
      %table.standard.classifications
        %thead
          %tr
            %th= I18n.t(:classifications_preferred_column_header)
            %th= I18n.t(:classifications_recognized_by_column_header)
            %th= I18n.t(:classifications_source_column_header)
        %tbody
          - @hierarchy_entries.each do |hierarchy_entry|
            %tr
              %td= @taxon_concept.preferred_entry.id == hierarchy_entry.id
              %td= hierarchy_entry.recognized_by_agents.map(&:full_name).to_sentence
              %td.classifications
                -# TODO: this was copied from app/views/taxa/_classifications_summary.html.haml ... generalize or change
                - taxon_rank = (hierarchy_entry.rank.blank? || hierarchy_entry.rank.label.blank?) ? I18n.t(:taxon).firstcap : hierarchy_entry.rank.label.firstcap
                - if hierarchy_entry.hierarchy.agent.user && !hierarchy_entry.hierarchy.agent.user.content_partners.blank?
                  - agent = link_to(hierarchy_entry.hierarchy.agent.full_name, content_partner_path(hierarchy_entry.hierarchy.agent.user.content_partners.first))
                - elsif hierarchy_entry.hierarchy.resource && hierarchy_entry.hierarchy.resource.content_partner
                  - agent = link_to(hierarchy_entry.hierarchy.agent.full_name, content_partner_path(hierarchy_entry.hierarchy.resource.content_partner))
                - else
                  - agent = hierarchy_entry.hierarchy.agent.full_name
                %h4= I18n.t(:rank_recognized_by_agent_colon, :rank => taxon_rank, :agent => agent)
                %ul
                  - if hierarchy_entry.has_parent?
                    %li
                      = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => hierarchy_entry.parent })
                      %ul.branch
                        = render(:partial => 'taxa/classifications_summary_minitree_node_with_children', :locals => {:hierarchy_entry => hierarchy_entry})
                  - else # No ancestor, start with this node:
                    = render(:partial => 'taxa/classifications_summary_minitree_node_with_children', :locals => {:hierarchy_entry => hierarchy_entry})
