- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_names
  .article.recognized
    .header
      %h3= I18n.t(:taxon_recognized_by_header)
    = render :partial => 'taxa/recognized_by'
  = render :partial => 'menu'
  .main_container
    - if current_user.min_curator_level?(:assistant)
      = render :partial => 'common_names_edit'
    - else
      = render :partial => 'common_names'
