#content
  #taxon_names.site_column
    .article
      .header
        %h3= I18n.t(:taxon_recognised_by_header)
      .copy
        = render :partial => 'taxa/recognised_by'
    = render :partial => 'filter_by_name_category'
    #taxon_names.main_container
      - hierarchy_entries = @dropdown_hierarchy_entry.blank? ? @taxon_concept.published_hierarchy_entries : [@dropdown_hierarchy_entry]
      - for he in hierarchy_entries
        - unless he.scientific_synonyms.blank?
          %h4= he.hierarchy.label
          %p
            = I18n.t(:preferred_name_colon)
            = he.name.string
          %table.standard
            %thead
              %tr
                %th= I18n.t(:names_name_column_header)
                %th= I18n.t(:names_relationship_column_header)
            %tbody
              - for s in he.scientific_synonyms
                %tr
                  %td
                    = s.name.string
                  %td
                    = s.synonym_relation ? s.synonym_relation.label : I18n.t(:synonym)

