%li
  = check_box_tag "collection_job[collection_ids][]", collection.id, false, :disabled => false
  = label_tag('collection_name', h(truncate(collection.name, :length => 64)))
  - if collection.communities || collection.id == current_user.watch_collection.id
    %span
      - items_count = collection.collection_items.count
      \&bull;
      = raw(I18n.t(:collection_items_count, :count => items_count))
      - if collection.communities.count == 1
        - community = collection.communities.first
        \&bull;
        = raw(I18n.t(:from_community, :community => link_to(truncate(community.name, :length => 64), community_path(community))))
      - elsif collection.communities.count > 1
        \&bull;
        = raw(I18n.t(:from_communities, :communities => collection.communities.map {|community| link_to(truncate(community.name, :length => 64), community_path(community)) }.to_sentence ))
      - if collection.id == current_user.watch_collection.id
        \&bull;
        = I18n.t(:your_watch_collection)
