- display||= "block;"
%ul{id: "collections_#{type}", style: "display: #{display}" }
  %li
    = check_box_tag "collection_job[collection_ids][]", 0, false
    = text_field_tag('collection_name', '', data: { default: I18n.t(:create_a_new_collection) }, size: 24, class: 'clear_on_focus' )
  - unless @collection_job.collection == current_user.watch_collection
    = render 'collections_list_item',
      { collection: current_user.watch_collection, f: f }
  - collections.reject { |c| c == current_user.watch_collection || c == @collection_job.collection }.each do |collection|
    = render 'collections_list_item', { :collection => collection, f: f }
