=I18n.t("all_user_submitted_texts_on_the_website")
=I18n.t("click_on_a_user_to_view_the_users_detailed_profile")
#comments
  = form_tag({:action=>'index'},:method=>'get') do
    =I18n.t("select_colon")
    %select{ :name => "user_id" }
      %option
        =I18n.t("all_title")
      - for user in @user_list
        %option{ :value => user.id, :selected => @user_id.to_i == user.id }
          = h(user.family_name)
          = ", "
          = h(user.given_name)
    = submit_tag I18n.t("search")
    %br
    %br
    - if @users_data_objects.nil? == false && @users_data_objects.length > 0
      =I18n.t("user_submitted_text_found")
      = @users_data_objects.total_entries
      %br
      = will_paginate @users_data_objects
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("user")
          %th
            =I18n.t("species")
          %th
            =I18n.t("description")
          %th
            =I18n.t("toc")
          %th
            =I18n.t("vetted")
            %br
            =I18n.t("visible_title")
            %br
            =I18n.t("published")
          %th
            =I18n.t("created")
            %br
            =I18n.t("updated")
        - for udo in @users_data_objects
          - row_class = cycle('odd','even')
          - if udo.taxon_concept_id
            - concept = TaxonConcept.find(udo.taxon_concept_id)
            - name = concept.quick_scientific_name(:italicized)
          - else
            - name = ""
          %tr{ :valign => "top" }
            %td{ :class => row_class }
              = link_to udo.user.full_name, :controller => '/administrator/user', :action => 'edit' , :id => udo.user_id
            %td{ :class => row_class }
              = link_to name, :controller => '/taxa', :action => :show, :id => udo.taxon_concept_id
            %td{ :class => row_class }
              = link_to I18n.t("permalink"), :controller => '/data_objects', :action => :show, :id => udo.data_object_id
              %br
              = h truncate(udo.data_object.description, :length => 500)
            %td{ :class => row_class }
              = udo.data_object.toc_items[0].label
            %td{ :class => row_class }
              - unless udo.vetted.blank?
                = udo.vetted.label
              %br
              - unless udo.visibility.blank?
                = udo.visibility.label
              %br
              = h udo.data_object.published
            %td{ :class => row_class }
              = h format_date_time(udo.data_object.created_at, :format=>'short_no_tz')
              %br
              = h format_date_time(udo.data_object.updated_at, :format=>'short_no_tz')
      %br
      = will_paginate @users_data_objects
    - else
      =I18n.t("no_user_submitted_data_objects")
