= I18n.t(:activate_email_intro, :full_name => @user.full_name, :username => @user.username)
= ""
= I18n.t(:activate_email_welcome)
= ""
= I18n.t(:activate_email_enjoy_exploring)
= ""
= I18n.t(:activate_email_footer)
