= I18n.t("dear_contact_full_name", :contact_full_name => @contact['full_name'] + " (#{@contact['partner_full_name']})")
= ""
= I18n.t("this_is_an_automated_e_mail_notification")
= I18n.t("you_can_now_check_last_month_s_web_usage")
= ""
= I18n.t("this_is_the_link_to_your_web_stats")
= "http://" + @SITE_DOMAIN_OR_IP + "/content_partners/#{@contact['content_partner_id']}/statistics"
= ""
= I18n.t("contact_for_any_comments")
= I18n.t("thank_you_sentence")
= ""
= I18n.t("dash_encyclopedia_of_life")


-# SAMPLE ACTUAL EMAIL:

-# Dear contact_full_name (content_partner_full_name),
-# 
-# This is an automated e-mail notification.
-# You can now check last month's web usage of your data in EOL.
-# 
-# This is the link to your web stats:
-# http://www.eol.org/content_partners/content_partner_id/statistics
-# 
-# Contact eli@eol.org for any comments.
-# Thank you.
-# 
-# -Encyclopedia of Life
