<ul id="toc" style="list-style:none;margin-left:-25px;padding-left:-25px;">

 <li><%= link_to 'home', {:controller => '/admin', :action => 'index'}, {:class=>'toc_item active'} %> </li>
 <!--<li><%= link_to 'view pop-up survey requests', :controller => '/admin', :action => 'surveys' %> </li>-->

<% restrict_to "(Administrator - Site CMS|Administrator - News Items|Administrator - Comments and Tags) & !blacklist" do %><h3>Website management</h3><% end %>
  <% restrict_to "(Administrator - Site CMS) & !blacklist" do %>
  	  <li><%= link_to 'edit page contents',{:controller=>'administrator/content_page',:action=>'index'}, {:class=>'toc_item active'}%> </li>
  	  <li><%= link_to 'edit contact us topics',{:controller=>'administrator/contact_subject', :action=>'index'}, {:class=>'toc_item active'}%> </li>
  	  <li><%= link_to 'edit search suggestions',{:controller=>'administrator/search_suggestion', :action=>'index'}, {:class=>'toc_item active'}%> </li>
      <li><%= link_to 'general site admin', {:controller => 'administrator/site', :action => 'index'}, {:class=>'toc_item active'} %> </li>
      <li><%= link_to 'statistics and tools', {:controller => 'administrator/stats', :action => 'index'}, {:class=>'toc_item active'} %> </li>
  <% end %>
  <% restrict_to "(Administrator - News Items) & !blacklist" do %>
  	  <li><%= link_to 'edit news items',{:controller=>'administrator/news_item',:action=>'index'}, {:class=>'toc_item active'}%> </li>
  <% end %>
  <% restrict_to "(Administrator - Comments and Tags) & !blacklist" do %>
    <li><%= link_to 'edit tag suggestions', {:controller => 'administrator/tag_suggestion', :action => 'index'}, {:class=>'toc_item active'} %> </li>
    <!--<li><%#= link_to 'view user tags', {:controller => 'administrator/tag', :action => 'index'},{:class=>'toc_item active'}  %> </li>-->
    <li><%= link_to 'view user comments', {:controller => 'administrator/comment', :action => 'index'}, {:class=>'toc_item active'} %> </li>
  <% end %>
  
<% restrict_to "(Administrator - Web Users) & !blacklist" do %>
	<h3>Web Users</h3>
	<li><%= link_to 'edit web users',{:controller=>'administrator/user', :action=>'index'}, {:class=>'toc_item active'}%> </li>
	<li><%= link_to 'curators',{:controller=>'administrator/curator', :action=>'index'}, {:class=>'toc_item active'}%> </li>
	<li><%= link_to 'roles',{:controller=>'administrator/role', :action=>'index'}, {:class=>'toc_item active'}%> </li>	
<% end %>

<% restrict_to "(Administrator - Contact Us Submissions) & !blacklist" do %>
	<h3>Contact Us Functions</h3>
	<li><%= link_to 'view contact us submissions', {:controller => 'administrator/contact', :action => 'index'}, {:class=>'toc_item active'} %> </li>
<% end %>

<% restrict_to "(Administrator - Error Logs) & !blacklist" do %>
	<h3>Error Log Functions</h3>
	<li><%= link_to 'view error log', {:controller => 'administrator/error_log', :action => 'index'}, {:class=>'toc_item active'} %> </li>
<% end %>

<%# is this the same as Reports? %>
<% restrict_to "(Administrator - Content Partners) & !blacklist" do %>
	<h3>Content Partners</h3>
	<li><%= link_to 'content partner reports', {:controller => 'administrator/content_partner_report', :action => 'index'}, {:class=>'toc_item active'} %> </li>
<% end %>

<% restrict_to "(Administrator - Usage Reports) & !blacklist" do %>
  <% if $ENABLE_DATA_LOGGING %>
    <h3>Search Term Reports</h3>
  	<li><%= link_to 'search term reports',search_logs_url,{:class=>'toc_item active'} %> </li>
  <% end %>
	<h3>Data Usage Reports</h3>
<% for report_class in LogDaily.report_classes %>
  <li><%= link_to report_class.report_name, {:controller => 'administrator/reports', :action => report_class.path}, {:class=>'toc_item active'} %></li>
<% end %>
<% end %>

</ul>

<br />
<br />
