%li
  = link_to content_page.page_name, :action => 'update_page', :id=>content_page.id
  - same_level_pages = ContentPage.find_all_by_content_section_id_and_parent_content_page_id(content_page.content_section_id, content_page.parent_content_page_id, :order => 'sort_order')
  - if content_page.sort_order > 1
    #up_arrow_holder
      = link_to image_tag("arrow_up.gif", :border => 0, :title => I18n.t(:move_up)), {:action => "move_up", :id => content_page.id}, :method => "move_up"
  - else
    #up_arrow_holder
      = image_tag("arrow_up_gray.gif", :border => 0, :title => I18n.t(:move_up))
  - if content_page.sort_order < same_level_pages.count 
    #down_arrow_holder
      = link_to image_tag("arrow_down.gif", :border => 0, :title => I18n.t(:move_down)), {:action => "move_down", :id => content_page.id}, :method => "move_down"
  - else
    #down_arrow_holder
      = image_tag("arrow_down_gray.gif", :border => 0, :title => I18n.t(:move_down))
  #add_page
    = link_to(I18n.t("create_child_page"), :action=>'new', :parent_content_page_id=>content_page.id)
  #Available_in
    = I18n.t(:available_in_languages_colon)
    - for translated_page in TranslatedContentPage.find_all_by_content_page_id(content_page.id)
      = link_to translated_page.language.iso_639_1, :action=>'update_language', :id=>content_page.id, :language_id=>translated_page.language_id
  #add_language
    = link_to I18n.t("add_language"), :action=>'add_language', :id=>content_page.id
  #delete
    = link_to I18n.t("delete_firstcap"), {:action=>'destroy', :id=>content_page.id}, :confirm => I18n.t("are_you_sure___this_action_can"), :method => :delete
  <br />
- sub_pages = ContentPage.find_all_by_parent_content_page_id(content_page.id, :order => 'sort_order')
- if sub_pages.count > 0 
  %ul
    - for sub_page in sub_pages
      = render (:partial => 'content_page_list', :locals => {:content_page => sub_page}) 
