= javascript_include_tag 'admin-content-page'
= javascript_include_tag 'ckeditor/init'
= form_for :page,@page,:url=>{:action=>'save_new_page'},:html=>{:id=>'page_form', 'data-page_id' => @page.id} do |f|
  = f.hidden_field :parent_content_page_id
  %table
    = render(:partial => 'main_page_form', :locals => { :f => f })
    %tr
      %td{:colspan => 2, :height => 1, :bgcolor => '#000000'}
    %tr
      %td
        %strong
          = I18n.t("language")
      %td
        = f.select :current_translation_language, @page.not_available_in_languages(@page.current_translation_language).collect {|l| [l.iso_639_1, l.id]}
    = render(:partial => 'language_form', :locals => { :f => f })
  %br
  %br
  %input#preview{ :name => "preview", :type => "button", :value => I18n.t("preview_changes") }
  |
  %input#publish{ :name => "publish", :type => "button", :value => I18n.t("publish_changes") }
