%tr
  %td
    %strong
      =I18n.t(:published)
  %td
    = f.check_box :translated_active_translation
    =I18n.t(:must_be_checked_in_to_view)
%tr
  %td
    %strong
      =I18n.t(:title)
  %td
    = f.text_field :translated_title, {:size=>'50',:maxlength=>'100'}
    %br
    =I18n.t(:shown_to_user_as_the_title_of_page)
%tr
  %td
    %strong
      =I18n.t("meta_keywords_colon")
  %td
    = f.text_field :translated_meta_keywords, {:size=>'50',:maxlength=>'200'}
%tr
  %td
    %strong
      =I18n.t("meta_description_colon")
  %td
    = f.text_field :translated_meta_description, {:size=>'50',:maxlength=>'200'}
%tr
  %td{:colspan => 2}
    %strong
      =I18n.t(:left_content_area)
%tr
  %td{:colspan => 2}
    = cktext_area_tag(:page, :translated_left_content, :toolbarSet => 'Simple', :width => '100%', :height => '400px')
    %br
    =I18n.t(:html_format_with_left_col)
%tr
  %td{:colspan => 2}
    %strong
      =I18n.t(:main_content_area)
%tr
  %td{:colspan => 2}
    = cktext_area_tag(:page, :translated_main_content, :toolbarSet => 'Simple', :width => '100%', :height => '400px')
    %br
    =I18n.t(:html_format)

