= form_for :page,@page,:url=>{:action=>'save_updated_page',:id=>@page.id},:html=>{:id=>'page_form', 'data-page_id' => @page.id} do |f|
  = f.hidden_field :parent_content_page_id
  %table
    = render(:partial => 'main_page_form', :locals => { :f => f })
  = cancel_button_goes_back('/administrator/content_page')
  |
  = f.submit

