<%= render :partial => '/admin/content_top', :locals => {:name => 'Edit Page Contents'} %>

<script type="text/javascript">
	
	function select_content_section(form_value) {
		content_section_id=form_value.options[form_value.selectedIndex].value;
		new Ajax.Request(
		'/administrator/content_page/get_content_pages',
		  {
		  	asynchronous:true, 
			evalScripts:true, 
			method:'post', 
			onComplete:function(request){hideAjaxIndicator();},
			onLoading:function(request){showAjaxIndicator();},
			parameters:'id='+content_section_id
		  }
		);
		}
	
</script>

	<form id="content_section_select">				
	To administer site content, please select the section to work on:
			<%= collection_select(:content_section,:id,@content_sections,:id,:name,{},{:onChange=>'JavaScript:select_content_section(this);'})%>
	</form>
	<div id="content_page_list">
		<%=render(:partial=>'content_page_list')%>
	</div>
	<div class="divider"></span>
		
	<div id="content_page">
		<%=render(:partial=>'form')%>
	</div>
						
<%= render :partial => '/admin/content_bottom' %>
