= javascript_include_tag 'admin-content-page'
= javascript_include_tag 'ckeditor/init'
- form_for :page,@page,:url=>{:action=>'save_translation', :id=>@page.id, :language_id=>@language.id},:html=>{:id=>'page_form', 'data-page_id' => @page.id} do |f|
  = f.hidden_field :page_name, :value => @page.page_name
  %table
    %tr
      %td
        %strong
          =I18n.t(:location)
      %td
        = @navigation_tree    
    %tr
      %td
        %strong
          =I18n.t(:page_urls)
      %td
        = external_link_to(cms_page_url(@page.page_url, :language => @language.iso_639_1),
          cms_page_url(@page.page_url, :language => @language.iso_639_1), :show_link_icon => false)
        - if alternate = @page.alternate_page_url
          %br
          = external_link_to(cms_page_url(alternate, :language => @language.iso_639_1),
            cms_page_url(alternate, :language => @language.iso_639_1), :show_link_icon => false)
    %tr
      %td
        %strong
          = I18n.t("language")
      %td
        = @language.iso_639_1
    = render(:partial => 'language_form', :locals => { :f => f })

  %br
  %br
  %input#preview{ :name => "preview", :type => "button", :value => I18n.t("preview_changes") }
  |
  = cancel_button_goes_back('/administrator/content_page')
  |
  = f.submit
  | 
  = link_to I18n.t("delete_firstcap"), {:action=>'delete_translation',:id=>@page.id, :language_id=>@page.current_translation_language.id}, :confirm => I18n.t("are_you_sure_this_action_cannot_be_undone"), :method => :delete_translation
