- @taxon_concept.hierarchy_entries.each do |he|
  .entry_details{:id => he.id, :taxon_concept_id => he.taxon_concept_id}
    %h3
      = he.hierarchy.label
    .metadata
      = "hierarchy_id: #{he.hierarchy_id}"
      %br
      = "taxon_concept_id: #{he.taxon_concept_id}"
      %br
      = "hierarchy_entry_id: #{he.id}"
    %br
    - indent = ''
    - ancestors = he.ancestor_details
    - for ancestor in ancestors
      = indent + ancestor['name_string']
      - indent << "&nbsp;&nbsp;"
      %br
    
    %strong
      = indent + he.name_object.string
    - indent << "&nbsp;&nbsp;"
    %br
    
    .children
      - children = he.children_details
      - for child in children
        = indent + child['name_string']
        %br
  %br
:javascript
  $(function() {
    $( ".entry_details" )
      .draggable({
        opacity: 0.50,
        revert: true,
        start: function(event, ui) {
          $("#dragging_div").attr('drag_div_id', $(this).attr('id'));
          $(this).css('z-index', 9);
        },
        stop: function(event, ui) {
          $("#dragging_div").removeAttr('drag_div_id');
          $(this).css('z-index', 10);
        }
      })
      .droppable({
        revert: "valid",
        drop: function( event, ui ) {
          dragged_div = $('#' + $("#dragging_div").attr('drag_div_id'));
          
          if(dragged_div.attr('taxon_concept_id') == $(this).attr('taxon_concept_id')) {
            alert('Cannot drop - same concept');
          }else {
            alert('Dropping '+ dragged_div.attr('id') + ' to ' + $(this).attr('id'));
          }
        }
    });
  });