<%= render :partial => '/admin/content_top', :locals => {:name => 'Edit Content Partner Agreement'} %>
				
		<h2><%=@agent.project_name%></h2>

		<%=link_to ('[go_back]',:action=>'show',:id=>params[:id])%>
    <br /><br />
    Edit the agreement below or enter in a URL.  Be sure to leave all Ruby code in the template as is (code is identified by text in between &lt;% and %&gt;.  If a URL is entered, it will override the template.
  	<br /><br />
  	<strong>Created at:</strong> <%=format_date_time(@agreement.created_at)%><br />
  	<strong>Signed on:</strong> <%=format_date_time(@agreement.signed_on_date)%><br />
  	<strong>Signed by:</strong> <%=@agreement.signed_by%><br />

	  <%= eol_lang_error_messages_for :agreement %>
	
  	<% form_for :agreement,@agreement,:html=>{:id=>'page_form'} do |f|  %>
      <strong>Agreement template:</strong><br />
    	<%=f.text_area :template, :cols => 85, :rows => 50 %>
    	<br /><br />
    	<h3>OR</h3>
    	<br />
    	<strong>Agreement URL (e.g. full or relative URL to a PDF or other file)</strong>
    	<%=f.text_field :mou_url,{:size=>'70',:maxlength=>'250'}%>
    	<br /><br />
  		
    	<%=f.submit%>
  	<% end %>
  	
  	<% unless @previous_agreements.empty? %>
  	  <br />
  	  <h3>Previous Agreements</h3>
      Click to view previous agreements:
      <ul>
  	  <% for previous_agreement in @previous_agreements%>
  	    <li><%= link_to (format_date_time(previous_agreement.created_at),{:controller=>'/content_partner',:action=>'agreement',:id=>@agent.id,:agreement_id=>previous_agreement.id},{:target=>'_blank'})%></li>
  	  <% end %>
  	  </ul>
  	<% end%>
		
	
						
<%= render :partial => '/admin/content_bottom' %>
