%h2
  = @agent.project_name
%br
%br
=I18n.t("edit_the_agreement_below_or_en")
%br
%br
%strong
  =I18n.t("created_at__")
= format_date_time(@agreement.created_at)
%br
%strong
  =I18n.t("signed_on_")
= format_date_time(@agreement.signed_on_date)
%br
%strong
  =I18n.t("signed_by_")
= @agreement.signed_by
%br
= eol_lang_error_messages_for :agreement
- form_for :agreement,@agreement,:html=>{:id=>'page_form'} do |f|
  %strong
    =I18n.t("agreement_template_")
  %br
  = f.text_area :template, :cols => 85, :rows => 50
  %br
  %br
  %h3
    =I18n.t("or")
  %br
  %strong
    =I18n.t("agreement_url__e_g__full_or_re")
  =I18n.t("__if_entered__this_overrides_t")
  %br
  =I18n.t("if_you_need_to_upload_a_pdf_to" ,:link => link_to(I18n.t("upload_content"),:controller=>'administrator/content_upload',:action=>'index') 
  = f.text_field :mou_url,{:size=>'70',:maxlength=>'250'}
  %br
  %br
  = f.submit
  %br
  = link_to I18n.t("cancel"), :back
- unless @previous_agreements.empty?
  %br
  %h3
    =I18n.t("previous_agreements")
  =I18n.t("click_to_view_previous_agreeme")
  %ul
    - for previous_agreement in @previous_agreements
      %li
        = link_to (format_date_time(previous_agreement.created_at),{:controller=>'/content_partner',:action=>'agreement',:id=>@agent.id,:agreement_id=>previous_agreement.id},{:target=>'_blank'})
