= render :partial => '/admin/content_top', :locals => {:name => 'Content Partners'}

This section is used to view registered content partners.  Click on a content partner to view details or click on a column
to sort by that column.  
= link_to '[Export all content partners and their contacts]',{:action=>'export'}
- form_tag({:action=>'index'},:method=>'get') do
  Search for partner names containing: 
  = text_field_tag(:partner_search_string,@partner_search_string)
  %br/
  = check_box_tag('only_show_agents_with_unpublished_content','1',@only_show_agents_with_unpublished_content)
  Only show partners with unpublished content or no resources
  %br/
  Only show partners with this status:
  = select_tag(:agent_status_id, "<option value=''>All status types</option>" + options_from_collection_for_select(@agent_status, :id, :label,@agent_status_id.to_i)) 
  	
  = submit_tag 'Search' 
  %br/
  %br/
  = will_paginate @agents
  
  %table.results_table{:width => "100%", :cellspacing => "0"}
    %tr
      %th
        = link_to 'Partner',{:order_by=>'a.full_name ASC'}
      %th
        = link_to 'Registered',{:order_by=>'cp.created_at DESC'}
      %th Steps
    - for agent in @agents 
      - show=true
      - if (!agent.has_unpublished_content? && @only_show_agents_with_unpublished_content)
        - show=false

      - if show
        - column_class=cycle('odd','even') 
  
        %tr{:valign => "top"}
          %td{:width => "40%", :class => column_class}
            = link_to(agent.project_name, { :action => 'show', :id => agent.id })
            %br/
            == Content partner has #{agent.resources.count} resources
            %br/
            - if agent.agent_status.blank?
              Status: unknown
            - else
              = "Status: #{agent.agent_status.label}" 
              
          %td{:class => column_class}
            = 'Registered:' + format_date(agent.created_at)
            %br/
            = 'Last action: ' + format_date(ContentPartner.find_by_agent_id(agent.id).last_action)
          %td{:class => column_class}          	
            = content_partner_check_box_image(agent.partner_complete_step?)
            Partner Information Completed
            %br/
            = content_partner_check_box_image(agent.agent_contacts.any?)
            Contact Information Added
            %br/
            = content_partner_check_box_image(agent.terms_agreed_to?)
            All Terms Agreed To
            %br/
            = content_partner_check_box_image(agent.agreement_accepted?)
            Agreement accepted        
            %br/ 
            = content_partner_check_box_image(agent.vetted?)
            Vetted by EOL
            %br/ 
            = content_partner_check_box_image(agent.show_on_partner_page?)
            Shown on content partners page   
            %br/ 
            = content_partner_check_box_image(agent.has_unpublished_content?)
            Has unpublished or no resource               
  %br/
  %br/
  = will_paginate @agents
      
  .message{:id =>"message_area"}	
	
  %br/
  %strong
    RSS updates of harvests
  %br/
  =	link_to(image_tag('rss.png',:alt=>'rss',:title=>'rss'), "http://services.eol.org/RSS_resource_monitor/process.php?f=1")
  Recently harvested resources (last 20)	
  %br/
  =	link_to(image_tag('rss.png',:alt=>'rss',:title=>'rss'), "http://services.eol.org/RSS_resource_monitor/process.php?f=2")
  Recently published resources (last 20)	
  %br/
  =	link_to(image_tag('rss.png',:alt=>'rss',:title=>'rss'), "http://services.eol.org/RSS_resource_monitor/process.php?f=3")
  Harvested resources awaiting publication	
  %br/
  =	link_to(image_tag('rss.png',:alt=>'rss',:title=>'rss'), "http://services.eol.org/RSS_resource_monitor/process.php?f=4")
  Resources with harvest errors

  %br/
= render :partial => '/admin/content_bottom'	
