#report_from_eol
  %h2    
    = @page_header 
    / Content Partner Curated Data
  %p
    - if(@agent_id != "All")
      =I18n.t("below_is_the_list_of_harvest_e") 
      %strong
        = link_to(@partner_fullname + ".", { :action => 'show', :id => @agent_id })
      %br      
      =I18n.t("clicking_on_the_harvest_id_wil")

  - form_for :hello, :url => { :action => :report_partner_objects_stats } do |form|
    =I18n.t("viewing_partner_")
    / working ok = select_tag :agent_id, options_from_collection_for_select(  @content_partners_with_published_data, :id, :full_name, @agent_id.to_i )
    
    %select{ :name => "agent_id" }
      %option
      - for cp in @content_partners_with_published_data
        %option{ :value => cp.id, :selected => @agent_id.to_i == cp.id }
          = cp.full_name

    = submit_tag(I18n.t(:change))
  
  /%br
  /  Harvest Events:
  /  = @partner_harvest_events.length

  %table.results_table
    %tr
      %td{ :colspan => "5" }
        = will_paginate @partner_harvest_events
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          
        %th
          =I18n.t("resource")
        %th
          =I18n.t("harvest_id")
        %th
          =I18n.t("started")
        %th
          =I18n.t("completed")
        %th
          =I18n.t("published")

    %tbody
      - count = @cur_page.to_i
      - @partner_harvest_events.each do |rec|
        - column_class=cycle('odd','even')
        - count += 1
        %tr
          %td{ :class => column_class, :align => "right" }
            = count
            = "."
          %td{ :class => column_class }
            = rec.title
          %td{ :class => column_class, :align => "center" }
            = link_to(rec.harvest_id, { :action => 'show_data_object_stats', :harvest_id => rec.harvest_id, :partner_fullname => @partner_fullname })
          %td{ :class => column_class }
            = rec.began_at
          %td{ :class => column_class }
            = rec.completed_at
          %td{ :class => column_class }
            /= rec.published_at.strftime("%d-%b-%Y at %I:%M%p")
            = rec.published_at
    %tr
      %td{ :colspan => "5" }
        = will_paginate @partner_harvest_events


