:javascript
  function update_partner_status(id) {
    agent_status_id = 
    $.ajax({
      url: '/administrator/content_partner_report/set_agent_status',
      type: 'POST', 
      data: {id:id, agent_status_id:$('#agent_agent_status_id').val()}
    });
  }

%h2
  = @agent.project_name
= link_to I18n.t("_go_back_"),:action => 'index'
|
= link_to I18n.t("_edit_view_their_profile_"),:action => 'edit_profile', :id => @agent.id
|
= link_to I18n.t("_login_to_the_content_partner_", :var__agent_display_name => @agent.display_name),{:action => 'login_as_agent', :id => @agent.id}, :confirm => I18n.t("are_you_sure_you_want_to_log_i_", :var__agent_display_name => @agent.display_name)
%br/

- if @agent.ready_for_agreement?  
  =I18n.t("click_circles_or_checkmarks_be")
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.show_on_partner_page?, :id => 'show_on_cp_page_img'),  :url => { :action => 'show_on_partner_page', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var__", :var__agent_show_on_partner_page_____hide_____show_ => @agent.show_on_partner_page? ? 'hide' : 'show'))
  =I18n.t("show")
  = @agent.project_name
  =I18n.t("on")
  = link_to(I18n.t("content_partners_"),:controller => '/content',:action => 'partners')
  =I18n.t("page_of_website")
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.show_mou_on_partner_page?, :id => 'show_mou_on_cp_page_img'),  :url => { :action => 'show_mou_on_partner_page', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var___", :var__agent_show_mou_on_partner_page_____hide_____show_ => @agent.show_mou_on_partner_page? ? 'hide' : 'show'))
  =I18n.t("show")
  = "#{@agent.project_name.pluralize}"
  =I18n.t("mou_on")
  = link_to(I18n.t("content_partners_"),:controller => '/content',:action => 'partners')
  =I18n.t("page_of_website")  
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.show_gallery_on_partner_page?, :id => 'show_gallery_on_cp_page_img'),  :url => { :action => 'show_gallery_on_partner_page', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var____", :var__agent_show_gallery_on_partner_page_____hide_____show_ => @agent.show_gallery_on_partner_page? ? 'hide' : 'show'))
  =I18n.t("show")
  = "#{@agent.project_name.pluralize}"
  =I18n.t("gallery_on")
  = link_to(I18n.t("content_partners_"),:controller => '/content',:action => 'partners')
  =I18n.t("page_of_website")
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.show_stats_on_partner_page?, :id => 'show_stats_on_cp_page_img'),  :url => { :action => 'show_stats_on_partner_page', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var_____", :var__agent_show_stats_on_partner_page_____hide_____show_ => @agent.show_stats_on_partner_page? ? 'hide' : 'show'))
  =I18n.t("show")
  = "#{@agent.project_name.pluralize}"
  =I18n.t("statistics_on")
  = link_to(I18n.t("content_partners_"),:controller => '/content',:action => 'partners')
  =I18n.t("page_of_website")
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.vetted?, :id => 'vet_partner_img'),  :url => { :action => 'vet_partner', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var______", :var__agent_vetted_____unvet_____vet_ => @agent.vetted? ? 'unvet' : 'vet', :var__agent_vetted_____untrusted_____trusted_ => @agent.vetted? ? 'untrusted' : 'trusted'))
  = "Vet #{@agent.project_name} and update the status of all their uncurated data objects."
  %br/
  = link_to_remote(content_partner_check_box_image(@agent.auto_publish?, :id => 'auto_publish_img'),  :url => { :action => 'auto_publish', :id => @agent }, :confirm => I18n.t("are_you_sure_you_want_to_var_______", :var__agent_auto_publish_____disable_____enable_ => @agent.auto_publish? ? 'disable' : 'enable'))
  = "#{@agent.auto_publish? ? 'Disable' : 'Enable'} auto-publish for " + @agent.project_name + "." 

- else
  = @agent.project_name
  =I18n.t("is_not_ready_for_their_agreeme")
%br/
= I18n.t(:content_partner_status) 
= collection_select(:agent, :agent_status_id, @agent_status, :id, :label, {}, {:onchange => 'javascript:update_partner_status(' + @agent.id.to_s + ');'})
%br/

- if !@agent.content_partner.last_action.blank?
  =I18n.t("this_partner_s_last_action_was") 
  = format_date_time(@agent.content_partner.last_action)

%table.results_table{ :width => "100%" }
  %tr
    %th
      =I18n.t("step")
    %th
      =I18n.t("1st_view")
    %th
      =I18n.t("submission")
    %th
      =I18n.t("status")
  %tr
    %td.odd
      =I18n.t("partner_information")
    %td.odd
      = content_partner_date(@agent.content_partner.partner_seen_step)
    %td.odd
      = content_partner_date(@agent.content_partner.partner_complete_step)
    %td.odd
      = @agent.content_partner.partner_complete_step? ? 'Complete' : 'Incomplete'
  %tr
    %td.even
      =I18n.t("contact_information")
    %td.even
      = content_partner_date(@agent.content_partner.contacts_seen_step)
    %td.even
      = content_partner_date(@agent.content_partner.contacts_complete_step)
    %td.even
      - if @agent.agent_contacts.any?
        = link_to I18n.t("show_var__agent_agent_contacts", :var__agent_agent_contacts_count_to_s => @agent.agent_contacts.count.to_s), :action => 'show_contacts', :id => @agent.id.to_s
      - else
        =I18n.t("none_")
  %tr
    %td.odd
      =I18n.t("licensing")
    %td.odd
      = content_partner_date(@agent.content_partner.licensing_seen_step)
    %td.odd
      = content_partner_date(@agent.content_partner.licensing_complete_step)
    %td.odd
      = content_partner_check_box_image(@agent.content_partner.ipr_accept?)
  %tr
    %td.even
      =I18n.t("attribution")
    %td.even
      = content_partner_date(@agent.content_partner.attribution_seen_step)
    %td.even
      = content_partner_date(@agent.content_partner.attribution_complete_step)
    %td.even
      = content_partner_check_box_image(@agent.content_partner.attribution_accept?)
  %tr
    %td.odd
      =I18n.t("roles")
    %td.odd
      = content_partner_date(@agent.content_partner.roles_seen_step)
    %td.odd
      = content_partner_date(@agent.content_partner.roles_complete_step)
    %td.odd
      = content_partner_check_box_image(@agent.content_partner.roles_accept?)
  %tr
    %td.even
      =I18n.t("transfer_schema_overview")
    %td.even
      = content_partner_date(@agent.content_partner.transfer_overview_seen_step)
    %td.even
      = content_partner_date(@agent.content_partner.transfer_overview_complete_step)
    %td.even
      = content_partner_check_box_image(@agent.content_partner.transfer_schema_accept?)
  %tr
    %td.odd
      =I18n.t("transfer_schema_upload")
    %td.odd
      = content_partner_date(@agent.content_partner.transfer_upload_seen_step)
    %td.odd
      = content_partner_date(@agent.content_partner.transfer_upload_complete_step)
    %td.odd
      = @agent.content_partner.transfer_upload_complete_step? ? 'Viewed'  : 'Not viewed'
  - if @agent.ready_for_agreement?  
    %tr
      %td.odd
        =I18n.t("agreement")
        %br/
        = link_to(I18n.t("_view_agreement_"), {:controller => '/content_partner', :action => 'agreement', :id => @agent.id}, {:target => 'blank'})
        |
        = link_to(I18n.t("_edit_agreement_"), :action => 'edit_agreement', :id => @agent.id)        
      %td.odd
        =I18n.t("n_a")
      %td.odd
        =I18n.t("n_a")
      %td.odd
        = @agreement_signed
%br/
%br/
- if @agent.resources.count > 0
  =I18n.t("resources_associated_with_this")
  %br/
  %br/
  %table.results_table{ :width => "100%" }
    %tr
      %th
        =I18n.t("title")
      %th
        =I18n.t("dataset_url")
      %th
        =I18n.t("frequency")
      %th
        =I18n.t("status")
      %th
        =I18n.t("license")
      %th
        =I18n.t("actions")
    - for resource in @agent.resources
      - column_class = cycle('odd', 'even')
      %tr
        %td{:class => column_class}
          = h resource.title
        %td{:class => column_class}
          = h resource.accesspoint_url.blank? ? resource.dataset_file_name : resource.accesspoint_url
        %td{:class => column_class, :align => "center" }
          = h frequency(resource.refresh_period_hours)
        %td{:class => column_class, :align => "center" }
          = h resource.status_label
        %td{:class => column_class}
          = h (resource.license.blank? ? "unspecified" : resource.license.title)
        %td{:class => column_class}
          = link_to I18n.t("_edit_resource_"), edit_resource_path(resource, :content_partner_id => @agent.id)
          %br/
          = link_to I18n.t("_view_harvests_"), resource_harvest_events_url(resource, :content_partner_id => @agent.id)
          - if resource.dwc_hierarchy
            %br/
            = link_to I18n.t("_view_hierarchy_"), { :controller => 'hierarchy', :action => 'browse', :id => resource.dwc_hierarchy.id }
          - elsif resource.hierarchy
            %br/
            = link_to I18n.t("_view_hierarchy_"), { :controller => 'hierarchy', :action => 'browse', :id => resource.hierarchy.id }

#message_area.message
