#report_from_eol
  %h2    
    = @page_header 

  =I18n.t("content_partner_")
  %strong
    = @partner_fullname    
  &nbsp;&nbsp; | &nbsp;&nbsp;
  =I18n.t("harvest_id_")
  %strong
    = @harvest_id  

  %br
    =I18n.t("total_data_objects_")
    %strong
      = number_with_delimiter(@data_objects.length, :delimiter => ",")
    &nbsp;&nbsp; | &nbsp;&nbsp;    
    =I18n.t("total_taxa_")
    %strong
      = number_with_delimiter(@total_taxa.to_i, :delimiter => ",")
  - DataType.all.each do |data_type|
    - objects_of_this_type = @data_objects.select{ |d| d.data_type == data_type }
    - unless objects_of_this_type.empty?
      - color = "aqua"
    - else
      - color = "white"
    %table{ :border => 1, :bgcolor => color }
      %tr
        %td{ :colspan => 4, :align => "center" }
          %strong
            = data_type.label  
      %tr
        - Vetted.all.each do |vetted|
          %td
            = vetted.label  
        %td
          %strong
            =I18n.t("total")          
      %tr
        - Vetted.all.each do |vetted|
          - objects_of_this_type_and_vetted = objects_of_this_type.select{ |d| d.vetted_by_hierarchy_entry(@hierarchy_entry) == vetted }
          %td{ :align => "right" }
            = number_with_delimiter(objects_of_this_type_and_vetted.length, :delimiter => ",")
        %td{ :align => "right" }
          %strong
            = number_with_delimiter(objects_of_this_type.length, :delimiter => ",")
