= link_to I18n.t("_go_back_"),:action=>'show', :id=>params[:id]
%br/

=I18n.t("the_following_contacts_were_pr", :update_profile_link => link_to(I18n.t("update_their_profile"),:action=>'edit_profile',:id=>@agent.id))

%br/

%table.results_table{:width => "100%"}
  %tr
    %th=I18n.t("name")
    %th=I18n.t("type")
    %th=I18n.t("email")
    %th=I18n.t("web_page")
    %th=I18n.t("telephone")
    %th=I18n.t("address")
  - for contact in @contacts
    - column_class=cycle('odd','even')
    %tr
      %td{:width => "30%", :class => column_class}= h contact.full_name
      %td{:class => column_class}= h contact.agent_contact_role.label 
      %td{:class => column_class}= mail_to contact.email 
      %td{:class => column_class}= h contact.homepage
      %td{:class => column_class}= h contact.telephone
      %td{:class => column_class}= h contact.address
