- # TODO : Fix this. Image thumbnail should be 48_48.
- if en_type != DataType.sound.label.downcase && thumb = item.thumb_or_object('small')
  = image_tag(thumb)
%p
  = link_to item.best_title, taxon_worklist_path(@taxon_concept.id, params.merge(:current => item.id))
  = I18n.t("#{en_type}_from")
  - if !item.data_supplier_agent.blank?
    = item.data_supplier_agent.full_name