#tasks
  %ul
    - @data_objects.each do |data_object|
      - en_type = en_type(data_object)
      - task_class = @current_data_object.id == data_object.id ? "#{en_type} active" : en_type
      - saved_label = "Saved" unless (@saved_tasks.blank? || @saved_tasks.include?(data_object.id) == false)
      - ignored_label = "Ignored" unless (@ignored_tasks.blank? || @ignored_tasks.include?(data_object.id) == false)
      - status_class = ignored_label.blank? ? (saved_label.blank? ? "" : "saved") : "ignored"
      - status_indicator = ignored_label.blank? ? (saved_label.blank? ? "" : saved_label) : ignored_label
      %li{:class => "#{task_class} #{status_class} #{en_type}"}
        %span.icon
        - unless status_indicator.blank?
          %span.indicator= status_indicator
        - if ['image', 'video', 'sound'].include?(en_type)
          = render :partial => "media_data_object.html.haml", :locals => { :item => data_object, :en_type => en_type }
        - else
          = render :partial => "#{en_type}_data_object.html.haml", :locals => { :item => data_object }
  - # TODO : Implement functionality for the "get more tasks" button. Remove the 'ignored' and 'saved' tasks from the task list and replace them with the new tasks.
  %p.more= link_to I18n.t(:get_more_tasks), "#", {:class => "button"}