= content_for :head do
  = javascript_include_tag "taxonomy", "permalink"
- # FIXME Placeholder of static markup direct from HashRocket replace with functioning code
#content
  #worklist.site_column
    .filters
      %form(action="" method="post")
        %fieldset
          %dl
            %dt
              %label Object type
            %dd
              %select
                - ['All types', 'Taxa', 'Images', 'Videos', 'Sounds', 'People', 'Communities', 'Collections'].each do |option|
                  %option= option
          %dl
            %dt
              %label Object status
            %dd
              %select
                - ['Unreviewed', 'Trusted', 'Untrusted'].each do |option|
                  %option= option
          %dl
            %dt
              %label Object visibility
            %dd
              %select
                - ['Visible', 'Hidden'].each do |option|
                  %option= option
          %dl
            %dt
              %label Task status
            %dd
              %select
                - ['Active', 'Ignored', 'Curated'].each do |option|
                  %option= option
        %fieldset.actions
          %input(type="submit" value="show tasks")
          %p 1430 tasks found
    #tasks
      %ul
        %li.image
          %span.icon
          = image_tag dummy_image(48, 48), alt: ""
          %p
            = link_to "Quack", "#"
            image from Flickr
        %li.article.ignored
          %span.icon
          %span.indicator Ignored
          %p
            = link_to "Cairina moschata", "#"
            Overview
        %li.article
          %span.icon
          %p
            = link_to "Mergus serrator", "#"
            34 common names
        %li.image.active
          %span.icon
          = image_tag dummy_image(48, 48), alt: ""
          %p
            = link_to "Duck in the water", "#"
            image from Flickr
        %li.sound
          %span.icon
          %p
            = link_to "Duck quacking wildly", "#"
            sound from DuckSounds
        %li.video
          %span.icon
          = image_tag dummy_image(48, 48), alt: ""
          %p
            = link_to "Duck being duck-like", "#"
            this duck is so duck-like
        %li.article.saved
          %span.icon
          %span.indicator Saved
          %p
            = link_to "Mergus serrator", "#"
            34 common names
        %li.article.image
          %span.icon
          %p
            = link_to "Duck in the water", "#"
            sound from DuckSounds
        %li.image
          %span.icon
          = image_tag dummy_image(48, 48), alt: ""
          %p
            = link_to "Duck in the water", "#"
            image from Flickr
        %li.sound
          %span.icon
          %p
            = link_to "Duck quacking wildly", "#"
            sound from DuckSounds
      %p.more= link_to "get more tasks", "#", class: "button"
    .article#task
      .media
        = image_tag dummy_image(520, 360), alt: ""
      .ratings
        .average_rating
          %h5 Rating
          .rating.four
            %p 4 of 5
          %p from 23 people
        .rating
          %h5 Your rating
          %ul
            %li.current_rating_3 Current rating: 3 of 5
            - 5.times do |i|
              %li(title="Change rating to #{i + 1} of 5")= link_to "Change rating to #{i + 1} of 5", "#", class: "star_#{i + 1}"
      .article
        .header
          %h3 Description
        .copy
          %p This is a photo I took while hiking off the highway near Mudville, Virginia. The largest agaric is fully formed, and there were other in the area of similar sizes.

      .article.source
        .header
          %h3 Source Information
        = image_tag "icon_cc.png", alt: "CC by-sa"
        %p== &copy; Noah Siegel
        %p Some rights reserved
        %p
          Supplier:
          = link_to "Mushroom Observer", "#"
        %p Photographer: Noah Siegel
        %p= link_to "View image source", "#"

      .article.list
        .header
          %h3 Associated with
          = link_to "Add new association", "#"
        %form.review_status(action="" method="post")
          %fieldset
            %legend= link_to "Amanita muscaria", "#"
            %select(name="status")
              %option(value="trusted") Trusted
              %option(value="untrusted") Untrusted
              %option(value="inappropriate") Inappropriate
            and
            %select(name="visibility")
              %option(value="visible") Visible
              %option(value="hidden") Hidden
            %p
              Supplier:
              = link_to "Mushroom Observer", "#"
            %ul.untrusted
              - ["misidentified", "incorrect/misleading"].each do |i|
                %li
                  %label
                    %input(type="checkbox")
                    =i
            %ul.hidden
              - ["duplicate", "low quality"].each do |i|
                %li
                  %label
                    %input(type="checkbox")
                    =i
            %dl
              %dt
                %label Additional details (optional)
              %dd
                %textarea(rows="4" cols="60")
          %fieldset.actions
            %input(type="submit" value="Save changes")


      .article.list
        .header
          %h3 Revisions
        %ul
          %li 2010-03-24 03:04:35 UTC
          %li= link_to "2010-03-24 03:04:35 UTC", "#"
          %li= link_to "2010-03-24 03:04:35 UTC", "#"
