- editable = @collection.editable_by?(current_user)
= content_for :additional_page_actions do
  = render 'collections/editable_actions', { :editable => editable }
#tabs_sidebar
  = render 'collections/filter_by_item_type'
#sidebar
  = render 'collections/recently_visited'
#collection_editors.main_container
  = render 'collections/editors/editors_full', { :collection => @collection }
