%h3= I18n.t(:categories_title)
%ul
  - if @recently_used 
    %li#recently_used_category.category
      = link_to I18n.t(:recently_used_link), '#'
      .children
        - @known_uris = @recently_used
        = render partial: 'known_uris/index'
  - TocItem.for_uris(current_language).sort_by(&:label).each do |category|
    %li.category{id: "category_#{category.id}"}
      = link_to category.label, known_uris_path(category_id: category.id), :remote => true
      .children
        -# Empty by default.
