- known_uri ||= nil
- include_search_link = false unless defined?(include_search_link)
- show_top_link = false unless defined?(show_top_link)
- show_glossary_link = false unless defined?(show_glossary_link)
- include_attribution = false unless defined?(include_attribution)
%li{ id: known_uri.anchor }
  %dt
    = known_uri.name.firstcap
    - if include_search_link && KnownUri.all_measurement_type_uris.include?(known_uri.uri)
      = link_to I18n.t(:more_taxa_with_attribute), data_search_path(attribute: known_uri.uri, sort: 'desc')
  - unless known_uri.definition.blank?
    %dd
      = raw known_uri.definition.add_missing_hyperlinks
  - if include_attribution && ! known_uri.attribution.blank?
    %dd.attribution
      = raw known_uri.attribution.add_missing_hyperlinks
  %dd.uri= known_uri.uri
  - if show_top_link
    %span.top= link_to("top", '#')
  - elsif show_glossary_link
    %span.top= link_to('see in glossary', glossary_url(:anchor => known_uri.anchor))
