= content_for :head do
  = stylesheet_link_tag "known_uris"
= form_for known_uri do |f|
  = f.fields_for :translated_known_uris, translated_known_uri do |nested|
    = validation_errors_for(known_uri)
    = nested.hidden_field :language_id
    %fieldset.primary
      %dl
        %dt= f.label :uri
        %dd= f.text_field :uri, placeholder: I18n.t('known_uris.uri_placeholder_text')
        %dt= nested.label :name
        %dd= nested.text_field :name, placeholder: I18n.t('known_uris.name_placeholder_text')
    %fieldset
      %dl
        %dt= nested.label :definition
        %dd= nested.text_area :definition, rows: 3, placeholder: I18n.t('known_uris.definition_placeholder_text')
        %dt= nested.label :comment
        %dd= nested.text_area :comment, rows: 3, placeholder: I18n.t('known_uris.comment_placeholder_text')
        %dt= f.label :uri_type
        %dd
          = f.select :uri_type_id, options_from_collection_for_select(UriType.all, :id, :name, known_uri.uri_type_id)
        %dt= f.label :exclude_from_exemplars
        %dd
          = f.check_box :exclude_from_exemplars
          = I18n.t(:yes_answer)
        %dt= f.label :toc_items
        %dd
          %ul
            - TocItem.for_uris(current_language).each do |toc_item|
              %li
                %label
                  = check_box_tag "known_uri[toc_item_ids][]", toc_item.id, known_uri.toc_items.include?(toc_item)
                  = toc_item.label
    %fieldset
      %dl
        %dt= nested.label :attribution
        %dd= nested.text_area :attribution, rows: 3, placeholder: I18n.t('known_uris.attribution_placeholder_text')
        %dt= f.label :ontology_information_url
        %dd= f.text_field :ontology_information_url, placeholder: I18n.t('known_uris.ontology_information_url_placeholder_text')
        %dt= f.label :ontology_source_url
        %dd= f.text_field :ontology_source_url, placeholder: I18n.t('known_uris.ontology_source_url_placeholder_text')
        %dt= f.label :group_by_clade
        %dd
          %label
            = f.check_box :group_by_clade
            = I18n.t(:yes_answer)
        %dt= f.label :clade_exemplar
        %dd
          %label
            = f.check_box :clade_exemplar
            = I18n.t(:yes_answer)
        %dt= f.label :value_is_text
        %dd
          %label
            = f.check_box :value_is_text
            = I18n.t(:yes_answer)
        %dt= f.label :value_is_verbatim
        %dd
          %label
            = f.check_box :value_is_verbatim
            = I18n.t(:yes_answer)
        %dt= f.label :hide_from_glossary
        %dd
          %label
            = f.check_box :hide_from_glossary
            = I18n.t(:yes_answer)
    %fieldset.actions
      = f.submit I18n.t(:save)
      = link_to I18n.t(:cancel), known_uris_url
- unless known_uri.new_record?
  .known_uri__relationships
    .header
      %h2= I18n.t('known_uris.relationships')
    - if known_uri.equivalence_relationships.empty? && known_uri.non_equivalence_as_target.empty? && known_uri.non_equivalence_as_subject.empty?
      .copy
        %p= I18n.t('known_uris.no_relationships')
    = render 'relationship_table', { known_uri: known_uri, relationships: known_uri.equivalence_relationships, rel_label: I18n.t('known_uris.equivalent_to'), relationship_type: :equivalence }
    - unless known_uri.non_equivalence_as_target.empty?
      = render 'relationship_table', { known_uri: known_uri, relationships: known_uri.non_equivalence_as_target, rel_label: I18n.t('known_uris.relationships_to_this_uri') }
    - unless known_uri.non_equivalence_as_subject.empty?
      = render 'relationship_table', { known_uri: known_uri, relationships: known_uri.non_equivalence_as_subject, rel_label: I18n.t('known_uris.relationships_from_this_uri') }
    = form_for KnownUriRelationship.new do |tr|
      = tr.hidden_field :from_known_uri_id, value: known_uri.id
      %fieldset
        .header
          %h3
            = I18n.t('known_uris.add_a_relationship')
        %dl
          %dt
            %strong= I18n.t('helpers.label.known_uri_relationship.from_known_uri')
          %dd= known_uri.label
          %dt= tr.label :relationship_uri
          %dd= tr.select :relationship_uri, options_for_select(KnownUriRelationship.translated_relationship_types)
          = tr.hidden_field :to_known_uri_id
          %dt= tr.label :to_known_uri
          %dd= autocomplete_field :autocomplete, 'to_known_uri',
            autocomplete_known_uri_search_known_uris_path,
            id_element: "#known_uri_relationship_to_known_uri_id",
            value: (tr.object.to_known_uri.uri rescue '')
      %fieldset.actions
        = tr.submit I18n.t(:submit)
