%h1=I18n.t("editing_privilege")
- form_for(@privilege) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :sym
    %br/
    = f.text_field :sym
  %p
    = f.label :level
    %br/
    = f.text_field :level
  %p
    = f.label :type
    %br/
    = f.text_field :type
  %p
    = f.submit I18n.t("update")
= link_to I18n.t("show"), @privilege
|
\#{link_to I18n.t("back"), privileges_path}
