%h1 Editing privilege
- form_for(@privilege) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :sym
    %br/
    = f.text_field :sym
  %p
    = f.label :level
    %br/
    = f.text_field :level
  %p
    = f.label :type
    %br/
    = f.text_field :type
  %p
    = f.submit 'Update'
= link_to 'Show', @privilege
|
\#{link_to 'Back', privileges_path}
