= content_for :page_actions do
  %li= link_to I18n.t(:content_partner_resource_show_link_back_to),
    content_partner_resource_path(@partner, @resource)

#content_partner_show.site_column
  #sidebar
    = render "content_partners/resources/collections_summary"
  .main_container
    - if @harvest_events.blank?
      .empty
        %p= I18n.t(:content_partner_resource_harvest_events_empty)
    - else
      .copy
        .header
          - start_number = (@harvest_events.current_page - 1) * @harvest_events.per_page + 1
          - end_number = [(start_number + @harvest_events.per_page - 1), @harvest_events.count].min
          %h3= raw(I18n.t(:pagination_range_with_count,
            start_number: start_number, end_number: end_number,
            count: @harvest_events.count))
          = will_paginate @harvest_events,
            previous_label: I18n.t(:pagination_previous),
            next_label: I18n.t(:pagination_next),
            inner_window: 2, outer_window: 2
        %table.standard
          %thead
            %tr
              %th= I18n.t("helpers.label.harvest_event.began_at")
              %th= I18n.t("helpers.label.harvest_event.completed_at")
              %th= I18n.t("helpers.label.harvest_event.published_at")
              %th= I18n.t("helpers.label.harvest_event.published_status")
          %tbody
            - @harvest_events.each do |event|
              %tr
                %td= event.began_at
                %td= event.completed_at
                %td= event.published_at
                %td
                  - if event.published_at.blank?
                    =  event_not_published
                  - elsif event == @resource.latest_published_harvest_event
                    = event_currently_published
                  - else
                    = event_previously_published
        .footer
          = will_paginate @harvest_events,
            previous_label: I18n.t(:pagination_previous),
            next_label: I18n.t(:pagination_next),
            inner_window: 2, outer_window: 2
