= content_for :head do
  = javascript_include_tag "fckeditor/fckeditor"
  = javascript_include_tag "fckcustom"

#content_page_new
  .article.copy
    - form_for [@news_item, @translated_news_item], :url => admin_news_item_translated_news_items_path(@news_item),
      :builder => ApplicationHelper::EolFormBuilder do |news_item_form|
      = validation_errors_for(@news_item)
      %fieldset
        %p.tip= I18n.t(:admin_translated_news_item_new_tip, :required_icon => image_tag('/images/v2/icon_required.png', :alt => ''))
        = render :partial => 'translated_news_item_fieldset', :locals => {:news_item_form => news_item_form}

      %fieldset.actions
        = news_item_form.submit I18n.t('helpers.submit.translated_news_item.create')
        = link_to I18n.t(:cancel), admin_news_items_path
