.curation-section
  .credit-caption
    = I18n.t(:rating) 
  .image-rating.action-value
    -# TODO - This has a problem... it's not specific to the data object in question, so Ajax is not intelligent about updating the right values when it's changed.  It ALSO doesn't seem to work in this context: the images are not clickable... and I can't figure out why.  Help!
    = render :partial => '/data_objects/star_rating_hash', :locals => {:data_object => data_object, :show_controls => true}
/ .clearbreak
/   %br
/ - is_ignored = defined?(ignored) && ignored
/ - is_ignored_class = is_ignored ? "is_ignored_true" : "is_ignored_false"
/ .curation-section{ :class => is_ignored_class }
/   .credit-caption
/     = is_ignored ? I18n.t(:ignored)  : I18n.t(:active)  
/   .action-value{ :id => "ignore-#{data_object.id}" }
/     - if is_ignored
/       %a= I18n.t(:move_to_active_list) 
/     - else
/       %a= I18n.t(:move_to_ignored_list) 
/     %span.info_msg
%hr.thin
.clearbreak
  %br
- div_style = 'display:none;'
.curator_worklist_curation
  %form.curation_form{ :action => curate_data_object_path(data_object), :'data-data_object_id' => data_object.id,  :'data-data_object_type' => data_object.data_type_id, :'data-page_type' => 'curation_worklist'}
    = hidden_field_tag 'taxon_concept_id', data_object.get_taxon_concepts(:published => :preferred)[0] 
    .processing{ :style => "display:none;" }
      = image_tag('indicator_arrows_black.gif')
      Please wait

    = render :partial => 'data_objects/curation', :locals => { :data_object => data_object, :div_style => div_style }
    .buttons.action-value
      %br
      = submit_tag "Save"
.text_buttons
  - comments = data_object.visible_comments
  - if comments.blank?
    - comment_tooltip = "No comments yet. "
  - else
    - curator_comments = data_object.all_comments.select { |c| c.user_id == current_user.id && c.visible_at }
    - tooltip = "#{comments.size} comment#{comments.size == 1 ? '' : 's'}. "
    - if curator_comments.blank? 
      - comment_tooltip = tooltip
    - else
      - comment_tooltip = tooltip +  "#{curator_comments.size} #{curator_comments.size == 1 ? 'is' : 'are'} yours. "
  = render :partial => '/comments/comment_icon', :locals => { :data_object_id => data_object.id, :title => comment_tooltip + "Add a comment.", :comments_count => comments.size, :alt => "Comment on this #{data_object.data_type.label}", :comment_class => 'popup-link', :rel => '' }
.text-slidebox-border{:id => "text-comments-wrapper-#{data_object.id}", :style => "display:none;"}
  .text-slidebox-container.text-comment-div{:id => "text-comments-#{data_object.id}"}
    -# TODO - we re-use this indicator a lot.  Put it in a CSS class.
    %p
      = image_tag 'indicator_arrows_black.gif'
      = I18n.t(:please_wait) 
