-# TODO - IS THIS VIEW USED?
.curation-section
  .credit-caption
    = I18n.t(:rating)
  .image-rating.action-value
    -# TODO - This has a problem... it's not specific to the data object in question, so Ajax is not intelligent about updating the right values when it's changed.  It ALSO doesn't seem to work in this context: the images are not clickable... and I can't figure out why.  Help!
    = render :partial => '/data_objects/star_rating_hash', :locals => {:data_object => data_object, :show_controls => true}
%hr.thin
.clearbreak
  %br
- div_style = 'display:none;'
.curator_worklist_curation
  %form.curation_form{ :action => curate_data_object_path(data_object), :'data-data_object_id' => data_object.id,  :'data-data_object_type' => data_object.data_type_id, :'data-page_type' => 'curation_worklist'}
    = hidden_field_tag 'taxon_concept_id', data_object.get_taxon_concepts(:published => :preferred)[0]
    .processing{ :style => "display:none;" }
      = image_tag('indicator_arrows_black.gif')
      Please wait

    = render :partial => 'data_objects/curation', :locals => { :data_object => data_object, :div_style => div_style }
    .buttons.action-value
      %br
      = submit_tag I18n.t(:save)
.text_buttons
  - comments = data_object.visible_comments
  - if comments.blank?
    - comment_tooltip = I18n.t(:no_comments_yet)
  - else
    - curator_comments = data_object.all_comments.select { |c| c.user_id == current_user.id && c.visible_at }
    - tooltip = I18n.t(:comments_with_count, :count => comments.size)
    - if curator_comments.blank?
      - comment_tooltip = tooltip
    - else
      - comment_tooltip = tooltip + I18n.t(:comments_are_yours_with_count, :count => curator_comments.size)
  = render :partial => '/comments/comment_icon', :locals => { :data_object_id => data_object.id, :title => comment_tooltip + I18n.t(:add_a_comment), :comments_count => comments.size, :alt => I18n.t(:comment_on_this_dato_type, :label => data_object.data_type.label), :comment_class => 'popup-link', :rel => '' }
.text-slidebox-border{:id => "text-comments-wrapper-#{data_object.id}", :style => "display:none;"}
  .text-slidebox-container.text-comment-div{:id => "text-comments-#{data_object.id}"}
    -# TODO - we re-use this indicator a lot.  Put it in a CSS class.
    %p
      = image_tag 'indicator_arrows_black.gif'
      = I18n.t(:please_wait)
