%ul#toc{ :style => "list-style:none;margin-left:-25px;padding-left:-25px;" }
  %li
    = link_to 'Curator Central home', {:action => 'index'}, {:class => active_if_action_is('index') }
  %li
    = link_to 'Profile', {:action => 'profile'}, {:class => active_if_action_is('profile') }
  %h3
    Documentation
  %li
    = link_to 'FAQ', {:controller => '/content/page', :action => 'curator_central'}, {:class => active_if_action_is('curator_central') }
  %li
    = link_to 'Wikimedia/Wikipedia tools', {:controller => '/content/page', :action => 'curate_wiki'}, {:class => active_if_action_is('curate_wiki') }
  %h3
    Current Work List
  %li
    = link_to 'Images', {:action => 'curate_images'}, {:class => active_if_action_is('curate_images') }
  /
    THESE ARE ALL TODO
    %li
      = link_to 'Text', {:action => 'curate_text'}, {:class => active_if_action_is('curate_text') }
    %li
      = link_to 'Videos', {:action => 'curate_video'}, {:class => active_if_action_is('curate_video') }
    %li
      = link_to 'Maps', {:action => 'curate_TODO'}, {:class => active_if_action_is('curate_TODO') }
    %li
      = link_to 'Sounds', {:action => 'curate_TODO'}, {:class => active_if_action_is('curate_TODO') }
    %li
      = link_to 'Names', {:action => 'curate_TODO'}, {:class => active_if_action_is('curate_TODO') }
  / 
    -# These are also commented out, since I wasn't aware of their intention (and they seem wrong): TODO
    %h3
      Action History
    %li
      = link_to 'Taxa curated', {:controller => '/content/page', :action => 'curator_central'}, {:class => active_if_action_is('curator_central') }
    %li
      = link_to 'Data curated', {:controller => '/content/page', :action => 'curate_wiki'}, {:class => active_if_action_is('curate_wiki') }
