%ul#toc{ :style => "list-style:none;margin-left:-25px;padding-left:-25px;" }
  %li
    = link_to I18n.t("curator_central"), { :action => :index, :id => 'curator_central' }, { :class => active_if_action_is('index', 'curator_central') }
  %li
    = link_to I18n.t("your_curator_profile"), { :action => :profile }, { :class => active_if_action_is('profile') }
  %h3
    =I18n.t("tools")
  %li
    = link_to I18n.t("images_work_list"), { :action => :curate_images, :hierarchy_entry_id => params[:hierarchy_entry_id] }, { :class => active_if_action_is('curate_images') }
  / %li
  /   = link_to I18n.t("ignored_images"), { :action => :ignored_images, :hierarchy_entry_id => params[:hierarchy_entry_id] }, { :class => active_if_action_is('ignored_images') }
  %li
    = link_to I18n.t("wikipedia_import"), { :action => :wiki_import }, { :class => active_if_action_is('wiki_import') }
  %h3
    =I18n.t("help")
  %li
    = link_to I18n.t("instructions"), { :action => :index, :id => 'curation' }, { :class => active_if_action_is('index', 'curation') }
  %li
    = link_to I18n.t("working_with_wiki_content"), { :action => :index, :id => 'curate_wiki' }, { :class => active_if_action_is('index', 'curate_wiki') }
  %li
    = link_to I18n.t("curator_to_do_list"), { :action => :index, :id => 'curator_todo' }, { :class => active_if_action_is('index', 'curator_todo') }
  %li
    = link_to I18n.t("curation_standards"), { :action => :index, :id => 'curation_standards' }, { :class => active_if_action_is('index', 'curation_standards') }
  /
    =I18n.t("these_are_all_todo")
    %li
      = link_to I18n.t("text__"), { :action => :curate_text }, { :class => active_if_action_is('curate_text') }
    %li
      = link_to I18n.t("videos"), { :action => :curate_video }, { :class => active_if_action_is('curate_video') }
    %li
      = link_to I18n.t("maps"), { :action => :curate_TODO }, { :class => active_if_action_is('curate_TODO') }
    %li
      = link_to I18n.t("sounds"), { :action => :curate_TODO }, { :class => active_if_action_is('curate_TODO') }
    %li
      = link_to I18n.t("names"), { :action => :curate_TODO }, { :class => active_if_action_is('curate_TODO') }
  /
    -# These are also commented out, since I wasn't aware of their intention (and they seem wrong): TODO
    %h3
      =I18n.t("action_history")
    %li
      = link_to I18n.t("taxa_curated"), { :controller => '/content/page', :action => :curator_central }, { :class => active_if_action_is('curator_central') }
    %li
      = link_to I18n.t("data_curated"), { :controller => '/content/page', :action => :curate_wiki }, { :class => active_if_action_is('curate_wiki') }
