%h3
  = taxon_concept_link(nil, :data_type => "image", :data_object_id => @data_object.id, :name_string => @data_object.first_concept_name, :taxon_concept_id => @data_object.first_hierarchy_entry.taxon_concept_id, :popup => true)
- if common_name = @data_object.first_concept_common_name
  %p
    %em
      = common_name.firstcap
.data_object_view
  = image_tag(@data_object.smart_image, :id => 'big-img')
  = render :partial => 'data_objects/attribution', :locals => {:data_object => @data_object, :skip_permalink => true}, :layout => @layout
  .description
    .credit-caption
      = I18n.t(:description) 
    .action-value
      = @data_object.description
/
  =I18n.t("disabling_this_for_now__")
  .curation
/    = render :partial => 'curation_tools', :locals => {:data_object => @data_object, :comment_height => 7}
= javascript_include_tag 'rating.js' # basically, I'm only using this to update after calling the ajax, below...
= javascript_include_tag 'curation_tools.js'
= javascript_include_tag 'application.js' # this is needed to get the external links to open in a new window
