- taxon_concept = @data_object.taxon_concepts(:published => :preferred)[0]
= dato_taxon_concept_link(:h3, taxon_concept, :popup => true)
%p
  %em
    = taxon_concept.common_name
.data_object_view
  = image_tag(@data_object.smart_image, :id => 'big-img')
  = render :partial => 'data_objects/attribution', :locals => {:data_object => @data_object, :skip_permalink => true}, :layout => @layout
  .description
    .credit-caption
      = "Description"[]
    .action-value
      = @data_object.description
/
  Disabling this for now...
  .curation
/    = render :partial => 'curation_tools', :locals => {:data_object => @data_object, :comment_height => 7}
= javascript_include_tag 'rating.js' # basically, I'm only using this to update after calling the ajax, below...
= javascript_include_tag 'curation_tools.js'
= javascript_include_tag 'application.js' # this is needed to get the external links to open in a new window
