-# TODO - Add a selector to Narrow the list by Content Provider
= render :partial => '/data_objects/curation_js'
= render :partial => 'filter_form'
- if @name.blank? 
  - name = ""
  - msg = ""
- else
  - name =  I18n.t("_for_var__name", :var__name => @name)
  - msg = I18n.t("you_are_curating_images_var_na", :var_name => name)
- if @images_to_curate.blank?
  - status = @status.blank? ? "" : ((@status == 'all') ? "" : (@status == 'Unknown') ? I18n.t("unreviewed_") : "#{@status} ")
  - content_partner = @content_partner ? "#{@content_partner.user.full_name} " : ""
  %hr.thin
  =I18n.t("there_is_no_var_statusvar_ctnt", :var_status => status, :var_content_partner => content_partner, :var_name => name)
- else
  %hr.thin
  =I18n.t("var_msgimages_are_sorted_by_eo", :var_msg => msg, :var__all_images_count => @all_images_count)
  = will_paginate(@images_to_curate, :params => params)
  %table.results_table
    %tr
      %th
        =I18n.t("image")
      %th{ :width => 368 }
        =I18n.t("actions")
    - @images_to_curate.each do |data_object|
      - next if data_object.nil?
      / %tr{ :id => "undo-move-#{data_object.id}", :class => 'hide ' + data_object.vetted.label.downcase }
      /   %td{ :colspan => 2 }
      /     You moved the image to 
      /     = link_to(I18n.t("your_ignored_list"), {:controller => :curators, :action => :ignored_images, :hierarchy_entry_id => params[:hierarchy_entry_id]}) + "."
      /     = "&nbsp;" * 5
      /     %a{ :class => "undo-ignore-image" } Undo
      %tr{ :id => "curation-item-#{data_object.id}" }
        %td{ :class => "overlay_link " + data_object.vetted.label.downcase }
          .curation-item
            %h5
              = taxon_concept_link(nil, :data_type => "image", :data_object_id => data_object.id, :name_string => data_object.first_concept_name, :taxon_concept_id => data_object.first_hierarchy_entry.taxon_concept_id, :popup => true)
            - common_name = data_object.taxon_concepts[0].preferred_common_name_in_language(current_user.language) unless data_object.taxon_concepts[0].nil?
            - if common_name
              %h6
                = common_name.firstcap
            = link_to(image_tag(DataObject.image_cache_path(data_object.object_cache_url, :medium), :class => 'curation-thumb'), {:action => 'curate_image', :data_object_id => data_object.id}, {:rel => '#overlay'})
            - unless data_object.created_at.blank?
              %em
                = I18n.t(:indexed_on) 
              = DateTime.parse(data_object.created_at.to_s).strftime("%B %d, %Y")
              %br
            - unless data_object.description.blank?
              %h6
                = I18n.t(:description) 
              = strip_tags(data_object.description).cleanup_for_presentation
            - unless data_object.location.blank?
              %h6 
                = I18n.t(:location) 
              - data_object_location = strip_tags(data_object.location).cleanup_for_presentation
              = truncate(data_object_location, 48)
        %td{ :class => data_object.vetted.label.downcase }
          = render :partial => 'curation_tools', :locals => {:data_object => data_object, :comment_height => 3, :comment_width => 24}
  = will_paginate(@images_to_curate, :params => params)
  #overlay.overlay_worklist{:style => 'display:none'}
    .content-wrap
= javascript_include_tag 'rating.js' # basically, I'm only using this to update after calling the ajax, below...
= javascript_include_tag 'curation_tools.js'
= javascript_include_tag 'text-content.js'
