%h3
  = link_to(@data_object.taxon_concepts[0].scientific_name, @data_object.taxon_concepts.first)
%p
  %em
    = @data_object.taxon_concepts[0].common_name
.data_object_view
  = image_tag(@data_object.smart_image, :id => 'big-img')
  = render :partial => 'data_objects/attribution', :locals => {:data_object => @data_object, :skip_permalink => true}, :layout => @layout
  .description
    .credit-caption
      = "Description"[]
    .credit-value
      = @data_object.description
.curation
  = render :partial => 'curation_tools', :locals => {:data_object => @data_object, :comment_height => 7, :comment_width => 34}
= javascript_include_tag 'rating.js' # basically, I'm only using this to update after calling the ajax, below...
= javascript_include_tag 'curation_tools.js'
