- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#profile_activity.main_container
  .article.list.updates
    .heading
      %h3= I18n.t(:my_activity)
      = form_tag({}, :class => 'filter', :method => :get) do
        %fieldset
          %dl
            %dt
              = label_tag :filter_by, I18n.t(:show)
            %dd
              = select_tag :filter, options_for_select([ [I18n.t(:all_title), 'all'],
                [I18n.t(:comments_filter), 'comments'],
                [I18n.t(:user_activity_stats_objects_curated_dropdown), 'data_object_curation'],
                [I18n.t(:user_activity_stats_articles_added_dropdown), 'added_data_objects'],
                [I18n.t(:user_activity_stats_data_added_dropdown), 'added_data'],
                [I18n.t(:collections_filter), 'collections'],
                [I18n.t(:communities_filter), 'communities'],
                [I18n.t(:names_filter), 'names'],
                [I18n.t(:user_activity_stats_taxa_comments_dropdown), 'taxa_comments'],
                ], @filter)
        %fieldset.actions
          = submit_tag I18n.t(:filter_button)
    - if @filter == "curated_taxa"
      = render :partial => 'users/activities/taxa_curated', :locals => {:taxon_concept_ids => @curated_taxa_ids}
    - else
      = render :partial => 'activity_logs/index', :locals => {:log => @user_activity_log}
