- if item.user
  = link_to image_tag(item.user.logo_url(:small), :alt => I18n.t(:comment_show_posters_image_alt,
    :posters_name => h(item.user.full_name))), user_path(item.user), :class => 'avatar'
.details
  - translation_vars = {}
  - translation_vars[:user] = item.user ? link_to(h(item.user.full_name), user_path(item.user)) : I18n.t(:an_unknown_user)
  - translation_vars[:collection] = item.collection.nil? ? '[UNKNOWN]' : link_to(item.collection.summary_name, collection_path(item.collection))
  - translation_vars[:item] = item.collection_item.nil? || item.collection_item.object.nil? ? '[UNKNOWN]' : link_to(item.collection_item.object.summary_name, link_to_item(item.collection_item.object))
  %p
    - case item.activity_id
    - when Activity.add_editor.id
      - # TODO: Maybe add a comment explaining why collection_item.nil? determines this difference - seems a little weird:
      - if item.collection_item.nil?
        = I18n.t(:activity_added_an_editor_of_collection, translation_vars)
      - else
        = I18n.t(:activity_user_added_as_an_editor_of_collection, translation_vars)
    - when Activity.create.id
      = I18n.t(:activity_user_created_collection, translation_vars)
    - when Activity.remove_all.id
      = I18n.t(:activity_user_removed_all_items_from_collection, translation_vars)
    - when Activity.remove.id
      = I18n.t(:activity_user_removed_item_from_collection, translation_vars)
    - when Activity.collect.id
      = I18n.t(:activity_user_added_item_to_collection, translation_vars)
    - else
      = I18n.t(:activity_user_modified_collection, translation_vars)
  %p.meta
    = I18n.t(:time_ago, :time_passed => time_ago_in_words(item.created_at))
  - if item.user && item.collection
    %ul.actions
      %li.reply= link_to(I18n.t(:reply), collection_path(item.collection) + "#reply-to-CollectionActivityLog-#{item.id}", :'data-reply-to' => item.user.full_name, :'data-reply-to-type' => item.class.name, :'data-reply-to-id' => item.id)
