- unless local_assigns.has_key?(:editable)
  - editable = true
- link_style ||= nil
- truncate_comments ||= false
- rows ||= 3
- cols ||= 60
- actual_date ||= false
- display_curator ||= false
- parent_newsfeed = item.parent ? link_to_newsfeed(item.parent) : nil
- if item.user.nil?
  = image_tag(User.new.logo_url(size: :small), :class => 'no_user', width: 48, height: 48)
- else
  = link_to image_tag(item.user.logo_url(size: :small), :alt => I18n.t(:comment_show_posters_image_alt,
    :posters_name => h(item.user.full_name))), user_url(item.user), :class => 'avatar'
  .details
    - curator_level = ''
    - if !item.user.curator_level.nil? && display_curator
      - curator_level = " (" + item.user.curator_level.translated_label + ")"
    - name_with_link = link_to(h(item.user.full_name), user_url(item.user)) + curator_level
    -# We placed a filter here to trap the error if user is deleted.
    - parent_link = item.parent ? link_to_item(item.parent) : ''
    %p
      - if parent_link
        - if item.parent == item.user
          = raw I18n.t(:user_commented_on_themself, :user_with_link => name_with_link, :username => item.parent.summary_name, :link => parent_link)
        - elsif item.parent.nil?
          = raw I18n.t(:user_commented_on_deleted_user, :user_with_link => name_with_link)
        - else
          - if item.parent_type == "DataObject"
            - if item.parent.is_latest_published_version_in_same_language?
              = raw I18n.t(:user_commented_on_something_colon, :user => name_with_link, :what => link_to(raw(item.parent.summary_name), parent_link))
            - else
              = raw I18n.t(:user_commented_on_older_data_object_colon, :user => name_with_link, :what => link_to(raw(item.parent.summary_name), parent_link))
          - else
            = raw I18n.t(:user_commented_on_something_colon, :user => name_with_link, :what => link_to(raw(item.parent.summary_name), parent_link))
      - else
        - unless item.parent.nil?
          - if item.parent_type == "DataObject"
            - if item.parent.is_latest_published_version_in_same_language?
              = raw I18n.t(:user_commented_on_older_data_object_colon, :user => name_with_link, :what => item.parent.summary_name)
            - else
              = raw I18n.t(:user_commented_on_something_colon, :user => name_with_link, :what => item.parent.summary_name)
          - elsif item.parent_type == "DataPointUri"
            = raw I18n.t(:user_commented_on_removed_data, :user => name_with_link)
          - else
            = raw I18n.t(:user_commented_on_something_colon, :user => name_with_link, :what => I18n.t(:record_not_found))
    - if item.deleted?
      %p.deleted_comment= raw I18n.t(:this_comment_was_deleted)
    - else
      %blockquote{:cite => h(item.user.full_name)}
        - show_body = ''
        - if truncate_comments && item.body.length > 140
          - parent_newsfeed = item.parent ? link_to_newsfeed(item.parent, :taxon_updates => true) : ''
          - if parent_newsfeed
            - show_body = truncate(item.body, :length => 140, :omission => I18n.t(:truncated_comment_omission, :link => parent_newsfeed))
          - else
            - show_body = truncate(item.body, :length => 140, :omission => I18n.t(:truncated_comment_omission_linkless))
        - else
          - show_body = item.body
        - if item.reply? and item.reply_to.respond_to?(:user)
          - show_body = "@#{link_to(item.reply_to.user.full_name, "##{item.reply_to_type}-#{item.reply_to_id}")}: #{show_body}"
        = sanitize show_body.balance_tags.add_missing_hyperlinks
    %p.meta
      - if actual_date
        = raw I18n.l(item.created_at, :format => :long)
      - else
        = raw I18n.t(:time_ago, :time_passed => time_ago_in_words(item.created_at))
      - unless item.created_at == item.updated_at
        &bull;
        - if item.deleted?
          = raw I18n.t(:deleted_colon)
        - else
          = raw I18n.t(:edited_colon)
        - if actual_date
          = raw I18n.l(item.updated_at, :format => :long)
        - else
          = raw I18n.t(:time_ago, :time_passed => time_ago_in_words(item.updated_at))
    - unless item.deleted?
      %ul.actions
        - unless @latest_published_revision.nil?
          - unless item.parent_type == "DataPointUri"
            %li.reply= link_to(I18n.t(:reply), parent_newsfeed + "#reply-to-Comment-#{item.id}", data: { 'reply-to' => item.user.full_name, 'reply-to-type' => item.class.name, 'reply-to-id' => item.id })
          - if editable && current_user.can_update?(item)
            %li
              = link_to I18n.t(:edit), edit_comment_url(item.id, :return_to => "#{current_url}##{item.class.name}-#{item.id}", :actual_date => actual_date), :class => 'edit_comment'
        - if editable && current_user.can_delete?(item)
          %li
            = form_for item, :html => { :method => :delete, :class => 'delete_comment' } do |f|
              = hidden_field_tag :return_to, "#{current_url}##{item.class.name}-#{item.id}"
              = hidden_field_tag :actual_date, actual_date
              = f.submit I18n.t(:delete), { data: { 'confirmation' => I18n.t(:comment_delete_confirm) } }
