= link_to image_tag(item.user.logo_url(:small), :alt => I18n.t(:comment_show_posters_image_alt,
  :posters_name => h(item.user.full_name))), user_path(item.user), :class => 'avatar'
.details
  %p
    -# TODO - these ChangeableObjectType checks are all failing because they are NOT on datos, they are on dohe and cdohe's.  Fix.
    - name_with_link = link_to(h(item.user.full_name), user_path(item.user))
    - object_link = item.data_object ? link_to(item.data_object.summary_name, data_object_path(item.data_object)) : nil

    - synonym_activity_ids = [Activity.add_common_name.id, Activity.remove_common_name.id,
                              Activity.trust_common_name.id, Activity.unreview_common_name.id, Activity.untrust_common_name.id, Activity.inappropriate_common_name.id]
    - if synonym_activity_ids.include? item.activity_id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.synonym.language
          - lang = item.synonym.language.label
        - else
          - lang = ""

    - case item.activity_id
    - when Activity.trusted.id
      - if object_link
        = I18n.t(:activity_user_trusted_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_trusted_unknown_object, :user => name_with_link)
    - when Activity.untrusted.id
      - if object_link
        = I18n.t(:activity_user_untrusted_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_untrusted_unknown_object, :user => name_with_link)
      - reasons = item.untrust_reasons.collect{ |d| d.label }
      - unless reasons.empty?
        %p= I18n.t(:activity_with_reasons_to_untrust_colon, :reasons => reasons.to_sentence)
    - when Activity.show.id
      - if object_link
        = I18n.t(:activity_user_showed_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_showed_unknown_object, :user => name_with_link)
    - when Activity.hide.id
      - if object_link
        = I18n.t(:activity_user_hid_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_hid_unknown_object, :user => name_with_link)
    - when Activity.inappropriate.id
      = I18n.t(:activity_user_marked_content_as_inappropriate, :user => name_with_link)
    - when Activity.rate.id
      - if object_link
        = I18n.t(:activity_user_rated_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_rated_unknown_object, :user => name_with_link)
    - when Activity.unreviewed.id
      - if object_link
        = I18n.t(:activity_user_unreviewed_data_object, :user => name_with_link, :object_name => object_link)
      - else
        = I18n.t(:activity_user_unreviewed_unknown_object, :user => name_with_link)
    - when Activity.add_association.id
      -# TODO: this is not working, undefined method 'object'
      -#- he = item.object ? item.object.italicized_name : nil
      -#- if object_link
      -#  - if he
      -#    = I18n.t(:activity_user_added_named_association, :user => name_with_link, :object_name => object_link, :name => he)
      -#  - else
      -#    = I18n.t(:activity_user_added_association, :user => name_with_link, :object_name => object_link)
      -#- else
      -#  = I18n.t(:activity_user_added_unknown_association, :user => name_with_link)
    - when Activity.remove_association.id
      -# TODO: this is not working, undefined method 'object'
      -#- he = item.object ? item.object.italicized_name : nil
      -#- if object_link
      -#  - if he
      -#    = I18n.t(:activity_user_removed_named_association, :user => name_with_link, :object_name => object_link, :name => he)
      -#  - else
      -#    = I18n.t(:activity_user_removed_association, :user => name_with_link, :object_name => object_link)
      -#- else
      -#  = I18n.t(:activity_user_removed_unknown_association, :user => name_with_link)
    - when Activity.choose_exemplar.id
      = I18n.t(:activity_choose_exemplar, :user => name_with_link, :object_name => object_link)
    - when Activity.add_common_name.id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_added_common_name_to_taxon, :user => name_with_link, :name => item.synonym.name.string, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)), :language => lang)
        - else
          = I18n.t(:activity_user_added_common_name, :user => name_with_link, :name => item.synonym.name.string, :language => lang)
      - else
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_added_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
        - else
          = I18n.t(:activity_user_added_unknown_name, :user => name_with_link)
    - when Activity.remove_common_name.id
      - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
        = I18n.t(:activity_user_removed_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
      - else
        = I18n.t(:activity_user_removed_unknown_name, :user => name_with_link)
      
    - when Activity.trust_common_name.id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_trust_common_name_from_taxon, :user => name_with_link, :name => item.synonym.name.string, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)), :language => lang)
        - else
          = I18n.t(:activity_user_trust_common_name, :user => name_with_link, :name => item.synonym.name.string, :language => lang)
      - else
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_trust_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
        - else
          = I18n.t(:activity_user_trust_unknown_name, :user => name_with_link)
    - when Activity.untrust_common_name.id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_untrust_common_name_from_taxon, :user => name_with_link, :name => item.synonym.name.string, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)), :language => lang)
        - else
          = I18n.t(:activity_user_untrust_common_name, :user => name_with_link, :name => item.synonym.name.string, :language => lang)
      - else
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_untrust_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
        - else
          = I18n.t(:activity_user_untrust_unknown_name, :user => name_with_link)
    - when Activity.unreview_common_name.id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_unreview_common_name_from_taxon, :user => name_with_link, :name => item.synonym.name.string, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)), :language => lang)
        - else
          = I18n.t(:activity_user_unreview_common_name, :user => name_with_link, :name => item.synonym.name.string, :language => lang)
      - else
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_unreview_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
        - else
          = I18n.t(:activity_user_unreview_unknown_name, :user => name_with_link)
    - when Activity.inappropriate_common_name.id
      - if item.synonym && item.synonym.respond_to?(:name) && item.synonym.name.respond_to?(:string)
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_inappropriate_common_name_from_taxon, :user => name_with_link, :name => item.synonym.name.string, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)), :language => lang)
        - else
          = I18n.t(:activity_user_inappropriate_common_name, :user => name_with_link, :name => item.synonym.name.string, :language => lang)
      - else
        - if item.taxon_concept && item.taxon_concept.is_a?(TaxonConcept)
          = I18n.t(:activity_user_inappropriate_unknown_name_to_taxon, :user => name_with_link, :taxon => link_to(item.taxon_concept.quick_scientific_name, taxon_path(item.taxon_concept)))
        - else
          = I18n.t(:activity_user_inappropriate_unknown_name, :user => name_with_link)
    - else
      = I18n.t(:activity_user_curated_an_unknown_object, :user => name_with_link)
  %p.meta= I18n.t(:time_ago, :time_passed => time_ago_in_words(item.updated_at))

