- latest_published_version = DataObject.latest_published_version_of(item.data_object.id)
- scientific_name_link = link_to(h(item.hierarchy_entry.name.string), taxon_path(item.hierarchy_entry.taxon_concept)) unless item.hierarchy_entry.nil?
- if scientific_name_link && object_link
  - unless latest_published_version.id == item.data_object.id
    = I18n.t("activity_user_#{activity}_named_association_on_older_data_object", :user => name_with_link, :object_name => I18n.t(:older_version_of_latest_published_data_object_link, :link => object_link), :name => scientific_name_link)
  - else
    = I18n.t("activity_user_#{activity}_named_association", :user => name_with_link, :object_name => object_link, :name => scientific_name_link)
- elsif scientific_name_link
  = I18n.t("activity_user_#{activity}_unknown_object_association", :user => name_with_link, :name => scientific_name_link)
- elsif object_link
  - unless latest_published_version.id == item.data_object.id
    = I18n.t("activity_user_#{activity}_older_data_object", :user => name_with_link, :object_name => I18n.t(:older_version_of_latest_published_data_object_link, :link => object_link))
  - else
    = I18n.t("activity_user_#{activity}_data_object", :user => name_with_link, :object_name => object_link)
- else
  = I18n.t("activity_user_#{activity}_unknown_object", :user => name_with_link)
- if activity == "untrusted" || activity == "hid"
  - reasons = item.untrust_reasons.collect{ |d| d.label }
  - unless reasons.empty?
    %p= I18n.t("activity_#{activity}_with_reasons_colon", :reasons => reasons.to_sentence)