- unless log.blank?
  %ul.feed
    - log.each do |item|
      %li
        - case item.class.name
        - when "CuratorActivityLog"
          = render :partial => 'activity_logs/curator_activity_log', :locals => {:item => item}
        - when "Comment"
          = render :partial => 'activity_logs/comment', :locals => {:item => item}
        - when "UsersDataObject"
          = render :partial => 'activity_logs/users_data_object_log', :locals => {:item => item}
        - when "CollectionActivityLog"
          = render :partial => 'activity_logs/collection_activity_log', :locals => {:item => item}
        - when "CommunityActivityLog"
          = render :partial => 'activity_logs/community_activity_log', :locals => {:item => item}
        - else
          %p= "I am not sure what to do with a #{item.class.name} yet."
