- actual_date ||= false
- display_curator ||= false
= link_to image_tag(item.user.logo_url(:small), :alt => I18n.t(:comment_show_posters_image_alt,
  :posters_name => h(item.user.full_name))), user_path(item.user), :class => 'avatar'
.details
  - if actual_date
    = item.data_object.created_at
  - else
    - time_ago = time_ago_in_words(item.data_object.created_at)
  %p
    - curator_level = ''
    - if !item.user.curator_level.nil? && display_curator
      - curator_level = " (" + item.user.curator_level.translated_label + ")"
    - name_with_link =  link_to(h(item.user.full_name), user_path(item.user)) + curator_level
    - if item.data_object.updated_at > item.data_object.created_at + 2.minutes # ...it's an update
      - if actual_date
        = item.data_object.updated_at
      - else
        - time_ago = time_ago_in_words(item.data_object.updated_at)
      = I18n.t(:activity_user_updated_text, :user => name_with_link, :object_name => link_to(item.data_object.summary_name, data_object_path(item.data_object)), :taxon_concept => link_to(item.taxon_concept.summary_name, taxon_overview_path(item.taxon_concept)))
    - else # ...it was created
      = I18n.t(:activity_user_created_text, :user => name_with_link, :object_name => link_to(item.data_object.summary_name, data_object_path(item.data_object)), :taxon_concept => link_to(item.taxon_concept.summary_name, taxon_overview_path(item.taxon_concept)))
  %blockquote{:cite => h(item.user.full_name)}
    -# TODO - Yeesh.  This is ending up blank, and I cannot figure out why.
    %p= item.data_object.description_teaser
  %p.meta
    - if actual_date
      = time_ago
    - else
      = I18n.t(:time_ago, :time_passed => time_ago)
  - if item.user
    %ul.actions
      %li.reply= link_to(I18n.t(:reply), data_object_path(item.data_object) + "#reply-to-UsersDataObject-#{item.id}", :'data-reply-to' => item.user.full_name, :'data-reply-to-type' => item.class.name, :'data-reply-to-id' => item.id)
