=I18n.t("this_area_shows_all_submission", :link => link_to(I18n.t("export_all_of_the_entries_as_a"), :action=>'export'))
%br
= form_tag({:action=>'index'},:method=>'get') do
  %select#contact_subject_id{ :name => "id" }
    %option{ :value => "*" }
      =I18n.t("all_count" , :count => @all_contacts_count)
    - for subject in @subjects
      %option{ :value => subject.id, :selected => subject.id.to_s == @contact_subject_id }
        = subject.title
        (
        = subject.contact_subject.contacts.count
        )
  %br
  =I18n.t("search_for_messages_containing")
  = text_field_tag(:comment_search_string,@comment_search_string)
  = submit_tag I18n.t("go")
  .divider
    #contacts
      - if @contacts.nil? == false && @contacts.size > 0
        =I18n.t("total_comments_have_been_submitted" ,:count => @contacts_count ,:string => @subject )
        - if @comment_search_string != ''
          =I18n.t("containing_value" , :value => @comment_search_string)
        %br
        %br
        %table.results_table{ :cellspacing => "0" }
          %tr
            %th
              =I18n.t("name")
            %th
              =I18n.t("email")
            %th
              =I18n.t("comments")
            - if @contact_subject_id == '*'
              %th
                =I18n.t("topic")
            %th
              =I18n.t(:date_caps)
            %th
              =I18n.t("taxon_group")
          - for contact in @contacts
            - column_class=cycle('odd','even')
            %tr
              %td{ :class => column_class }
                = h contact.name
              %td{ :class => column_class }
                = link_to contact.email,:contoller=>'/administrator/user',:action=>'send_message',:email=>contact.email,:name=>contact.name
              %td{ :class => column_class }
                = h contact.comments
              - if @contact_subject_id == '*'
                %td{ :class => column_class }
                  = contact.contact_subject.title
              %td{ :class => column_class }
                = format_date_time(contact.created_at)
              %td{ :class => column_class }
                = h contact.taxon_group
        %br
        = will_paginate @contacts
      - elsif @contacts.nil? == false && @contacts.size == 0
        =I18n.t("no_comments_are_available_for_subject", :subject => @subject)
        - if @comment_search_string != ''
          =I18n.t("containing_value", :value => @comment_search_string)
      - else
        / TODO - *seriously?!*
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
