= javascript_include_tag 'tree'
= stylesheet_link_tag 'tree'

#content{ "ng-app" => "eol", "ng-controller" => "navigate"}
  #sidebar
    %div{class: "panel-heading"}
      %h3{class: "panel-title", "ng-init" => "title = 'Select species on the left to view the img'; img= null; alt= ' ' "}
        = "{{title}}"
    %div{class: "panel-body"}
      %center
        %img{ src: "{{img}}" , alt: "{{alt}}" }
  #tree
    %ul.branch.head
      - for branch in @tree
        %li
          - tc  = TaxonConcept.find branch[:id] rescue nil
          = link_to  branch[:scientific_name], "",
            "ng-click" => "showImg('#{branch[:scientific_name]}', '#{branch[:thumbnail]}')"
          - unless branch['children'].blank?
            = link_to( "+" , "",
               "ng-click" => "expand($event, #{branch[:id]} )")
            %li{ id: "children_#{branch[:id]}"}


