%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          =I18n.t("comments_moderated")
      %td
        =I18n.t("moderator_colon")
        = h @user.full_name
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = link_to I18n.t("back_to_profile"), { :controller => 'users', :action => :show, :id => @user.id }

- if @comment_curation_actions.nil? == false && @comment_curation_actions.size > 0
  = will_paginate @comment_curation_actions
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          =I18n.t("type")
        %th
          =I18n.t("activity")
        %th
          =I18n.t("comment")
        %th
          =I18n.t("visible_title")
        %th
          =I18n.t("created")
        %th
          =I18n.t("updated")
    %tbody
      - count = 0
      - @comment_curation_actions.each do |curation_action|
        - row_class = cycle('odd','even')
        - count += 1
        - if curation_action.affected_comment.parent_type == "TaxonConcept"
          - concept = TaxonConcept.find(curation_action.affected_comment.parent_id)
          - name = concept.title
        - else
          - name = ""
        %tr
          %td{ :class => row_class }
            = curation_action.affected_comment.parent_type
            - if name
              %br
              = link_to name, { :controller => :taxa, :action => :show, :id => curation_action.affected_comment.parent_id }
          %td{ :class => row_class }
            = curation_action.activity.name
            = h format_date_time(curation_action.updated_at, :format=>'short_no_tz')
          %td{ :class => row_class }
            = curation_action.affected_comment.body
          %td{ :class => row_class }
            = h format_date_time(curation_action.affected_comment.visible_at, :format=>'short_no_tz')
          %td{ :class => row_class }
            = h format_date_time(curation_action.affected_comment.created_at, :format=>'short_no_tz')
          %td{ :class => row_class }
            = h format_date_time(curation_action.affected_comment.updated_at, :format=>'short_no_tz')
      %tr
        %td{ :colspan => "5" }
          = will_paginate @comment_curation_actions
