#content
  #profile_curator_info.site_column
    .article.copy
      = form_for @user, :builder => ApplicationHelper::EolFormBuilder do |f|
        = hidden_field_tag :return_to, edit_user_path(@user)
        = validation_errors_for(@user)
        %fieldset
          %dl

            %dt.required
              = f.label :given_name
              %small.assistive= I18n.t(:required_form_element)
            %dd
              = f.text_field :given_name
            %dt.required
              = f.label :family_name
              %small.assistive= I18n.t(:required_form_element)
            %dd
              = f.text_field :family_name

            %dt.curation_level
              = f.label :requested_curator_level_id
              %p= raw(I18n.t('helpers.label.user.requested_curator_level_id_more'))
            %dd
              = f.select :requested_curator_level_id, options_from_collection_for_select(@curator_levels, :id, :translated_label, @user.requested_curator_level_id || @user.curator_level_id)
              %p
                - unless @user.curator_level.blank?
                  = raw I18n.t('helpers.label.user.curator_level', :curator_level_with_indefinite_article => raw(I18n.t("curator_level_with_indefinite_article_#{@user.curator_level.translated_label.gsub(' ', '_').downcase}")))
                - unless @user.requested_curator_level.blank? || @user.errors.any?
                  = raw I18n.t('helpers.label.user.requested_curator_level', :curator_level_with_indefinite_article => raw(I18n.t("curator_level_with_indefinite_article_#{@user.requested_curator_level.translated_label.gsub(' ', '_').downcase}")))
              = f.hidden_field :curator_level_id, :value => @user.curator_level_id
            %dt
              = f.label :curator_scope
              %p= I18n.t('helpers.label.user.curator_scope_more')
            %dd
              = f.text_area :curator_scope
            %dt
              = f.label :credentials, raw(I18n.t('helpers.label.user.curation_priveleges_credentials'))
              %p= I18n.t('helpers.label.user.credentials_more')
              %ol
                %li= I18n.t('helpers.label.user.credentials_more_academic')
                %li= I18n.t('helpers.label.user.credentials_more_author')
                %li= I18n.t('helpers.label.user.credentials_more_professional')
                %li= I18n.t('helpers.label.user.credentials_more_successful_assistant_curator')
                %li= I18n.t('helpers.label.user.credentials_more_referral')
            %dd
              = f.text_area :credentials
          %fieldset.actions
            = f.submit I18n.t('helpers.submit.user.curation_privileges'), :name => :commit_curation_privileges_put
            = link_to I18n.t(:cancel), edit_user_path(@user)


