#profile_edit
  - form_for @user, :builder => ApplicationHelper::EolFormBuilder, :html => { :multipart => true } do |user_form|
    = validation_errors_for(@user)
    %fieldset.photo
      %h3= I18n.t(:users_form_photo_header)
      = image_tag @user.logo_url, :alt => ""
      %dl
        %dt
          = user_form.label :logo
        %dd
          = user_form.file_field :logo
    %fieldset.profile
      %h3= I18n.t(:users_form_profile_info_header)
      %dl
        %dt
          = user_form.label :username
        %dd
          = user_form.text_field :username
        %dt
          = user_form.label :given_name
        %dd
          = user_form.text_field :given_name
        %dt
          = user_form.label :family_name
        %dd
          = user_form.text_field :family_name
        %dt
          = user_form.label :tag_line
        %dd
          = user_form.text_field :tag_line
        %dt
          = user_form.label :bio
        %dd
          = user_form.text_area :bio

    %fieldset.account
      %h3= I18n.t(:users_form_account_header)
      %dl
        %dt
          = user_form.label :entered_password, I18n.t('helpers.label.user.new_password')
        %dd
          = user_form.password_field :entered_password, { :maxlength => 16 }
        %dt
          = user_form.label :entered_password_confirmation, I18n.t('helpers.label.user.new_password_confirmation')
        %dd
          = user_form.password_field :entered_password_confirmation, { :maxlength => 16 }
        %dt
          = user_form.label :email
        %dd
          = user_form.text_field :email, { :maxlength => 100 }
        %dt
          = I18n.t('helpers.label.user.mailing_list')
        %dd
          - user_form.label :mailing_list, :class => 'checkbox' do
            = user_form.check_box :mailing_list
            = I18n.t('helpers.label.user.mailing_list_yes')
        %dt
          = user_form.label :email_reports_frequency_hours
        %dd
          - select_options = [['Never', 0] , ['Daily', 1*24], ['Weekly', 7*24], ['Monthly', 30*24]]
          = user_form.select :email_reports_frequency_hours, select_options
        %dt
          = user_form.label :language_abbr
        %dd
          = user_form.select :language_abbr, Language.find_active.collect {|l| [l.source_form, l.iso_639_1]}
        - if @user.api_key
          %dt
            = I18n.t('activerecord.attributes.user.api_key')
          %dd
            %p= @user.api_key
            %p= I18n.t('helpers.label.user.api_key_more')
        - else
          %dt
            = I18n.t('helpers.label.user.generate_api_key')
            %p= I18n.t('helpers.label.user.generate_api_key_more', :api_docs_url => '/api/docs#api_key_section')
          %dd
            - content_tag :button , :name => :commit_generate_api_key do
              = I18n.t('helpers.submit.user.generate_api_key')

    %fieldset.actions
      = user_form.submit I18n.t('helpers.submit.user.update')
      = link_to I18n.t(:go_back), @user
