#content.session
  - form_for :user, :action => :forgot_password, :method => :post do |f|
    = f.hidden_field :email, :value => @users[0].email
    %fieldset
      %h1= I18n.t(:forgot_password_form_header)
      %p= I18n.t(:forgot_password_form_choose_username_instructions, :email => @users[0].email)
    %fieldset.radio
      %legend= I18n.t(:forgot_password_form_choose_username_legend)
      - @users.each_with_index do |user, i|
        %label{:for => "username_or_email_#{user.username}"}
          = f.radio_button :username_or_email, user.username
          = user.username
    %fieldset.actions
      = f.submit I18n.t('helpers.submit.user.forgot_password'), :name => :commit_choose_account
      = link_to  I18n.t(:forgot_password_form_cancel), login_path
