#content.session
  - form_for :user do |f|
    %fieldset
      %h1= I18n.t(:forgot_password_form_header)
      %dl
        %dt
          = f.label :username_or_email, I18n.t(:forgot_password_form_username_or_email_label)
        %dd
          = f.text_field :username_or_email

    %fieldset.actions
      = f.submit I18n.t(:forgot_password_form_submit)
      = link_to  I18n.t(:forgot_password_form_cancel) , :action => 'login'

