#content.session
  %h1= I18n.t(:forgot_password_form_header)
  %p= I18n.t(:multiple_users_forgot_password_message, :email => @users[0].email)
  - form_for(:user, :action => :forgot_password) do |f|
    %fieldset
      %legend= I18n.t(:form_reset_password_account_label)
      - @users.each_with_index do |user, i|
        %div
          = f.radio_button :username_or_email, user.username, :id => :"user_username_or_email_#{i+1}"
          = f.label :"username_or_email_#{i+1}", user.username

    %fieldset.actions
      = f.submit I18n.t(:forgot_password_form_submit)
      = link_to  I18n.t(:forgot_password_form_cancel) , :action => 'login'
