#content.session
  - form_for @user, :builder => ApplicationHelper::EolFormBuilder do |f|
    %fieldset
      %h1= I18n.t(:create_user_form_header)
      = validation_errors_for(@user)
      %dl
        %dt
          = f.label :username
        %dd
          = f.text_field :username, { :maxlength => 32 }
        %dt
          = f.label :email
        %dd
          = f.text_field :email, { :maxlength => 100 }
        %dt
          = f.label :entered_password
        %dd
          = f.password_field :entered_password, { :maxlength => 16 }
        %dt
          = f.label :entered_password_confirmation
        %dd
          = f.password_field :entered_password_confirmation, { :maxlength => 16 }
      - f.label :agreed_with_terms, :class => 'checkbox' do
        = f.check_box :agreed_with_terms
        = I18n.t('helpers.label.user.agreed_with_terms', :terms_url => terms_of_use_path)
    - if $ENABLE_RECAPTCHA
      %fieldset
        :javascript
          var RecaptchaOptions = { theme : 'clean'};
        %dl
          %dt
            %label{ :for => "recaptcha" }
              = I18n.t(:recaptcha)
          %dd
            = recaptcha_tags
    %fieldset.actions
      = f.submit I18n.t('helpers.submit.user.create')
      = link_to I18n.t(:already_a_member_question), login_path
