#content
  #profile_notifications.site_column
    .article.copy
      - form_for @user.notification, :url => update_notifications_user_path(@user), :builder => ApplicationHelper::EolFormBuilder do |f|
        %h3= "The following messages will be sent to you by email immediately unless you change your settings:"
        %p
          %table
            %tr
              %th= "Immediately"
              %th= "Daily"
              %th= "Never"
              %th.value= "Notification"
            %tr
              %td= f.radio_button :reply_to_comment, NotificationFrequency.immediately.id
              %td= f.radio_button :reply_to_comment, NotificationFrequency.daily.id
              %td= f.radio_button :reply_to_comment, NotificationFrequency.never.id
              %td.value
                A reply to a comment you made
            %tr
              %td= f.radio_button :comment_on_my_profile, NotificationFrequency.immediately.id
              %td= f.radio_button :comment_on_my_profile, NotificationFrequency.daily.id
              %td= f.radio_button :comment_on_my_profile, NotificationFrequency.never.id
              %td.value
                A comment on your profile
            %tr
              %td= f.radio_button :comment_on_my_contribution, NotificationFrequency.immediately.id
              %td= f.radio_button :comment_on_my_contribution, NotificationFrequency.daily.id
              %td= f.radio_button :comment_on_my_contribution, NotificationFrequency.never.id
              %td.value
                A comment and/or curatorial action on a contribution you made
            %tr
              %td= f.radio_button :comment_on_my_collection, NotificationFrequency.immediately.id
              %td= f.radio_button :comment_on_my_collection, NotificationFrequency.daily.id
              %td= f.radio_button :comment_on_my_collection, NotificationFrequency.never.id
              %td.value
                A comment on a collection you manage
            %tr
              %td= f.radio_button :comment_on_my_community, NotificationFrequency.immediately.id
              %td= f.radio_button :comment_on_my_community, NotificationFrequency.daily.id
              %td= f.radio_button :comment_on_my_community, NotificationFrequency.never.id
              %td.value
                A comment in a community you belong to (ack, preposition at end of sentence)
            - if false
              -# Note that this distinction is NOT stored in the DB, so we cannot really handle it, yet:
              %tr
                %td= f.radio_button :invitation_to_community, NotificationFrequency.immediately.id
                %td= f.radio_button :invitation_to_community, NotificationFrequency.daily.id
                %td= f.radio_button :invitation_to_community, NotificationFrequency.never.id
                %td.value
                  Invitation to join a community
            %tr
              %td= f.radio_button :made_me_a_manager, NotificationFrequency.immediately.id
              %td= f.radio_button :made_me_a_manager, NotificationFrequency.daily.id
              %td= f.radio_button :made_me_a_manager, NotificationFrequency.never.id
              %td.value
                You have been made a collection or community manager
            %tr
              %td= f.radio_button :member_joined_my_community, NotificationFrequency.immediately.id
              %td= f.radio_button :member_joined_my_community, NotificationFrequency.daily.id
              %td= f.radio_button :member_joined_my_community, NotificationFrequency.never.id
              %td.value
                A new member has joined a community that you manage

        %h3= "The following notifications are available to you on EOL but will not be sent to your email address unless you change your settings:"

        %p
          %table
            %tr
              %th= "Immediately"
              %th= "Daily"
              %th= "Never"
              %th.value= "Notification"
            %tr
              %td= f.radio_button :comment_on_my_watched_item, NotificationFrequency.immediately.id
              %td= f.radio_button :comment_on_my_watched_item, NotificationFrequency.daily.id
              %td= f.radio_button :comment_on_my_watched_item, NotificationFrequency.never.id
              %td.value
                Comments on objects, taxa, collections, or communities in your watchlist
            %tr
              %td= f.radio_button :curation_on_my_watched_item, NotificationFrequency.immediately.id
              %td= f.radio_button :curation_on_my_watched_item, NotificationFrequency.daily.id
              %td= f.radio_button :curation_on_my_watched_item, NotificationFrequency.never.id
              %td.value
                Curator actions on objects, taxa, collections, or communities in your watchlist
            %tr
              -# I imagine this includes: new associations, new data objects (UDOs), names... and possibly new
              -# revisions of data objects.  I don't think this includes changing exemplar images...
              %td= f.radio_button :new_data_on_my_watched_item, NotificationFrequency.immediately.id
              %td= f.radio_button :new_data_on_my_watched_item, NotificationFrequency.daily.id
              %td= f.radio_button :new_data_on_my_watched_item, NotificationFrequency.never.id
              %td.value
                New contributions to taxa in your watchlist
            %tr
              -# (this could be both for descriptions and for items)
              %td= f.radio_button :changes_to_my_watched_collection, NotificationFrequency.immediately.id
              %td= f.radio_button :changes_to_my_watched_collection, NotificationFrequency.daily.id
              %td= f.radio_button :changes_to_my_watched_collection, NotificationFrequency.never.id
              %td.value
                Changes have been made to collections in your watchlist
            %tr
              %td= f.radio_button :changes_to_my_watched_community, NotificationFrequency.immediately.id
              %td= f.radio_button :changes_to_my_watched_community, NotificationFrequency.daily.id
              %td= f.radio_button :changes_to_my_watched_community, NotificationFrequency.never.id
              %td.value
                Changes have been made to communities in your watchlist
            %tr
              %td= f.radio_button :member_joined_my_watched_community, NotificationFrequency.immediately.id
              %td= f.radio_button :member_joined_my_watched_community, NotificationFrequency.daily.id
              %td= f.radio_button :member_joined_my_watched_community, NotificationFrequency.never.id
              %td.value
                New members have joined a community where you are a member
            %tr
              %td= f.radio_button :member_left_my_community, NotificationFrequency.immediately.id
              %td= f.radio_button :member_left_my_community, NotificationFrequency.daily.id
              %td= f.radio_button :member_left_my_community, NotificationFrequency.never.id
              %td.value
                Members have left a community you manage
            %tr
              %td= f.radio_button :new_manager_in_my_community, NotificationFrequency.immediately.id
              %td= f.radio_button :new_manager_in_my_community, NotificationFrequency.daily.id
              %td= f.radio_button :new_manager_in_my_community, NotificationFrequency.never.id
              %td.value
                Another member has become a manager of a community you manage
            %tr
              %td= f.radio_button :i_am_being_watched, NotificationFrequency.immediately.id
              %td= f.radio_button :i_am_being_watched, NotificationFrequency.daily.id
              %td= f.radio_button :i_am_being_watched, NotificationFrequency.never.id
              %td.value
                You have been added to another member's watchlist
          %fieldset.actions
            = f.submit "save notification settings", :name => :commit_curation_privileges_put
            = link_to I18n.t(:cancel), edit_user_path(@user)
