#recover_account
  %h1= t(".form_header")
  - form_for :user do |f|
    %fieldset
      %p= t(".form_tip")
      %dl
        %dt
          = f.label :email
        %dd
          = f.text_field :email
    %fieldset.actions
      = f.submit I18n.t('helpers.submit.user.recover_account')
      = link_to  I18n.t('helpers.submit.cancel'), login_path

