#recover_account_connections
  - form_for :user, :action => :recover_account_connections, :method => :post do |f|
    = f.hidden_field :email, :value => @users[0].email
    %fieldset
      %h1= t(".form_header")
      %p= t(".form_tip", :email => @users[0].email)
    %fieldset.radio
      %legend= t(".legend_choose_account")
      - @users.each_with_index do |user, i|
        %label{:for => "given_name_#{user.given_name}"}
          = f.radio_button :given_name, user.given_name
          = link_to user.full_name, user
    %fieldset.actions
      = f.submit I18n.t('helpers.submit.user.recover_account_connections'), :name => :commit_choose_account
      = link_to  I18n.t('helpers.submit.cancel'), login_path

