#profile_info.main_container
  - unless @user.bio.blank?
    .article
      .header
        %h3= I18n.t(:users_about_me_header)
      .copy
        %p= allow_some_html @user.bio
  .article.half.info
    .header
      %h3= I18n.t(:users_my_info_header)
    %dl
      %dt= I18n.t('activerecord.attributes.user.full_name')
      %dd= h @user.full_name
      %dt= I18n.t('activerecord.attributes.user.username')
      %dd= h @user.username
  .article.half.list
    .header
      %h3= I18n.t(:users_member_of_count_communities, :count => @user.members.size)
    - unless @user.members.blank?
      %ul
        - @user.members.each do |member|
          - if community = member.community
            %li= link_to h(community.name), community
