#page-separator-general
#user_show.clearfix
  = link_to I18n.t("_go_back_"), :back
  - if @user == current_user
    = link_to I18n.t("_edit_"), profile_path
  #about
    %h1
      = h @user.full_name
    - if @user.is_curator?
      %p
        = @user.curator_scope
    %p
      "
      = h @user.username
      =I18n.t("__joined")
      = format_date(@user.created_at)
  - if @user.is_curator?
    #activity
      %h3
        =I18n.t("activity")
      %p
      %table
        %thead
        %tbody
          %tr{ :class => cycle('odd','even', :name => 'account') }
            %td
              =I18n.t("objects_curated")
            %td
              = link_to @user.total_data_objects_curated, { :controller => 'users', :action => :objects_curated, :id => @user.id }
          %tr{ :class => cycle('odd','even', :name => 'account') }
            %td
              =I18n.t("comments_moderated")
            %td
              = link_to @user.total_comments_curated, { :controller => 'users', :action => :comments_moderated, :id => @user.id }
          %tr{ :class => cycle('odd','even', :name => 'account') }
            %td
              =I18n.t("species_curated")
            %td
              = link_to @user.total_species_curated, { :controller => 'users', :action => :species_curated, :id => @user.id }
          %tr{ :class => cycle('odd','even', :name => 'account') }
            %td
              =I18n.t("user_submitted_text")
            %td
              = link_to @user_submitted_text_count, { :controller => 'administrator/user_data_object', :action => :index, :user_id => @user.id }
    #credentials
      %h3
        =I18n.t("credentials")
      = @user.credentials.blank? ? I18n.t("none_provided") : allow_some_html(@user.credentials)
  #communities
    %h3
      = I18n.t(:eol_communities) 
    - if @user.members.blank?
      %p=  I18n.t(:user_has_no_communities) 
    - else
      %ul{:id => 'user_communities'}
      - @user.members.each do |member|
        - if community = member.community
          %li= link_to(h(community.name), community)
