%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          =I18n.t("species_curated")
      %td
        =I18n.t("curator_colon") 
        = h @user.full_name  
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        = link_to I18n.t("back_to_profile"), { :controller => 'users', :action => :show, :id => @user.id }
         
- if @taxon_concept_ids.nil? == false && @taxon_concept_ids.size > 0
  = will_paginate @taxon_concept_ids 
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          =I18n.t("taxon_id")
        %th
          =I18n.t("scientific_name")
    %tbody
      - count = 0
      - @taxon_concept_ids.each do |id|
        - row_class = cycle('odd','even')
        - count += 1
        - if id then
          - concept = TaxonConcept.find(id)
          - name = concept.title
        - else
          - name=""    
        %tr
          %td{ :class => row_class }
            = id 
          %td{ :class => row_class }
            %i
              = link_to name,{ :controller => :taxa, :action => :show, :id => id } 

      %tr
        %td{ :colspan => "5" }
          = will_paginate @taxon_concept_ids
