%p
  =I18n.t("you_may_upload_static_files_fo")
  =I18n.t("note_that_it_may_take_a_few_mi")
%br
= link_to(I18n.t("add_a_new_file_brackets"), :action => 'new')
%br
#content
  %form
    - if @content_uploads.blank?
      = I18n.t(:no_uploaded_content_is_available)
    - else
      = will_paginate @content_uploads
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("description")
          %th
            =I18n.t("full_content_url")
          %th
            =I18n.t("friendly_url")
          %th
            =I18n.t("uploaded_on")
          %th
            =I18n.t("uploaded_by")
        - for content in @content_uploads
          - column_class = cycle('odd', 'even')
          %tr
            %td{ :class => column_class }
              = link_to(h(content.description), :action => 'edit', :id => content.id)
            %td{ :class => column_class }
              = link_to(content.content_server_url, content.content_server_url)
            %td{ :class => column_class }
              = link_to(content.attachment_url, content.attachment_url)
            %td{ :class => column_class }
              = format_date(content.created_at) unless content.created_at.nil?
            %td{ :class => column_class }
              = link_to(content.user.username, :controller => 'administrator/user', :action => 'edit', :id => content.user_id)
      %br
      = will_paginate @content_uploads
