= form_for @content_upload,:url => {:action=>'create'},:html=>{ :method => :post, :multipart => true,:id=>'page_form'} do |f|
  = eol_lang_error_messages_for :content_upload
  %br
  %table
    = render 'form', {:f=>f}
    %tr
      %td
        %strong
          =I18n.t(:file)
      %td
        Sorry, this has been disabled because of a security vulnerability. Ask your admin for details.
        %br
        =I18n.t(:content_upload_restrictions_note)
  %br
  %br
  = cancel_button_goes_back(url_for(:action=>'index'))
  &#124;
  = f.submit I18n.t(:upload)
