- form_for :content_upload,@content_upload,:url => {:action=>'create'},:html=>{ :method => :post, :multipart => true,:id=>'page_form'} do |f|
  = eol_lang_error_messages_for :content_upload
  %br
  %table
    = render :partial => 'form', :locals => {:f=>f}
    %tr
      %td
        %strong
          File:
      %td
        = f.file_field :attachment, :size=>50
        %br
        (must be less than 5 MB in size, file will be stored as uploaded, i.e. no resizing of images will be performed)
  %br
  %br
  %input#cancel{ :name => "Cancel", :type => "button", :value => "Cancel", :onclick => "document.location.href='#{url_for(:action=>'index')}';" }
  |
  = f.submit 'Upload'
