<!--[if IE]>
 <iframe width="<%=width%>" height="<%=height%>" src="<%=url%>">
   <p>Your browser does not support iframes and the content cannot be displayed.</p>
 </iframe>
<![endif]-->
<!--[if !IE]> <-->
<object type="text/html" width="<%=width%>" height="<%=height%>" data="<%=url%>">
  <p>The content could not be displayed.</p>
</object>
<!--> <![endif]-->