- search_result = nil unless defined?(search_result)
- if search_result
  - if search_result['top_image_instance']
    = link_to image_tag(search_result['top_image_instance'].thumb_or_object('88_88')), taxon_overview_path(item)
- elsif item.best_image
  = link_to image_tag(item.best_image.thumb_or_object('88_88')), taxon_overview_path(item)
%span.icon{:title => I18n.t(:item_type_taxon_assistive)}
%small= item.entry.preferred_classification_summary
%h4= link_to item.title_canonical, taxon_overview_path(item)
- subtitle = item.preferred_common_name_in_language(Language.english)
- unless subtitle.blank?
  = subtitle.firstcap
- # we need the search result object, and the best match can't be in the title or subtitle
- unless search_result.nil? || |
  item.title_canonical.downcase.match(Regexp.escape(@querystring.downcase)) || |
  item.title_canonical.downcase.match(Regexp.escape(search_result['best_keyword_match'].downcase)) || |
  (subtitle && subtitle.downcase.match(Regexp.escape(@querystring.downcase))) || |
  (subtitle && subtitle.downcase.match(Regexp.escape(search_result['best_keyword_match'].downcase))) |
  - unless subtitle.blank?
    %br
  %strong
    = search_result['keyword_type'].titleize + ": "
  = search_result['best_keyword_match'].firstcap
= "    : " + search_result['score'].to_s
