- search_result = nil unless defined?(search_result)
- if item.taxon_concept_content && item.taxon_concept_content.image_object
  = link_to image_tag(item.taxon_concept_content.image_object.thumb_or_object('88_88')), taxon_overview_path(item)
%span.icon{:title => I18n.t(:item_type_taxon_assistive)}
%small= item.entry.preferred_classification_summary
%h4= link_to item.title_canonical, taxon_overview_path(item)
- subtitle = item.preferred_common_name_in_language(Language.english)
- unless subtitle.blank?
  = subtitle.firstcap
- # we need the search result object, and the best match can't be in the title or subtitle
- if search_result || @querystring # This was a search result... perhaps we should be more intelligent about this.
  - querystring = @querystring.blank? ? "" : @querystring.downcase
  - best_keyword_match = search_result['best_keyword_match'].blank? ? "" : search_result['best_keyword_match'].downcase
  - unless search_result.nil? || |
    item.title_canonical.downcase.match(Regexp.escape(querystring)) || |
    item.title_canonical.downcase.match(Regexp.escape(best_keyword_match)) || |
    (subtitle && subtitle.downcase.match(Regexp.escape(querystring))) || |
    (subtitle && subtitle.downcase.match(Regexp.escape(best_keyword_match))) |
    - unless subtitle.blank?
      %br
    %strong
      = search_result['keyword_type'].titleize + ": "
    = search_result['best_keyword_match'].firstcap
  = "    : " + search_result['score'].to_s
