-# NOTE on cache ... These never need to expire.  If ANYTHING changes in a data object, we create a new version of it
-# and link it to the previous version with a GUID... so the "raw" ID will always always be the same.  This is also
-# true of user-submitted text.  memcached should handle deleting the keys that don't get used, as part of its own GC
-# routines.  ...So we're going to try this out for articles for a while... it should speed up some of the common
-# text-heavy collections and search results.  That said, there is one caveat:
-# if the dato gets more associations, it will not show them.  TODO - attempt to set up an observer to handle those.
- view_style ||= 'default'
- cache "article/summary/#{view_style}/#{I18n.locale}/#{item.id}" do
  - unless view_style == 'list'
    = link_to content_tag(:span, '', {:class => 'icon', :title => I18n.t(:item_type_article_assistive)}), data_object_path(item)
  %h4
    = link_to item.collected_name.truncate_html(:length => 64), data_object_path(item)
    - if view_style == 'list' && @filter.nil?
      %small= I18n.t(:item_type_article)
  - unless ['gallery','list'].include?(view_style)
    - if he = item.first_hierarchy_entry(:include_preview_entries => true)
      - secondary_title = I18n.t(:description_of) + ' ' + he.name.canonical_form.string
    - if item.data_object_taxa(:published).length > 1
      - secondary_title += ' ' + I18n.t(:and) + ' ' + I18n.t(:other_taxa_with_count, :count => item.data_object_taxa(:published).length - 1)
    - if secondary_title.blank? && udo = item.users_data_object
      - secondary_title = I18n.t(:description_of) + ' ' + udo.taxon_concept.entry.name.canonical_form.string rescue ""
    - unless secondary_title.blank?
      = link_to secondary_title, data_object_path(item)
      %br
    = raw(item.description_teaser)
