- search_result = nil unless defined?(search_result)
- if item.taxon_concept_content && item.taxon_concept_content.image_object
  = link_to image_tag(item.taxon_concept_content.image_object.thumb_or_object('88_88')), taxon_overview_path(item)
%span.icon{:title => I18n.t(:item_type_taxon_assistive)}
%small= item.entry.preferred_classification_summary
%h4= link_to item.title_canonical, taxon_overview_path(item)
- subtitle = item.preferred_common_name_in_language(Language.english)
- unless subtitle.blank?
  = subtitle.firstcap
- unless item.entries.blank?
  %small
    - item.entries.each do |he|
      %p
        - if he.hierarchy.agent.homepage.blank?
          = he.hierarchy.agent.full_name
        - else
          = link_to he.hierarchy.agent.full_name, he.hierarchy.agent.homepage
        - if data_object.association_for_taxon_concept(item).nil?
          = link_to I18n.t(:add_association_submit_button), { :controller => "data_objects", :action => :save_association, :id => data_object.id, :hierarchy_entry_id => he.id }, :class => 'button'
        - else
          - unless data_object.association_for_hierarchy_entry(he).nil?
            = link_to I18n.t(:associated_submit_button), data_object_path(data_object), :class => 'button'