- view_style ||= 'default'
- unless view_style == 'list'
  = link_to image_tag(item.logo_url(:small), :alt => I18n.t(:profile_image_alt_text_member, :user_full_name => item.full_name)), user_path(item)
- unless ['gallery','list'].include?(view_style)
  = link_to content_tag(:span, '', {:class => 'icon', :title => I18n.t(:item_type_person_assistive)}), user_path(item)
%h4
  = link_to h(truncate(item.full_name, :length => 64)), user_path(item)
  - if view_style == 'list' && @filter.nil?
    %small= I18n.t(:item_type_person)
- unless ['gallery','list'].include?(view_style)
  = link_to raw([ h(item.username), sanitize(item.tag_line).balance_tags ].compact.join('<br/>')), user_path(item)
