<% form_tag(search_url, :method=>'get', :onsubmit=>"return EOL.validate_search_parameters(this,false);") do -%>
  <div class="search_box">
    <fieldset>
      <%= text_field_tag :q, @querystring || '',{:size=>'20',:maxlength=>'250',:onfocus=>"EOL.clear_search_field(this);",:class=>"left"} %>
      &nbsp;<input name="search_image" class="search_image"   value="" title="<%="Find"[]%>" type="submit"  />
      <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;', :id => "top_search_spinner")%>
    </fieldset>
  </div>
  <div class="search_options">
    <%= render :partial=>'shared/google_custom_search_params'%>
    <%= radio_button_tag('search_type', 'text',   (['text',nil].include? @search_type)) %> Names
    <%= radio_button_tag('search_type', 'tag',    @search_type == 'tag') %> Tags
    <%= radio_button_tag('search_type', 'google', @search_type == 'google') %> Full-text
  </div>
  <span id="search_message"></span>
<% end %>
