- content.each do |dato|
  - item_status_class, item_status_label = dato.status_class_and_label_by_taxon_concept(@taxon_concept)
  %div{:id => "data_object_#{dato.id}", :class => 'article'}
    %h4
      - unless dato.object_title.blank?
        = link_to dato.object_title, dato.source_url
      - else
        = auto_link(dato.source_url)
    %br/
    = raw(Sanitize.clean(auto_link(dato.description).balance_tags, Sanitize::Config::RELAXED).allow_some_html)
    %br/
    %p.flag{:class => item_status_class }= item_status_label
    .learn_more
      - date = I18n.l(dato.created_at.to_date, :format => :long)
      - if dato.toc_items && label = dato.toc_items.first.label
        = I18n.t(:filed_under_label_with_date, :label => label, :date => date)
      - else
        = date
      &bull;
      = link_to I18n.t("link_more_about"), data_object_path(dato)
