-# TODO - why is this so inconsistent? We're checking instance variables and @taxon_page... why not just one?
#tabs_sidebar
  %ul.tabs
    %li{data: { name: 'about' }, :class => resource_is_active('index')}
      = link_to I18n.t(:about_resources), taxon_resources_path(@taxon_page, subtab: 1), remote: true
    %li{data: { name: 'partner_links' }, :class => "end_section #{resource_is_active('partner_links')}"}
      = link_to I18n.t(:taxon_partner_links_link), partner_links_taxon_resources_path(@taxon_page), remote: true
    - unless @news_and_event_links_contents.blank?
      %li{data: { name: 'news_and_event_links' }, :class => resource_is_active('news_and_event_links')}
        = link_to I18n.t(:taxon_news_and_event_links_link), news_and_event_links_taxon_resources_path(@taxon_page)
    - unless @education_contents.blank?
      %li{data: { name: 'education' }, :class => resource_is_active('education')}
        = link_to I18n.t(:taxon_education_link), education_taxon_resources_path(@taxon_page)
    - unless @citizen_science_contents.blank?
      %li{data: { name: 'citizen_science' }, :class => resource_is_active('citizen_science')}
        = link_to I18n.t(:taxon_citizen_science_link), citizen_science_taxon_resources_path(@taxon_page)
    - if @taxon_page.has_ligercat_entry?
      %li{data: { name: 'biomedical_terms' }, :class => resource_is_active('biomedical_terms')}
        = link_to I18n.t(:taxon_biomedical_terms_link), biomedical_terms_taxon_resources_path(@taxon_page)
    - unless @identification_contents.blank?
      %li{data: { name: 'identification_resources' }, :class => resource_is_active('identification_resources')}
        = link_to I18n.t(:taxon_identification_resources_link),
          identification_resources_taxon_resources_path(@taxon_page), remote: true
    - unless @taxon_page.nucleotide_sequences_hierarchy_entry_for_taxon.blank?
      %li{data: { name: 'nucleotide_sequences' }, :class => resource_is_active('nucleotide_sequences')}
        = link_to I18n.t(:taxon_nucleotide_sequences_link), nucleotide_sequences_taxon_resources_path(@taxon_page)
    - unless @related_organizations_contents.blank?
      %li{data: { name: 'related_organizations' }, :class => resource_is_active('related_organizations')}
        = link_to I18n.t(:taxon_related_organizations_link), related_organizations_taxon_resources_path(@taxon_page)
    - unless @multimedia_links_contents.blank?
      %li{data: { name: 'multimedia_links' }, :class => resource_is_active('multimedia_links')}
        = link_to I18n.t(:taxon_multimedia_links_link), multimedia_links_taxon_resources_path(@taxon_page)
