= javascript_include_tag "taxonomy"
#content
  #taxon_resources.site_column
    = render :partial => 'resources_menu'
    #taxon_detail
      #main.main_container
        %h3= I18n.t(:identification_resources)
        .section
          - unless @contents.blank?
            = render :partial => 'taxa/details/category_content', :locals => { :content => @contents }
          - else
            .article
              .empty
                %p= I18n.t(:identifcation_resources_empty)
