- content_for :social_sharing do
  = render 'shared/social_sharing'
#taxon_resources
  = render 'menu'
  #taxon_detail
    #main.main_container
      %h3= I18n.t(:taxon_identification_resources_header)
      .section
        - unless @contents.blank?
          = render 'taxa/details/category_content', { content: @contents }
        - else
          .empty
            %p= I18n.t(:taxon_identification_resources_empty)
            %p= link_to I18n.t(:add_identification_resources_to_page_link_button), new_taxon_data_object_path(@taxon_concept, toc: @add_article_toc_id), class: 'button'
