= javascript_include_tag "taxonomy"
#content
  #taxon_literature.site_column
    = render :partial => 'resources_menu'
    .main_container.copy
      #taxon_detail
        #main
          %h2= I18n.t(:identification_resources)
          .section
          - unless @contents.blank?
            = render :partial => 'taxa/details/category_content', :locals => { :content => @contents }
          - else
            = I18n.t(:identifcation_resources_empty)
