EOL.prep_flashes();
$('div#flashes p').fadeOut('slow', function() { $(this).remove(); } );
// If this is the overview (you can only remove from here):
var $summary = $('#data_summary span#<%= @taxon_data_exemplar.parent.anchor %>');
if($summary.length > 0) {
  $summary.remove();
  $('div#flashes').append("<p class='status notice'><%= escape_javascript I18n.t(:data_row_exemplar_removed) %></p>");
}
// If this is the data tab:
var $row = $('tr#<%= @taxon_data_exemplar.parent.anchor %>');
if($row.length > 0) {
  var $additional = $row.next().find('div.additional_commands');
  <% if @taxon_data_exemplar.exclude? %>
    $row.find('> th').removeClass('exemplar').addClass('excluded');
    $additional.find('a.remove_exemplar').hide();
    var $add = $additional.find('a.add_exemplar');
    if($add.length > 0) {
      $add.show();
    } else {
      $additional.append("<%= escape_javascript link_to(I18n.t(:data_row_add_exemplar_button), taxon_data_exemplars_path(id: @taxon_data_exemplar.parent.id, type: @taxon_data_exemplar.parent.class.name, taxon_concept_id: @taxon_data_exemplar.taxon_concept_id), method: :post, class: 'add_exemplar button', remote: true) %>");
    }
    $additional.find('span.note').show(); // Won't always work, but might as well do it when it's low-hanging fruit.
    $('div#flashes').append("<p class='status notice'><%= escape_javascript I18n.t(:data_row_exemplar_removed) %></p>");
  <% else %>
    $row.find('> th').removeClass('excluded').addClass('exemplar');
    $additional.find('a.add_exemplar').hide()
    var $remove = $additional.find('a.remove_exemplar');
    if($remove.length > 0) {
      $remove.show();
    } else {
      $additional.append("<%= escape_javascript link_to(I18n.t(:data_row_remove_exemplar_button), taxon_data_exemplars_path(id: @taxon_data_exemplar.parent.id, type: @taxon_data_exemplar.parent.class.name, taxon_concept_id: @taxon_data_exemplar.taxon_concept_id, exclude: true), method: :post, class: 'remove_exemplar button', remote: true) %>");
    }
    $additional.find('span.note').hide();
    $('div#flashes').append("<p class='status notice'><%= escape_javascript I18n.t(:data_row_exemplar_added) %></p>");
  <% end %>
}
