- content_for :social_sharing do
  = render 'shared/social_sharing'
.site_column#taxon_maps
  - if ! @taxon_concept.json_map? && @maps.blank?
    .empty
      %p= I18n.t(:maps_empty)
      %p= link_to I18n.t(:maps_empty_contribute_instructions), cms_page_path('partners')
  - if @taxon_concept.json_map?
    #map
      = render 'json_map'
  - unless @maps.blank?
    #media_list
      .article
        .header
          %h3= I18n.t(:maps_image_maps_header)
      #main
        %ul.media
          - @maps.each_with_index do |item, index|
            - item_status_class, item_status_label = status_class_and_label_for_data_object(item)
            %li{class: "#{index.modulo(4) == 0 ? 'first' : nil} #{item_status_class}"}
              = item.best_title
              .figure
                %a{ data: { data_object_id: item.id }, class: item_status_class, href: data_object_path(item) }
                  = render "data_objects/data_object_image",
                    { data_object: item, thumbnail: true, size: '260_190' }
              = render 'data_objects/rating', { data_object: item, minimal: true }
              %p.flag{class: item_status_class }= item_status_label
              = render 'shared/add_to_my_collection', { item: item, my_collection: current_user.watch_collection }
