%div{"data-role"=>"header", "data-position"=>"fixed", "data-theme"=>"a"}
  =link_to t("mobile.contents.home"), mobile_contents_path, "data-icon"=>"home", "data-direction"=>"reverse"
  %h1=t "mobile.contents.home"

%div{"data-role"=>"content"}
  %form{"action"=>"#{mobile_search_path}", "method"=>"get"}
    %div#search_field_container{"data-role"=>"fieldcontain"}
      %input{"type"=>"search","name"=>"mobile_search","id"=>"search_field","value"=>""}

  - unless @suggestions.blank?
    .suggestions
      %h2= t "mobile.search.suggestions"
      = I18n.t(:did_you_mean, :suggestions => @suggestions.map{ |s| link_to s.firstcap, mobile_search_path(:mobile_search => s) }.join(", "))
  - if @all_results.blank?
    %h2=t "mobile.search.no_results_found"
  - unless @all_results.blank?
    // TO-DO clean up and show only taxon related info
    %h2=t "mobile.search.results"
    .header
      - start_number = (@all_results.current_page - 1) * @all_results.per_page + 1
      - end_number = [ (start_number + @all_results.per_page - 1), @all_results.total_entries ].min
      %h3= I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number, :total => @all_results.total_entries)
      = will_paginate @all_results, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next), :inner_window => 2, :outer_window => 2
      %ul{"data-role" => "listview", "data-inset"=>"true"}
        - @all_results.each do |result|
          %li.result_item
            - result_instance = result['instance']
            -unless result_instance.nil?
              - first_image = result_instance.media.select {|m| m.image?}.first
              %a{:href => mobile_taxon_path(result_instance.id)}
                = image_tag((first_image.blank? ? "/images/v2/icon_taxon.png" : first_image.smart_thumb), :alt => result_instance.title_canonical, :class => "listview_thumb")
                %h3=result_instance.title_canonical
                %p=result_instance.entry.preferred_classification_summary

    .footer
      = will_paginate @all_results, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
        :inner_window => 4, :outer_window => 5