= eol_lang_error_messages_for :contact_subject
%br
=I18n.t(:edit_the_topic_area_intro)
%strong
  =I18n.t(:topic_area)
=I18n.t(:shown_to_the_user_parens)
%br
= f.text_field :title,{:size=>'70',:maxlength=>'250'}
%br
%br
%strong
  =I18n.t(:email_recipients)
=I18n.t(:sep_emails_with_commas_note)
= f.text_field :recipients,{:size=>'70',:maxlength=>'150'}
%br
%br
%strong
  =I18n.t(:active_colon)
= f.check_box :active
%br
%br
= cancel_button_goes_back('/administrator/contact_subject/index')
&#124;
= f.submit
