= eol_lang_error_messages_for :contact_subject
%br
=I18n.t("edit_the_topic_area_and_email_")
%strong
  =I18n.t("topic_area__")
=I18n.t("_shown_to_the_user_")
%br
= f.text_field :title,{:size=>'70',:maxlength=>'250'}
%br
%br
%strong
  =I18n.t("email_recipients_")
=I18n.t("_separate_multiple_email_addre")
= f.text_field :recipients,{:size=>'70',:maxlength=>'150'}
%br
%br
%strong
  =I18n.t("active_")
= f.check_box :active
%br
%br
= cancel_button_goes_back('/administrator/contact_subject/index')
|
= f.submit
