%br
= link_to I18n.t("add_a_new_topic_area"), :action => 'new'
%br
#contact_us_topics
  - unless @translated_contact_subjects.nil?
    =I18n.t("the_following_topic_areas_are_")
    %br
    %br
    %table.results_table{ :cellspacing => "0" }
      %tr
        %th
          =I18n.t("topic_area_")
        %th
          =I18n.t("recipients")
        %th
          =I18n.t("active")
        %th
          =I18n.t("action")
      - for tcs in @translated_contact_subjects
        - column_class = cycle('odd', 'even')
        %tr
          %td{ :class => column_class }
            = h tcs.title
          %td{ :class => column_class }
            = h tcs.contact_subject.recipients
          %td{ :class => column_class }
            = h tcs.contact_subject.active
          %td{ :class => column_class }
            = link_to I18n.t("_edit_"), :action => 'edit', :id => tcs.contact_subject_id
