-# TODO - It probably shouldn't be THAT different for a selected hierarchy entry view and a regular taxon view.
-# Figure out why there's so much extra, here.
- if @taxon_page.classifcation_filter?
  = render(:partial => 'taxa/classification_tree')
- else
  - classifications_count = @taxon_page.hierarchy_entries.length
  #classification_tree.article
    .header
      - if @taxon_page.classification_curated?
        %h3= I18n.t(:classification_summary_section_header)
      - else
        %h3= I18n.t(:classifications_summary_header_with_count, :count => classifications_count)
        - if classifications_count > 1
          = link_to(raw(I18n.t(:see_all_classifications_with_count_html, :count => classifications_count)), taxon_names_path(@taxon_page))
    - if @taxon_page.classification_curated?
      .meta.curated
        - if classifications_count > 1
          = raw(I18n.t(:classification_from_agent_chosen_by_curator_see_more, :agent => hierarchy_display_title(@taxon_page.classification), :curator => link_to(@taxon_page.classification_chosen_by.full_name, user_path(@taxon_page.classification_chosen_by.id)), :more_link => taxon_names_path(@taxon_page)))
        - else
          = raw(I18n.t(:classification_from_agent_chosen_by_curator, :agent => hierarchy_display_title(@taxon_page.classification), :curator => link_to(@taxon_page.classification_chosen_by.full_name, user_path(@taxon_page.classification_chosen_by.id))))
    - if @taxon_page.classification_entry
      #classification_browser.browsable.classifications
        = render(:partial => 'navigation/node', :locals => { :hierarchy_entry => @taxon_page.classification_entry, :link_to_taxa => true, :show_siblings => true, :show_hierarchy_label => !@taxon_page.classification_curated? })
    - else # TODO - is it even possible to have NO classification?  If not, remove this.
      .empty
        %p= I18n.t(:classifications_empty)
