- if @selected_hierarchy_entry
  = render(:partial => 'taxa/classification_tree')
- else
  - classifications_count = @browsable_hierarchy_entries.length
  - if preferred_classification = @taxon_concept.curator_chosen_classification
    #classification_tree.article
      - hierarchy_entry = preferred_classification.hierarchy_entry
      .header
        %h3= I18n.t(:classification_summary_section_header)
      .meta.curated
        - if classifications_count > 1
          - more_link = taxon_names_path(@taxon_concept)
          - if @selected_hierarchy_entry
            - more_link = taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry)
          = I18n.t(:classification_from_agent_chosen_by_curator_see_more, :agent => hierarchy_display_title(hierarchy_entry.hierarchy), :curator => link_to(preferred_classification.user.full_name, user_path(preferred_classification.user_id)), :more_link => more_link)
        - else
          = I18n.t(:classification_from_agent_chosen_by_curator, :agent => hierarchy_display_title(hierarchy_entry.hierarchy), :curator => link_to(preferred_classification.user.full_name, user_path(preferred_classification.user_id)))
      #classification_browser.browsable.classifications
        %ul
          = render(:partial => 'taxa/trees/show', :locals => {:in_hierarchy => true, :hierarchy_entry => hierarchy_entry, :link_to_taxa => true, :show_siblings => true})
  - else
    #classifications_tree.article
      .header
        -# NOTE that there is an exceptional value for :classifications_summary_header_with_count when the count is
        -# zero.  ...See the translation file for specifics, but it basically says that there is no *browsable*
        -# classification available.
        %h3= I18n.t(:classifications_summary_header_with_count, :count => classifications_count)
        - if classifications_count > 1
          - if @selected_hierarchy_entry
            = link_to(I18n.t(:see_all_classifications_with_count_html, :count => classifications_count), taxon_entry_names_path(@taxon_concept, @selected_hierarchy_entry))
          - else
            = link_to(I18n.t(:see_all_classifications_with_count_html, :count => classifications_count), taxon_names_path(@taxon_concept))
      - if classifications_count > 0 || @taxon_concept.deep_published_nonbrowsable_hierarchy_entries.count > 0 || @taxon_concept.entry
        #classification_browser
          %ul
            - hierarchy_entry = @browsable_hierarchy_entries.shuffle.first
            -# Please note that #deep_published_nonbrowsable_hierarchy_entries IS cached, so not really called twice.
            - hierarchy_entry ||= @taxon_concept.deep_published_nonbrowsable_hierarchy_entries.shuffle.first
            - hierarchy_entry ||= @taxon_concept.entry
            %li.browsable.classifications
              - hierarchy_label = hierarchy_display_title(hierarchy_entry.hierarchy)
              %h4= I18n.t(:rank_recognized_by_agent_colon, :rank => hierarchy_entry.rank_label, :agent => hierarchy_label)
              %ul
                = render(:partial => 'taxa/trees/show', :locals => {:in_hierarchy => true, :hierarchy_entry => hierarchy_entry, :link_to_taxa => true, :show_siblings => true})
      - else
        .empty
          %p= I18n.t(:classifications_empty)
