-# There is no "current_node" here because the hierarchy_entry is *always* the current_node if we're rendering the
-# children as this view does.
%li
  = render(:partial => 'navigation/node_name_page', :locals => { :in_hierarchy => true, :current_node => hierarchy_entry, :hierarchy_entry => hierarchy_entry, :open => 'open' })
  - he_children = HierarchyEntry.sort_by_name(hierarchy_entry.children)
  - if he_children && ! he_children.empty?
    %ul.branch
      - he_children[0..2].each do |child|
        %li= render(:partial => 'navigation/node_name_page', :locals => { :current_node => hierarchy_entry, :hierarchy_entry => child })
      - if he_children.length == 4
        %li= render(:partial => 'navigation/node_name_page', :locals => { :current_node => hierarchy_entry, :hierarchy_entry => he_children[3] })
      - if he_children.length > 4
        %li.show_tree_count
          = I18n.t(:more_children_with_count, :count => he_children.length - 3)
          = link_to(I18n.t(:show_full_tree), taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry), :class => 'show_tree', :data_url => taxon_hierarchy_entry_tree_path(@taxon_concept, hierarchy_entry))
      - else
        %li= link_to(I18n.t(:show_full_tree), taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry), :class => 'show_tree', :data_url => taxon_hierarchy_entry_tree_path(@taxon_concept, hierarchy_entry))
  - else
    %ul.branch
      %li= link_to(I18n.t(:show_full_tree), taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry), :class => 'show_tree', :data_url => taxon_hierarchy_entry_tree_path(@taxon_concept, hierarchy_entry))
