#collections_summary.article.half.list.clear
  - count = @taxon_concept.top_collections.count
  - if count == 0
    = render(:partial => 'taxa/collections_summary_empty', :locals => { :render_taxon_overview_collection_summary => true })
  - else
    .header
      %h3= I18n.t(:collections_summary_header_with_count, :count => @taxon_concept.collections.select{ |c| c.published && !c.watch_collection? }.count)
      - if count > 1
        - if @selected_hierarchy_entry
          = link_to I18n.t(:see_all_collections_with_count_html, :count => count), collections_taxon_entry_communities_path(@taxon_concept, @selected_hierarchy_entry)
        - else
          = link_to I18n.t(:see_all_collections_with_count_html, :count => count), collections_taxon_communities_path(@taxon_concept)
    %ul
      - @taxon_concept.top_collections.each do |collection|
        %li
          - # NOTE: Unless we have alt text that describes the image contents, leave it blank.
          = link_to image_tag(collection.logo_url(:small), :alt => ''), collection_path(collection)
          .details
            %h4= link_to collection.name, collection_path(collection)
            -# Sometimes we cache the counts of the collections with fewer queries... but not always:
            - count = collection.cached_count
            - count -= 1
            %p= I18n.t(:other_collection_items_with_count, :count => count)
