<% blind_outlink_parameter=URI::escape(remove_html(@taxon.name(current_user.expertise, current_user.language))) %>
<div class="cpc-header" >
    <h3><%= TocItem.search_the_web.label %></h3>
</div>
<!-- /center page content header -->

<!-- center page content main content -->
<div class="cpc-content" >

  <%=render :partial=>'/shared/unknown_text_warning_box' %>

  <div class="unvetted-background-text" id="links">
    <table cellspacing="0" summary="Links" class="results_table">
      <tbody><tr><th>Item</th><th>Description</th></tr>
      <tr><td width="100" height="60" class="odd"><%=eol_return_linked_image('/images/agent_icons/google.gif','http://www.google.com/search?q='+blind_outlink_parameter)%></td><td class="odd"><%=link_text("Google","http://www.google.com/search?q="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
      <tr><td width="100" height="60" class="even"><%=eol_return_linked_image('/images/agent_icons/google.gif','http://images.google.com/images?q='+blind_outlink_parameter)%></td><td class="even"><%=link_text("Google Images","http://images.google.com/search?q="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
      <tr><td width="100" height="60" class="odd"><%=eol_return_linked_image('/images/agent_icons/google.gif','http://scholar.google.com/scholar?q='+blind_outlink_parameter)%></td><td class="odd"><%=link_text("Google Scholar","http://scholar.google.com/scholar?q="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
      <tr><td width="100" height="60" class="even"><%=eol_return_linked_image('/images/agent_icons/yahoo.gif','http://search.yahoo.com/search?p='+blind_outlink_parameter)%></td><td class="even"><%=link_text("Yahoo","http://search.yahoo.com/search?p="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
      <tr><td width="100" height="60" class="odd"><%=eol_return_linked_image('/images/agent_icons/yahoo.gif','http://images.search.yahoo.com/search/images?p='+blind_outlink_parameter)%></td><td class="odd"><%=link_text("Yahoo Images","http://images.search.yahoo.com/search/images?p="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
      <tr><td width="100" height="60" class="even"><%=eol_return_linked_image('/images/agent_icons/vivisimo.gif','http://vivisimo.com/vivisimo/cgi-bin/query-meta?query='+blind_outlink_parameter)%></td><td class="even"><%=link_text("Vivisimo","http://vivisimo.com/vivisimo/cgi-bin/query-meta?query="+blind_outlink_parameter,:show_link_icon=>true)%></td></tr>
    </tbody>
    </table>
  </div>
  
</div>
