<table class="results_table" cellspacing="0" summary="Links">
	<tr><th><%="Project"[]%></th><th><%="Description"[]%></th></tr>
<%
	unless @content[:projects].empty?
		for project in @content[:projects]
			column_class=cycle('odd','even') 
			%>
			<tr>
        <td width="125" height="110" class="<%= column_class %>">
          <%=external_link_to(image_tag("collection_icons/#{project["icon"]}", {:alt => "Link to #{project["agent_name"]}"}), project["url"], {:show_link_icon => false})%>
          <br />
          <br />
          <%=external_link_to("project homepage"[],project["collection_link"],:show_link_icon=>true)%>
        </td>
        <td class="<%= column_class %>">
          <%=external_link_to(project["collection_title"],project["url"],:show_link_icon=>true)%>
        </td>
      </tr>
		<% end 
  end
%>
</table>
