<div class="text_object" id="ubio_links_wrapper">
  <table class="results_table" cellspacing="0" summary="Links">
    <tr><th><%="Project"[]%></th><th><%="Description"[]%></th></tr>
  <%
    unless @content[:mappings].empty?
      for mapping in @content[:mappings]
        column_class=cycle('odd','even')
        %>
        <tr>
          <td width="125" height="110" class="<%= column_class %>">
            <%=external_link_to(image_tag("collection_icons/#{mapping.collection.logo_url}", {:alt => "Link to #{mapping.collection.agent.full_name}"}), mapping.url, {:show_link_icon => false})%>
            <br />
            <br />
            <%=external_link_to("project homepage"[], mapping.collection.link, :show_link_icon => true)%>
          </td>
          <td class="<%= column_class %>">
            <% mapping.collection.collection_types.each do |collection_type| %>
             <%= collection_type.materialized_path_labels %><br/>
            <% end %>
            <%=external_link_to(mapping.collection.title, mapping.url, :show_link_icon => true)%>
          </td>
        </tr>
      <% end
    end
  %>
  </table>
</div>