<div id="contribute">
    <h4><%= "Contribute"[]%></h4>
	<p><%="Information About"[] %>
    <%= @taxon.canonical_form %><p>
	<br/>

    <ol>
        <li><%= "Pictures"[] %></li>
        <li><%= "Observations"[] %></li>
        <li><%= "Great web resources"[] %></li>
        <li><%= "Other names"[]%></li>
        <li><%= "Discussion - forum"[] %></li>
    </ol>

    <hr />

	<form action="#" method="post">	
		To other species:		<br/>		
		<input type="text" disabled="true" class="left text" />
		<input type="image" disabled="true"  alt="<%= "Find"[] %>" title="<%= "Find"[] %>" src="/images/fc_find.gif" class="right" />
	</form>
</div>