<% 
unknown_banner_shown=false
untrusted_banner_shown=false
comments_style=(@ajax_update ? '' : 'display:none;')  # comments start out as hidden on first page load (shown when entire page is loaded, but for ajax updates, show immediately)
 
unless @content[:data_objects].nil?
  for content_item in @content[:data_objects]
    vetted_id_style = ''
    -%>
    <% if content_item.vetted_id == Vetted.unknown.id && !unknown_banner_shown %>
      <% unknown_banner_shown=true %>
      <%= render :partial=>'/shared/unknown_text_warning_box' -%>
    <% elsif content_item.vetted_id == Vetted.untrusted.id && !untrusted_banner_shown %>
      <% untrusted_banner_shown=true %>
      <%= render :partial=>'/shared/untrusted_text_warning_box' -%>
    <% end %>

    <div class="content-article <%=vetted_id_class(content_item)%>" id="text_<%=content_item.id%>">
      <% if content_item.object_title.blank? == false && content_item.object_title != @content[:category_name] %>
        <h1><%= hh(content_item.object_title) %></h1>
      <% end %>

      <!-- ATTRIBUTION GOES HERE -->
      <div class="content-attribution-area">
        <div class="attribution-header2"><%- if !content_item.published -%><%= unpublished_icon %>&nbsp;<%- end -%><%= "Source and Additional Information"[] %></div>
        <%= render :partial => 'data_objects/attribution', :locals => { :data_object => content_item } %>
      </div>        

      <br />

      <div <%='class="unvetted-background-text"' if content_item.vetted_id != Vetted.trusted.id %>>
       <%- if !content_item.published -%>
         <%= unpublished_icon %>
       <%- end -%>
       <%= content_item.description %>
      </div>
    </div>

    <div class="text_buttons" id="text_buttons_<%=content_item.id%>">
      <% if current_user.can_curate?(@taxon)%>
        <% if !content_item.curated? %>
          <div class="spinner">
            <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%>
          </div>
          <div class="trust_button thumbs-up-image">
            <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => content_item.id, '_method' => :put, :curator_activity_id => CuratorActivity.approve!.id.to_s}, {'data-data_object_id' => content_item.id, 'data-data_object_type' => DataType.text_type_ids[0]} %>
          </div>
          <div class="untrust_button thumbs-down-image">
            <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => content_item.id, '_method' => :put, :curator_activity_id => CuratorActivity.disapprove!.id.to_s}, {'data-data_object_id' => content_item.id, 'data-data_object_type' => DataType.text_type_ids[0]} %>
          </div>
        <% end %>
        <div class="curate_button curate-button-image">
          <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', curation_data_object_path(content_item), {'data-data_object_id' => content_item.id, :style => comments_style, :class => 'slide-in-link'} %>
        </div>
      <% end %>
      <div class="comment_button comment-button-image">
        <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', data_object_comments_path(content_item), {'data-data_object_id' => content_item.id, :style => comments_style, :class => 'slide-in-link'} %>
      </div>
    </div>

    <div id="text-comments-wrapper-<%= content_item.id %>" style="display:none;" class="text-slidebox-border">
      <div id="text-comments-<%= content_item.id %>" class="text-slidebox-container text-comment-div">
        <%# TODO - we re-use this indicator a lot.  Put it in a CSS class. %>
        <p><%= image_tag 'indicator_arrows_black.gif' %> Retrieving comments, please wait...</p>
      </div>
    </div>

    <div id="text-curation-wrapper-<%= content_item.id %>" style="display:none;" class="text-slidebox-border">
      <div id="text-curation-<%= content_item.id %>" class="text-slidebox-container">
        <%# TODO - we re-use this indicator a lot.  Put it in a CSS class. %>
        <p><%= image_tag 'indicator_arrows_black.gif' %> Loading curation controls, please wait...</p>
      </div>
    </div>

    <div class="divider"></div>
    <p></p><%
  end 
end -%>