<a name="center_content"></a>
<!-- center page content header -->
<div class="cpc-header">
  <% toc_item = TocItem.find_by_label(@content[:category_name]) %>
  <% if toc_item.allow_user_text? %>
    <div class="add_text_button">
      <%= link_to("<span style='width:20px;height:20px;display:block;'></span>", {:controller => :data_objects, :action => :new, :type => :text, :toc_id => toc_item.id, :taxon_id => @taxon_id}, :id => "add_text_#{toc_item.id}" ) -%>
    </div>
  <%  end %>

  <h3><%= @content[:category_name] unless @content.nil? %></h3>

  
</div>
<!-- /center page content header -->

<!-- center page content main content -->
<div class="cpc-content">

	<% unless @content.nil?
		# depending on which content type we are displaying, load a different partial
		case @content[:content_type]
			
			when "text"
				%>
	   		<%= render(:partial=>'content_text') %>
				 <script type="text/javascript">
					womAdd('updateReferences();');
				 </script>
				<%
			when "links"
				%>
	   			 <%= render(:partial=>'content_links') %>
				<%
			when "common names"
				%>
	   			 <%= render(:partial=>'content_names') %>
				<%
			when "synonyms"
				%>
	   			 <%= render(:partial=>'content_synonyms') %>
				<%				
			when "ubio_links"
				%>
	   			 <%= render(:partial=>'content_other_projects') %>
				<%			
			when "bhl"
				%>
	   			 <%= render(:partial=>'content_bhl') %>
				<%
		end
  end%>

</div> <!-- /cpc-content -->

