<div class="cpc-header" >
    <h3><%="Specialist Projects"[]%></h3>
</div>
<div class="cpc-content" >
<table class="results_table" cellspacing="0" summary="Links">
	<tr><th><%="Project"[]%></th><th><%="Description"[]%></th></tr>
<%
	unless @content[:projects].empty?
		for project in @content[:projects]
			column_class=cycle('odd','even') 
			%>
			<tr><td width="125" height="110" class="<%= column_class %>"><%=eol_return_linked_image("/images/collection_icons/#{project["icon"]}",project["url"], :alt => "Link to #{project["agent_name"]}")%><br /><br /><%=link_text("project homepage"[],project["collection_link"],:show_link_icon=>true)%></td><td class="<%= column_class %>"><%=link_text(project["collection_title"],project["url"],:show_link_icon=>true)%></td></tr>
		<% end 
  end
%>
</table>
</div>
