<% curators = @taxon_concept.acting_curators -%>
<% if curators.size > 0 -%>
  <a name="citation"> 
  <div id="page-citation">
		<%= curators.map{|c| link_to h("#{c.given_name} #{c.family_name}"), :controller => :account, :action => :show, :id => c.id, :popup => true}.join(', ') -%>.
	<% if curators.size == 1 -%>
		<%= "Ed." -%>
	<% elsif curators.size > 1 -%>
		<%= "Eds." -%>
	<% end -%>
	"<%= @taxon_concept.scientific_name %>". Encyclopedia of Life, available from <a href="<%= this_url = url_for(:controller=>'/taxa', :action=>'show', :id=>@taxon_concept.id) %>" target="_blank">"http://www.eol.org<%= this_url %>"</a>. Accessed <%= Time.now.strftime("%d %b %Y") %>.
<!-- Example:	
	Fisher, Brian. "Pogonomyrmex anergismus Cole, 1954." Encyclopedia of Life, available from <a href="http://eol.org/pages/460427" target="_blank">http://eol.org/pages/460427</a>. Accessed 15 Jan 2009. -->
  </div>
</a>
<% end -%> 

