- showing_untrusted_image = false
- showing_unknown_image = false

- @images[0..$MAX_IMAGES_PER_PAGE-1].each do |image|
  - showing_untrusted_image = true if image.untrusted?
  - showing_unknown_image = true if image.unknown?

#image-collection
  #thumbnails.clearfix
    - @images[0..$MAX_IMAGES_PER_PAGE-1].each do |image|
      - name_string = sanitize(strip_tags(@taxon_concept.title))
      - large_img_url = image.smart_image
      - average_rating = image.data_rating
      - user_rating = image['user_rating'] ? image['user_rating'] : 0
      %a{ :id => "thumb-#{image.id}", :href => "#{image.id}", :class => vetted_id_class(image) }
        %span
          - vetting_title = nil
          - vetting_title = "Images in yellow are not reviewed."[] if image.unknown?
          - vetting_title = "Images in red are not trusted."[] if image.untrusted?
          = image_tag image.smart_thumb, :alt => hh(image['scientific_name']), :title => vetting_title
        %ul{:"data-data_object_id" => image.id}
          = render(:partial=>'data_object_states', :locals => {:dato => image})
  %hr

  %div{ :class => "mc-navigation#{!show_next_image_page_button && @taxon_concept.length_of_images < $MAX_IMAGES_PER_PAGE  ? ' no-pagination' : ''}" }
    %p.hide
      = "Page navigation"[]
    - if (@image_page ||= 1) > 1
      %a{ :href => url_for(:action => 'images', :taxon_concept_id => @taxon_concept.id, :image_page => @image_page - 1), :title => "Back"[], :onclick => ajax_delay_click }
        %span#back
          = "Back"[]
    - else
      %span#noback

    - if @taxon_concept.length_of_images > $MAX_IMAGES_PER_PAGE
      
      %span#pages
        = "Page"[]
        = @image_page
    - if show_next_image_page_button
      %a{ :href => url_for(:action => 'images', :taxon_concept_id => @taxon_concept.id, :image_page => @image_page + 1), :title => "Next"[], :onclick => ajax_delay_click, :class => 'ajax_delay_click' }
        %span#next
          = "Next"[]
    %hr

  #notes-container
    - @images[0..$MAX_IMAGES_PER_PAGE-1].each do |image|
      - taxa_ids = image['taxa_names_ids'].map{|x| x['taxon_concept_id'].to_s }
      - taxa_names = image['taxa_names_ids'].map{|x| x['taxon_name'].to_s }
      - data_supplier = image['data_supplier']
      - data_supplier_icon = data_supplier ? agent_icons_partial(data_supplier) : ''
      - mc_class = 'mc-notes '
      - mc_class += ' unknown-text' if image.unknown?
      - mc_class += ' untrusted-text' if image.untrusted?
      %div{:id => "mc-notes-#{image.id}", :class => mc_class}
        - if image.untrusted?
          %strong
            = "Note:"[]
          = "The image from this source is not trusted."[]
          %br/
        - elsif image.unknown?
          %strong
            Note:
          = "The image from this source has not been reviewed."[]
          %br/
        - unless taxa_ids.blank?
          - other_taxon_concept_index = nil
          -# loop thru and find a taxa that's NOT the current page's taxa
          -# if the image IS linked to the current taxa then don't show an alternative
          - taxa_ids.each_with_index do |taxon_concept_id, i|
            - if taxon_concept_id == @taxon_concept.id.to_s
              - other_taxon_concept_index = nil
              - break
            - elsif other_taxon_concept_index.nil?
              - other_taxon_concept_index = i
          - unless other_taxon_concept_index.nil?
            Image of
            = link_to(taxa_names[other_taxon_concept_index], "/pages/#{taxa_ids[other_taxon_concept_index]}")
            %br/
        = 'COPYRIGHT:'[]
        - unless image.license_text.nil?
          - unless image.rights_holder.empty?
            = "&#169 #{image.rights_holder}."
            %br/
          = image.license_text
        - unless image.license_logo.blank?
          = '&nbsp;&nbsp;'
          = link_to(image_tag(image.license_logo), image.license_url, :class => "external_link")
        %br/

        - if data_supplier && !data_supplier.full_name.blank?
          = 'SUPPLIER:'[]
          - if data_supplier.homepage.blank?
            = data_supplier.full_name
          - else
            = link_to(data_supplier.full_name + external_link_icon, data_supplier.homepage)
            = data_supplier_icon
          %br/

        - authors_linked = agent_partial(image['agents']['Author'] + image['agents']['Photographer'])
        - unless authors_linked.blank?
          = 'AUTHOR:'[]
          = authors_linked
          %br/
        -# TODO - slightly obnoxious that we're essentially calling the same method twice, here:
        - sources = agent_partial(image['agents']['Source'], :linked => false)
        - sources_linked = agent_partial(image['agents']['Source'])
        - sources_icons_linked = agent_icons_partial(image['agents']['Source'])
        - if !sources.blank? && !image.object_url.blank?
          = 'SOURCE:'[]
          = link_to(sources + external_link_icon, image.object_url)
          %br/
        - elsif !sources_linked.blank?
          = 'SOURCE:'[]
          = sources_linked
          %br/
        - unless sources_icons_linked.blank?
          = sources_icons_linked
          %br/
        %br/
        = image.description
