#internal-nav
  %h4.margin-header.right-margin-header
    = "Contribute"[]
  #contribute-info.popup{:style => "display:none;"}
  - act_curators_size = @taxon_concept.acting_curators.size
  - if act_curators_size > 0
    %a{ :href => "#citation" }
    #number-of-curators
      This page has
      = act_curators_size
      curators.
    #number-of-curators
      Last curated:
      = LastCuratedDate.find(:last, :conditions => ["taxon_concept_id = ?", @taxon_concept]).last_curated.strftime("%d %b %Y")
  -# if act_curators_size
  %ul.bulletlist
    %li
      = link_to("Latest Changes", :controller => :feeds, :action => :all, :id => @taxon_concept.id)
      = link_to(image_tag('rss.png'), :controller => :feeds, :action => :all, :id => @taxon_concept.id)
    %li
      %a{ :href => "#", :onclick => "JavaScript:eol_show_pop_up('contribute-info','contribute_photos-help','#{@taxon_concept.name(:canonical)}');return false;" }
        = "Submit an image"[]
    %li
      %a{ :href => "#", :onclick => "JavaScript:eol_show_pop_up('contribute-info','contribute_text-help','#{@taxon_concept.name(:canonical)}');return false;" }
        = "Submit text"[]
    %li
      %a{ :href => "/content/page/help_build_eol" }
        = "More information on how to help"[]
  - # bulletlist
  %br
  %br
  - if @random_taxa
    %h4.margin-header.right-margin-header
      = "Explore"[]
    %table#related-species-table{:cellspacing => "0", :summary => "top species"}
      - @random_taxa.each do |taxa_link|
        %tr
          %td{ :width => "30%" }
            -# The following link had a nice image_tag helper, but it was being really grumpy and appeared to have
            -# been causing a formatting problem.  Writing it out longhand seems to have fixed it...
            = link_to(%Q{<img border="0" title="#{h(strip_tags(taxa_link.name))}" } << %Q{src="#{taxa_link.smart_thumb}" alt="#{h(strip_tags(taxa_link.name))}" />},  :action => "show", :id=>taxa_link.taxon_concept_id)
          %td= linked_name(taxa_link)
  - # if random_taxa
- # internal-nav
