#internal-nav
  %h4.margin-header.right-margin-header
    = I18n.t(:contribute) 
  %ul#contribute.bulletlist
    %li
      %a{ :href => "/taxa/show_popup?name=contribute_photos&taxon_name=#{@taxon_concept.entry.name.canonical_form.string}", :class => 'show_popup' }
        = I18n.t(:submit_an_image) 
    %li
      %a{ :href => "/taxa/show_popup?name=contribute_text&taxon_name=#{@taxon_concept.entry.name.canonical_form.string}", :class => 'show_popup' }
        = I18n.t(:submit_text) 
    %li
      %a{ :href => "/content/page/help_build_eol" }
        = I18n.t(:more_information_on_how_to_help) 
    %li
      = link_to(I18n.t("latest_changes"), :controller => :feeds, :action => :all, :id => @taxon_concept.id)
      = link_to(image_tag('rss.png'), :controller => :feeds, :action => :all, :id => @taxon_concept.id)
  - # bulletlist
  %br
  
  
  - all_curators = @taxon_concept.curators.size
  - if all_curators > 0
    %h4.margin-header.right-margin-header
      = I18n.t(:curation) 
    %ul#contribute.bulletlist
      - if @taxon_concept.show_curator_controls?
        %li.strong
          = link_to(I18n.t("curate_content_in_this_clade"), :controller => :curators, :action => :curate_images, :hierarchy_entry_id => @taxon_concept.entry.id)
      - act_curators_size = @taxon_concept.acting_curators.size
      - if act_curators_size > 0
        %li
          %a{ :href => "#citation" }
            =I18n.t("this_page_has")
            = act_curators_size
            =I18n.t("active_curatorvar_act_curators", :var_act_curators_size____1__________s__ => act_curators_size == 1 ? "." : "s.")
      %li
        %a{ :href => page_curators_path(@taxon_concept.id)}
          =I18n.t("who_can_curate_this_page_")
      - if act_curators_size > 0
        %li
          =I18n.t("last_curated_")
          = @taxon_concept.last_curated_dates.sort_by{ |lcd| Invert(lcd.id) }[0].last_curated.strftime("%d %b %Y")
    %br
  
  
  - if @random_taxa
    %h4.margin-header.right-margin-header
      = I18n.t(:explore) 
    %table#related-species-table{:cellspacing => "0", :summary => "top species"}
      - @random_taxa.each do |taxa_link|
        %tr
          %td{ :width => "30%" }
            -# The following link had a nice image_tag helper, but it was being really grumpy and appeared to have
            -# been causing a formatting problem.  Writing it out longhand seems to have fixed it...
            = link_to(%Q{<img border="0" title="#{h(strip_tags(taxa_link['scientific_name']))}" } << %Q{src="#{taxa_link['image_cache_path']}" alt="#{h(strip_tags(taxa_link['scientific_name']))}" />},  :action => "show", :id=>taxa_link['taxon_concept_id'])
          %td= random_image_linked_name(taxa_link)
  - # if random_taxa
- # internal-nav
