- # is this partial obsolete for v2?
#media-maps.wrapper-mc.clearfix{ :style => "display: block; height: 399px;" }
  %p.gbif_disclaimer
    = external_link_to I18n.t(:gbif_occurrence_disclaimer), "http://data.gbif.org/species/#{@taxon_concept.gbif_map_id}/", :rel => :nofollow
  #map-image{ :style => "display:block" }
-# TODO - swfobject is loaded on EVERY page load.  It shouldn't be.  Load it here and anywhere else it's req'd.
:javascript
  var so = new SWFObject("/EOLSpeciesMap.swf", "swf", "100%", "100%", "9");
  so.addParam("allowFullScreen", "true");
  so.addVariable("swf", "");
  so.addVariable("taxon_id", #{@taxon_concept.gbif_map_id});
  so.addVariable("data_server_endpoint", '#{$MAP_DATA_SERVER_ENDPOINT}');
  so.addVariable("gmap_key", '#{$GOOGLE_MAP_API_KEY}');
  var tileServers = new Array();
  tileServers[0] = '#{$MAP_TILE_SERVER_1}';
  tileServers[1] = '#{$MAP_TILE_SERVER_2}';
  tileServers[2] = '#{$MAP_TILE_SERVER_3}';
  tileServers[3] = '#{$MAP_TILE_SERVER_4}';
  so.addVariable("tile_servers", tileServers);
  so.write("map-image");
