#media_summary.gallery
  %h3.assistive= I18n.t(:media)
  .images
    - if @media.blank?
      .image
        = image_tag '/images/v2/img_taxon-placeholder.png', :alt => ''
        .attribution
          .copy
            %p= I18n.t(:media_summary_empty)
            - # FIXME: add url for faq on contributing images
            %p= link_to I18n.t(:media_summary_empty_contribute_instructions), '/placeholder'
    - else
      - @media[0..3].each do |item|
        .image
          %img{:src => item.thumb_or_object('580_360'), :alt => alternative_text(item, en_type(item), @taxon_concept.title_canonical()),
            :data => { :data_object_id => item.id, :thumb => item.thumb_or_object('98_68') }}
          .attribution
            - unless item.object_title.empty?
              .copy
                %p= item.object_title
            = render :partial => "data_objects/attribution_minimal", :locals => {:data_object => item, :linked => true, :supplier => true}
  %p.all= link_to I18n.t(:see_all_media_link), taxon_media_path(@taxon_concept.id)
