- we_have_a_taxon_comment = @comment and @comment.taxa_comment?
%a{ :name => "media-center" }
#page-media-center
  #media-center.clearfix
    #left-mc
      - # Media Center navigation (tabs)
      %p.hide
        = "Media Center Navigation"[]
      %ul#tab_media_center
        %li#image
          %a{ :href => "#media-images", :title => "Image"[] }
            = "Image"[]
            %span
        - if @taxon_concept.has_map
          %li#maps
            %a#maps-link{ :href => "#media-maps", :title => "Maps"[] }
              = "Maps"[]
              %span
        - if @taxon_concept.has_video
          %li#videos
            %a{ :href => "#media-videos", :title => "Videos"[] }
              = "Videos"[]
              %span
        %li#taxa-comments
          %a{ :href => "#media-taxa-comments", :title => "Comments"[] }
            = "Comments"[]
            %span
      %hr
      = render :partial=>'taxa/mediacenter/tab_images'
      %hr
      = render :partial=>'taxa/mediacenter/tab_sounds'
      %hr
      = render :partial=>'taxa/mediacenter/tab_maps'
      %hr
      = render :partial=>'taxa/mediacenter/tab_videos'
      %hr
      = render :partial=>'taxa/mediacenter/tab_comments', :locals=> {:we_have_a_taxon_comment => we_have_a_taxon_comment}
      %hr
  #sliding-close
    #textarea
      %a#classification-attribution-button.static-popup-link.attribution-icon{ :href => "#{@taxon_concept.id}/classification_attribution", :onclick => "return false;" }
      #nagivation-choose-hierarchy
        %h5
          #classification_whats_this
            = link_to "What's this?", '/content/page/new_release_features_4_2010#Browser'
          = "Classification:"[]
        - form_for :user, current_user, :url=>{:controller=>"settings"}, :html=>{:class=>"warning-warn invalid-invalid styleLabelOnErr"} do |f|
          %select#user_default_hierarchy_id{ :name => 'user[default_hierarchy_id]', :class => 'choose-hierarchy-select', :onchange => 'this.form.submit();' }
            - for h in @hierarchies_to_offer
              - selected = h.id == @session_hierarchy.id
              - option_class = @concept_browsable_hierarchies.include?(h) ? 'in' : 'out'
              %option{:value => h.id, :class => option_class, :selected => selected}
                = h.label
          %input{ :type=>'hidden', :name=>'return_to', :value=>"/pages/#{@taxon_concept.id}"}
          %input{ :type=>'hidden', :name=>'from_taxa_page', :value=>'true'}
    #browser-text
      = render(:partial => 'navigation/tree_view', :locals => {:current_user => current_user})
:javascript
  var tabs=new Control.Tabs('tab_media_center');
