<a name="media-center" />
<div id="page-media-center">
	<div id="media-center" class="clearfix">
    <div id="left-mc">
      <%# Media Center navigation (tabs) -%>
      <p class="hide"><%= "Media Center Navigation"[] %></p>
      <ul id="tab_media_center">
          <li id="image"><a href="#media-images" title="<%= "Image"[] %>" class="active"><%= "Image"[] %><span></span></a></li>
        <% if @available_media[:map] %>
					<li id="maps"><a id="maps-link" href="#media-maps" title="<%= "Maps"[] %>"><%= "Maps"[] %><span></span></a></li>
        <% end %>
        <% if @available_media[:video] %>
					<li id="videos"><a href="#media-videos" title="<%= "Videos"[] %>"><%= "Videos"[] %><span></span></a></li>
				<% end %>
        <% if @available_media[:sound] %>
          <li id="sounds"><a href="#media-sounds" title="<%= "Sounds"[] %>"><%= "Sounds"[] %><span></span></a></li>
				<% end %>
          <li id="taxa-comments"><a href="#media-taxa-comments" title="<%= "Comments"[] %>"><%= "Comments"[] %><span></span></a></li>
			</ul>
      <hr />
      <div id="media-images" class="wrapper-mc clearfix">
        <%# Media Center image -%>
        <div id="large-image">
          <div id="main-image-bg">
            <table id="main-image-table">
						  <tr><td>
								<% if !@images.blank? %>
								  	<img onclick="toggle_image_attribution(); return false;" id="main-image" src="<%=@default_image%>" alt="<%= hh(remove_html(@taxon.title))%>" title="<%=hh(remove_html(@taxon.title))%>" />
								<% end %>
							</td></tr>
            </table>
          </div> <!-- /main-image-bg -->
          <hr />
					<% unless @images.blank? %>
          <!-- TODO simplify the IDs of the button links ... they need to have unique IDs but thats all -->
          <div id="large-image-buttons">

              <div id="left-image-buttons">
                <ul id="large-image-button-group" style="text-align: left;">
                  <li alt="More information" title="More information" id="large-image-attribution-button" class="attribution-icon">
                    <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', attribution_data_object_path(@images[0]), 
                      :id => "large-image-attribution-button-popup-link", :class => 'popup-link' %>
                  </li>
                </ul>
              </div> <!-- /left-image-buttons -->

              <div id="right-image-buttons">
                <div id="large-image-button-popup">
                  <%#The inner divs on the links are hacks to get the links to work in ie6. there's probably a better way to do this%>
                  <% if current_user.can_curate?(@taxon) %>
                    <div class="spinner">
                      <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%>
                    </div>
                    <div alt="Trust this image" title="Trust this image" id="large-image-trust-button" class="trust_button thumbs-up-image" <%='style="display: none"' if @images[0].curated?%>>
                        <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => @images[0].id, '_method' => :put, :curator_activity_id => CuratorActivity.approve!.id.to_s}, {'data-data_object_id' => @images[0].id, 'data-data_object_type' => DataType.image_type_ids[0]} %>
                    </div>
                    <div alt="Do not trust this image" title="Do not trust this image" id="large-image-untrust-button" class="untrust_button thumbs-down-image" <%='style="display: none"' if @images[0].curated?%>>
                        <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => @images[0].id, '_method' => :put, :curator_activity_id => CuratorActivity.disapprove!.id.to_s}, {'data-data_object_id' => @images[0].id, 'data-data_object_type' => DataType.image_type_ids[0]} %>
                    </div>
                    <div alt="Curate image" title="Curate image" id="large-image-curator-button" class="curate-button-image">
                      <%= popup_link 'curator', curation_data_object_path(@images[0]) %>
                    </div> <!-- /large-image-curator-button -->
                  <% end %>

                  <div  alt="Tag image" title="Tag image" id="large-image-tagging-button">
                    <%= popup_link 'tagging', data_object_tags_path(@images[0]) %>
                  </div> <!-- /large-image-tagging-button -->

                  <div alt="Comment on image" title="Comment on image" id="large-image-comment-button" class="comment-button-image">
                    <%= popup_link 'comment', data_object_comments_path(@images[0]) %>
                  </div> <!-- /large-image-comment-button -->
                </div> <!-- /large-image-button-popup -->
              </div> <!-- /right-image-buttons -->

          </div> <!-- /large-image-buttons -->

          <% end %><%# end of unless images.blank? %>
        </div> <!-- /large-image -->
        <div id="image-thumbnails" class="mc-info">
					<% if @images.blank? == false %>
            <div class="mc-header">
                <h3><%= "Images" %></h3>
                <hr />
            </div>
          <% else %>
						<div class="noimages">
						</div>
					<% end %>
					<p></p><br />
					<% unless @images.blank? or @images.blank? -%>
          	<div id="image-collection">
							<%= render :partial => 'image_collection', :locals=>{:update_attribution_on_load=>true} %>
						</div> <!-- /image-collection -->
						<div id="mc-notes" class="mc-notes">
							<span id="field-notes"><!--- this will be replaced by javascript --></span>	<hr />
						</div>
					<% end -%>
        </div> <!-- /image-thumbnails -->
      </div> <!-- /media-images -->
      <hr />
      <div id="media-sounds" class="wrapper-mc clearfix" style="display: none;">
        <h3><%= "Sounds"[] %></h3>
      </div>
      <hr />
      <div id="media-maps" class="wrapper-mc clearfix" style="display: none;">
      	<% unless @map.blank? %>
      	  <input type="hidden" name="map-data-object-id" id="map-data-object-id" value="<%=@map.id%>">
			  	<h3><%= "Occurrence Overview"[] %></h3>
				 	<div id="map-image" style="display:none">
            <div id="map-url"><%= h(@map.map_image) %></div>
            <div id="map-title"><%= h(@taxon.name(:natural_form)) %> - distribution map</div>
          </div>
          <div alt="More information" title="More information" class="attribution_link">
              <%= link_to '', attribution_data_object_path(@map), :id => 'map_attributions',:class => 'popup-link attribution-icon' %>
          </div>
        <% end %>
      </div> <!-- /media-maps -->
      
      
      <hr />
      <div id="media-videos" class="wrapper-mc clearfix" style="display: none;">
				<div id="video-player">
					<%="Select a video to the right to begin playback."[:select_video]%>
				</div>	
        <div id="video-list" class="mc-info">
					<% if @videos.blank? == false %>
            <div class="mc-header">
              <h3><%= "Videos" %></h3>
              <hr />
            </div>
          <% else %>
						No videos are available.
					<% end %>
          <% if @videos.blank? == false %>
            <div id="video-collection">
	      			<ul>
								<% for video in @videos
									video_title = video.object_title || ''
									# NOTE: JRice added a little sub here to take the first sentence from long desc's...
									video_title = truncate(video.description.sub(/\.\s\s.*$/, '.'),150) if video_title == ''
									video_title = truncate(video.scientific_name,150) if video_title == '' %>
									<li><%= link_to_function(video_title, "eol_update_video(#{video_hash(video,@taxon_id)})", :title=>video_title) %></li>
								<% end %>
							</ul>	                    	
						</div> <!-- /video-collection -->
            <div class="mc-video-notes">
              <span id="video-notes"></span>
              <hr />
            </div>
        <% end %>
        </div> <!-- /video-list -->
        <% if @videos.blank? == false %>
          <div alt="More information" title="More information" class="attribution_link" style="display: none">
              <%= link_to '', attribution_data_object_path(@videos[0]), :id => 'video_attributions',:class => 'popup-link attribution-icon' %>
          </div>
        <%end%>
      </div> <!-- /media-videos -->
      <hr />
      <div id="media-taxa-comments" class="wrapper-mc clearfix" style="display: none;">
        <p id="loading-comments"><%= image_tag 'indicator_arrows_black.gif' %> Retrieving comments, please wait...</p>
        <div id="taxaCommentsWrap" style="display: none;"></div>
      </div>
      <hr />
    </div> <!-- /left-mc -->
	</div> <!-- /media-center -->
	<div id="sliding-close">	
		<div id="textarea">
    	<%="Classification"[]%> : <a href="#" onclick="JavaScript:eol_change_to_text_browser();return false;"><%= "Text"[] %></a>
      | <a href="#" onclick="JavaScript:eol_change_to_flash_browser();return false;"><%= "Graphic"[] %></a> | <a id="classification-attribution-button" href="#" class="static-popup-link attribution-icon" onclick="return false;"></a>
   	</div> <!-- /textarea -->
		<div id="classification-attribution-button_popup_content" class="attribution" style="display:none;">
  
      <div class="credit-title"><%= "Classification provided by"[] %></div>
      <div class="credit-value">
			  <%= attributions = @taxon.classification_attribution.reverse    
            if attributions.blank?
                'source unknown'
            elsif attributions.include?(Agent.catalogue_of_life) 
                agent_partial(attributions) + '<br />' + agent_icons_partial(attributions) 
            else 
                # if we don't have CoL in classification attribution (e.g. name is from Flickr), we only show CoL here since the hiearchy we show in the browser is *only* CoL for now)
                agent_partial(Agent.catalogue_of_life_for_attribution) + '</div><br /><div class="credit-title">' + agent_icons_partial(Agent.catalogue_of_life_for_attribution) + "<br /><br />#{@rank} recognized by<br />" + agent_partial(attributions)
            end %>
      </div>
		</div> <!-- /classification-attribution_popup_content -->
		
		<div id="browser-flash" <%= "style=\"display:none;\"" if current_user.default_taxonomic_browser == "text" %> class="wrapper-mc clearfix">
			<% if current_user.flash_enabled %> 
				<script src="/javascripts/flashobjects.js" type="text/javascript"></script>
        <script type="text/javascript">
        <%
            taxon_concept_id = @taxon.col_entry.nil? ? 0 : @taxon.col_entry.id;
        %>
          // <![CDATA[
          object_eol_nav2('/taxa/', '/flashxml/', '<%= taxon_concept_id %>.xml');
          //]]>
        </script>
			<% else %>
				You must have the free Flash Player installed to view the flash version of the browser.
			<% end %>
		</div> <!-- /browser-flash -->
		<div id="browser-text" <%= "style=\"display:none;\"" if current_user.default_taxonomic_browser == "flash" %>>
			<%= render(:partial => 'navigation/tree_view',
                    :locals => {:current_user => current_user}) %>
		</div> <!-- /browser-text -->
	</div>	<!-- /sliding-close -->
</div> <!-- /page-media-center -->
<script type="text/javascript">
  var tabs=new Control.Tabs('tab_media_center');
</script>
