#media_summary.gallery
  %h3.assistive= I18n.t(:media)
  .images
    - if @media.blank?
      .image
        = image_tag '/images/v2/img_taxon-placeholder.png', :alt => ''
        .attribution
          .copy
            %p= I18n.t(:media_summary_empty)
            - # FIXME: add url for faq on contributing images
            %p= link_to I18n.t(:media_summary_empty_contribute_instructions), '/placeholder'
    - else
      - @media[0..3].each do |item|
        - item_vetted = item.vetted_by_taxon_concept(@taxon_concept, :find_best => true)
        - item_vetted_id = item_vetted.id unless item_vetted.nil?
        - item_vetted_label = item_vetted.label unless item_vetted.nil?
        .image
          %img{:src => item.thumb_or_object('580_360'), :alt => alternative_text(item, en_type(item), @taxon_concept),
            :data => { :data_object_id => item.id, :thumb => item.thumb_or_object('98_68') }}
          .details
            %p.flag{:class => vetted_id_class(item_vetted_id)}= item_vetted_label == Vetted.unknown.label ? I18n.t(:unreviewed) : item_vetted_label
            .copy.caption
              = render :partial => "taxa/overview_image_taxon_link", :locals => {:data_object => item}
            .attribution
              = render :partial => "data_objects/attribution_minimal", :locals => {:data_object => item, :linked => true}
  %p.all= link_to I18n.t(:see_all_media_link), taxon_media_path(@taxon_concept.id)
