- we_have_a_taxon_comment = @comment and @comment.taxa_comment?
%a{ :name => "media-center" }
#page-media-center
  #media-center.clearfix
    #left-mc
      - # Media Center navigation (tabs)
      %p.hide
        = "Media Center Navigation"[]
      %ul#tab_media_center
        %li#image
          - images_url = "/taxa/images/#{@taxon_concept.id}"
          - images_url += "?image_id=#{@image_id}" if @image_id
          %a{ :href => images_url, :title => "Image"[] }
            = "Image"[]
            %span
        - if @taxon_concept.has_map
          %li#maps
            %a#maps-link{ :href => "#media-maps", :title => "Maps"[] }
              = "Maps"[]
              %span
        - if @taxon_concept.has_video
          %li#videos
            %a{ :href => "/taxa/videos/#{@taxon_concept.id}", :title => "Videos"[] }
              = "Videos"[]
              %span
        %li#taxa-comments
          %a{ :href => "/comments/?body_div_name=create&taxon_concept_id=#{@taxon_concept.id}", :title => "Comments"[] }
            = "Comments"[]
            %span
      .tab-panes
        %div{:style => 'display:block'}
          = render :partial => 'images'
  #sliding-close
    #textarea
      %a#classification-attribution-button.popup-link.attribution-icon{ :rel => '#class-attr-overlay', :href => "#{@taxon_concept.id}/classification_attribution" }
      #class-attr-overlay.overlay{:style=>"width:350px"}
        .contentWrap              
          Please wait, loading...
      #nagivation-choose-hierarchy
        %h5
          #classification_whats_this
            = link_to "What's this?", '/content/page/new_features#browser'
          = "Classification:"[]
        - form_for :user, current_user, :url=>{:controller=>"settings"}, :html=>{:class=>"warning-warn invalid-invalid styleLabelOnErr"} do |f|
          %select#user_default_hierarchy_id{ :name => 'user[default_hierarchy_id]', :class => 'choose-hierarchy-select', :onchange => 'this.form.submit();' }
            - for h in @hierarchies_to_offer
              - selected = h.id == @session_hierarchy.id
              - option_class = @concept_browsable_hierarchies.include?(h) ? 'in' : 'out'
              %option{:value => h.id, :class => option_class, :selected => selected}
                = h.form_label
          %input{ :type=>'hidden', :name=>'return_to', :value=>"/pages/#{@taxon_concept.id}"}
          %input{ :type=>'hidden', :name=>'from_taxa_page', :value=>'true'}
    #browser-text
      = render(:partial => 'navigation/browse_page', :locals => {:current_user => current_user})
