#media_summary.gallery
  %h3.assistive= I18n.t(:media)
  .images
    - if @media.blank?
      .image
        = image_tag '/images/v2/img_taxon-placeholder.png', :alt => ''
        .attribution
          .copy
            %p= I18n.t(:media_summary_empty)
            %p= link_to I18n.t(:media_summary_empty_contribute_instructions), cms_page_path('contribute')
    - else
      - @media[0..3].each do |item|
        - if item.translations.length > 0
          - item = item.translations[0].data_object
        .image
          %a{:href => data_object_path(item.id)}
            %img{:src => item.thumb_or_object('580_360'), :alt => alternative_text(item, en_type(item), @taxon_concept), :data => { :data_object_id => item.id, :thumb => item.thumb_or_object('98_68') }}
          .details
            .copy
              = render :partial => "data_objects/associations_minimal", :locals => {:data_object => item}
            .attribution
              = render :partial => "data_objects/attribution_minimal", :locals => {:data_object => item}
  - if @selected_hierarchy_entry
    %p.all
      = link_to I18n.t(:see_all_media_link), taxon_hierarchy_entry_media_path(@taxon_concept.id, @selected_hierarchy_entry)
      %br/
      = link_to I18n.t(:see_all_maps_link), taxon_hierarchy_entry_maps_path(@taxon_concept.id, @selected_hierarchy_entry) unless @map.blank?
  - else
    %p.all
      = link_to I18n.t(:see_all_media_link), taxon_media_path(@taxon_concept.id)
      %br/
      = link_to I18n.t(:see_all_maps_link), taxon_maps_path(@taxon_concept.id) unless @map.blank?
