#media_summary.gallery
  %h3.assistive= I18n.t(:media)
  .images
    - if @taxon_page.top_media.blank?
      .image
        = image_tag 'v2/img_taxon-placeholder.png', :alt => ''
        .attribution
          .copy
            %p= I18n.t(:media_summary_empty)
            %p= link_to I18n.t(:media_summary_empty_contribute_instructions), cms_page_path('contribute')
    - else
      - @taxon_page.top_media.each do |item|
        .image
          %a{:href => data_object_path(item.id)}
            %img{:src => item.thumb_or_object('580_360'), :alt => alternative_text(item, en_type(item), @taxon_page),
              :data => { :data_object_id => item.id, :thumb => item.thumb_or_object('98_68') }}
          .details
            .copy
              = render :partial => "data_objects/associations_minimal", :locals => {:data_object => item}
            .attribution{ :class => (item.license == License.no_known_restrictions) ? 'license_string' : '' }
              = render :partial => "data_objects/attribution_minimal", :locals => {:data_object => item}
  %p.all
    = link_to I18n.t(:see_all_media_link), taxon_media_path(@taxon_page)
    %br/
    = link_to I18n.t(:see_all_maps_link), taxon_maps_path(@taxon_page) unless @taxon_page.map.blank?
