= render(:partial => 'media_summary')
= render(:partial => 'iucn_status_summary')
= render(:partial => 'text_summary')
= render(:partial => 'classification_summary')
= render(:partial => 'collections_summary')
= render(:partial => 'communities_summary')
= render(:partial => 'curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
= render(:partial => 'feed_items/index', :locals => {:feed => @taxon_concept.feed})
