- chinese_name ||= nil
= content_for :footer do
  = javascript_include_tag 'media_list'
- unless chinese_name.blank?
  #media_list
    #main
      %ul
        %li
          .figure
            .player{ :style => 'height:0px;' }
            .player_interface{ :id => "pronunciation_player" }
              %a{:class => 'play', :title => I18n.t(:audio_play_assistive), :href => "#{CHINESE_PRONUNCIATION_API_PREFIX}#{URI::encode(chinese_name)}", :data => { :mime_type => "audio/mpeg" } }
                = I18n.t(:pronounce_this_name)