<%- if !results.blank? -%>
  <div class="search_results" id="<%= title.downcase.underscore %>">    
    <h3 class="search_result_subtitle"><%="#{title}"[]%></h3>
    <p> Results <%= results.offset + 1 %> - <%= results.offset + [results.per_page, results.total_entries].min %> of <%= results.total_entries %> for <em><%= @querystring %></em></p>
              
    <table class="results_table" cellspacing="0" summary="<%= title %>" style="width:100%;">
      <tr>
        <th style="width:152px;"><%="Image"[]%></th>
        <th style="width:50%;"><%="Common Name"[]%></th>
        <th style="width:50%;"><%="Scientific Name"[]%></th>
      </tr>
      <% for result in results
         vetted_value = ''
           vetted_value = '_unvetted'  if result['unknown']
           vetted_value = '_untrusted' if result['untrusted']
         column_class = cycle('odd', 'even')
         column_class += vetted_value
      %>
        <tr>
          <td class="<%= column_class %>"><% unless result['top_image'].nil? %>
            <a href="<%= url_for(:action => 'search_clicked', :id => result['id']) %>"><img
              alt="<%= strip_tags(result['title']) %>" title="<%= strip_tags(result['title']) %>"
              src="<%= result['top_image'].smart_medium_thumb %>"/></a>
          <%end%></td>
          <td class="<%= column_class %>"><%= link_to result['best_matched_common_name'],
                                                      {:action => 'search_clicked', :id => result['id']},
                                                      :method=>:post %><br /><%= result['shown_as'] %>
                                                      </td>
          <td class="<%= column_class %>"><%= link_to result['title'],
                                                      {:action => 'search_clicked', :id => result['id']},
                                                      :method=>:post %><br /></td>          
        </tr>
      <% end %>
    </table>    

    <%= will_paginate(results) %>

  </div> <%# /search_results %>
  <br />
<%- end -%>
