:javascript
  function auto_check_filter_box_if_needed() {
    checkbox = $('#user_filter_content_by_hierarchy');
    if ($('#user_default_hierarchy_id').val() == '' && checkbox.attr('checked')) {
      checkbox.click(); // Setting the val on checkboxes "works", but the user can't see it.  This does both.
    }
    if ($('#user_default_hierarchy_id').val() != '' && !checkbox.attr('checked')) {
      checkbox.click();
    }
  }
%h2= I18n.t(:content_settings)
%fieldset#filtering_settings
  %legend= I18n.t(:browse_classification_and_filtering_settings)
  #filtering_help
    %p= I18n.t("eol_has_the_ability_to_filter_")
    %p= I18n.t("for_instance__if_you_choose_a_")
    %p= I18n.t("you_can_also_choose_two_classi")

  %label{ :title =>  I18n.t(:classification_preference_advisory_information) , :for => "user_default_hierarchy_id" }
    =  I18n.t(:classification_preference)
  = f.select :default_hierarchy_id, [['-- always use default --', nil]] + Hierarchy.find_all_by_browsable(1).sort_by{|h| h.form_label}.collect {|h| [h.form_label, h.id]},{},{:onchange => 'javascript:auto_check_filter_box_if_needed();'}

  - if $ALLOW_SECOND_HIERARCHY
    %label{ :for => "user_secondary_hierarchy_id", :title =>  I18n.t(:secondary_hierarchy_preference) }
      =  I18n.t(:classification_preference)
    = f.select :secondary_hierarchy_id, [['-- none --', nil]] + Hierarchy.browsable_by_label.collect {|h| [h.label, h.id]}
  = f.label :filter_content_by_hierarchy,  I18n.t(:filter_content_by_classification_preference)
  = f.check_box :filter_content_by_hierarchy

%fieldset#language_settings
  %legend= I18n.t(:language_settings)
  %label{ :title =>  I18n.t(:language_preference_advisory_information), :for => "user_language_abbr" }
    =  I18n.t(:language_preference)
  = f.select :language_abbr, Language.find_active.collect {|l| [l.source_form, l.iso_639_1]}

- if !$ALLOW_USER_TO_CHANGE_CONTENT_LEVEL
  %fieldset#content_level_settings
    %legend= I18n.t(:content_level_settings)
    %label{ :title =>  I18n.t(:content_level_advisory_information) , :for => "user_content_level" }
      =  I18n.t(:content_level)
    - ContentLevel.find.each do |content_level|
      = f.radio_button :content_level,content_level.id
      = content_level.name

- else
  %label{ :title =>  I18n.t(:content_level)  }
    =  I18n.t(:content_level)
  %label{ :for => "user_vetted_true" }
    = f.radio_button :vetted, "true"
    =  I18n.t(:view_only_vetted_content)
  %label{ :for => "user_vetted_false" }
    = f.radio_button :vetted, "false"
    = I18n.t(:all_information)
