= render(:partial => 'image_summary')
= render(:partial => 'text_summary')
= render(:partial => 'classification_summary')
= render(:partial => 'collection_summary')
= render(:partial => 'communities_summary')
= render :partial => 'feed_items/index', :locals => {:feed => @taxon_concept.feed}
= render :partial => 'curator_citation'
