<input type="hidden" id="data_objects_to_log" name="data_objects_to_log" value="<%= @data_object_ids_to_log.join(',') %>" />
<input type="hidden" id="taxon_concept_to_log" name="data_objects_to_log" value="<%= @taxon_concept.id %>" />

<%- # default to regular page separator if we can't find a specific kingdom
    page_separator="page-separator-general"
    if entry_in_col = @taxon_concept.find_ancestor_in_hierarchy(Hierarchy.default)
      @page_separator="page-separator-#{entry_in_col.kingdom.canonical_form.string.downcase}"
    end
-%>

<div class="page-separator" id="<%= page_separator %>"></div>

    <div id="page-title">
       
        <% if @taxon_concept.vetted_id != Vetted.trusted.id %>
            <div class="unvetted-title-names">
        <% end %>
        <h1><%= hh(@taxon_concept.title(@session_hierarchy)) %></h1>
        <h2><%= hh(@taxon_concept.subtitle(@session_hierarchy)) %></h2>
          
        <hr />
        <span class="classification-attribution-name"><%= @taxon_concept.hierarchy_entries[0].rank_label.capitalize %> recognized by <%= agent_icons_partial(@taxon_concept.classification_attribution(@session_hierarchy).reverse, :show_text_if_no_icon=>true, :only_show_col_icon=>true, :separator=>',&nbsp;', :last_separator=>'&nbsp;in&nbsp;', :taxon => @taxon_concept)%></span><br />
        
        <% if @taxon_concept.vetted_id != Vetted.trusted.id %>
            </div>
        <% end %>
        
        


        <div id="post-info" class="clearfix">

            <span class="iucn-status">

                <% if @taxon_concept.iucn_conservation_status != ''%>
                    <%= "IUCN Red List Status"[] %>: <span class="iucn-status-value"><%=external_link_to(@taxon_concept.iucn_conservation_status,@taxon_concept.iucn_conservation_status_url)%></span>
                <% else %>
                    &nbsp;
                <% end %>
            </span>
            <span class="page-status">
              <%= current_user.expertise.to_s == 'expert' ? link_to('Switch to common names', taxon_url(:id=>@taxon_concept.id) + '?expertise=middle') : link_to('Switch to scientific names', taxon_url(:id=>@taxon_concept.id) + '?expertise=expert') %>
            </span>
            <hr />             
        </div>
        
    </div> <!-- /page title -->
 
    <%= render(:partial => 'mediacenter',
            :locals => {:current_user => current_user}) %>

    <!-- page content -->
    <div id="page-content-bgfaux"> 
    <div id="page-content" class="clearfix">

        <!-- left page content -->
        <div id="left-page-content">

            <div id="sliding-toggle">                    
                <div id="slider">
                    <div id="handle"></div>
                </div>
                <div id="grid"></div>
            </div>

            <input id="current_taxon_concept_id" type="hidden" name="current_taxon_concept_id" value="<%= @taxon_concept.id %>" />
            <input id="current_content" type="hidden" name="current_content" value="<%= @category_id %>" />
            <input id="canonical_form" type="hidden" name="canonical_form" value="<%= strip_tags(@taxon_concept.canonical_form) %>" />

            <script language="javascript" type="text/javascript">
            // <![CDATA[
            eol_slider('<%= current_user.vetted.to_s %>', <%= @taxon_concept.id %>);
            // ]]>
            </script>

            <h4 id="toc-header"><%= "Table Of Contents"[] %></h4>
            <ul id="toc">
                <% 
                  unless @taxon_concept.table_of_contents(:vetted_only=>current_user.vetted).blank?
                      for item in @taxon_concept.table_of_contents(:vetted_only=>true)
                          %><%= render :partial => 'table_of_content_item', :locals=>{:item=>item} %> <%
                          end
                  end -%>
                  <li class="add_text">
                    <div class="add_text_button">
                      <%= link_to("<span style='width:20px;height:20px;display:block;'></span>", {:controller => :data_objects, :action => :new, :type => :text, :taxon_concept_id => @taxon_concept.id, :toc_id => @new_text_tocitem_id}, :id => 'new_text_toc_button', 'data-change_toc_url' => url_for(:controller => 'taxa', :action => 'user_text_change_toc', :taxon_concept_id => @taxon_concept.id)) -%>
                    </div>
                    <%= link_to("Add New", {:controller => :data_objects, :action => :new, :type => :text, :taxon_concept_id => @taxon_concept.id, :toc_id => @new_text_tocitem_id}, :id => 'new_text_toc_text', 'data-change_toc_url' => url_for(:controller => 'taxa', :action => 'user_text_change_toc', :taxon_concept_id => @taxon_concept.id) ) -%>
                  </li>

                  <li class="multi_new_text_error" style="display:none;">
                    Only one text object can be edited at a time.
                  </li>
            </ul>
            <hr />

            <% # don't show curators for now until we can only show curators that actually did something on this page
               # Feb. 12, 2009 Peter Mangiafico
               #= render :partial => 'curator_list'
            %>
            
        </div> <!-- /left page content -->
        
        <div id="center-page-content">      
            <%= render :partial => 'content' %>             
        </div><!-- /center-page-content -->
        <div id="center-page-content-loading" style="display:none;">
            <%=image_tag 'indicator_arrows_black.gif', :alt=>'Working...'%>
        </div> <!-- /center-page-content-loading -->    
                    
        <div id="right-page-content">
            <%= render :partial => 'internal_nav' %>            
            <% @taxon_concept.ping_host_urls.each do |host_url| %>
            <img style="display:none;" src="<%= host_url %>" alt="this image is giving credit to the content provider and should not render."/>
            <% end %>
        </div> <!-- /right page content -->

    </div> <!-- /page-content -->

  </div> <!-- /page-content-bgfaux -->

  <%= render :partial => 'curator_citation' %>  
