<% rate_percentage = data_object.data_rating * 20 %>

<% if current_user.can_curate?(@taxon) %>

  Average rating:
  <span class="inline-rating">
  <ul class="star-rating small-star">
    <li class="current-rating" style="width:<%= rate_percentage %>%;">Average Rating: <%= data_object.data_rating.to_s %></li>
  </ul></span>
  Your rating:
  <span class="inline-rating">
  <ul class="star-rating small-star">
    <li class="current-rating" style="width:80%;">Currently 4/5 Stars.</li>
    <li><%= link_to('1', {:controller => 'data_objects', :action => 'rate', :id => data_object.id, :stars => 1}, :class => 'one-star') %></li>
    <li><%= link_to('2', {:controller => 'data_objects', :action => 'rate', :id => data_object.id, :stars => 2}, :class => 'two-stars') %></li>
    <li><%= link_to('3', {:controller => 'data_objects', :action => 'rate', :id => data_object.id, :stars => 3}, :class => 'three-stars') %></li>
    <li><%= link_to('4', {:controller => 'data_objects', :action => 'rate', :id => data_object.id, :stars => 4}, :class => 'four-stars') %></li>
    <li><%= link_to('5', {:controller => 'data_objects', :action => 'rate', :id => data_object.id, :stars => 5}, :class => 'five-stars') %></li>
  </ul>
  </span>
<% else %>
  <ul class="star-rating">
    <li class="current-rating" style="width:<%= rate_percentage %>%;">Average Rating: <%= data_object.data_rating.to_s %></li>
  </ul>
<% end %>