#text_summary.article.overview
  - if @taxon_page.summary_text.blank?
    .header
      %h3= I18n.t(:text_summary_empty_header)
    .empty
      %p= I18n.t(:text_summary_empty)
      - taxon = ''
      -# TODO - errr... why? This is absolultely something that should be generalized already, elsewhere. Worst case,
        this belongs in a helper:
      - if @taxon_page.classifcation_filter?
        - taxon = @taxon_page.quick_scientific_name(:italicized, @taxon_page.hierarchy)
      - else
        - taxon = "<i>#{@taxon_page.title_canonical}</i>"
      - if @taxon_page.details?
        %p= raw(I18n.t(:explore_what_we_know_about_taxon, :taxon => link_to(raw(taxon), taxon_details_path(@taxon_page))))
      = link_to I18n.t(:add_brief_summary_to_page_link_button), new_taxon_data_object_path(@taxon_page), :class => 'button'
  - else
    -# TODO ... Ummmn... why does the summary text not know about the taxon_concept that BUILT it?  Why are we
    -# passing it in?!
    - item_status_class, item_status_label = @taxon_page.summary_text.status_class_and_label_by_taxon_concept(@taxon_concept)
    - unless @taxon_page.summary_text.description.empty? || @taxon_page.summary_text.description.nil? || @taxon_page.summary_text.toc_items.empty?
      %div{:class => item_status_class, :data => { :text_id =>  @taxon_page.summary_text.id } }
        .header
          %h3= h @taxon_page.summary_text.toc_items[0].label
          = link_to(I18n.t(:text_summary_more_link), taxon_details_path(@taxon_page))
        .meta.learn_more
          %p= link_to I18n.t(:article_more_about), data_object_path(@taxon_page.summary_text)
          = render :partial => 'data_objects/view_translation', :locals => { :data_object => @taxon_page.summary_text, :taxon => @taxon_page}
        - if @taxon_page.summary_text.content_partner && @taxon_page.summary_text.content_partner == ContentPartner.wikipedia
          = stylesheet_link_tag("wikipedia")
          = javascript_include_tag("wiki_ogg_player")
        .copy
          - unless @taxon_page.summary_text.object_title.blank?
            %h4= @taxon_page.summary_text.object_title
          - @taxon_page.summary_text.description = @taxon_page.summary_text.description_linked unless @taxon_page.summary_text.description_linked.blank? rescue nil
          - if @taxon_page.summary_text.added_by_user?
            = raw(Sanitize.clean(@taxon_page.summary_text.description.balance_tags, Sanitize::Config::RELAXED))
          - else
            = raw(@taxon_page.summary_text.description.balance_tags)
        %p.flag{:class => item_status_class}= item_status_label
        .meta.attribution
          = render :partial => 'data_objects/attribution_minimal', :locals => { :data_object => @taxon_page.summary_text }
