#text_summary_container
  %h2= I18n.t(:overview_text_title)
  = link_to(I18n.t(:read_full_entry), '/placeholder_link')
  - content = @taxon_concept.content_by_category(TocItem.overview.id)
  - unless content[:data_objects].nil?
    - content[:data_objects].each do |content_item|
      - subtitle = content_item.subtitle_to_show || content[:category_name]
      %div{:class => "article #{vetted_id_class(content_item)}", :data => { :text_id =>  content_item.id } }
        %h3
          = hh(subtitle)
        %div.article_content
          - #TODO: If our text data object does not contain p tags can we add them? Without them the text block does not have any semantic meaning.
          = content_item.description.balance_tags
        - unless content_item.published_refs.blank?
          .references_container
            %h4=I18n.t("references")
            %ul
              -# Checking to see if we should link references
              - ref_class = nil
              - if defined? $REFERENCE_PARSING_ENABLED
                - ref_class = 'biblio_entry' if $REFERENCE_PARSING_ENABLED
              - else
                - parameter = SiteConfigurationOption.reference_parsing_enabled
                - if parameter && parameter.value == 'true'
                  - ref_class = 'biblio_entry'
              - content_item.published_refs.each do |ref|
                %li{ :class => ref_class, :data => { :ref_id => ref.id } }
                  = ref.full_reference.balance_tags
                  - ref.ref_identifiers.each do |identifier|
                    - next unless identifier.display?
                    &emsp;
                    = external_link_to(identifier.identifier, identifier.link_to_identifier)
        .attribution_container
          %h4= I18n.t(:source_and_additional_information)
          = render :partial => 'data_objects/attribution', :locals => { :data_object => content_item }
