#text_summary
  %h2= I18n.t(:text_summary_header)
  = link_to(I18n.t(:text_summary_more_link), '/placeholder_link')
  - unless @summary_text.nil?
    - @summary_text.each do |dato|
      - subtitle = dato.subtitle_to_show
      - subtitle = dato.toc_items[0].label if subtitle.empty?
      %div{:class => "article #{vetted_id_class(dato)}", :data => { :text_id =>  dato.id } }
        %h3= hh(subtitle)
        - # TODO: If our text data object does not contain p tags can we add them?
        - # Without them the text block does not have any semantic meaning.
        = dato.description.balance_tags
        .attribution
          = render :partial => 'data_objects/attribution_minimal', :locals => { :data_object => dato }
