#text_summary.article.overview
  - if @summary_text.nil?
    .header
      %h3= I18n.t(:text_summary_empty_header)
    .empty
      %p= I18n.t(:text_summary_empty)
      %p= link_to I18n.t(:add_brief_summary_to_page_link_button), new_taxon_data_object_path(@taxon_concept), :class => 'button'
  - else
    - @summary_text.each do |dato|
      - unless dato.description.empty? || dato.description.nil?
        %div{:class => vetted_id_class(dato.vetted_id), :data => { :text_id =>  dato.id } }
          .header
            %h3= h dato.toc_items[0].label
            = link_to(I18n.t(:text_summary_more_link), taxon_details_path(@taxon_concept.id))
          .meta.learn_more
            %p= link_to I18n.t(:article_more_about), data_object_path(dato)
            = render :partial => 'data_objects/view_translation', :locals => { :data_object => dato }
          .copy
            = dato.description.balance_tags
          %p.flag{:class => vetted_id_class(dato.vetted_id)}= dato.vetted == Vetted.unknown ? I18n.t(:unreviewed) : dato.vetted.label
          .meta.attribution
            = render :partial => 'data_objects/attribution_minimal', :locals => { :data_object => dato, :supplier => true }
        - break
