<div id="text_wrapper_<%=content_item.id%>" <%="style='display:none'" if @hide%>  <%='class="text_object"' if !@preview%>>
  <div class="content-article <%=vetted_id_class(content_item)%>" id="text_<%=content_item.id%>">
    <% if !content_item.user.nil? && content_item.user.id == current_user.id %>
      <div class="multi_new_text_error" style="display:none;">
        Only one text object can be edited at a time.
      </div>
      <div class="edit_text">
        <%= link_to("Edit", {:controller => :data_objects, :action => :edit, :type => :text, :id => content_item.id, :taxon_concept_id => @taxon_id, :toc_id => @category_id}, :id => "edit_text_#{content_item.id}") -%>
      </div>
      <% if content_item.object_title.blank? || content_item.object_title == category%>
        <h1>&nbsp;</h1>
      <% end %>
    <% end %>
    <% if content_item.object_title.blank? == false && content_item.object_title != category %>
      <h1><%= hh(content_item.object_title) %></h1>
    <% end %>

    <!-- ATTRIBUTION GOES HERE -->
    <div class="content-attribution-area">
      <div class="attribution-header text-area-header">
        <%= "Source and Additional Information"[] %>
      </div>
      <%= render :partial => 'data_objects/attribution', :locals => { :data_object => content_item } %>
    </div>

    <br />

    <div <%='class="unvetted-background-text"' if content_item.vetted_id != Vetted.trusted.id %>>
     <%= content_item.description %>
    </div>

    <%# -- REFERENCES -- %>
    <% unless content_item.refs.blank? %>

      <div class='references'>
        <div class='text-area-header references-header'>References</div>
        <ul>
        <% content_item.refs.each do |ref| %>
          <li><%= h ref.full_reference -%>
            <% ref.ref_identifiers.each do |identifier| -%>
              <%# we do not show identifier unless we know how to handle them: -%>
              <% next unless identifier.display? -%>
              &emsp;<%= external_link_to(identifier.identifier,
                                identifier.link_to_identifier) %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

    <% end %>

  </div>
  <div class="text_buttons" id="text_buttons_<%=content_item.id%>">
    <ul data-data_object_id='<%=content_item.id%>'>
      <%=render :partial=>'/taxa/data_object_states', :locals => {:dato => content_item}%>
    </ul>

    <!-- RATING -->
    <div class="text-rating">
      <%=render :partial => '/taxa/star_rating', :locals => {:data_object => content_item}%>
    </div>

    <% if @curator%>
      <% if !content_item.curated? %>
        <div class="spinner">
          <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%>
        </div>
        <div id="hide_these_controls_too_for_now" style="display:none">
          <div class="trust_button thumbs-up-image">
            <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => content_item.id, '_method' => :put, :curator_activity_id => CuratorActivity.approve!.id.to_s}, {'data-data_object_id' => content_item.id, 'data-data_object_type' => DataType.text_type_ids[0]} %>
          </div>
          <div class="untrust_button thumbs-down-image">
            <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', {:controller => :data_objects, :action => :curate, :id => content_item.id, '_method' => :put, :curator_activity_id => CuratorActivity.disapprove!.id.to_s}, {'data-data_object_id' => content_item.id, 'data-data_object_type' => DataType.text_type_ids[0]} %>
          </div>
        </div>
      <% end %>
      <div class="curate_button curate-button-image">
        <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', curation_data_object_path(content_item), {'data-data_object_id' => content_item.id, :style => comments_style, :class => 'slide-in-link'} %>
      </div>
    <% end %>
    <% if !@preview %>
      <div class="comment_button comment-button-image">
        <%= link_to '<span style="display:block;width:24px;height:25px;"></span>', data_object_comments_path(content_item), {'data-data_object_id' => content_item.id, :style => comments_style, :class => 'slide-in-link'} %>
      </div>
    <% end %>
  </div>

  <div id="text-comments-wrapper-<%= content_item.id %>" style="display:none;" class="text-slidebox-border">
    <div id="text-comments-<%= content_item.id %>" class="text-slidebox-container text-comment-div">
      <%# TODO - we re-use this indicator a lot.  Put it in a CSS class. %>
      <p><%= image_tag 'indicator_arrows_black.gif' %> Retrieving comments, please wait...</p>
    </div>
  </div>

  <div id="text-curation-wrapper-<%= content_item.id %>" style="display:none;" class="text-slidebox-border">
    <div id="text-curation-<%= content_item.id %>" class="text-slidebox-container">
      <p><%= image_tag 'indicator_arrows_black.gif' %> Loading curation controls, please wait...</p>
    </div>
  </div>

  <div class="divider"></div>
</div>
