#page-separator-general
#page-title
  %h1= I18n.t(:curator_list) 
#page-content.clearfix
  #full-page-content
    - if @curators.empty?
      %h3
        =I18n.t("there_are_no_curators_of")
        = link_to(@concept.title(@session_hierarchy), :controller => :taxa, :action => :show, :id => @concept.id)
    - else
      %h3
        =I18n.t("the_following_are_curators_of")
        = link_to(@concept.title(@session_hierarchy), :controller => :taxa, :action => :show, :id => @concept.id)
      %br


      %table.results_table
        %tr
          %th{:width => '200px'}
            = I18n.t(:curator_name) 
          %th
            = I18n.t(:curator_clade) 

          - @curators.each do |u|
            - row_class = cycle('odd', 'even')
            %tr
              %td{:class => row_class}
                %a{:href => url_for(:controller => :account, :action => :show, :id => u.id)}
                  - if u.family_name.blank? || u.family_name.strip.blank?
                    = "#{u.given_name.strip}"
                  - else
                    = "#{u.family_name.strip}, #{u.given_name.strip}"
              %td{:class => row_class}
                %a{:href => taxon_concept_path(u.curator_hierarchy_entry.taxon_concept_id)}<
                  = u.curator_hierarchy_entry.name.string
                - unless u.curator_scope.strip.blank?
                  %br
                  = u.curator_scope
