#media-images.wrapper-mc.clearfix{:style => 'display:block'}
  - # Media Center image
  #large-image
    #main-image-bg
      %table#main-image-table
        %tr
          %td
            /--- original code ---
            - unless @images.blank?
              %img#main-image{ :title => sanitize(strip_tags(@taxon_concept.title)),           |
                :src => (@selected_image.smart_image unless (@images.nil? or @images.blank?)), |
                :alt => sanitize(strip_tags(@taxon_concept.title)) }                           |

            / Working if you want to load the Photosynth interface by default
            /- if(!@selected_image.nil?)
            /  - string = @selected_image.source_url
            /  - matches = string.match(/\/photosynth.net\//i)
            /  - if matches.nil?
            /    - unless @images.blank?
            /      %img#main-image{ :title => sanitize(strip_tags(@taxon_concept.title)),           |
            /        :src => (@selected_image.smart_image unless (@images.nil? or @images.blank?)), |
            /        :alt => sanitize(strip_tags(@taxon_concept.title)) }                           |
            /  - else
            /    - result = string.gsub(/view.aspx/, 'embed.aspx')            
            /    %iframe{:frameborder => 0, :src => "#{result}&delayLoad=true&slideShowPlaying=false", :width => 425, :height=> 355}


    %hr
    - unless @images.blank?
      / TODO simplify the IDs of the button links ... they need to have unique IDs but thats all
      #large-image-buttons
        #left-image-buttons
          %ul#large-image-button-group
            %li#large-image-attribution-button.attribution-icon{:title => "More information"}
              = link_to '<span style="display:block;width:24px;height:25px;"></span>', |
                attribution_data_object_path(@selected_image),                         |
                :rel => "#attribution-overlay",                                        |
                :id => "large-image-attribution-button-popup-link",                    |
                :class => 'popup-link', :title => "More information"                   |
            #attribution-overlay.overlay{:style=>"width:400px"}
              .contentWrap
                Please wait, loading...
            = render :partial=>'data_object_states', :locals => {:dato => @selected_image}
            %li#photosynth-message  
        #right-image-buttons
          #large-image-button-popup
            - #The inner divs on the links are hacks to get the links to work in ie6. there's probably a better way to do this

            - if @taxon_concept.show_curator_controls?
              .spinner
                = image_tag('indicator_arrows_black.gif', :style => 'display:none;')
              #large-image-curator-button.curate-button-image{ :title => "Curate image" }
                = popup_link 'curator', curation_data_object_path(@selected_image), :title => 'Curate image', :rel => '#curation-overlay'
                #curation-overlay.overlay{:style=>"width:464px"}
                  .contentWrap
                    Please wait, loading...
            #large-image-tagging-button{:title => "Tag image"}
              = popup_link 'tagging', data_object_tags_path(@selected_image), :title => 'Tag image', :rel => '#tagging-overlay'
              #tagging-overlay.overlay{:style=>"width:500px"}
                .contentWrap              
                  Please wait, loading...
            #large-image-comment-button.comment-button-image{:title => "Comment on image"}
              = popup_link 'comment', data_object_comments_path(@selected_image, {}), |
                  :title => "Comment on image",                                       |
                  :rel => "#comment-overlay"                                          |
              #comment-overlay.overlay{:style=>"width:460px"}
                .contentWrap              
                  Please wait, loading...
        .image-rating
          = render :partial => 'star_rating', :locals => {:data_object => @selected_image, :show_controls => @taxon_concept.show_curator_controls?}
  #image-thumbnails.mc-info

    - if @images.blank? == false
      .mc-header
        %h3
          = "Images"
        %hr
    - else
      .noimages
    
    - unless @images.blank?
      #image-collection
        = render :partial => 'image_collection', :locals=>{:update_attribution_on_load=>true}
    
      #mc-notes.mc-notes
        %span#field-notes
