:javascript
  var selected_image_id = #{@selected_image_id}
-# TODO - this should be done with merging.
= javascript_include_tag 'image-collection' # Note this really MUST be loaded BEFORE popup, so tabs are rendered before popup positions are calculated.
= javascript_include_tag 'popup' # There are several popup items in the images view.
#media-images.wrapper-mc.clearfix{:style => 'display:block'}
  - if @images.blank? # I know this repeats a lot of style; sorry.
    -# But we need at least one of these, when there are no images to show...
    .large-image
      .main-image-bg{:class => main_img_bg_class}
        -# TODO - there is absolutely NO reason this should be a table.  Way too much markup, here.
        %table#main-image-table
          %tr
            %td
        %hr/
    .image-thumbnails.mc-info
      .noimages
  - else # we have images...
    #large-image
      - @images[0..$MAX_IMAGES_PER_PAGE-1].each do |image|
        - main_img_bg_class = 'main-image-bg'
        - main_img_bg_class += ' unknown-background-image' if image.unknown?
        - main_img_bg_class += ' untrusted-background-image' if image.untrusted?
        %div{:id => "image-#{image.id}", :class => main_img_bg_class}
          -# TODO - there is absolutely NO reason this should be a table.  Way too much markup (and CSS), here.
          %table.main-image-table
            %tr
              %td
                - title = sanitize(strip_tags(image['scientific_name']))
                %img.main-image{ :title => title,           |
                  :src => (image.smart_image unless (@images.nil? or @images.blank?)), |
                  :alt => title }                           |

                /
                  I am not sure this is still working after we cahnged to jQuery:  (Says JRice)

                
                  If you want to load the Photosynth interface by default
                  - if(!image.nil?)
                    - string = image.source_url
                    - matches = string.match(/\/photosynth.net\//i)
                    - if matches.nil?
                      - unless @images.blank?
                        %img.main-image{ :title => sanitize(strip_tags(@taxon_concept.title)),           |
                          :src => (image.smart_image unless (@images.nil? or @images.blank?)), |
                          :alt => sanitize(strip_tags(@taxon_concept.title)) }                           |
                    - else
                      - result = string.gsub(/view.aspx/, 'embed.aspx')            
                      %iframe{:frameborder => 0, :src => "#{result}&delayLoad=true&slideShowPlaying=false", :width => 425, :height=> 355}
      %hr
      / TODO simplify the IDs of the button links ... they need to have unique IDs but thats all
      #large-image-buttons
        #left-image-buttons
          %ul#large-image-button-group
            %li#large-image-attribution-button.attribution-icon{:title => "More information"}
              = link_to '<span style="display:block;width:24px;height:25px;"></span>', |
                attribution_data_object_path(@images.first),                           |
                :rel => "#attribution-overlay",                                        |
                :id => "large-image-attribution-button-popup-link",                    |
                :class => 'popup-link', :title => "More information"                   |
            #attribution-overlay.overlay{:style=>"width:400px"}
              .contentWrap
                Please wait, loading...
            = render :partial => 'data_object_states', :locals => {:dato => @images.first}
            %li#photosynth-message  
        #right-image-buttons
          #large-image-button-popup
            - #The inner divs on the links are hacks to get the links to work in ie6. there's probably a better way to do this

            - if @taxon_concept.show_curator_controls?
              .spinner
                = image_tag('indicator_arrows_black.gif', :style => 'display:none;')
              #large-image-curator-button.curate-button-image{ :title => "Curate image" }
                = popup_link 'curator', curation_data_object_path(@images.first), :title => 'Curate image', :rel => '#curation-overlay'
                #curation-overlay.overlay{:style=>"width:464px"}
                  .contentWrap
                    Please wait, loading...
            #large-image-tagging-button{:title => "Tag image"}
              = popup_link 'tagging', data_object_tags_path(@images.first), :title => 'Tag image', :rel => '#tagging-overlay'
              #tagging-overlay.overlay{:style=>"width:515px"}
                .contentWrap              
                  Please wait, loading...
            #large-image-comment-button.comment-button-image{:title => "Comment on image"}
              = popup_link 'comment', data_object_comments_path(@images.first, {}), |
                  :title => "Comment on image",                                       |
                  :rel => "#comment-overlay"                                          |
              #comment-overlay.overlay{:style=>"width:460px"}
                .contentWrap              
                  Please wait, loading...
        #image-ratings
          - @images[0..$MAX_IMAGES_PER_PAGE-1].each do |image|
            .image-rating{:id => "rating-#{image.id}"}
              = render :partial => 'star_rating', :locals => {:data_object => image, :show_controls => @taxon_concept.show_curator_controls?}
    #image-thumbnails.mc-info
      .mc-header
        %h3
          = "Images"
        %hr
      = render :partial => 'image_collection'
