%h2
  =I18n.t("list_of_taxa_harvested_on")
  = format_date(@harvest_event.began_at)
=I18n.t(:with_data_object_note)
- unless @taxa_contributed.blank?
  %form#pagination_form
    = will_paginate(@taxa_contributed)
    - @taxa_contributed.each do |taxon|
      - unless @harvest_event.published_at
        = unpublished_icon
        \&nbsp;
      - @indicator=""
      - if(taxon['has_data_object'].to_i == 1)
        - @indicator="*"
      = link_to hh(taxon['scientific_name']), {:controller=>"taxa", :action=>"show", :id=>taxon['taxon_concept_id']}
      = @indicator
      %br
    = will_paginate(@taxa_contributed)
