<%- if current_user.is_admin? -%>
  <%= render :partial => '/admin/content_top', :locals => {:name => 'Content Partner Reports'} %>
  <%- content_partner_id = params[:content_partner_id] -%>  
<%- else -%>
  <%= render :partial => '/content_partner/top', :locals => {:page_header => 'Edit Resource'} %>
  <%- content_partner_id = 0 -%>
<%- end -%>
<h2>List of taxa harvested on <%= format_date(@harvest_event.began_at) %>
<%- unless @taxa.blank? -%>
  <form id="pagination_form">
    <%= will_paginate(@taxa) %>

    <%- @taxa.each do |taxon| -%>
      
      <%- unless @harvest_event.published_at -%><%= unpublished_icon %>&nbsp;<%- end -%><%= link_to hh(taxon.scientific_name), {:controller=>"taxa", :action=>"show", :id=>taxon.taxon_concept_id} %><br/>
    <%- end -%>

    <%= will_paginate(@taxa) %>
  </form>
<%- end -%>

<%- if current_user.is_admin? -%>
  <%= render :partial=> '/admin/content_bottom' %>
<%- else -%>
  <%= render :partial=> '/content_partner/bottom' %>
<%- end -%>
