- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon
  = render(:partial => 'taxa/media_summary')
  = render(:partial => 'taxa/iucn_status_summary')
  = render(:partial => 'taxa/text_summary')
  = render(:partial => 'taxa/collections_summary')
  = render(:partial => 'taxa/communities_summary')
#sidebar
  = render(:partial => 'taxa/classifications_summary')
  - cache("taxon_overview_curators_#{@overview.cache_id}") do
    = render(:partial => 'taxa/curators_summary', :locals => {:curators => @overview.curators})
  - unless @overview.classifcation_filter?
    .article.list.updates
      - cache("activity_#{@overview.cache_id}") do
        .header
          %h3= I18n.t(:recent_updates)
          - if @overview.activity_log.total_entries > 0
            = link_to(raw(I18n.t(:see_all_updates_with_count_html, :count => @overview.activity_log.total_entries)), taxon_updates_path(@overview))
        = render(:partial => 'activity_logs/index', :locals => {:log => @overview.activity_log, :hide_pagination => true, :truncate_comments => true })
      = render(:partial => 'comments/new', :locals => { :parent => @overview.taxon_concept })
