- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon
  = render(:partial => 'taxa/media_summary')
  = render(:partial => 'taxa/iucn_status_summary')
  = render(:partial => 'taxa/text_summary')
  = render(:partial => 'taxa/collections_summary')
  = render(:partial => 'taxa/communities_summary')
#sidebar
  = render(:partial => 'taxa/classifications_summary')
  = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.data_object_curators})
  - unless @selected_hierarchy_entry
    .article.list.updates
      - cache("taxon_overview_activity_#{@taxon_concept.id}_#{current_language.iso_639_1}") do
        - log = @taxon_concept.activity_log(:per_page => 5)
        .header
          %h3= I18n.t(:recent_updates)
          - if log.total_entries > 0
            = link_to(raw(I18n.t(:see_all_updates_with_count_html, :count => log.total_entries)), taxon_updates_path(@taxon_concept))
        = render(:partial => 'activity_logs/index', :locals => {:log => log, :hide_pagination => true, :truncate_comments => true })
      = render(:partial => 'comments/new', :locals => { :parent => @taxon_concept })
