- unless @all_results.blank?
  .header
    - # FIXME: pagination required
    - start_number = 1
    - end_number = 40
    %h3= I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number)
    - # FIXME: = will_paginate(@all_results)
  %ul
    - @all_results.each do |result|
      - url = found_url(:id => result['id'])
      - result_type = 'taxon' # FIXME
      - if result_type == 'taxon'
        - en_type = 'taxon'
        - image = result['top_image'].nil? ? nil : result['top_image'].smart_medium_thumb
        - classification = "#{result['ancestor_scientific']} > #{result['parent_scientific']}"
        - primary_title = result['best_matched_scientific_name'].is_a?(Array) ? result['best_matched_scientific_name'].first : result['best_matched_scientific_name']
        - secondary_title = hh(result['best_matched_common_name'])
      - elsif result_type == 'person'
        - # FIXME:
        - en_type = 'person'
        - primary_title = "Bill Brasky"
        - secondary_title = "Head Mycologist"
      - elsif result_type == 'image'
        - # FIXME:
        - en_type = 'image'
        - primary_title = "Amanita in the Forest"
        - secondary_title = "Image of Amanita and 1 other taxon"
      - elsif result_type == 'community'
        - # FIXME:
        - en_type = 'community'
        - primary_title = "Mushroom Fanatics"
        - secondary_title = "32 members and 4 collections"
      - elsif result_type == 'collection'
        - # FIXME:
        - en_type = 'collection'
        - primary_title = "My favorite pages"
        - secondary_title = "45 items; maintained by Bill Brasky"
      - elsif result_type == 'video'
        - # FIXME:
        - en_type = 'video'
        - primary_title = "Video title"
        - secondary_title = "Video of Amanita and 1 other taxon"

      %li{:class => en_type}
        - unless image.nil?
          = link_to image_tag(image, :alt => ''), url
        %span.icon
        - unless classification.blank?
          %small classification
        %h4= link_to primary_title, url
        = secondary_title
  .header
    - # FIXME: Need pagination.
    %h3= I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number)
    - # FIXME: = will_paginate(@all_results)
