- form_for @contact, :url=>{:action=>'create'}, :builder => ApplicationHelper::EolFormBuilder do |f|

  - if @contact.errors.any?
    = f.hidden_field :ip_address
    = f.hidden_field :referred_page
    = f.hidden_field :user_id
  - else
    = f.hidden_field :ip_address, :value => request.remote_ip
    - unless params[:referred_page].blank?
      = f.hidden_field :referred_page, :value => params[:referred_page]
    - if logged_in? and current_user
      = f.hidden_field :user_id, :value => current_user.id

  %fieldset
    %h1= I18n.t(:please_leave_your_feedback)
    = validation_errors_for(@contact)
    %dl
      %dt
        = f.label :name
      %dd
        = f.text_field :name, { :maxlength => 32 }
      %dt
        = f.label :email
      %dd
        = f.text_field :email, { :maxlength => 100 }
      %dt
        = f.label :contact_subject
      %dd
        = f.select :contact_subject_id, @list
      %dt
        = f.label :comment
      %dd
        = f.text_area :comments, { :maxlength => 5000 }
  - if $ENABLE_RECAPTCHA
    %fieldset
      :javascript
        var RecaptchaOptions = { theme : 'clean'};
      %dl
        %dt
          %label{ :for => "recaptcha" }
            = I18n.t(:recaptcha)
        %dd
          = recaptcha_tags
  %fieldset.actions
    = f.submit I18n.t(:send_feedback)
