#sidebar
  = render 'communities/active_members_sidebar'
#community_collections.main_container
  .heading
    %h3= I18n.t(:managed_collections_with_count, :count => @community.collections.count)
  %ul.object_list
    - @community.collections.each do |focus|
      = render 'collections/collection_summary', { :collection => focus }
  - unless @community_collections.blank?
    .heading
      %h3= I18n.t(:endorsed_collections_with_count, :count => @community_collections.size)
      = render 'shared/sort_by_date_form'
    %ul.object_list
      - @community_collections.each do |ci|
        = render 'collections/collection_summary', { :collection => ci.collected_item, :show_user => true, :annotation => ci.annotation }
