- unless @feed_item.nil?
  - form_for(@feed_item, :html => { :class => "comment"}) do |f|
    %fieldset
      - #TODO: Change image to be current user thumbnail or something...
      = image_tag current_user.logo_url('small'), :alt => I18n.t(:profile_image_alt_text_member, :user_family_name => h(current_user.family_name), :user_given_name => h(current_user.given_name))
      = f.error_messages
      = f.hidden_field :feed_type
      = f.hidden_field :feed_id
      = f.text_area :body, :cols => 30, :rows => 3
    %fieldset.actions
      = f.submit I18n.t(:post_comment)
