- form_position ||= :after_items
- header ||= I18n.t(:recent_updates)
- allow_filter ||= false
#feed_items.article.list.updates
  - if form_position == :before_header
    = render :partial => 'feed_items/form', :locals => {:feed => feed}
  .header.heading
    %h3= header
    -# FIXME: Make this sort functional
    - if allow_filter
      %form.filter(action="" method="post")
        %fieldset
          %dl
            %dt
              %label= I18n.t(:filter_feeds_label)
            %dd
              %select
                %option= I18n.t(:filter_feeds_all_option)
          %input{:type => "submit", :value => I18n.t(:filter_feeds_button)}
  - if feed.empty?
    %p.empty= I18n.t(:no_activity)
  - else
    %ul.feed
      -# TODO - paginate
      - feed.each do |feed_item|
        %li
          - #TODO: Need to put images e.g. user profiles etc, also do we have good alt text from users?
          - if feed_item.user
            = link_to image_tag(feed_item.logo_url, :width => 50, :height => 50, :alt => ''), user_url(feed_item.user)
          .details
            - # TODO: Instead of feed.body something like:
            - # %p
            - #   %strong John
            - #   added
            - #   = link_to "4 photos", "#"
            - # %p Head Mycologist
            %p= h feed_item.body
            %p.meta= I18n.t(:time_ago, :time_passed => time_ago_in_words(feed_item.updated_at))
  - if form_position == :after_items
    = render :partial => 'feed_items/form', :locals => {:feed => feed}
