#feed_items_container
  %h2= I18n.t(:recent_updates)
  - if logged_in?
    = render :partial => 'feed_items/form', :locals => {:feed => feed} # Important to specify feed_items folder
  - else
    %p
      = link_to(I18n.t(:login_to_add_comments),
        login_path(:params => {:return_to => request.env["HTTP_REFERER"].blank? ? root_url : URI.parse(request.env["HTTP_REFERER"]).path}))
  - if feed.empty?
    %p.empty= I18n.t(:no_activity)
  - else
    %ul.feed
      -# TODO - paginate
      - feed.each do |feed_item|
        %li.feed_item
          .body= h feed_item.body
