- form_position ||= :after_items
- header ||= I18n.t(:recent_updates)
- header_style ||= 'header'
- allow_filter ||= false
#feed_items.article.list.updates
  - if form_position == :before_header
    = render :partial => 'feed_items/form', :locals => {:feed => feed}
  %div{:class => header_style}
    %h3= header
    -# FIXME: Make this sort functional
    - if allow_filter
      %form.filter(action="" method="post")
        %fieldset
          %dl
            %dt
              %label= I18n.t(:filter_feeds_label)
            %dd
              %select
                %option= I18n.t(:filter_feeds_all_option)
          %input{:type => "submit", :value => I18n.t(:filter_feeds_button)}
  - if feed.empty?
    %p.empty= I18n.t(:no_activity)
  - else
    %ul
      -# TODO - paginate with "see all" e.g taxon overview / dat object page
      - feed.each do |feed_item|
        %li
          - #TODO: Need to put images e.g. user profiles etc, also do we have good alt text from users?
          - if feed_item.user
            = link_to image_tag(feed_item.user.logo_url, :alt => ''), user_url(feed_item.user)
          - elsif feed_item.subject_type == 'TaxonConcept'
            - tc = TaxonConcept.find(feed_item.subject_id)
            - if thumb = tc.smart_thumb
              = link_to image_tag(thumb), taxon_concept_path(tc)
          - elsif feed_item.subject_type == 'TaxonConcept'
          .details
            - # TODO: Instead of feed.body something like:
            - # %p
            - #   %strong John
            - #   added
            - #   = link_to "4 photos", "#"
            - # %p Head Mycologist
            %p= feed_item.body
            %p.meta= I18n.t(:time_ago, :time_passed => time_ago_in_words(feed_item.updated_at))
  - if form_position == :after_items
    = render :partial => 'feed_items/form', :locals => {:feed => feed}
