= javascript_include_tag 'navigation.js'
%br
%table
  %tr
    %td
      %strong
        =I18n.t("username_colon")
    %td
      = f.text_field :username, {:size => '50', :maxlength => '32'}
  %tr
    %td
      %strong
        =I18n.t("password_colon")
    %td
      = f.password_field :entered_password, {:size => '50', :maxlength => '16', :autocomplete => 'off'}
  %tr
    %td
      %strong
        =I18n.t("confirm_password_colon")
    %td
      = f.password_field :entered_password_confirmation, {:size => '50', :maxlength => '16', :autocomplete => 'off'}
  %tr
    %td
      %strong
        =I18n.t("email_colon")
    %td
      = f.text_field :email, {:size => '50', :maxlength => '255'}
  %tr
    %td
      %strong
        =I18n.t("given_name_colon")
    %td
      = f.text_field :given_name, {:size => '50', :maxlength => '255'}
  %tr
    %td
      %strong
        =I18n.t("family_name_colon")
    %td
      = f.text_field :family_name, {:size => '50', :maxlength => '255'}
  - if @user.curator_approved
    %tr
      %td
        %strong
          =I18n.t("profile_colon")
      %td
        = external_link_to I18n.t("curator_profile"), user_path(@user)
  %tr
    %td
      %strong
        =I18n.t("language")
    %td
      = f.select :language_abbr, Language.find_active.collect {|l| [l.source_form, l.iso_639_1]}
  %tr
    %td
      %strong
        =I18n.t("only_show_authoritative_conten")
    %td
      = f.check_box :vetted
      =I18n.t("true_label")
  %tr
    %td
      %strong
        = I18n.t(:disable_email_notifications_colon)
    %td
      = f.check_box :disable_email_notifications
      = I18n.t("yes_answer")
  %tr
    %td
      %strong
        =I18n.t("active_colon")
    %td
      = f.check_box :active
      = I18n.t("true_label")
      = I18n.t(:failed_login_attempts_with_count, :count => @user.failed_login_attempts)
  %tr
    %td
      %strong
        =I18n.t("curator_scope_colon")
    %td
      = f.text_area :curator_scope, :rows => 3, :cols => 60
  %tr
    %td
      %strong
        =  I18n.t(:credentials)
        \:
    %td
      = f.text_area :credentials, :rows => 9, :cols => 60
  %tr
    %td
      %strong
        =I18n.t(:curator_level)
    %td
      = f.select(:curator_level_id, "<option value=''>None</option>" + options_from_collection_for_select(CuratorLevel.all, :id, :label, @user.curator_level_id))
      - if @user.is_curator?
        - unless @user.curator_verdict_by.blank?
          =I18n.t(:curator_status_changed_by, :user => @user.curator_verdict_by.full_name, :date => I18n.l(@user.curator_verdict_at, :format => :short))
  %tr
    %td{ :colspan => "2" }
  %tr
    %td
      %strong
        =I18n.t("remove_curatorship_colon")
    %td
      = check_box_tag :curator_denied
      =I18n.t("if_checked_and_user_is_saved")
  %tr
    %td
      %strong
        =I18n.t("admin_notes_not_visible_to_user")
    %td
      = f.text_area :notes, :rows => 3, :cols => 60
  - unless @user.id.nil?
    %tr
      %td
        %strong
          =I18n.t("created_colon")
        %br
        %strong
          =I18n.t("updated_colon")
      %td
        = format_date_time(@user.created_at)
        %br
        = format_date_time(@user.updated_at)
  %tr
    %td
      %strong
        =I18n.t("send_email_colon")
    %td
      #email_toggle
        %a{ :href => "#email", :onclick => "javascript:$('#email').show();$('#email_toggle').hide();return false;" }
          =I18n.t("show_email_message_area")
      #email{ :style => "display:none;" }
        =I18n.t("fill_in_a_message_below_to_send_email_to_user")
        %br
        = text_area_tag :message, @message, :cols => '60', :rows => '20'
%br
%br
= cancel_button_goes_back(return_to_url)
|
= f.submit
