= stylesheet_include_i18n_merged 'calendar'
=  I18n.t(:user_index_intro)
#users
  - form_tag({:action=>'index'},:method=>'get') do
    %table{:width => "100%"}
      %tr{:valign => 'top'}
        %td{:width => "30%"}
          = I18n.t(:search_for_users_containing_this_in_their_username_name_or_email_address)
        %td
          = text_field_tag(:user_search_string,@user_search_string)
      %tr{:valign => 'top'}
        %td
          = I18n.t(:who_registered_from)
        %td
          %input{:type => 'date', :value => @start_date, :name => "start_date"}
      %tr{:valign => 'top'}
        %td
          = I18n.t(:who_registered_before)
        %td
          %input{:type => 'date', :value => @end_date, :name => "end_date"}
      %tr{:valign => 'top'}
        %td
          = I18n.t(:dont_show_unknown_registered_dates_v1_users_all_prior_to_jan_5_2009)
        %td
          = check_box_tag 'blank_dates', '1', @blank_dates
      %tr{:valign => 'top'}
        %td
          &nbsp;
        %td
          = submit_tag I18n.t("search")
    -# Those input types of 'date' only work on HTML5-capable browsers, so we use jQuery Tools to fill in the gaps.
    :javascript
      $(document).ready(function() {
        $(":date").dateinput({format: 'yyyy/mm/dd', max: +1});
        $(":date:first").data("dateinput").change(function() {
          $(":date:last").data("dateinput").setMin(this.getValue(), true);
          $("#start_date").val(this.getValue('yyyy-mm-dd')); // Cheating. TODO - stop it.
        });
        $(":date:last").data("dateinput").change(function() {
          $(":date:first").data("dateinput").setMax(this.getValue(), true);
          $("#end_date").val(this.getValue('yyyy-mm-dd')); // Cheating. TODO - stop it.
        });
      });
    %br
    %br
    %p
      = link_to I18n.t("add_a_new_user"),:action=>'new'
      |
      = link_to I18n.t("export_this_list_as_csv"),{:action=>'index',:export=>'true',:start_date=>@start_date,:blank_dates=>@blank_dates,:end_date=>@end_date,:user_search_string=>@user_search_string}
    %br
    - if @users.nil? == false && @users.size > 0
      =I18n.t("a_total_of_items_were_found_matching_your_criteria", :count => @user_count)
      %br
      = will_paginate @users
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("id")
          %th
            =I18n.t("username")
          %th
            =I18n.t("email")
          %th
            =I18n.t("name")
          %th
            =I18n.t("created_at")
          %th
            =I18n.t("curator_question")
          %th
            =I18n.t("hidden")
          %th
            =I18n.t("hide") + "/" + I18n.t("show")
        - for user in @users
          - column_class=cycle('odd','even')
          %tr
            %td{ :class => column_class }
              = h user.id
            %td{ :class => column_class }
              = link_to(user.username,:action=>'edit',:id=>user.id)
            %td{ :class => column_class }
              = h user.email
            %td{ :class => column_class }
              = h user.full_name
            %td{ :class => column_class }
              = format_date_time(user.created_at)
            %td{ :class => column_class }
              = I18n.t(:curator_level_master_curator) + ": " + user.master_curator?.to_s if user.master_curator?
              = I18n.t(:curator_level_full_curator) + ": " + user.full_curator?.to_s if user.full_curator?
              = I18n.t(:curator_level_assistant_curator) + ": " + user.assistant_curator?.to_s if user.assistant_curator?
            %td{ :class => column_class }
              = user.is_hidden? ? I18n.t("yes_answer") : I18n.t("no_answer")
            %td{ :class => column_class }
              = #link_to(I18n.t("delete_firstcap"), {:action=>'destroy', :id=>user.id}, :confirm => I18n.t("are_you_sure_this_action_cannot_be_undone"), :method => :delete) unless user.is_curator?
              - if !user.is_curator? and !user.is_content_partner?
                = link_to(I18n.t("hide"), {:action=>'hide', :id=>user.id}, :method => :hide) unless user.is_hidden?
                = link_to(I18n.t("show"), {:action=>'unhide', :id=>user.id}, :method => :unhide) if user.is_hidden?
      %br
      = will_paginate @users
    - else
      =I18n.t("no_users_matched_search")
