= stylesheet_link_tag 'calendar'
= "All web users registered in the system are shown below,  sorted inversely by time registered.  Note that the registration dates for users prior to EOL V2 (Jan 5, 2009) are not available.  Click on a username to edit that user."[:user_index_intro]
#users
  - form_tag({:action=>'index'}, :method=>'get') do
    %table{:width => "100%"}
      %tr{:valign => 'top'}
        %td{:width => "30%"}
          = "Search for users containing this in their username, name or email address."[]
        %td
          = text_field_tag(:user_search_string, @user_search_string)
      %tr{:valign => 'top'}
        %td
          = "who registered from"[]
        %td
          %input{:type => 'date', :value => @start_date}
          -# TODO - I am cheating to get this to work.  This shouldn't be needed.
          = hidden_field_tag :start_date, @start_date
      %tr{:valign => 'top'}
        %td
          = "to"[]
        %td
          %input{:type => 'date', :value => @end_date}
          -# TODO - I am cheating to get this to work.  This shouldn't be needed.
          = hidden_field_tag :end_date, @end_date
      %tr{:valign => 'top'}
        %td
          = "Don't show unknown registered dates (V1 users, all prior to Jan 5, 2009)"[]
        %td
          = check_box_tag 'blank_dates', '1', @blank_dates
      %tr{:valign => 'top'}
        %td
          &nbsp;
        %td
          = submit_tag 'Search'
    -# Those input types of 'date' only work on HTML5-capable browsers, so we use jQuery Tools to fill in the gaps.  
    :javascript
      $(document).ready(function() {
        $(":date").dateinput({format: 'yyyy/mm/dd', max: +1});
        $(":date:first").data("dateinput").change(function() {
          $(":date:last").data("dateinput").setMin(this.getValue(), true);
          $("#start_date").val(this.getValue('yyyy-mm-dd')); // Cheating. TODO - stop it.
        });
        $(":date:last").data("dateinput").change(function() {
          $(":date:first").data("dateinput").setMax(this.getValue(), true);
          $("#end_date").val(this.getValue('yyyy-mm-dd')); // Cheating. TODO - stop it.
        });
      });
    %br
    %br
    %p
      = link_to "Add a new user", :action=>'new'
      |
      = link_to 'Export this list as CSV', {:action=>'index', :export=>'true', :start_date=>@start_date, :blank_dates=>@blank_dates, :end_date=>@end_date, :user_search_string=>@user_search_string}
    %br
    - if @users.nil? == false && @users.size > 0
      A total of
      = @user_count
      users were found matching your criteria.
      %br
      = will_paginate @users
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            Username
          %th
            Email
          %th
            Name
          %th
            Created At
          %th
            Curator?
        - for user in @users
          - unapproved_curator = !user.curator_hierarchy_entry.blank? && !user.curator_approved
          - column_class = cycle('odd', 'even')
          %tr
            %td{ :class => column_class }
              = link_to(user.username, :action=>'edit', :id=>user.id)
            %td{ :class => column_class }
              = h user.email
            %td{ :class => column_class }
              = h user.full_name
            %td{ :class => column_class }
              = format_date_time(user.created_at)
            %td{ :class => unapproved_curator ? 'untrusted' : column_class }
              = unapproved_curator ? "UNAPPROVED"[] : user.is_curator?
      %br
      = will_paginate @users
    - else
      No users are available matching your search criteria.
