= I18n.t(:user_activity_report_intro)
= link_to I18n.t(:view_common_activities_link), {:controller => 'administrator/user', :action => 'view_common_activities'}, {:class=>'toc_item active'}
#comments
  = form_tag({:action=>'view_user_activity'},:method=>'get') do
    %table
      %tr
        %td
          =I18n.t(:user)
        %td
          %select{ :name => "user_id" }
            %option
            %option{ :value => 'All', :selected => @user_id.to_s == 'All' }
              =I18n.t("all_title")
            - for user in @user_list
              %option{ :value => user.id, :selected => @user_id.to_i == user.id }
                = h(user.family_name) + ", " + h(user.given_name)
      %tr
        %td
          =I18n.t(:activity)
        %td
          %select{ :name => "activity_id" }
            %option
              =I18n.t("all_title")
            - for activity in @translated_activity_list
              %option{ :value => activity.activity_id, :selected => @activity_id.to_i == activity.activity_id }
                = h(activity.name)
          = submit_tag I18n.t("search")
    - if @activities.nil? == false && @activities.size > 0
      = will_paginate @activities
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("user")
          %th
            =I18n.t("species")
          %th
            =I18n.t("activity")
          %th
            =I18n.t("detail")
          %th
            =I18n.t(:date_caps)
        -#- for activity in @activities
        - @activities.each do |activity|
          - column_class=cycle('odd','even')
          - if (activity.taxon_concept_id) then
            - concept = TaxonConcept.find(activity.taxon_concept_id)
            - name = concept.quick_scientific_name(:italicized)
          - else
            - name=""

          - obj = Activity.find(activity.activity_id)
          - user = User.find(activity.user_id) rescue nil

          %tr{ :valign => "top" }
            %td{ :class => column_class }
              - if(user)
                = user.given_name + " " + user.family_name
            %td{ :class => column_class }
              = link_to name,{:controller=>'/taxa', :action=>:show, :id => activity.taxon_concept_id}
            %td{ :class => column_class }
              = h obj.name
            %td{ :class => column_class }
              - display_as_text = [9,15,22,36,26]
              - value_as_data_object = [3,4,7,11,13,14,23,24,34,35,42,1,12,2,29]
              - value_as_object_cache_url = [31]
              - value_as_toc_id = [6,33]
              - value_as_hierarchy_entry_id = [5]
              - value_as_viewed_page_of_images = [16]
              - value_as_news_items_id = [38]
              - value_as_species_curated_user_id = [32]
              - value_as_objects_curated_by_user_id = [39]
              - value_as_species_comments_moderated_by_user_id = [40]
              - value_as_user_id = [30]

              - if(display_as_text.include? activity.activity_id)
                - if(!activity.value.nil?)
                  = "'" + activity.value + "'"

              - if(value_as_data_object.include? activity.activity_id)
                - if(!activity.value.nil?)
                  = link_to(I18n.t("data_object"),:controller => '/data_objects', :action => activity.value)

              - if(value_as_object_cache_url.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - data_object = DataObject.find(:first, :conditions => "object_cache_url = '#{activity.value}'")
                  - temp_do_id = data_object.id
                  = link_to(I18n.t("data_object"),:controller => '/data_objects', :action => temp_do_id)

              - if(value_as_toc_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - toc = TocItem.find(activity.value) rescue nil
                  - if(!toc.nil?)
                    = "#{I18n.t(:toc)}" + toc.label
                    - if(toc.parent_id > 0)
                      - toc2 = TocItem.find(toc.parent_id) rescue nil
                      - if(!toc2.nil?)
                        = " -- " + toc2.label
                  - else
                    =I18n.t("toc_no_longer_available")

              - if(value_as_hierarchy_entry_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - he = HierarchyEntry.find(activity.value)
                  - taxon_concept_id = he.taxon_concept_id
                  - concept = TaxonConcept.find(taxon_concept_id)
                  - taxon_name = concept.quick_scientific_name(:italicized)
                  = link_to taxon_name,{:controller=>'/taxa', :action=>:show, :id => taxon_concept_id}

              - if(value_as_viewed_page_of_images.include? activity.activity_id)
                - if(!activity.value.nil?)
                  = "#{I18n.t(:thumbnail_page_colon)}" + activity.value

              - if(value_as_news_items_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  = link_to(I18n.t(:news_item),:controller => '/content/news', :action => activity.value)

              - if(value_as_species_curated_user_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - user = User.find(activity.value)
                  = link_to(I18n.t(:curated_species_of, :name => user.given_name + " " + user.family_name) ,:controller => '/account/show_species_curated', :action => activity.value)

              - if(value_as_objects_curated_by_user_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - user = User.find(activity.value)
                  = link_to(I18n.t(:curated_objects_of, :name => user.given_name + " " + user.family_name) ,:controller => '/account/show_objects_curated', :action => activity.value)

              - if(value_as_species_comments_moderated_by_user_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - user = User.find(activity.value)
                  = link_to(I18n.t(:curated_objects_of, :name =>user.given_name + " " + user.family_name) ,:controller => '/account/show_comments_moderated', :action => activity.value)

              - if(value_as_user_id.include? activity.activity_id)
                - if(!activity.value.nil?)
                  - user = User.find(activity.value)
                  = link_to(I18n.t(:curator_profile_of, :name => user.given_name + " " + user.family_name) ,:controller => '/account/show', :action => activity.value)

            %td{ :class => column_class }
              = h format_date_time(activity.created_at,:format=>'short_no_tz')
      %br
      = will_paginate @activities
    - else
      =I18n.t("no_record_found_matching_your_criteria")
