%b
  =I18n.t("common_activities_by_logged_in") 
%br
=I18n.t("click_on_an_activity_to_see_th")
%br
= link_to I18n.t("see_all_activity_combinations"), {:controller => 'administrator/user', :action => 'view_common_combinations'}

#comments    
  - if @activities.nil? == false && @activities.size > 0
    = will_paginate @activities
    %table.results_table{ :cellspacing => "0" }
      %tr
        %th
          =I18n.t("activity")
        %th
          =I18n.t("count")
      - @activities.each do |activity|
        - column_class=cycle('odd','even')
        %tr{ :valign => "top" }            
          %td{ :class => column_class }
            = link_to activity.name, {:controller => 'administrator/user', :action => 'view_common_combinations', :activity_id=>activity.id}
          %td{ :class => column_class, :align => "right" }
            = activity.count
    %br
    = will_paginate @activities
  - else
    =I18n.t("no_record_found_matching_your_criteria")
