=I18n.t(:list_of_activity_combinations)
- if(@activity)
  = "for activity "
  %b
    = @activity.name
= "."

%br
= " n=" + @activities.length.to_s
= "&nbsp;&nbsp;&nbsp; {" + @time_elapsed + "}"
-#= '%.2f' % @time_elapsed

#comments

  - if @activities.nil? == false && @activities.size > 0
    %table.results_table{ :cellspacing => "0" }
      %tr
        %th
          =I18n.t("activity")
        %th
          =I18n.t("count")
      - @activities.each do |name,count|
        - column_class=cycle('odd','even')
        %tr{ :valign => "top" }
          %td{ :class => column_class }
            - if(@activity)
              = name.gsub(@activity.name,"<b>" + @activity.name + "</b>")
            - else
              = name
          %td{ :class => column_class, :align => "right" }
            = count
    %br
  - else
    =I18n.t("no_record_found_matching_your_criteria")
