User-activity report.  Select a specific user to see his activities sorted inversely by time created. Select 'All' to see all user activities.
Then click 'Search' to proceed. (use your browser back button to return here)
#comments
  - form_tag({:action=>'view_user_activity'},:method=>'get') do
    Select:
    %select{ :name => "user_id" }
      %option        
      %option
        All
      - for user in @user_list
        %option{ :value => user.id, :selected => @user_id.to_i == user.id }
          = user.family_name + ", " + user.given_name
    = submit_tag 'Search'
    %br
    %br
    - if @activities.nil? == false && @activities.size > 0
      Activities found:
      = @activity_count
      %br
      = will_paginate @activities
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            User
          %th
            Species
          %th
            Activity
          %th
            Date
        - for activity in @activities
          - column_class=cycle('odd','even')
          - if (activity.taxon_concept_id) then
            - concept = TaxonConcept.find(activity.taxon_concept_id)
            - name = concept.quick_scientific_name(:italicized)
          - else
            - name=""

          - obj = Activity.find(activity.activity_id)
          - user = User.find(activity.user_id) rescue nil
          
          %tr{ :valign => "top" }            
            %td{ :class => column_class }
              - if(user)
                = user.given_name + " " + user.family_name
            %td{ :class => column_class }
              = link_to name,{:controller=>'/taxa', :action=>:show, :id => activity.taxon_concept_id}
            %td{ :class => column_class }
              = h obj.name
            %td{ :class => column_class }
              = h format_date_time(activity.created_at,:format=>'short_no_tz')

      %br
      = will_paginate @activities
    - else
      No record found matching your criteria.
