%table.results_table{ :cellspacing => "0" }
  %tr
    %th
    %th
  - if $COUNT_UNIQUE_VISITORS
    %tr
      %td.odd
        =I18n.t("visitors")
      %td.odd
        =I18n.t("as_of_time_there_were_unique_visitors", :time => format_date_time(Time.now) , :count => @visitors.count)
  %tr
    %td.odd
      =I18n.t("your_ip_address")
    %td.odd
      = request.remote_ip
      = "("
      =I18n.t("internal_ip_address") if @allowed_ip
      = ")"
  %tr
    %td.even
      =I18n.t("server_ip_address")
    %td.even
      = EOL::Server.ip_address
  %tr
    %td.odd
      =I18n.t("rails_environment")
    %td.odd
      = Rails.env
  %tr
    %td.even
      =I18n.t("rails_databases")
    %td.even
      =I18n.t(:main_database_colon)
      = @config.database_configuration[Rails.env.to_s]["database"] + ' @ ' + @config.database_configuration[Rails.env.to_s]["host"]
      %br
      =I18n.t(:logging_database_colon)
      = @config.database_configuration["#{Rails.env}_logging"]["database"] + ' @ ' + @config.database_configuration["#{Rails.env}_logging"]["host"]
      %br
      - unless @config.database_configuration['master_database'].nil?
        =I18n.t("this_does_not_necessarily_mean", :env => Rails.env)
        %br
        =I18n.t(:main_master_database_colon)
        = @config.database_configuration['master_database']["database"] + ' @ ' + @config.database_configuration['master_database']["host"]
        %br
      - unless @config.database_configuration['master_data_database'].nil?
        =I18n.t(:data_master_database_colon)
        = @config.database_configuration['master_data_database']["database"] + ' @ ' + @config.database_configuration['master_data_database']["host"]
        %br
  %tr
    %td.odd
      =I18n.t("error_logging_active")
    %td.odd
      = $ERROR_LOGGING.to_s
  %tr
    %td.even
      =I18n.t("web_service_base_url")
    %td.even
      = $WEB_SERVICE_BASE_URL
  %tr
    %td.odd
      =I18n.t("data_logging_active")
    %td.odd
      = $ENABLE_DATA_LOGGING.to_s
  %tr
    %td.odd
      =I18n.t("content_servers")
    %td.odd
      = Rails.configuration.asset_host
  %tr
    %td.even
      =I18n.t("allow_user_logins")
    %td.even
      = $ALLOW_USER_LOGINS.to_s
  - if ActionController::Base.perform_caching
    %tr
      %td.odd
        =I18n.t("fragment_caching_enabled")
      %td.odd
        %span#cache_clear_time
          =I18n.t("home_page_cache_last_cleared_on", :date => format_date_time($CACHE_CLEARED_LAST))
        %br
        = link_to I18n.t(:clear_entire_cache_store), :url=>{:controller=>'/administrator/site', :action=>'clear_all'}, :data => { :confirm=>I18n.t(:are_you_sure) }, :update=>'cache_clear_time', :remote => true
        %br
        = link_to I18n.t(:clear_all_non_species_pages), :url=>{:controller=>'/administrator/site', :action=>'expire_all'}, :update=>'cache_clear_time', :remote => true
        %br
        %span#taxon_id_clear_time
        =I18n.t(:taxon_id)
        = text_field_tag :taxon_id, '', {:size=>8}
        = link_to I18n.t(:clear_species_page), :url=>{:controller=>'/administrator/site', :action=>'expire'}, :update=>'taxon_id_clear_time', :with => "'taxon_id=' + $('taxon_id').value", :remote => true
        %br
    %tr
      %td.even
        =I18n.t("cache_store")
      %td.even
        = ActionController::Base.cache_store.class
        %br
        - if ActionController::Base.cache_store.respond_to?('stats')
          = ActionController::Base.cache_store.stats.inspect
  - if $ENABLE_ANALYTICS
    %tr
      %td.even
        =I18n.t("google_analytics_active")
      %td.even
        = link_to I18n.t("google_analytic_results"), 'http://www.google.com/analytics/home', {:target=>'_blank'}
