%table.lmNav
  %tr
    %td{ :class => "num #{ 'selected' if params[:action] == 'licensing' }" }
      - if @user.content_partner.ipr_accept?
        = content_partner_check_box_image(true)
      - else
        %em
          1
    %td{ :class => "desc #{'selected' if params[:action] == 'licensing' }" }
      = link_to I18n.t("licensing_policy"), { :action => 'licensing' }
    %td{ :class => "num #{'selected' if params[:action] == 'attribution' }" }
      - if @user.content_partner.attribution_accept?
        = content_partner_check_box_image(true)
      - else
        %em
          2
    %td{ :class => "desc #{'selected' if params[:action] == 'attribution' }" }
      = link_to I18n.t("attribution_guidelines"), { :action => 'attribution' }
    %td{ :class => "num #{'selected' if params[:action] == 'roles' }" }
      - if @user.content_partner.roles_accept?
        = content_partner_check_box_image(true)
      - else
        %em
          3
    %td{ :class => "desc #{'selected' if params[:action] == 'roles' }" }
      = link_to I18n.t("roles"), { :action => 'roles' }
    %td{ :class => "num #{'selected' if params[:action] == 'transfer_overview' }" }
      - if @user.content_partner.transfer_schema_accept?
        = content_partner_check_box_image(true)
      - else
        %em
          4
    %td{ :class => "desc #{'selected' if params[:action] == 'transfer_overview' }" }
      = link_to I18n.t("transfer_schema_overview"), { :action => 'transfer_overview' }
    %td{ :class => "num #{'selected' if params[:action] == 'transfer_upload' }" }
      - if @user.content_partner.transfer_upload_complete_step?
        = content_partner_check_box_image(true)
      - else
        %em
          5
    %td{ :class => "desc #{'selected' if params[:action] == 'transfer_upload' }" }
      = link_to I18n.t("transfer_schema_upload"), { :action => 'transfer_upload' }
