= render :partial => 'steps'
%strong
  =I18n.t("attribution_guidelines")
%br
%br
%p
  =I18n.t("we_will_fully_attribute_each_d")
  =I18n.t("or_individuals_associated_with")
%br
%p
  =I18n.t("the_following_is_an_example_of")
  =I18n.t("you_provide_may_have_additiona")
  =I18n.t("the_example_below_is_only_for_")
%br
%a{ :href => "/files/pdfs/docs/EOL_Attribution.pdf" }
  =I18n.t("download_full_information")
=I18n.t("on_how_attribution_will_be_sho")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
%br
/ sample attribution display
#attribution-example
  %h2
    =I18n.t("characteristics")
  %h3
    =I18n.t("source_and_additional_informat")
  %table
    %tr
      %td{ :width => "80%" }
        =I18n.t("authors_")
        = @user.content_partner.primary_contact.nil? ? 'Joe Sample' : @user.content_partner.primary_contact.full_name
        %br
        =I18n.t("some_rights_reserved")
        %br
        =I18n.t("project_")
        = external_link_to(@user.full_name, @user.homepage, :show_link_icon=>true)
      %td
        = agent_logo(@user, "small")
        %br
        = image_tag('licenses/cc_by_small.png')
      %td
  =I18n.t("facere_quibusdam_itaque_et__et")
  %br
  %br
  =I18n.t("laborum_est_nulla_aut_molestia")
  %br
  %br
  =I18n.t("et_nihil_enim_qui_sit_magnam__")
- form_for @user.content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'step_form' } do |f|
  = f.check_box :attribution_accept
  = f.label :attribution_accept, I18n.t("i_have_read_and_understand_the__"), :style => 'display: inline'
  = hidden_field_tag :save_type, "next"
  %br
= content_tag(:button, 'Save', :onclick => "$('#save_type').val('save'); $('#step_form').submit();")
= content_tag(:button, 'Save &amp; Continue &#187;', :onclick => "$('#save_type').val('next'); $('#step_form').submit();")
