=I18n.t("this_form_provides_information")
- form_for @user, :url => { :action => action_name }, :html => { :method => :post, :multipart => true, :id => 'partner_form' } do |f|
  %fieldset
    .form_item
      %label
        %span
          *
        =I18n.t("__required_fields")
    .form_item
      = f.label :given_name, I18n.t("project_name__span_title__requ")
      =I18n.t("please_fill_in_the_full_name_o")
      %br
      = f.text_field :given_name, :maxlength => 100, :size=>50
    .form_item
      = f.label :family_name, I18n.t("project_name__span_title__requ")
      =I18n.t("please_enter_your_family_name")
      %br
      = f.text_field :family_name, :maxlength => 100, :size=>50
    .form_item
      = f.label :display_name, I18n.t("display_name")
      =I18n.t("this_is_optional___if_you_ente")
      %br
      = f.text_field :display_name, :size => 50, :maxlength => 100
    .form_item
      = f.label :acronym, I18n.t("project_abbreviation")
      =I18n.t("please_fill_in_an_abbreviated_")
      %br
      = f.text_field :acronym, :maxlength => 20
    .form_item
      = f.label :homepage, I18n.t("project_url")
      =I18n.t("this_will_be_used_to_link_to_y")
      %br
      = f.text_field :homepage, :maxlength => 250, :size=>50
    - f.fields_for @user.content_partner do |cp_f|
      .form_item
        = cp_f.label :project_description, I18n.t("project_description__span_titl")
        =I18n.t("describe_the_project_as_you_wo")
        = cp_f.text_area :project_description, :cols => 70, :rows => 10
      .form_item
        = cp_f.label :description_of_data, I18n.t("description_of_data")
        =I18n.t("please_provide_us_with_a_descr")
        = cp_f.text_area :description_of_data, :cols => 70, :rows => 10
      .form_item
        = cp_f.label :notes, I18n.t("notes")
        =I18n.t("enter_in_any_other_notes_or_co")
        = cp_f.text_area :notes, :cols => 70, :rows => 10
    .form_item
      = f.label :logo, I18n.t("project_logo")
      =I18n.t("please_select_and_upload_a_jpg")
      = f.file_field :logo, :size=>60
      - unless @user.logo_url.blank?
        %br
        =I18n.t("current_logos_")
        %br
        =I18n.t("large_")
        = agent_logo(@user,"large")
        =I18n.t("small_")
        = agent_logo(@user,"small")
    .button
      = submit_tag I18n.t(:update_account) 
