= render :partial => 'steps'
%strong
  =I18n.t("roles___conditions_of_use")
%p{ :style => "margin: 10px 0 10px 0;" }
  = I18n.t("in_providing_its_content_to_eo")
  = @user.full_name
  =I18n.t("will_")
%ul
  %li
    =I18n.t("provide_its_content_via_a_form")
  %li
    =I18n.t("provide_data_objects_as_is_wit")
  %li
    =I18n.t("respond_to_the_originators_of_")
    = @user.full_name
    =I18n.t("via_the_eol_regarding_its_cont")
  %li
    =I18n.t("work_with_the_eol_to_improve_t")
  %li
    =I18n.t("comply_with_the_creative_commo")
  %li
    =I18n.t("be_able_to_display_the_eol_log")
  %li
    =I18n.t("allow_eol_to_provide_names_fro")
    %a{ :href => "http://globalnames.org", :target => "_blank" }
      =I18n.t("global_names_index")
    =I18n.t("website___gni_collects_names_a")
    = @user.full_name
    \.
%p{ :style => "margin: 10px 0 10px 0;" }
  =I18n.t("in_handling_the_content_provid")
  = @user.full_name
  =I18n.t("__eol_will_")
%ul
  %li
    =I18n.t("provide_tools_and_methods_to_e")
    = @user.full_name
    =I18n.t("to_provide_its_content_to_the_")
  %li
    =I18n.t("cache")
    = @user.full_name
    =I18n.t("_s_data_objects_along_with_sim")
  %li
    =I18n.t("attribute_all_of")
    = @user.full_name
    =I18n.t("_s_data_objects_according_to_i")
    = @user.full_name
    \.
  %li
    =I18n.t("present_or_pass_along")
    = @user.full_name
    =I18n.t("_s_data_objects_to_others_usin")
  %li
    =I18n.t("not_encourage_or_answer_reques")
    = @user.full_name
    =I18n.t("_s_content_to_other_data_provi")
    = @user.full_name
    \.
  %li
    =I18n.t("not_alter_the_data_objects_pro")
  %li
    =I18n.t("notify")
    = @user.full_name
    =I18n.t("of_any_comments_or_feedback_re")
  %li
    =I18n.t("work_with")
    = @user.full_name
    =I18n.t("to_improve_the_quality_of_the_")
  %li
    =I18n.t("notify")
    = @user.full_name
    =I18n.t("of_statistics_about_the_usage_")
  %li
    =I18n.t("enable")
    = @user.full_name
    =I18n.t("to_access_content_from_the_eol")
    = @user.full_name
    =I18n.t("_s_own_server_or_site_accordin")
  %li
    =I18n.t("eol_will_show")
    = @user.full_name
    =I18n.t("_s_logo_and_project_descriptio")
  %li
    =I18n.t("eol_may_elect_at_its_sole_disc")
    = @user.full_name
    =I18n.t("and_reserves_the_right_to_reda")
- form_for @user.content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'step_form' } do |f|
  = f.check_box :roles_accept
  = f.label :roles_accept, I18n.t("i_have_read_and_agree_to_the_c"), :style => 'display: inline'
  = hidden_field_tag :save_type, "next"
  %br
= content_tag(:button, 'Save', :onclick => "$('#save_type').val('save'); $('#step_form').submit();")
= content_tag(:button, 'Save &amp; Continue &#187;', :onclick => "$('#save_type').val('next'); $('#step_form').submit();")
