= render :partial => 'steps'
%strong
  =I18n.t("transfer_schema_overview")
%br
%br
%p
  =I18n.t("in_order_to_provide_your_conte")
  = link_to I18n.t("contact_us"), :action=>'contact_us', :return_to => request.request_uri
  \.
  %span.highlight
    =I18n.t("if_you_are_providing_data_to_e")
    %a{ :href => "http://www.lifedesks.org/", :target => "_blank" }
      =I18n.t("lifedesk")
    =I18n.t("__this_xml_file_will_be_create")
%br
%strong
  =I18n.t("darwin_core_archives")
%br
%p
  =I18n.t("in_addition_to_the_eol_transfe") 
  %a{ :href => "/content/darwin_core", :target => "_blank" }
    =I18n.t("darwin_core__dwc__archive_file")
  =I18n.t("__darwin_core_is_a_set_of_stan")
  %a{ :href => "http://rs.tdwg.org/dwc/terms/guides/text/index.htm", :target => "_blank" }
    =I18n.t("more_information_here")
  =I18n.t("about_creating_well_formed_dwc") 
  %a{ :href => "http://rs.tdwg.org/dwc/terms/index.htm", :target => "_blank" }
    =I18n.t("darwin_core_terms_list")
  =I18n.t("for_more_a_complete_reference_")
%br
%a{ :href => "http://services.eol.org/schema/EOL_Transfer_Schema_Documentation.pdf" }
  =I18n.t("download_the_eol_transfer_sche")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
%br
%a{ :href => "/files/pdfs/docs/EOL_Transfer_Schema_Glossary.pdf" }
  =I18n.t("download_the_eol_transfer_sche_")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
- form_for @user.content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'step_form' } do |f|
  = f.check_box :transfer_schema_accept
  = f.label :transfer_schema_accept, I18n.t("i_have_read_and_understand_the_"), :style => 'display: inline'
  = hidden_field_tag :save_type, "next"
  %br
= content_tag(:button, 'Save', :onclick => "$('#save_type').val('save'); $('#step_form').submit();")
= content_tag(:button, 'Save &amp; Continue &#187;', :onclick => "$('#save_type').val('next'); $('#step_form').submit();")
