<%
in_dashboard_section = page_header.downcase.include?('dashboard')
in_partner_section = page_header.downcase=='partner information'
in_contacts_section = (page_header.downcase=='contact information' || page_header.downcase=='add contact' || page_header.downcase=='edit contact')
in_agreements_section = page_header.downcase.include?('partnering')
in_resources_section = page_header.downcase.include?('resource')
in_reports_section = page_header.downcase.include?('reports')
in_whole_report_subsection = page_header.downcase.include?('changing of objects status and comments')
in_comments_subsection = page_header.downcase.include?('changing of comments')
in_statuses_subsection = page_header.downcase.include?('changing of objects status')
%>
<ul id="toc" class="content_partner">
   <li><%= link_to 'DASHBOARD',{:controller=>'/content_partner',:action=>'index'},:class=>"#{in_dashboard_section ? 'active' : ''} toc_item" %></li>

   <li><%= link_to 'PARTNER INFORMATION',{:controller=>'/content_partner',:action=>'partner'},:class=>"#{in_partner_section ? 'active' : ''} toc_item" %></li>

   <li><%= link_to 'CONTACT INFORMATION',{:controller=>'/content_partner',:action=>'contacts'},:class=>"#{in_contacts_section ? 'active' : ''} toc_item" %></li>

   <li><%= link_to 'PARTNERING STEPS',{:controller=>'/content_partner',:action=>'licensing'},:class=>"#{in_agreements_section ? 'active' : ''} toc_item" %></li>
 
   <% if in_agreements_section %>
      <li><%= link_to 'Licensing Policy',{:controller=>'/content_partner',:action=>'licensing'}, :class=>"#{(@content_partner.step  == :licensing) ? 'active': ''} nested toc_item"%></li>
      <li><%= link_to 'Attribution Guidelines',{:controller=>'/content_partner',:action=>'attribution'}, :class=>"#{(@content_partner.step  == :attribution) ? 'active': ''} nested toc_item"%></li>
      <li><%= link_to 'Roles',{:controller=>'/content_partner',:action=>'roles'}, :class=>"#{(@content_partner.step  == :roles) ? 'active': ''} nested toc_item"%></li>
      <li><%= link_to 'Transfer Schema Overview',{:controller=>'/content_partner',:action=>'transfer_overview'}, :class=>"#{(@content_partner.step  == :transfer_overview) ? 'active': ''} nested toc_item"%></li>
      <li><%= link_to 'Transfer Schema Upload',{:controller=>'/content_partner',:action=>'transfer_upload'}, :class=>"#{(@content_partner.step  == :transfer_upload) ? 'active': ''} nested toc_item"%></li>
   <% end %>
  <% if current_agent.ready_for_agreement? -%>
    <li><%= link_to "YOUR AGREEMENT", {:controller=>'/content_partner',:action => "agreement"} ,  {:class=>'toc_item',:target=>"_new"} %></li>
    <li><%= link_to 'MANAGE RESOURCES', resources_url, :class=>"#{in_resources_section ? 'active' : ''} toc_item" %></li>
  <% end -%>

  <li>
    <a href="<%= url_for :controller=>'/content_partner',:action=>'reports'%>" class="<%= in_reports_section ? 'active' : ''%> toc_item">USAGE REPORTS</a>
    <% if controller.is_a? ContentPartner::ReportsController %>
    <!-- ASh -->
    
        <li><%= link_to 'All changes',{:controller=>'/content_partner/reports', :action=>'whole_report'}, :class=>"#{in_whole_report_subsection ? 'active' : ''} nested toc_item"%>
          <li><%= link_to 'Comments',{:controller=>'/content_partner/reports', :action=>'comments_report'}, :class=>"#{in_comments_subsection ? 'active' : ''} nested toc_item"%>
            <li><%= link_to 'Statuses',{:controller=>'/content_partner/reports', :action=>'statuses_report'}, :class=>"#{in_statuses_subsection ? 'active' : ''} nested toc_item"%>
        </li>
        
        <!-- <li><%#= link_to 'Licensing Policy',{:controller=>'/content_partner',:action=>'licensing'}, :class=>"#{(@content_partner.step  == :licensing) ? 'active': ''} nested toc_item"%></li> -->
        
      
    <!-- We do not use log for that now -->
    <!-- /ASh -->      
    
    <!-- <%# for report_class in (LogDaily.report_classes - [AgentLogDaily]) %>
          <li><%#= link_to report_class.report_name,{ :controller => '/content_partner/reports', :action => report_class.path}, :class=>'toc_item' %></li> -->
    <!-- <%# end %>
    </ul> -->

    <% end %>
  </li>

</ul>
