
<div style="float: right; width: 400px; margin-right: 20px; margin-top: 5px; text-align:right;">
  Welcome <%=current_agent.full_name || current_agent.username%><br />
  <%=link_to "Log Out",:controller=>'/content_partner',:action => 'logout'%> 
  &nbsp; | &nbsp; <%=link_to "Account Profile",:controller=>'/content_partner',:action => 'profile'%> 
  <!-- &nbsp; | &nbsp; <%#=link_to "Help", :controller=>'/content_partner',:action => 'help', :anchor => action_name %> -->
  &nbsp; | &nbsp; <%=link_to "Contact Us",:controller=>'/content', :action => 'contact_us', :return_to=>CGI.escape(request.request_uri),:default_name=>current_agent.full_name,:default_email=>current_agent.email,:default_subject=>'Content Partner Support'
   %>

</div>
<h1>
	<%=page_header%></h1>
<hr />