<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title><%=  I18n.t("eol_content_partner_agreement") %></title>
    </head>
    <style type="text/css" media="screen">
        body {font-family: Arial, "MS Trebuchet", sans-serif;}
    </style>
    <body>

        <h1><%= I18n.t("content_partner_agreement") %></h1>
        <h1><%=@agent.project_name%></h1>

		<p><%= I18n.t("created_on_") %> <%=format_date_time(@agreement.created_at)%></p>

        <h2><%= I18n.t("introduction") %></h2>
        <p><%= I18n.t("the_encyclopedia_of_life_and_v", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %> </p>
        <h2><%= I18n.t("the_parties") %></h2>
        <p><%= I18n.t("the_encyclopedia_of_life__eol__") %></p>

        <ul>
            <li><em><%= I18n.t("species_pages_group") %></em> - <%= I18n.t("defines_the_composition_of_inf") %></li>
            <li><em><%= I18n.t("biodiversity_informatics_group") %></em> - <%= I18n.t("conceptualizes_and_prepares_th") %></li>
            <li><em><%= I18n.t("scanning_and_digitization_grou") %></em> - <%= I18n.t("working_with_the_biodiversity_") %></li>
            <li><em><%= I18n.t("education_and_outreach_group") %></em> - <%= I18n.t("exploits_the_eol_s_potential_b") %></li>
            <li><em><%= I18n.t("biodiversity_synthesis_group") %></em> - <%= I18n.t("holds_synthesis_meetings_to_he") %></li>
        </ul>
        
        <p><%= @agent.project_description %></p>
        
        <h2><%=  I18n.t("content_licensing") %></h2>
        <p><%= I18n.t("to_the_greatest_extent_possibl_") %></p>
        
        <ol>
            <li><%= I18n.t("content_providers_warrant_and__") %></li>
            <li><%= I18n.t("all_information_currently_in_t_") %></li>
            <li><%= I18n.t("content_providers_are_required_") %></li>
            <li><%= I18n.t("content_providers_who_request__") %></li>
            <li><%= I18n.t("the_eol_will_provide_attributi_") %></li>
        </ol>

        <p><%= I18n.t("full_information_about_the_cre") %> <a href="http://www.creativecommons.org" target="_blank">http://www.creativecommons.org</a>. 
        
        <h2><%= I18n.t("content_attribution") %></h2>

        <p><%=  I18n.t("eol_intends_to_provide_attribu", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %></p>

        <h2><%= I18n.t("roles_and_conditions_of_use") %></h2>
        
        <p><%= I18n.t("in_providing_its_content_to_eo_", :var__agent_project_name => @agent.project_name) %></p>

        <ul>
            <li><%= I18n.t("provide_its_content_via_a_form") %></li>
            <li><%= I18n.t("provide_data_objects_as_is_wit") %></li>
            <li><%= I18n.t("respond_to_the_originators_of__", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("work_with_the_eol_to_improve_t") %></li>
            <li><%= I18n.t("comply_with_the_creative_commo") %></li>  
            <li><%= I18n.t("be_able_to_display_the_eol_log") %></li>
        </ul>
        
        <p><%= I18n.t("in_handling_the_content_provid_", :var__agent_project_name => @agent.project_name) %></p>

        <ul>
            <li><%= I18n.t("provide_tools_and_methods_to_e_", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("cache_var__agent_project_name_", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("attribute_all_of_var__agent_pr", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("present_or_pass_along_var__age", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("refer_all_requests_for_re_usag", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("not_alter_the_data_objects_pro") %></li>
            <li><%= I18n.t("notify_var__agent_project_name", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("work_with_var__agent_project_n", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("notify_var__agent_project_name_", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("enable_var__agent_project_name", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("show_var__agent_project_name_s", :var__agent_project_name => @agent.project_name) %></li>
            <li><%= I18n.t("post_on_the_eol_site_a_stateme") %></li>
            <li><%= I18n.t("eol_may_elect_at_its_sole_disc_", :var__agent_project_name => @agent.project_name) %></li>
        </ul>
        
        <p><%= I18n.t("the_parties_do_not_intend_to_c") %></p>

        <p><%= I18n.t("this_agreement_is_non_exclusiv", :var__agent_project_name => @agent.project_name) %></p>

        <p><%= I18n.t("this_agreement_and_the_obligat") %></p>
        
        <p><%= I18n.t("var__agent_project_name_agrees", :var__agent_project_name => @agent.project_name, :var_agent_project_name => agent.project_name) %></p>
        
        <p><%= I18n.t("_either_party_may_amend_or_mod", :var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name) %></p>
        
        <h2><%= I18n.t("contact_information") %></h2>
        
        <table width="100%">
            <tr valign="top">
                <td width="50%">
                    <strong><%= @agent.project_name %></strong><br />
					          <%= @primary_contact.homepage %><br />
                    <%= @primary_contact.full_name %><br />
                    <%= I18n.t("e_mail_") %> <%= mail_to @primary_contact.email %><br />
                    <%= I18n.t("phone_") %> <%= @primary_contact.telephone %><br />
                </td>                    
                <td width="50%">
                    <strong><%= I18n.t("encyclopedia_of_life") %></strong><br />
                    <a href="http://www.eol.org">www.eol.org</a><br />
                    <%= I18n.t("cynthia_parr__species_pages_di") %><br />
                    <%= I18n.t("e_mail_") %> <%=mail_to 'parrc@si.edu'%><br />
                    <%= I18n.t("phone_") %> 202.633.8730<br />
                    <br />
                    <%= I18n.t("on_behalf_of_the_smithsonian_i") %>
                </td>
            </tr>
        </table>
    </body>
</html>
