= content_partner_step_navigation :page_header => @page_header
%strong
  =I18n.t("attribution_guidelines")
%br
%br
= eol_lang_error_messages_for :content_partner, :header_message => nil, :message => nil
%p
  =I18n.t("we_will_fully_attribute_each_d")
  =I18n.t("or_individuals_associated_with")
%br
%p
  =I18n.t("the_following_is_an_example_of")
  =I18n.t("you_provide_may_have_additiona")
  =I18n.t("the_example_below_is_only_for_")
%br
=I18n.t("download_full_information")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
%br
/ sample attribution display
#attribution-example
  %h2
    =I18n.t("characteristics")
  %h3
    =I18n.t("source_and_additional_informat")
  %table
    %tr
      %td{ :width => "80%" }
        =I18n.t("authors_")
        = current_agent.primary_contact.nil? ? 'Joe Sample' : current_agent.primary_contact.full_name
        %br
        =I18n.t("some_rights_reserved")
        %br
        =I18n.t("project_")
        = external_link_to(current_agent.full_name,current_agent.homepage,:show_link_icon=>true)
      %td
        = agent_logo(current_agent,"small")
        %br
        = image_tag('licenses/cc_by_small.png')
      %td
  =I18n.t("facere_quibusdam_itaque_et__et")
  %br
  %br
  =I18n.t("laborum_est_nulla_aut_molestia")
  %br
  %br
  =I18n.t("et_nihil_enim_qui_sit_magnam__")
- form_for @content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'license_form' } do |f|
  = f.check_box :attribution_accept
  = f.label :attribution_accept, I18n.t("i_have_read_and_understand_the__"), :style => 'display: inline'
  = content_partner_save_type_hidden_field
%br
.button
  = content_partner_submit_buttons :id => 'license_form'
