=I18n.t("this_information_will_allow_us")
= link_to(I18n.t("add_new_contact"), { :action => 'add_contact' })
%br
= eol_lang_error_messages_for :agent
%table.results_table{ :width => "100%" }
  %tr
    %th
      =I18n.t("contacts")
    %th
      =I18n.t("role")
    %th{ :style => "width: 100px;" }
      =I18n.t("options")
  %tbody
    - for contact in @agent_contacts
      - column_class=cycle('odd','even')
      %tr
        %td{ :class => column_class }
          = h(contact.full_name)
          %br
          %a{ :href => "mailto:#{h(contact.email)}" }
            = h(contact.email)
          %br
          = h(contact.telephone) + "<br />" unless contact.telephone.blank?
          = h(contact.address) + "<br />" unless contact.address.blank?
        %td{ :class => column_class }
          = contact.contact_role.label
        %td{ :class => column_class }
          = link_to(I18n.t("change"), { :action => 'edit_contact', :id => contact })
          \|
          = link_to(I18n.t(:delete_firstcap), { :action => 'del_contact', :id => contact }, :confirm => I18n.t("are_you_sure_you_want_to_delet"))
  %tbody
- form_for @agent, :url => { :action => action_name }, :html => { :method => :post, :id => 'contacts_form' } do |f|
  %input#save_type{ :name => "save_type", :type => "hidden", :value => "stay" }
  = content_partner_save_type_hidden_field
%br
.button
  = content_partner_submit_buttons :id => 'contacts_form'
