<%= render :partial=> 'top',:locals=>{:page_header => @page_header} %>
        
  <p>Contact us about <%= " #{@subject}" unless @subject.blank? %> questions or comments.</p>
  <%= eol_lang_error_messages_for :contact, :header_message => nil, :message => nil %>
  
  <% form_for :contact, @contact, :url => { :action => 'contact_us' }, :html => { :method => :post } do |f| -%>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :comment %>
      <%= f.text_area :comment, :cols => 50, :rows => 6 %>

      <%= f.hidden_field :subject, :value => @subject %>
      <br /><br />

      <%= hidden_field_tag 'subject', @subject %>
      <%= submit_tag 'Contact Us &#187;' %>
  <% end -%>                    
      
<%= render :partial=> 'bottom' %>