<% if @content_partner.nil? %>
  <div id="page-title">
    <h1>No content partner <i><%=params[:id]%></i></h1>
  </div>
<% else %>
  <div id="browse_content_partner_species">
    <div id="page-title">
      <h1>Pages with content contributed by <%=params[:id]%></h1>
    </div>

    <div id='content_partner_stats'>
      <%=params[:id]%> has contributed to a total of <%=@taxon_concepts_count%> pages.
    </div>
  
    <% if !@taxon_concepts.nil? %>
      <%= will_paginate @taxon_concepts %>

      <table id="content-partners-species">
        <tr>
        <% @taxon_concepts.each_with_index do |tc, i| %>
          <% classname='image' %>
          <% if i % 6 == 5 %>
            <% classname+='-last'%>
            <% last_cell = true %>
          <% end %>

          <td class="<%=classname%>">
        
            <a href="/pages/<%= tc['id'] %>"><img src="<%= tc['image_src'] %>" border="0"/></a><br/>
            <div id="top_name_<%=i%>"><a href="/pages/<%= tc['id'] %>"><%= tc['name_string'] %></a></div>
            <% if !tc['partner_source_url'].nil? && !tc['partner_source_url'].empty? %>
              <small>(<%= external_link_to('view source page', tc['partner_source_url']) %>)</small>
            <% end %>
          </td>

          <% if last_cell %>
            </tr>
            <tr>
          <% end %>
        <% end %>
        </tr>
      </table>
    
      <%= will_paginate @taxon_concepts %>
    <% end %>
  </div>
<% end %>