#page-separator-general
#page-title
  %h1
    = I18n.t(:forgot_password) 
  %hr
#page-content.clearfix
  #full-page-content
    %br
    %p
      = I18n.t(:enter_the_username_or_project_name_you_registered_with_to_retrieve_your_password) 
    - form_tag url_for(:action => 'forgot_password') do
      %label{ :for => "username" }
        = I18n.t(:username) 
        \:
        = text_field_tag 'username', nil, :maxlength => 25,:id => 'username'
        %br
        %br
        =I18n.t("or")
        %br
        %br
      %label{ :for => "email" }
        = I18n.t(:project_name) 
        \:
        = text_field_tag 'project_name', nil,:maxlength => 100, :id => 'project_name'
        %br
      .button
        = submit_tag  I18n.t(:submit)  + ' &#187;'
      %br
      = link_to  I18n.t(:cancel) , :action=>'login'
