%h2
  = @hierarchy.label
%span{:id => "publish_#{@hierarchy.id}"}
  - if @hierarchy.request_publish
    =I18n.t("this_hierarchy_has_been_propos")
  - else
    = link_to_remote(I18n.t("click_to_propose_this_hierarch"), :url => request_publish_hierarchy_path(@hierarchy), :method => :post, :update => "publish_#{@hierarchy.id}", :confirm => I18n.t("are_you_sure_you_want_an_admin"))
%hr.thin
%br
= render(:partial => 'navigation/browse')
