%h2
  = @hierarchy.label
%span{:id => "publish_#{@hierarchy.id}"}
  - if @hierarchy.request_publish
    Publish Pending
  - else
    = link_to_remote('Publish', :url => request_publish_hierarchy_path(@hierarchy), :method => :post, :update => "publish_#{@hierarchy.id}", :confirm => 'Are you sure you want an admin to publish this hierarchy?')

%br
%br
= render(:partial => 'navigation/browse')
