= render :partial  =>'top',:locals=>{:page_header => @page_header}
This page presents an overview of the process.  In order to complete the registration process, you must first enter in information about the project
as well as contact information for members of your project.  You must then agree to the licensing, attribution, roles and other terms and conditions.  Once
the process is complete, you will be able to provide your data to the EOL.
#content_partner_edit_area
  %h2
    Profile
  %ul.status
    %li
      = content_partner_check_box_image(current_agent.content_partner.partner_complete_step?)
      = link_to("Partner Information", url_for(:action => 'partner'))
    %li
      = content_partner_check_box_image(current_agent.agent_contacts.any?)
      = link_to("Contact Information", url_for(:action => 'contacts'))
  %h2{ :style => "margin-top: 20px;" }
    Agreements and Terms for Becoming a Content Partner
  %ul.status
    %li
      = content_partner_check_box_image(current_agent.content_partner.ipr_accept?)
      = link_to("Step 1: Licensing Policy", url_for(:action => 'licensing'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.attribution_accept?)
      = link_to("Step 2: Attribution Guidelines", url_for(:action => 'attribution'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.roles_accept?)
      = link_to("Step 3: Roles", url_for(:action => 'roles'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.transfer_schema_accept?)
      = link_to("Step 4: Transfer Schema Overview", url_for(:action => 'transfer_overview'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.transfer_upload_complete_step?)
      = link_to("Step 5: Transfer Schema Upload", url_for(:action => 'transfer_upload'))
  - unless current_agent.ready_for_agreement?
    %br
    = content_tag(:button, 'Continue &#187;', :onclick => "document.location='/content_partner/partner';")
  - else
    #special-announcement
      - if current_agent.agreement_expired?
        %p
          IMPORTANT: Your agreement is out of date and has been updated. Your updated agreement is available via the link below.
          %br
      == #{link_to "Your agreement", {:action => "agreement"} , {:target=>"_new"}}, including additional provisions, is available for review and printing.
      %br
      - if !current_agent.agreement_accepted?
        - form_remote_tag :url => '/content_partner/accept_agreement' do
          Please indicate acceptance by typing your name here:
          = text_field_tag :signed_by,'',:size=>30
          %br
          %span#save-message
            = submit_tag
      - elsif !current_agent.agreement.nil?
        Agreed to by
        = current_agent.agreement.signed_by
        on
        = format_date_time(current_agent.agreement.signed_on_date)
  - if current_agent.ready_for_agreement?
    %h2{ :style => "margin-top: 20px;" }
      Tools
    %ul.status
      %li
        = link_to("Usage Reports", url_for(:action => 'reports'))
= render :partial=> 'bottom'
