=I18n.t("this_page_presents_an_overview")
#content_partner_edit_area
  %h2
    =I18n.t("profile")
  %ul.status
    %li
      = content_partner_check_box_image(current_agent.content_partner.partner_complete_step?)
      = link_to(I18n.t("partner_information"), url_for(:action => 'partner'))
    %li
      = content_partner_check_box_image(current_agent.agent_contacts.any?)
      = link_to(I18n.t("contact_information"), url_for(:action => 'contacts'))
  %h2{ :style => "margin-top: 20px;" }
    =I18n.t("agreements_and_terms_for_becom")
  %ul.status
    %li
      = content_partner_check_box_image(current_agent.content_partner.ipr_accept?)
      = link_to(I18n.t("step_1__licensing_policy"), url_for(:action => 'licensing'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.attribution_accept?)
      = link_to(I18n.t("step_2__attribution_guidelines"), url_for(:action => 'attribution'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.roles_accept?)
      = link_to(I18n.t("step_3__roles"), url_for(:action => 'roles'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.transfer_schema_accept?)
      = link_to(I18n.t("step_4__transfer_schema_overvi"), url_for(:action => 'transfer_overview'))
    %li
      = content_partner_check_box_image(current_agent.content_partner.transfer_upload_complete_step?)
      = link_to(I18n.t("step_5__transfer_schema_upload"), url_for(:action => 'transfer_upload'))
  - unless current_agent.ready_for_agreement?
    %br
    = content_tag(:button, 'Continue &#187;', :onclick => "javascript:window.location='/content_partner/partner';")
  - else
    #special-announcement
      - if current_agent.agreement_expired?
        %p
          =I18n.t("important__your_agreement_is_o")
          %br
      = link_to(I18n.t(:your_agreement_), {:action => "agreement"} , {:target=>"_new"}) + I18n.t(:including_additional_provision)
      %br
      #save-message
        - if !current_agent.agreement_accepted?
          - form_remote_tag :url => '/content_partner/accept_agreement' do
            %span#acceptance
              =I18n.t("please_indicate_acceptance_by_")
            = text_field_tag :signed_by,'',:size=>30
            %br
            %span
              = submit_tag
        - elsif !current_agent.agreement.nil?
          =I18n.t("agreed_to_by")
          = current_agent.agreement.signed_by
          =I18n.t("on")
          = format_date_time(current_agent.agreement.signed_on_date)
  - if current_agent.ready_for_agreement?
    %h2{ :style => "margin-top: 20px;" }
      =I18n.t("tools")
    %ul.status
      %li
        = link_to(I18n.t("usage_reports"), url_for(:action => 'reports'))
