:javascript
  $(document).ready(function() {
    $('#agent_username').focus();
  });
#page-separator-general
/ page title
#page-title
  %h1=  I18n.t(:content_partner) 
  %hr
/ end of page title
#page-content.clearfix
  / center page content
  #full-page-content
    %br
    =I18n.t("welcome___this_site_allows_peo")
    %br
    %br
    %p== #{link_to( I18n.t(:to_begin_the_registration_process_click_here) ,:action=>'register')}, #{I18n.t(:or_if_you_have_previously_regi)}
    %div{ :style => "float: left; width: 550px;" }
      - form_for :agent do |form|
        %fieldset
          %label{ :for => "username" }
            = I18n.t(:username) 
          = form.text_field 'username', :size=>16, :maxlength=>30
          %label{ :for => "password" }
            = I18n.t(:password) 
          = form.password_field 'password', :size=>16,:maxlength=>30
          %label{ :for => "remember_me" }
            = I18n.t(:remember_me) 
          = check_box_tag 'remember_me'
          =  I18n.t(:remember_me_message) 
          %br
          %br
          %table{ :border => "0", :width => "500", :cellpadding => "20" }
            %tr
              %td{ :valign => "top" }
                = submit_tag  I18n.t(:login_now)  + ' &#187;'
              %td{ :valign => "middle" }
                = link_to( I18n.t(:forgot_password) , url_for(:action=>'forgot_password'))
