<script type="text/javascript">
// ajax call to determine if username is unique
function check_username() {
	new Ajax.Request('/content_partner/check_username/', { parameters: { username: $('agent_username').value }, asynchronous:true, evalScripts:true});
}

// instant feedback to user about password matching
function check_passwords() {
	if ($('agent_password').value != $('agent_password_confirmation').value) {
		$('password_warn').innerHTML='<%=escape_javascript("Passwords must match"[])%>.';
	}
	else {
		$('password_warn').innerHTML='';
	}
}
</script>

<%= render :partial=> 'top',:locals=>{:page_header => @page_header} %>                     
                    <%= eol_lang_error_messages_for :agent %>

                    <% form_for @agent, :url => { :action => 'profile' }, :html => { :class => "warning-warn invalid-invalid styleLabelOnErr", :method => 'post' } do |f| %>
                        <fieldset>
                            <legend><%= "Account Information"[] %></legend>

                            <%= f.label :username, "#{'Username'[]} (4-16 characters)<span title='required'>*</span>" %>
                            <!-- agent_username ^[a-zA-Z0-9\-_]{4,16}$ false true //-->
                            <%= f.text_field :username, :maxlength => 16, :onblur => "check_username()" %>
                            <span class="error" id="username_warn"></span>                    

                            <%= f.label :email, "#{'Email Address'[]} <span title='required'>*</span>"[] %>
                            <!-- agent_email ^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$ false true //-->
                            <%= f.text_field :email, :maxlength => 60, :size => 30 %>

                            <%= f.label :password, "#{'Password'[]} (4-16 characters)"[] %>
                            <%= f.password_field :password, :maxlength => 16, :onblur => "check_passwords()" %>
                            <span class="error" id="password_warn"></span>

                            <%= f.label :password_confirmation, "Confirm Password"[] %>
                            <%= f.password_field :password_confirmation, :maxlength => 16, :onblur => "check_passwords()" %>

                            <br /><br />
                            <div class='button'>
                                <%= submit_tag "Update Profile"[] + ' &#187;' %>
                            </div>                     
                        </fieldset>                
                    <% end -%>

                    <!-- end form -->
<%= render :partial=> 'bottom' %>
