= javascript_include_tag 'cp-passwords', 'validator'
#page-separator-general
#page-title
  %h1= I18n.t(:registration) 
  %hr
#page-content.clearfix
  #full-page-content
    -# TODO - i18n
    =I18n.t("welcome___this_is_the_registra")
    =I18n.t("pages_to_register_with_us____i")
    == #{link_to I18n.t("go_to_the_user_registration_pa"),register_url}.
    This process is designed for partners with structured data (data in databases).  We will gather some information,
    create a license agreement, and  confirm  that your data are configured so that they can be easily acquired by EOL.
    =I18n.t("you_must_be_authorized_to_make")
    =I18n.t("contributed_information_to_you")
    %br
    %br
    =I18n.t("note_that_the_account_you_crea")
    = eol_lang_error_messages_for :agent
    = javascript_include_tag 'validator'
    - form_for @agent, :url => { :controller => '/content_partner', :action => 'register' }, :html => { :class => "warning-warn invalid-invalid styleLabelOnErr" } do |f|
      %fieldset
        %legend
          = I18n.t(:account_information) 
        .form_item
          = f.label :username, I18n.t("var__i18n_t__username____4_16__", :var__i18n_t__username__ =>  I18n.t(:username) )
          / agent_username ^[a-zA-Z0-9\-_]{4,16}$ false true //
          = f.text_field :username, :maxlength => 16, :onblur => "javascript:check_username()"
          %span#username_warn.error
        .form_item
          = f.label :password, I18n.t("var__i18n_t__password____4_16_", :var__i18n_t__password__ =>  I18n.t(:password) )
          / agent_password ^[a-zA-Z0-9\-_]{4,16}$ false true //
          = f.password_field :password, :maxlength => 16
        .form_item
          = f.label :password_confirmation, I18n.t(:confirm_password) 
          / agent_password_confirmation ^[a-zA-Z0-9\-_]{4,16}$ false true //
          = f.password_field :password_confirmation, :maxlength => 16, :onblur => "javascript:check_passwords()"
          %span#password_warn.error
          %span#password_match.error{:style => 'display:none;'}
            = I18n.t(:passwords_must_match) 
        .form_item
          = f.label :email, I18n.t("var__i18n_t__email_address____", :var__i18n_t__email_address__ =>  I18n.t(:email_address) )
          / agent_email ^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$ false true //
          = f.text_field :email, :maxlength => 75, :size => 50
        .form_item
          = f.label :project_name, I18n.t("project_name__span_title__requ_")
          = f.text_field :project_name, :maxlength => 100, :size => 50
        %label
          %span{ :title => I18n.t("required_") }
            *
          =I18n.t("__required_fields")
        .button
          = submit_tag I18n.t(:register_now)  + ' &#187;'
        %br
        = link_to  I18n.t(:cancel) , :action=>'login'
    %br
