= content_partner_step_navigation :page_header => @page_header
%strong
  =I18n.t("roles___conditions_of_use")
%p{ :style => "margin: 10px 0 10px 0;" }
  = I18n.t("in_providing_its_content_to_eo_", :var__agent_project_name => @agent.project_name)
%ul
  %li
    =I18n.t("provide_its_content_via_a_form")
  %li
    =I18n.t("provide_data_objects_as_is_wit")
  %li
    =I18n.t("respond_to_the_originators_of_")
    = @agent.project_name
    =I18n.t("via_the_eol_regarding_its_cont")
  %li
    =I18n.t("work_with_the_eol_to_improve_t")
  %li
    =I18n.t("comply_with_the_creative_commo")
  %li
    =I18n.t("be_able_to_display_the_eol_log")
  %li
    =I18n.t("allow_eol_to_provide_names_from", :link => I18n.t("global_names_index"), :project => @agent.project_name)
%p{ :style => "margin: 10px 0 10px 0;" }  
  =I18n.t("in_handling_the_content_provid_", :var__agent_project_name => @agent.project_name)
%ul
  %li
    =I18n.t("provide_tools_and_methods_to_e_", :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("cache_var__agent_project_name_", :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("attribute_all_of_var__agent_pr" ,:var__agent_project_name => @agent.project_name, :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("present_or_pass_along_var__age", :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("not_encourage_or_answer_request", :projecta => @agent.project_name , :projectb => @agent.project_name)
  %li
    =I18n.t("not_alter_the_data_objects_pro")
  %li
    =I18n.t("notify_var__agent_project_name", :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("work_with_var__agent_project_n", :project => @agent.project_name)
  %li
    =I18n.t("notify_var__agent_project_name_", :var__agent_project_name => @agent.project_name)
  %li
    =I18n.t("enable_var__agent_project_name", :var__agent_project_name=> @agent.project_name)
  %li
    =I18n.t("eol_will_show_project_logo_and_description", :project => @agent.project_name)
  %li
    =I18n.t("eol_may_elect_at_its_sole_disc", :var__agent_project_name => @agent.project_name)
= eol_lang_error_messages_for :content_partner, :header_message => nil, :message => nil
- form_for @content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'license_form' } do |f|
  = f.check_box :roles_accept
  = f.label :roles_accept, I18n.t("i_have_read_and_agree_to_the_c"), :style => 'display: inline'
  = content_partner_save_type_hidden_field
%br
.button
  = content_partner_submit_buttons :id => 'license_form'
