= content_partner_step_navigation :page_header => @page_header
%strong
  =I18n.t("transfer_schema_overview")
%br
%br
= eol_lang_error_messages_for :content_partner
%p
  =I18n.t("in_order_to_provide_your_conte")
  =I18n.t("content_partners_use_the_eol_a")
  =I18n.t("all_of_the_information_and_met")
  =I18n.t("if_you_are_unable_to_generate_")
  =I18n.t("we_can_assist_you__so_please")
  = link_to I18n.t("contact_us"),:action=>'contact_us',:return_to=>request.request_uri
  \.
  %span.highlight
    =I18n.t("if_you_are_providing_data_to_e")
    %a{ :href => "http://www.lifedesks.org/", :target => "_blank" }
      =I18n.t("lifedesk")
    =I18n.t("__this_xml_file_will_be_create")
%br
%strong
  =I18n.t("darwin_core_archives")
%br
%p
  =I18n.t("in_addition_to_the_eol_transfe") 
  %a{ :href => "/content/darwin_core", :target => "_blank" }
    =I18n.t("darwin_core__dwc__archive_file")
  =I18n.t("__darwin_core_is_a_set_of_stan")
  %a{ :href => "http://rs.tdwg.org/dwc/terms/guides/text/index.htm", :target => "_blank" }
    =I18n.t("more_information_here")
  =I18n.t("about_creating_well_formed_dwc") 
  %a{ :href => "http://rs.tdwg.org/dwc/terms/index.htm", :target => "_blank" }
    =I18n.t("darwin_core_terms_list")
  =I18n.t("for_more_a_complete_reference_")
%br
%a{ :href => "http://services.eol.org/schema/EOL_Transfer_Schema_Documentation.pdf" }
  =I18n.t("download_the_eol_transfer_sche")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
%br
%a{ :href => "/files/pdfs/docs/EOL_Transfer_Schema_Glossary.pdf" }
  =I18n.t("download_the_eol_transfer_sche_")
%img{ :title => I18n.t("pdf"), :src => "/images/refparser/page_white_acrobat.png", :border => "0", :alt => I18n.t("pdf") }
- form_for @content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'transfer_form' } do |f|
  = content_partner_save_type_hidden_field
  = f.check_box :transfer_schema_accept
  = f.label :transfer_schema_accept, I18n.t("i_have_read_and_understand_the_"), :style => 'display: inline'
%br
.button
  = content_partner_submit_buttons :id => 'transfer_form'
