#sidebar
  .collection_contributors
    %h3= I18n.t(:founder)
    %ul
      %li
        = link_to image_tag(@community.founder.user.logo_url, :alt => @community.founder.user.given_name), user_path(@community.founder.user.id)
        %h4= link_to @community.founder.user.given_name, user_path(@community.founder.user.id)
        - # FIXME: user model missing atttribute for e.g. "Head mycologist": %p= @community.founder.user.???
  .collection_contributors
    %h3= I18n.t(:most_active_members)
    %ul
      - @community.top_active_members.each do |member|
        %li
          = link_to image_tag(member.user.logo_url, :alt => member.user.given_name), user_path(member.user.id)
          %h4= link_to member.user.given_name, user_path(member.user.id)
          - # FIXME: user model missing atttribute for e.g. "Head mycologist": %p= member.user.???
#collections_tab.main_container
  .heading
    %h3= I18n.t(:community_focus)
  %ul.object_list
    = render :partial => 'collections/collection_summary', :locals => { :collection => @community.focus }
  - if @current_member && @current_member.can?(Privilege.endorse_collections) && @pending_collections
    - if @pending_collections.empty?
      .heading
        %h3= I18n.t(:pending_collections_with_count, :count => 0)
    - else
      .heading
        %h3= I18n.t(:pending_collections_with_count, :count => @pending_collections.size)
        = render :partial => 'shared/sort_by_date_form'
      %ul.object_list
        - @pending_collections.each do |collection|
          = render :partial => 'collections/collection_summary', :locals => { :collection => collection, :show_description => true }
  - if @community.endorsed_collections.empty?
    .heading
      %h3= I18n.t(:endorsed_collections_with_count, :count => 0)
  - else
    .heading
      %h3= I18n.t(:endorsed_collections_with_count, :count => @community.endorsed_collections.size)
      = render :partial => 'shared/sort_by_date_form'
    %ul.object_list
      - @community.endorsed_collections.each do |collection|
        = render :partial => 'collections/collection_summary', :locals => { :collection => collection, :show_description => true }
