= render :partial => 'menu'

#content_partners_statistics.main_container
  - form_tag({}, :method => :get) do
    .copy
      %h3= I18n.t(:admin_content_partners_statistics_first_published_header)
    .heading
      %fieldset
        %label
          = I18n.t(:admin_content_partners_statistics_date_from_label)
          = select_date(@date_from, :prefix => 'from', :order => [:day, :month, :year],
            :start_year => Date.current.year, :end_year => 2008)
        %label
          = I18n.t(:admin_content_partners_statistics_date_to_label)
          = select_date(@date_to, :prefix => 'to', :order => [:day, :month, :year],
            :start_year => Date.current.year, :end_year => 2008)
        %fieldset.actions
          = submit_tag I18n.t(:change), :name => nil

    - if @harvest_events.blank?
      .empty
        = I18n.t(:admin_content_partners_statistics_first_published_empty,
          :date_from => format_date_time(@date_from), :date_to => format_date_time(@date_to))
    - else
      %fieldset.actions.download
        = submit_tag I18n.t(:admin_content_partners_statistics_first_published_download_csv_submit),
          :name => :commit_download_csv_first_published
      %table.standard
        %caption
          = I18n.t(:admin_content_partners_statistics_first_published_caption,
            :date_from => format_date_time(@date_from), :date_to => format_date_time(@date_to))
        %thead
          %tr
            %th= I18n.t('activerecord.attributes.content_partner.full_name')
            %th= I18n.t('helpers.label.content_partner.created_at')
            %th= I18n.t('activerecord.attributes.harvest_event.resource')
            %th= I18n.t('helpers.label.harvest_event.first_published_at')
        %tbody
          - @harvest_events.each do |harvest_event|
            %tr
              %td= link_to harvest_event.resource.content_partner.full_name, harvest_event.resource.content_partner rescue I18n.t(:value_empty)
              %td= harvest_event.resource.content_partner.created_at.strftime('%Y-%m-%d') rescue I18n.t(:value_empty)
              %td= link_to harvest_event.resource.title, content_partner_resource_path(harvest_event.resource.content_partner, harvest_event.resource) rescue I18n.t(:value_empty)
              %td= harvest_event.published_at
