- content.each do |dato|
  - link_object = dato.is_link?
  - item_status_class, item_status_label = dato.status_class_and_label_by_taxon_concept(@taxon_concept)
  %div{:id => "data_object_#{dato.id}", :class => 'article'}
    - unless dato.object_title.blank?
      %h4= dato.object_title
    .meta.learn_more
      %p= link_to I18n.t("#{link_object ? 'link' : 'article'}_more_about"), data_object_path(dato)
    = render :partial => 'data_objects/data_object_article', :locals => { :data_object => dato , :show_view_source => 'false', :link_object => link_object }
    .meta.attribution
      = render :partial => 'data_objects/attribution_minimal', :locals => { :data_object => dato }
    %p.flag{:class => item_status_class }= item_status_label
    = render :partial => 'data_objects/rating', :locals => { :data_object => dato, :hide_user_rating => true }
    %div.actions
      %p
        - if dato.comments.length > 0
          = link_to I18n.t("see_all_comments_with_count_for_#{link_object ? 'link' : 'text'}_or_rate", :count => dato.comments.length), data_object_path(dato)
        - else
          = link_to I18n.t("comment_or_rate_on_this_#{link_object ? 'link' : 'article'}"), data_object_path(dato)
        - if current_user.min_curator_level?(:assistant) && dato.visibility_by_taxon_concept(@taxon_concept).id == Visibility.visible.id && dato != @summary_text && !link_object
          &bull;
          = link_to I18n.t(:show_in_overview), set_article_as_exemplar_path(:taxon_id => @taxon_concept.id, :data_object_id => dato.id)
