.section
  - unless $show_resources_links.blank?
    %h4= link_to I18n.t(:resources),
      @selected_hierarchy_entry ? taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : taxon_resources_path(@taxon_concept)
    %ul
      - $show_resources_links.each do |link|
        - case link
        - when 'partner_links'
          %li= link_to(I18n.t(:taxon_partner_links_link),
            @selected_hierarchy_entry ? taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : taxon_resources_path(@taxon_concept))
        - when 'identification_resources'
          %li= link_to(I18n.t(:taxon_identification_resources_link),
            @selected_hierarchy_entry ? identification_resources_taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : identification_resources_taxon_resources_path(@taxon_concept))
        - when 'citizen_science'
          %li= link_to(I18n.t(:taxon_citizen_science_link),
            @selected_hierarchy_entry ? citizen_science_taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : citizen_science_taxon_resources_path(@taxon_concept))
        - when 'education'
          %li= link_to(I18n.t(:taxon_education_link),
            @selected_hierarchy_entry ? education_taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : education_taxon_resources_path(@taxon_concept))
        - when 'biomedical_terms'
          %li= link_to(I18n.t(:taxon_biomedical_terms_link),
            @selected_hierarchy_entry ? biomedical_terms_taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : biomedical_terms_taxon_resources_path(@taxon_concept))
        - when 'nucleotide_sequences'
          %li= link_to(I18n.t(:taxon_nucleotide_sequences_link),
            @selected_hierarchy_entry ? nucleotide_sequences_taxon_entry_resources_path(@taxon_concept, @selected_hierarchy_entry) : nucleotide_sequences_taxon_resources_path(@taxon_concept))
  %h4= link_to I18n.t(:literature),
    @selected_hierarchy_entry ? taxon_entry_literature_index_path(@taxon_concept, @selected_hierarchy_entry) : taxon_literature_index_path(@taxon_concept.id)
  %ul
    - if $show_literature_references_link
      %li= link_to(I18n.t(:literature_references),
        @selected_hierarchy_entry ? taxon_entry_literature_index_path(@taxon_concept, @selected_hierarchy_entry) : taxon_literature_index_path(@taxon_concept))
    %li= link_to I18n.t(:biodiversity_heritage_library),
      @selected_hierarchy_entry ? bhl_taxon_entry_literature_index_path(@taxon_concept, @selected_hierarchy_entry) : bhl_taxon_literature_index_path(@taxon_concept)
