- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_detail
  #sidebar
    = image_tag(@details.thumb) if @details.thumb?
    #toc
      %h3= I18n.t(:table_of_contents)
      - @details.each_toc_item do |root, root_content|
        .section
          %h4= link_to root.label, url_for(:anchor => category_anchor(root))
          - if @details.toc_items_under?(root)
            %ul
              - @details.each_nested_toc_item(root) do |child, child_content|
                %li= link_to child.label, url_for(:anchor => category_anchor(child))
      = render :partial => 'show_literatures_and_resources_links'
  #main
    - if @details.articles_in_other_languages?
      %p.languages
        = I18n.t("articles_in_#{@details.toc_items? ? 'other_' : ''}languages_with_count", :count => @details.count_by_language.size)
        = raw(@details.count_by_language.map { |language, count| language ? link_to(I18n.t(:language_with_count, :language => language.label, :count => count), set_language_url(:language => language.iso_639_1, :return_to => current_url(false))) : I18n.t(:language_with_count, :language => I18n.t(:unknown), :count => count)}.join(', '))
        = raw(I18n.t(:learn_more_link, :learn_more => link_to(I18n.t(:learn_more_lowercase), cms_page_path('language_support'))))
    - if @details.toc_items?
      - @details.each_toc_item do |root, root_content|
        - unless root_content.empty? && !@details.toc_items_under?(root)
          %h2{:id => category_anchor(root)}= root.label
          .section
            = render :partial => 'category_content', :locals => { :content => root_content }
            - if @details.toc_items_under?(root)
              - @details.each_nested_toc_item(root) do |child, child_content|
                - unless child_content.empty?
                  %h3{:id => category_anchor(child)}= child.label
                  = render :partial => 'category_content', :locals => { :content => child_content }
    - else
      .empty
        %p
          - if @details.articles_in_other_languages?
            = I18n.t(:taxon_details_empty_in_this_language)
          - else
            = I18n.t(:taxon_details_empty)
        %p
          = link_to I18n.t(:add_article_to_page_button), new_taxon_data_object_path(@details), :class => 'button'
          = link_to I18n.t(:add_link_to_page_button), new_taxon_data_object_path(@details, :link => true), :class => 'button link_button'
