- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
- roots = @toc_items_to_show.collect{ |toc_item| toc_item unless toc_item.is_child? }.compact
#taxon_detail
  #sidebar
    - if @exemplar_image && img = @exemplar_image.thumb_or_object('260_190')
      = image_tag(img)
    #toc
      %h3= I18n.t(:table_of_contents)
      - for root in roots
        .section
          %h4= link_to root.label, url_for(:anchor => category_anchor(root))
          - children = @toc_items_to_show.collect{ |toc_item| toc_item if toc_item.parent_id == root.id }.compact
          - unless children.empty?
            %ul
              - for child in children
                %li= link_to child.label, url_for(:anchor => category_anchor(child))
      = render :partial => 'show_literatures_and_resources_links'
  - if roots.empty?
    #main
      - unless @details_count_by_language.blank?
        %p.languages
          = I18n.t(:articles_in_languages_with_count, :count => @details_count_by_language.size)
          = raw(@details_count_by_language.collect{ |language, count| link_to(I18n.t(:language_with_count, :language => language.label, :count => count), set_language_url(:language => language.iso_639_1, :return_to => current_url(false))) }.join(', '))
          = raw(I18n.t(:learn_more_link, :learn_more => link_to(I18n.t(:learn_more_lowercase), cms_page_path('language_support'))))
      .empty
        %p= I18n.t(:taxon_details_empty)
        %p
          = link_to I18n.t(:add_article_to_page_button), new_taxon_data_object_path(@taxon_concept), :class => 'button'
          = link_to I18n.t(:add_link_to_page_button), new_taxon_data_object_path(@taxon_concept, :link => true), :class => 'button link_button'
  - else
    #main
      - unless @details_count_by_language.blank?
        %p.languages
          = I18n.t(:articles_in_other_languages_with_count, :count => @details_count_by_language.size)
          = raw(@details_count_by_language.collect{ |language, count| language ? link_to(I18n.t(:language_with_count, :language => language.label, :count => count), set_language_url(:language => language.iso_639_1, :return_to => current_url(false))) : I18n.t(:language_with_count, :language => I18n.t(:unknown), :count => count)}.join(', '))
          = raw(I18n.t(:learn_more_link, :learn_more => link_to(I18n.t(:learn_more_lowercase), cms_page_path('language_support'))))
      - for root in roots
        - root_content = @text_objects.collect{ |d| d if (d.toc_items.include?(root) rescue nil) }.compact
        - children = @toc_items_to_show.collect{ |toc_item| toc_item if toc_item.parent_id == root.id }.compact
        - unless root_content.empty? && children.empty?
          - root_content = DataObject.sort_by_rating(root_content, @taxon_concept)
          %h2{:id => category_anchor(root)}= root.label
          .section
            = render :partial => 'category_content', :locals => { :content => root_content }
            - unless children.empty?
              - for child in children
                - child_content = @text_objects.collect{ |d| d if (d.toc_items.include?(child) rescue nil) }.compact
                - unless child_content.empty?
                  - child_content = DataObject.sort_by_rating(child_content, @taxon_concept)
                  %h3{:id => category_anchor(child)}= child.label
                  = render :partial => 'category_content', :locals => { :content => child_content }
