- template = render :partial => 'content_partners/content_partner_agreements/template',
  :locals => {:agreement => @new_agreement}
= template
- form_for [@partner, @new_agreement] do |form|
  %fieldset
    = form.hidden_field :template, :value => template
    %dl
      %dt
        = form.label :signed_by
      %dd
        = form.text_field :signed_by, {:maxlength => 255}
  %fieldset.actions
    = form.submit I18n.t('helpers.submit.content_partner_agreements.create')