- form_for [@partner, @new_agreement] do |form|
  %fieldset
    = @new_agreement.body
    = form.hidden_field :body, :value => @new_agreement.body
    = form.hidden_field :created_at, :value => @new_agreement.created_at
    %dl
      %dt
        = form.label :signed_by
      %dd
        = form.text_field :signed_by, {:maxlength => 255}
  %fieldset.actions
    = form.submit I18n.t('helpers.submit.content_partner_agreements.create'), :name => :commit_agree_to_terms