#content
  #taxon_literature.site_column
    = render :partial => 'communities_menu'
    .main_container.copy
      %h2= I18n.t(:communities)
      %p

      .column.communities
        .summary
          %p=  I18n.t(:community_tab_communities_description)

      .column.communities
        .article.list
          /.header
          %h4= I18n.t(:belongs_in_count_communities, :count => @communities.count)
          /
            -# TODO
            .heading
              %form.filter(action="" method="post")
                %fieldset
                  %label Sort By
                  %select
                    %option recently updated
                %fieldset.actions
                  %input(type="submit" value="filter")
          %ul
            - @communities.each do |community|
              %li
                = link_to image_tag(community.logo_url(:small), :alt => ''), community_path(community)
                .details
                  %h4= link_to(community.name, community_path(community))
                  %p
                    = I18n.t(:other_community_items_with_count, :count => community.focus.collection_items.count - 1) 
                    = I18n.t(:punctuation_comma)
                    = I18n.t(:members_with_count, :count => community.members.count)
