- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_community
  = render :partial => 'community_menu'
  .main_container
    .copy
      %h3= I18n.t(:curators)
      %p= I18n.t(:community_tab_curators_description)
    .article.list
      .header
        %h4= I18n.t(:curators_with_count, :count => @curators.count)
      %ul
        - @curators.each do |curator|
          %li
            = link_to image_tag(curator.logo_url(:small), :alt => I18n.t(:profile_image_alt_text_curator, :user_full_name => h(curator.full_name))), curator
            .details
              %h4= link_to h(curator.full_name), curator
              %p.meta= h(curator.tag_line)
