<h1><%= I18n.t("editing_task_name") %></h1>

<% form_for(@task_name) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </p>
  <p>
    <%= f.submit I18n.t("update") %>
  </p>
<% end %>

<%= link_to I18n.t("show"), @task_name %> |
<%= link_to I18n.t("back"), task_names_path %>
