<h1><%= I18n.t("listing_task_names") %></h1>

<table>
  <tr>
    <th><%= I18n.t("description") %></th>
    <th><%= I18n.t("frequency") %></th>
  </tr>

<% @task_names.each do |task_name| %>
  <tr>
    <td><%=h task_name.description %></td>
    <td><%=h task_name.frequency %></td>
    <td><%= link_to I18n.t("show"), task_name %></td>
    <td><%= link_to I18n.t("edit"), edit_task_name_path(task_name) %></td>
    <td><%= link_to I18n.t("destroy"), task_name, :confirm => I18n.t("are_you_sure") , :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t("new_task_name"), new_task_name_path %>
