<p>
  <b><%= I18n.t("description_") %></b>
  <%=h @task_name.description %>
</p>

<p>
  <b><%= I18n.t("frequency_") %></b>
  <%=h @task_name.frequency %>
</p>


<%= link_to I18n.t("edit"), edit_task_name_path(@task_name) %> |
<%= link_to I18n.t("back"), task_names_path %>
