#resources
  %p
    =I18n.t("this_area_is_used_to_notify_eo", :link => link_to(I18n.t("eol_transfer_schema_format"),:controller=>'content_partner',:action=>'transfer_overview'))
  %p
    =I18n.t("use_the__force__action_to_forc")
  - if current_objects.empty?
    %p
      =I18n.t("you_currently_have_no_resource")
  - else
    %table{ :width => "100%" }
      %tr.resources_table_head
        %th
          =I18n.t("title")
        %th
          =I18n.t("dataset_url")
        %th
          =I18n.t("frequency")
        %th
          =I18n.t("license")
        %th
          =I18n.t("status")
        %th
          =I18n.t("actions")
        %th
          =I18n.t("rss_status")
      - for resource in @resources
        %tr{ :class => resource.description.blank? ? 'class="resource_rowsep"' : '' }
          %td
            = link_to h(resource.title), resource_harvest_events_url(resource)
          %td
            - dataset_url = resource.accesspoint_url.blank? ? resource.dataset_file_name : resource.accesspoint_url
            - unless dataset_url.blank?
              = link_to(dataset_url.sub(/^.*\//, ''), dataset_url, :alt => dataset_url)
          %td{ :align => "center" }
            = h frequency(resource.refresh_period_hours)
          %td
            = h (resource.license.blank? ? I18n.t("unspecified") : resource.license.title)
          %td
            %span{ :id => "status_#{resource.id}" }
              = h resource.status_label
          %td
            %span><= link_to I18n.t("edit"), edit_resource_path(resource)
            \&nbsp;&nbsp;&nbsp;
            %span><= link_to_remote I18n.t("force"), :url => force_harvest_resource_path(resource), :method => :post, :update => "status_#{resource.id}", :confirm => I18n.t("are_you_sure_you_want_this_res")

          %td
            = link_to(image_tag('rss.png',:alt=>I18n.t("rss"),:title=>I18n.t("rss")), "http://services.eol.org/RSS_resource_monitor/process.php?f=5&resources_id=#{resource.id}")
        - if !resource.description.blank?
          %tr.resource_rowsep
            %td.resource_indented{ :colspan => "8" }
              %b
                =I18n.t("description_")
              = sanitize resource.description
  %br
  = link_to I18n.t("create_a_new_resource_descript"), new_resource_path
