#taxon
  = render(:partial => 'taxa/media_summary')
  = render(:partial => 'taxa/iucn_status_summary')
  = render(:partial => 'taxa/text_summary')
  = render(:partial => 'taxa/collections_summary')
  = render(:partial => 'taxa/communities_summary')
#sidebar
  - if @selected_hierarchy_entry
    = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
    = render(:partial => 'taxa/classification_tree')
  - else
    = render(:partial => 'taxa/classifications_summary')
    = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
    .article.list.updates
      - log = @taxon_concept.activity_log
      .header
        %h3= I18n.t(:recent_updates)
        - if log.total_entries > 0
          = link_to(I18n.t(:see_all_updates_with_count_html, :count => log.total_entries), taxon_updates_path(@taxon_concept))
      = render(:partial => 'activity_logs/index', :locals => {:log => log, :hide_pagination => true })
      = render(:partial => 'comments/new', :locals => { :parent => @taxon_concept })
