#taxon
  = render(:partial => 'taxa/media_summary')
  = render(:partial => 'taxa/iucn_status_summary')
  = render(:partial => 'taxa/text_summary')
  = render(:partial => 'taxa/collections_summary')
  = render(:partial => 'taxa/communities_summary')
#sidebar
  - if @selected_hierarchy_entry
    = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
    = render(:partial => 'taxa/classification_tree')
  - else
    = render(:partial => 'taxa/classifications_summary')
    = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
    - log = @taxon_concept.activity_log
    .article.list.updates
      .header
        %h3= I18n.t(:recent_updates)
      = render(:partial => 'activity_logs/index', :locals => {:log => log[-3..-1]})
      = render(:partial => 'comments/new', :locals => { :parent => @taxon_concept })
