#taxonomy
  = render(:partial => 'taxa/media_summary')
  = render(:partial => 'taxa/iucn_status_summary')
  = render(:partial => 'taxa/text_summary')
  = render(:partial => 'taxa/collections_summary')
  = render(:partial => 'taxa/communities_summary')
#sidebar
  = render(:partial => 'taxa/classifications_summary')
  = render(:partial => 'taxa/curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators})
  = render(:partial => 'activity_logs/index', :locals => {:log => @taxon_concept.activity_log})


