%h1
  =I18n.t("edit_glossary_term")
%br
= form_for :glossary_term, @glossary_term, :url => {:action => 'update', :id => params[:id]} do |f|
  = f.label :label, I18n.t(:glossary_term)
  = f.text_field :term, :size=>20
  %br
  %br
  = f.label :label, I18n.t("definition")
  = f.text_area :definition, :rows => 3, :cols => 50
  %br
  %br
  = f.submit I18n.t("submit_term")
