%h1
  =I18n.t("glossary_terms")
%br
%a{:href => '#add_a_term'}
  =I18n.t("add_a_new_term")
- form_tag({:action=>'index'},:method=>'post') do
  %strong
    =I18n.t("search")
  =I18n.t("for_terms_or_definitions_conta")
  = text_field_tag(:search_string, @search_string)
  = submit_tag I18n.t("search")



= will_paginate @glossary_terms
%table.results_table{:width => "100%", :cellspacing => "0"}
  %tr
    %th
      - column_order = (@order=='term') ? 'term desc' : 'term'
      = link_to I18n.t(:glossary_term), {:order_by => column_order}
    %th
      =I18n.t("definition")
    %th
      - column_order = (@order=='updated_at') ? 'updated_at desc' : 'updated_at'
      = link_to I18n.t("last_updated"), {:order_by => column_order}
    %th
      =I18n.t("action")
  - for glossary_term in @glossary_terms
    - column_class=cycle('odd','even')
    %tr{:valign => "top"}
      %td{:width => "40%", :class => column_class}
        = glossary_term.term
      %td{:class => column_class}
        = glossary_term.definition
      %td{:class => column_class, :width => '70px'}
        = h format_date_time(glossary_term.updated_at,:format=>'short_no_time')
      %td{:class => column_class, :width => '70px'}
        = link_to I18n.t(:edit), :action => I18n.t(:edit), :id => glossary_term.id
        |
        = link_to I18n.t(:delete), {:action => 'destroy',:id => glossary_term.id}, :confirm => I18n.t(:are_you_sure), :method => :delete
  - if @glossary_terms.empty?
    %tr
      %td{:colspan => 5, :align => 'center', :class => 'odd'}
        %br
        %i
          - if @search_string.blank?
            =I18n.t("glossary_is_empty")
          - else
            = "#{I18n.t(:no_results_for)} \"#{@search_string}\""
        %br
          &nbsp;
= will_paginate @glossary_terms
%br
%hr.thin
%a{:name => 'add_a_term'}
%h1
  =I18n.t("add_a_new_term")
= form_for :glossary_term, :url => {:action=>'create'} do |f|
  = f.label :label, I18n.t(:glossary_term)
  = f.text_field :term, :size=>20
  %br
  = f.label :label, I18n.t("definition")
  = f.text_area :definition, :rows => 3, :cols => 50
  %br
  = f.submit I18n.t("submit_term")
