- form_for(@taxon_concept, { :html => { :method => :get }, :url => { :action => 'index' } }) do
  %fieldset
    %dl
      %dt
        %label{:for => 'sort_by'}= I18n.t(:sort_by)
      %dd
        - sort_options = {}
        - [:newest, :rating, :status].each{|opt| sort_options[I18n.t("sort_by_#{opt}_option")] = opt }
        = select_tag :sort_by, options_for_select(sort_options, @sort_by.to_sym)

  %fieldset
    %dl
      %dt
        %label= I18n.t(:filter_by_type)
      %dd
        %ul
          - [:all, :image, :video, :sound, :photosynth].each do |opt|
            %li
              %label
                = check_box_tag "type[]", opt, @params_type.include?(opt.to_s),
                  { :name => "type[]", :id => "type_#{opt.to_s}"}
                = I18n.t("filter_by_type_#{opt}_option")

  - if current_user.min_curator_level?(:full)
    %fieldset
      %dl
        %dt
          %label= I18n.t(:filter_by_status)
        %dd
          %ul
            - [:all, :trusted, :unknown, :untrusted, :inappropriate].each do |opt|
              %li
                %label
                  = check_box_tag "status[]", opt, @params_status.include?(opt.to_s),
                    { :name => "status[]", :id => "status_#{opt.to_s}" }
                  = I18n.t("filter_by_status_#{opt}_option")

  %fieldset.actions
    = submit_tag I18n.t(:filter_media), :name => nil
