= form_for(@taxon_concept, { :html => { :method => :get }, :url => { :action => 'index' } }) do
  %fieldset
    %dl
      %dt
        %label{:for => 'sort_by'}= I18n.t(:sort_by)
      %dd
        - sort_options = {}
        - [:newest, :rating, :status].each{|opt| sort_options[I18n.t("sort_by_#{opt}_option")] = opt }
        = select_tag :sort_by, options_for_select(sort_options, @taxon_media.sort_by.to_sym)

  %fieldset
    %dl
      %dt
        %label= I18n.t(:filter_by_type)
      %dd
        %ul
          - [:all, :image, :video, :sound].each do |opt|
            - count = @taxon_media.facets[opt.to_s] || 0
            - item_class = (opt == :all || count > 0) ? nil : 'no_results'
            %li{ :class => item_class }
              %label
                = check_box_tag "type[]", opt, @taxon_media.type.include?(opt.to_s),
                  { :name => "type[]", :id => "type_#{opt.to_s}"}
                - if count == 0
                  = I18n.t("filter_by_type_#{opt}_option")
                - else
                  = I18n.t("filter_by_type_#{opt}_option_with_count", :count => count)
  %fieldset
    %dl
      %dt
        %label= I18n.t(:filter_by_status)
      %dd
        %ul
          - statuses = [:all, :trusted, :unreviewed]
          - statuses << :untrusted if current_user.is_curator?
          - statuses.each do |opt|
            %li
              %label
                = check_box_tag "status[]", opt, @taxon_media.status.include?(opt.to_s),
                  { :name => "status[]", :id => "status_#{opt.to_s}" }
                = I18n.t("filter_by_status_#{opt}_option")

  %fieldset.actions
    = submit_tag I18n.t(:filter_media), :name => nil
