= content_for :head do
  = javascript_include_tag 'exemplar_image.js'
= content_for :footer do
  = javascript_include_tag 'media_list'
- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
= render 'index'
