= content_for :head do
  = javascript_include_tag 'exemplar_image.js'
= content_for :footer do
  = javascript_include_tag 'media_list'
- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'

#media_list
  #sidebar.filters
    = image_tag @exemplar_image.thumb_or_object('260_190'), :alt => '' unless @exemplar_image.blank?
    #filters
      %h3= I18n.t(:media)
      = render :partial => "media_sort_filter"
  #main
    - if @media.total_entries == 0 || @taxon_concept.media_count(current_user, @selected_hierarchy_entry) == 0
      .empty
        - if @taxon_concept.media_count(current_user, @selected_hierarchy_entry) == 0
          %p= I18n.t(:media_list_empty)
        - else
          %p= I18n.t(:media_list_empty_search)
        %p= link_to I18n.t(:media_list_empty_contribute_instructions), cms_page_path('contribute')
    - else
      .header
        - start_number = (@media.current_page - 1) * @media.per_page + 1
        - end_number = [ (start_number + @media.per_page - 1), @media.total_entries ].min
        %h3= raw(I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number, :total => @media.total_entries))
        = will_paginate @media, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
          :inner_window => 2, :outer_window => 2
      %ul.media
        - @media.each_with_index do |item, index|
          - item_status_class, item_status_label = item.status_class_and_label_by_taxon_concept(@taxon_concept)
          - en_type = en_type(item)
          %li{:class => [index.modulo(4) == 0 ? 'first' : nil, en_type, item.has_thumbnail? ? nil : 'no_thumbnail'].compact.join(' ')}
            .figure
              - if en_type == 'image_map' # dato is image map and so uses image partial
                = render :partial => "data_objects/data_object_image",
                  :locals => { :data_object => item, :thumbnail => true, :size => '260_190' }
              - else # If en_type is blank, you're getting a bogus data object class. Restart your workers.
                = render :partial => "data_objects/data_object_#{en_type}",
                  :locals => { :data_object => item, :thumbnail => true, :size => '260_190' }
              - if item.data_type_id == DataType.image.id && current_user.min_curator_level?(:assistant)
                .overlay
                = form_for :taxon_concept_exemplar_image, :url => set_as_exemplar_taxon_media_path(@taxon_concept),
                  :html => {:class => 'taxon_concept_exemplar_image'} do |f|
                  %label
                    = f.radio_button :data_object_id, item.id, { :checked => (!@exemplar_image.blank? && @exemplar_image.id == item.id) }
                    = I18n.t(:set_as_exemplar)
                  %fieldset.actions
                    - if @selected_hierarchy_entry.nil?
                      = f.submit I18n.t(:set_as_exemplar)
            = render :partial => 'data_objects/rating', :locals => { :data_object => item, :minimal => true }
            %p.flag{:class => item_status_class}= item_status_label
            - vetted_id = item.association_with_exact_or_best_vetted_status(@taxon_concept).vetted_id
            .associations
              - associated_with_taxa_names = []
              - item.all_associations.each do |association|
                - if association.vetted_id == vetted_id && association_belongs_to_taxon_concept?(association, @taxon_concept)
                  - associated_with_taxa_names << association.italicized_name
              -# TODO: What should we do when this IS blank?
              - unless associated_with_taxa_names.blank?
                = I18n.t("association_#{item_status_label.downcase}_for_taxa", :count => associated_with_taxa_names.count)
                %ul
                  - associated_with_taxa_names.each do |assoc|
                    %li= assoc
            = render :partial => 'shared/add_to_my_collection', :locals => { :item => item, :my_collection => @watch_collection }
      .footer
        = will_paginate @media, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
          :inner_window => 4, :outer_window => 5
