#media_list
  #sidebar.filters
    = image_tag @exemplar_image.smart_medium_thumb unless @exemplar_image.blank?
    %h3= I18n.t(:media)
    = render :partial => "media_sort_filter"
  #main
    .header
      - # FIXME: Need proper numbers for these
      %h3= I18n.t(:displaying_numerical_range, :start_number => 1, :end_number => 4, :total => @media.count)
      = will_paginate @media
    %ul
      - @media.each do |item|
        %li
          = render :partial => "taxa/media_thumbnail", :locals => {:item => item}
          .average_rating
            - total = 5
            - average_rating = item.data_rating
            .rating
              %p{:style => "width: #{average_rating * 20}%"}<
                = I18n.t("average_rating_value_of_total", :rating => average_rating, :total => total)
          %p.flag{:class => vetted_id_class(item)}= item.vetted.label
          - if ! @collection.blank? && @collection.collection_items.any?{|ci| ci.object_type == item.class.name && ci.object_id == item.id}
            = link_to I18n.t(:in_my_collection_button), user_collection_path(current_user, @collection), :class => 'button'
          - else
            = render :partial => 'collection_items/new', :locals => {:object_being_collected => item}
          - if item.data_type.id == DataType.image.id && current_user.is_curator?
            %p
            = link_to I18n.t("set_as_exemplar"), :action => :set_as_exemplar, :data_object_id => item.id
    = will_paginate @media
