%li
  %h3{:id => content_page.page_name.gsub(' ', '_').downcase}
    = content_page.page_name
    %small
      &nbsp;
      = "["
      = content_page.active? ? I18n.t(:admin_content_page_active) : I18n.t(:admin_content_page_not_active)
      &bull;
      = link_to I18n.t(:edit), edit_admin_content_page_path(content_page)
      = "]"
  .actions
    = button_to I18n.t(:move_up), { :action => 'move_up', :id => content_page.id },
      { :disabled => block_of_pages.first == content_page, :class => 'move_up' }
    = button_to I18n.t(:move_down), { :action => 'move_down', :id => content_page.id },
      { :disabled => block_of_pages.last == content_page, :class => 'move_down' }
    = link_to I18n.t(:admin_content_page_child_new_link),
      new_admin_content_page_child_path(content_page), :class => 'button'
    = button_to I18n.t(:delete), { :action => 'destroy', :id => content_page.id },
      { :data => { :confirm => I18n.t(:admin_content_page_delete_confirmation, :page_name => content_page.page_name) }, :method => 'delete', :class => 'delete' }
  .translations
    %ul
      - content_page.translations.each do |translated_content_page|
        = render 'admins/translated_content_pages/item_summary',
          { :translated_content_page => translated_content_page, :content_page => content_page }
    = link_to I18n.t(:admin_translated_content_page_new_link),
      new_admin_content_page_translation_path(content_page)

  - unless content_page.children.empty?
    %ul
      - content_page.children.each do |child_page|
        = render 'admins/content_pages/item_summary',
          { :content_page => child_page, :block_of_pages => content_page.children }
