#content_page_edit
  .article.copy
    = form_for @content_page, :url => admin_content_page_path(@content_page), :builder => ApplicationHelper::EolFormBuilder do |content_page_form|
      = validation_errors_for(@content_page)
      %p.tip
        = I18n.t(:admin_content_page_edit_tip, :required_icon => image_tag('/images/v2/icon_required.png', :alt => ''))
      = render :partial => 'content_page_fieldset', :locals => {:content_page_form => content_page_form}

      %fieldset.actions
        = content_page_form.submit I18n.t('helpers.submit.content_page.update')
        = link_to I18n.t(:cancel), admin_content_pages_path
    = button_to I18n.t(:delete), { :action => 'destroy', :id => @content_page.id },
      { :confirm => I18n.t(:admin_content_page_delete_confirmation, :page_name => @content_page.page_name), :method => 'delete', :class => 'delete' }
