= eol_lang_error_messages_for :comment
%table
  %tr
    %td
      %strong
        =I18n.t(:type)
    %td
      = @comment.parent_type_name
  %tr
    %td
      %strong
        =I18n.t(:description)
    %td
      = link_to (truncate(@comment.parent_name),@comment.parent_url)
  - if @comment.image_comment?
    %tr
      %td
        %strong
          =I18n.t(:original_object)
      %td
        = image_tag(@comment.parent_image_url)
  %tr
    %td{ :valign => "top" }
      %strong
        =I18n.t(:body)
    %td
      = f.text_area :body,{:cols=>50}
  %tr
    %td
      %strong
        =I18n.t(:created_at)
    %td
      = @comment.created_at
%br
%br
= cancel_button_goes_back(return_to_url)
&#124;
= f.submit
