=I18n.t("all_comments_entered_by_users_")
=I18n.t("click_on_a_username_to_view_th")
#comments
  - form_tag({:action=>'index'},:method=>'get') do
    =I18n.t("search_for_comments_containing")
    = text_field_tag(:term_search_string,@term_search_string)
    = submit_tag I18n.t("search")
    %br
    %br
    %br
    - if @comments.nil? == false && @comments.size > 0
      =I18n.t("a_total_of_comment_were_found_matching_your_criteria", :count => @comment_count)
      %br
      = will_paginate @comments
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("user")
          %th
            =I18n.t("comment")
          %th
            =I18n.t("type")
          %th
            =I18n.t("created_at_")
          %th
            =I18n.t("action")
        - for comment in @comments
          - column_class=cycle('odd','even')
          %tr
            %td{ :class => column_class }
              = link_to (comment.user.full_name,:controller=>'/administrator/user',:action=>'edit',:id=>comment.user_id)
            %td{ :class => column_class }
              = h truncate(comment.body, :length => 100)
            %td{ :class => column_class }
              = truncate(comment.parent_name.gsub!(/(<[^>]*>)|\n|\t/s) {" "}, :length => 50)
              %br
              (
              = link_to (comment.parent_type_name,comment.parent_url)
              )
              %br
              = image_tag(comment.parent_image_url) if comment.image_comment?
            %td{ :class => column_class }
              = h format_date_time(comment.created_at,:format=>'short_no_tz')
            %td{ :class => column_class }
              = link_to I18n.t("_edit_"),:action=>'edit',:id=>comment.id
              %br
              = link_to I18n.t("_delete_"), {:action=>'destroy',:id=>comment.id}, :confirm => I18n.t("this_cannot_be_undone__are_you"), :method => :delete
      %br
      = will_paginate @comments
    - else
      =I18n.t("no_record_found_matching_your_")
