=I18n.t("all_comments_entered_by_users")
=I18n.t("click_on_a_username_to_view_the_users_detailed_profile")
#comments
  = form_tag({:action=>'index'},:method=>'get') do
    =I18n.t("search_for_comments_containing_the_text")
    = text_field_tag(:term_search_string,@term_search_string)
    = submit_tag I18n.t("search")
    %br
    %br
    %br
    - if @comments.nil? == false && @comments.size > 0
      =I18n.t("a_total_of_comment_were_found_matching_your_criteria", :count => @comment_count)
      %br
      = will_paginate @comments
      %table.results_table{ :cellspacing => "0" }
        %tr
          %th
            =I18n.t("user")
          %th
            =I18n.t("comment")
          %th
            =I18n.t("type")
          %th
            =I18n.t("comment_created_at")
          %th
            =I18n.t("action")
        - for comment in @comments
          - column_class=cycle('odd','even')
          %tr
            %td{ :class => column_class }
              - if comment.user
                = link_to comment.user.full_name, :controller => '/administrator/user', :action => 'edit', :id => comment.user_id
            %td{ :class => column_class }
              = raw(truncate(comment.body, :length => 100))
              - if !comment.visible_at
                %br
                %i
                  = "--" + I18n.t("hidden_comment")  + "--"
            %td{ :class => column_class }
              %br
              = "("
              = link_to comment.parent_type_name, comment.parent_url
              = ")"
              %br
              = image_tag(comment.parent_image_url) if comment.image_comment?
            %td{ :class => column_class }
              = h format_date_time(comment.created_at,:format=>'short_no_tz')
            %td{ :class => column_class }
              = link_to I18n.t("edit").i18n_downcase,:action=>'edit',:id=>comment.id
              %br
              - if comment.visible_at
                = link_to I18n.t("hide").i18n_downcase, {:action=>'hide',:id=>comment.id}
              - else
                = link_to I18n.t("show").i18n_downcase, {:action=>'show',:id=>comment.id}
              
      %br
      = will_paginate @comments
    - else
      =I18n.t("no_record_found_matching_your_criteria")
