.community_roles_container
  %h2= I18n.t(:community_roles)
  - if roles.blank?
    %p.result_empty
      = I18n.t(:there_are_currently_no_roles_for_this_community)
      - if @current_member && @current_member.can?(Privilege.edit_community)
        = I18n.t(:link_to_add_role_to_community_to_control_privs, :link =>link_to(I18n.t(:add_a_role), new_community_role_path(@community)))
  - else
    %ul#community_roles
      - roles.each do |role|
        %li
          = link_to role.title, community_role_path(@community, role)
          - if @community
            - count = role.count
            - if count <= 0
              = I18n.t(:no_members_in_parens)
            - else
              =  I18n.t(:members_count_in_parens , :count => role.count)
            - if @current_member && @current_member.can?(Privilege.edit_community)
              = link_to( I18n.t(:delete_allcaps) , [@community, role], :method => :delete, :confirm => I18n.t(:are_you_sure) )
  - if @current_member && @current_member.can?(Privilege.edit_community)
    %h3= I18n.t(:manage_roles)
    = link_to( I18n.t(:add_a_role) , new_community_role_path(@community))
