.community_roles_container
  %h2= I18n.t(:community_roles)
  - if roles.blank?
    %p.result_empty
      = I18n.t(:there_are_currently_no_roles_for_this_community)
      - if @current_member && @current_member.can?(Privilege.edit_delete_community)
        = I18n.t(:link_toadd_a_role_new_community_role_pathcommunity_to_control_member_privileges, :var_link =>link_to(I18n.t(:add_a_role), new_community_role_path(@community)) )
  - else
    %ul#community_roles
      - roles.each do |role|
        %li
          = link_to role.title, community_role_path(@community, role)
          - if @community
            - count = role.count
            - if count <= 0
              = I18n.t(:no_members)
            - else
              =  I18n.t(:members_count_in_parens , :count => role.count)
            - if @current_member && @current_member.can?(Privilege.edit_delete_community)
              = link_to( I18n.t(:delete) , [@community, role], :method => :delete, :confirm => I18n.t(:are_you_sure) )
  - if @current_member && @current_member.can?(Privilege.edit_delete_community)
    %h3= I18n.t(:manage_roles)
    = link_to( I18n.t(:add_a_role) , new_community_role_path(@community))
