%h3
  = @role.title
  = "in community"[]
  = link_to @role.community.name, @role.community
.privilieges
  %h5= "Privileges"[]
  %ul
    - @privileges.each do |privilege|
      %li= privilege.name
.members
  %h5= "Members"[]
  %ul
    - @role.members.each do |member|
      %li= member.user.username
