- current_user_is_admin = @current_member && @current_member.can?(Privilege.edit_delete_community)
%h3
  = @role.title
  = "in community"[]
  = link_to @community.name, @community
-# TODO show/hide this with simple JS
- if current_user_is_admin
  .edit_name
    - form_tag(community_role_path(@community, @role), :method => :put) do
      %p
        = text_field :role, :title
      %p
        = submit_tag('Save'[])
.privilieges
  %h5= "Privileges"[]
  %ul#role_privileges
    - if current_user_is_admin
      - @privileges.each do |privilege|
        %li
          - active = false
          - if @role.can?(privilege)
            %span.active= privilege.name
            = link_to("Remove"[], remove_privilege_from_role_path(:privilege_id => privilege.id, :role_id => @role.id))
          - else
            %span.inactive= privilege.name
            = link_to("Add"[], add_privilege_to_role_path(:privilege_id => privilege.id, :role_id => @role.id))
    - else
      - @role.privileges.each do |privilege|
        %li= privilege.name
.members
  %h5= "Members"[]
  %ul
    - if @role.members.blank?
      = "There are no members with this role."[]
    - else
      - @role.members.each do |member|
        %li= member.user.username
