<%- if current_user.is_admin? -%>
  <%= render :partial => '/admin/content_top', :locals => {:name => 'Content Partner Reports'} %>
  <%- content_partner_id = params[:content_partner_id] -%>  
<%- else -%>
  <%= render :partial => '/content_partner/top', :locals => {:page_header => 'Edit Resource'} %>
  <%- content_partner_id = 0 -%>
<%- end -%>

<h2>Harvests for <%= @resource.title%></h2>

<%- unless @resource.resource_status == ResourceStatus.published 
-%>
<div>
  <%- if current_user.is_admin? -%>
    Please 
    <%= link_to "publish", edit_resource_path(@resource, :content_partner_id => content_partner_id) %> 
    this resource first
  <%- else -%>
    This resource is not set as published by the administrator at this time.
  <%- end -%>
</div>
<%- end -%>

<%- unless @harvest_events.blank? -%>

<form id="pagination_form">  
  <%= will_paginate(@harvest_events) %>
</form>

  <table class="results_table">
    <thead>
      <tr>
        <th>Harvest ID</th>
        <th>Started</th>
        <th>Completed</th>
        <th>Published</th>
        <th>Taxa</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <%- count = 0 -%>
    <%- for harvest_event in @harvest_events 
       column_class=cycle('odd','even')
       count += 1  -%>
      <tr>
        <td class="<%=column_class%>"><%= harvest_event.id.to_s %></td>                          
        <td class="<%=column_class%>"><%= format_date_time(harvest_event.began_at) %></td>
        <td class="<%=column_class%>"><%= format_date_time(harvest_event.completed_at) %></td>
        <td class="<%=column_class%>"><%= harvest_event.published_at ?  format_date_time(harvest_event.published_at) : "not published yet" %></td>
        <td class="<%= column_class %>">
          <%= link_to 'preview', harvest_event_taxa_url(harvest_event)%>
        </td>
        <td class="<%= column_class %>">
        <%- if harvest_event.published_at -%>
          <%- if count == 1 -%> 
            currently published
          <%- else -%>
            <%= link_to "rollback", resource_harvest_event_url(@resource, harvest_event), :method => :put, :confirm => "Are you sure you want to revert to this harvest and delete all newer harvests?  This action is not reversible." %>
          <%- end -%>
        <%- else -%>
          <%= current_user.is_admin? ? link_to("publish", resource_harvest_event_url(@resource, harvest_event), :method => :put, :confirm => "Are you sure you want to publish this harvest? This action is not reversible.") : "n/a" %>
        <%- end -%>
        </td>
      </tr>
    <%- end -%>      
    </tbody>
  </table>
  <form id="pagination_form2">
  <%= will_paginate(@harvest_events) %>
  </form>
<%- end -%>
<%- if current_user.is_admin? -%>
  <%= link_to "[go back]", :controller => "/administrator/content_partner_report", :action => "show", :id  => content_partner_id %>
  <%= render :partial=> '/admin/content_bottom' %>
<%- else -%>
  <%= link_to "[go back]", resources_url %>
  <%= render :partial=> '/content_partner/bottom' %>
<%- end -%>
