- position ||= :header
- cache(:controller => "/content", :part => "global_navigation_#{position}_#{current_user.language_abbr}") do
  %div{ :role => "navigation" }
    - if position == :header
      %h2.assistive= I18n.t(:global_navigation)
    %ul.nav
      %li
        = link_to I18n.t(:help), help_url
      %li
        = link_to I18n.t(:what_is_eol), about_path
      %li
        = link_to I18n.t(:eol_news), news_path
      %li
        = link_to I18n.t(:donate), donate_path
      - if position == :footer
        %li
          = link_to I18n.t(:contact_us_link), contact_path
        %li
          = link_to I18n.t(:terms_of_use_link), terms_of_use_path
      - if mobile_agent_request?
        %li
          = link_to "Mobile site", enable_mobile_contents_path

