- position ||= :header
- cache(:controller => "/content", :part => "global_navigation_#{position}_#{current_user.language_abbr}") do
  %div{ :role => "navigation" }
    - if position == :header
      %h2.assistive= I18n.t(:global_navigation)
    %ul.nav
      %li
        = link_to I18n.t(:help) , "/placeholder"
      %li
        = link_to I18n.t(:what_is_eol) , "/placeholder"
      %li
        = link_to I18n.t(:eol_news) , "/placeholder"
      %li
        = link_to I18n.t(:donate) , { :controller => "/content", :action => "donate" }
      - if position == :footer
        %li
          = link_to I18n.t(:contact_us_link), "/placeholder"
      - if mobile_agent_request?
        %li
          = link_to_remote "Mobile site", :url => enable_mobile_contents_path, :method => :post

