- cache(:controller => "/content", :part => "global_navigation_#{current_language.iso_639_1}") do
  .global_navigation{ :role => "navigation" }
    %h2.assistive= I18n.t(:global_navigation)
    %ul.nav
      %li
        = link_to I18n.t(:discover_link), discover_path
      %li
        = link_to I18n.t(:help), help_path
      %li
        = link_to I18n.t(:what_is_eol), about_path
      %li
        = link_to I18n.t(:eol_news), news_path
      %li
        = link_to I18n.t(:donate), donate_path
