- content_for :head do
  = eol_lang_main_stylesheet 'admin', :media => "all"
- content_for :main do
  #page_heading
    .site_column
      .hgroup
        %h1= @page_title
        - unless @page_subheader.blank?
          %h2= @page_subheader
        - unless @page_description.blank?
          %p= @page_description
      = render :partial => 'shared/flash_messages'
  #content.admin
    .site_column
      - # TODO: Turn decision to show admin nav into a helper.
      - if display_navigation?
        #tabs_sidebar
          %ul.tabs
            %li{:class => resource_is_active('admins')}= link_to I18n.t(:admin_link), admin_path
            %li{:class => resource_is_active('admins/content_pages')}= link_to I18n.t(:admin_content_pages_link), admin_content_pages_path
            %li{:class => resource_is_active('admins/content_partners')}= link_to I18n.t(:admin_content_partners_link), admin_content_partners_path
      = yield

= render :file => 'layouts/v2/application'