- content_for :head do
  = stylesheet_include_i18n_merged 'admin', :media => "all"
- content_for :main do
  #page_heading{:class => display_admins_navigation? ? 'with_nav' : nil}
    .site_column
      .hgroup
        - @page_title ||= page_title
        %h1= @page_title
        - unless @page_subheader.blank?
          %h2= @page_subheader
        - unless @page_description.blank?
          %p= @page_description
      = render :partial => 'shared/flash_messages'
      - if display_admins_navigation?
        %ul.nav
          %li{:class => resource_is_active('admins')}= link_to I18n.t(:admin_link), admin_path
          %li{:class => resource_is_active('admins/content_pages')}= link_to I18n.t(:admin_content_pages_link), admin_content_pages_path
          %li{:class => resource_is_active('admins/content_partners')}= link_to I18n.t(:admin_content_partners_link), admin_content_partners_path
          - #%li{:class => resource_is_active('admins/statistics')}= link_to I18n.t(:admin_statistics_link), admin_statistics_path

  #content{:class => controller_name}
    .site_column
      = yield

= render :file => 'layouts/v2/application'
