!!! XML
!!! 5
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml",
  'xmlns:fb' => $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:facebook) ? "http://ogp.me/ns/fb#" : nil,
  'xmlns:og' => $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:facebook) ? "http://ogp.me/ns#" : nil }
  %head
    - @meta_data ||= meta_data
    %title<
      = h strip_tags @meta_data[:title]
    %meta{ :charset => "utf-8" }
    - # HTML4 charset declaration, might go when browsers catch up with html5
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :name => "verify-v1", :content => "mJIytYT6a+K1y+bCmD1wr1ge+4Q63O0YfTHCYWwkzaY=" }
    - # Prevents generation of links to "smart tags"
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    - unless @meta_data[:description].blank?
      %meta{ :name => "description", :content => h(strip_tags(@meta_data[:description]).truncate(160)) }
    - unless @meta_data[:keywords].blank?
      %meta{ :name => "keywords", :content => h(strip_tags(@meta_data[:keywords])) }
    - if $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:facebook) && $FACEBOOK_APP_ID
      %meta{ :property => "fb:app_id", :content => $FACEBOOK_APP_ID }

    - if @no_cache
      %meta{ :content => "NO-CACHE", "http-equiv" => "CACHE-CONTROL" }
      %meta{ :content => "NO-CACHE", "http-equiv" => "PRAGMA" }

    = yield :head_meta
    - unless @rel_canonical_href.blank?
      %link{ :href => @rel_canonical_href, :rel => "canonical" }
    - unless @rel_prev_href.blank?
      %link{ :href => @rel_prev_href, :rel => "prev" }
    - unless @rel_next_href.blank?
      %link{ :href => @rel_next_href, :rel => "next" }
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %link{ :href => "/opensearchdescription.xml", :title => I18n.t("encyclopedia_of_life"), :rel => "search", :type => "application/opensearchdescription+xml" }


    - if @home_page
      = stylesheet_include_i18n 'home', :media => "all"
    - else
      = stylesheet_include_i18n 'application', :media => "all"
    - if I18n.locale.to_s == "zh-Hans"
      = stylesheet_include_i18n 'fonts', :media => "all"
    /[if IE 7]
      = stylesheet_include_i18n 'ie7', :media => "all"
    = include_javascripts :application

    = csrf_meta_tag # Recommended by https://github.com/rails/jquery-ujs

    = yield :head
  %body{:class => @home_page ? 'home' : nil}
    - unless @home_page
      - # For accessibility and SEO on pages other than home page we want content to appear first in the markup.
      #central
        .section{ :role => "main" }
          = yield :main

    #header
      .section
        %h1= link_to I18n.t(:encyclopedia_of_life), root_url, { :title => I18n.t(:home_page_link_advisory_information) }
        = render :partial => '/layouts/v2/global_navigation'
        .actions
          .language
            %p{ :class => I18n.locale.to_s, :title => I18n.t(:selected_language_advisory_information) }
              - link_to language_path do
                %span
                  = current_language.source_form
            %ul
              - Language.approved_languages.each do |language|
                %li{:class => language.iso_639_1}
                  = link_to language.source_form,
                    set_language_url(:language => language.iso_639_1, :return_to => current_url(false)),
                    { :title => I18n.t(:switch_language_advisory_information, :language_label => language.source_form) }
        - if @home_page
          %h2= I18n.t(:global_access_tagline)
        = render :partial => "/layouts/v2/search"
        - if logged_in?
          = render :partial => 'sessions/session_summary'
        - elsif $ALLOW_USER_LOGINS
          = render :partial => 'shared/join_eol'
        - elsif $ALLOW_USER_LOGINS == false && @home_page.nil?
          .session
            %p= I18n.t(:user_system_down)

      - if @home_page
        - cache(:action => 'index', :action_suffix => "march_of_life_#{current_language.iso_639_1}") do
          %h3.assistive= I18n.t(:explore)
          .thumbnails
            %ul
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 0, :total => 6 }
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 1, :total => 6 }
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 2, :total => 6 }
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 3, :total => 6 }
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 4, :total => 6 }
              = render :partial => '/content/march_of_life_item', :locals => { :explore_taxa => @explore_taxa, :index => 5, :total => 6 }
            .term
              .site_column
                %p
                  -# the non-breaking space here gives the march of life name bar some height on page load
                  &nbsp;
    - if @home_page
      #central
        .section{ :role => "main" }
          = yield :main

    #footer{ :role => "contentinfo" }
      .section
        %h2.assistive= I18n.t(:site_information)
        .copyright
          %h6= link_to I18n.t(:encyclopedia_of_life), root_url
          - full_version = ENV["APP_VERSION"].blank? ? I18n.t(:development_version_name) : ENV["APP_VERSION"]
          %p{ :title => I18n.t(:application_version_advisory_information), :data_data => full_version }
            v. 2.0
        = render :partial => '/layouts/v2/global_navigation', :locals => { :position => :footer }
        %ul.social_media
          - # TODO: add rss ?
          %li= link_to I18n.t(:twitter), $EOL_TWITTER_ACCOUNT, :class => "twitter", :rel => :nofollow
          %li= link_to I18n.t(:facebook), $EOL_FACEBOOK_ACCOUNT, :class => "facebook", :rel => :nofollow
          %li= link_to I18n.t(:tumblr), $EOL_TUMBLR_ACCOUNT, :class => "tumblr", :rel => :nofollow
          %li= link_to I18n.t(:flickr), $EOL_FLICKR_ACCOUNT, :class => "flickr", :rel => :nofollow
          %li= link_to I18n.t(:youtube), $EOL_YOUTUBE_ACCOUNT, :class => "youtube", :rel => :nofollow

      = yield :footer
    = javascript_include 'head.load.min'
    - if $GOOGLE_ANALYTICS_ID && $ENABLE_ANALYTICS
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{$GOOGLE_ANALYTICS_ID}']);
        _gaq.push(['_trackPageview']);
        EOL.after_onload_JS(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
      - if $ENABLED_SOCIAL_PLUGINS
        :javascript
          head.ready("ga.js", function() {
            head.js('/javascripts/ga_social_tracking.js');
            head.ready("ga_social_tracking.js", EOL.load_social_plugins());
          });
    - elsif $ENABLED_SOCIAL_PLUGINS
      :javascript
        EOL.load_social_plugins();
    - if $QUANTCAST_ID && $ENABLE_QUANTCAST
      :javascript
        var _qevents = _qevents || [];
        _qevents.push( { qacct:"#{$QUANTCAST_ID}"} );
        EOL.after_onload_JS((document.location.protocol == 'https:' ? 'https://secure' : 'http://edge') + '.quantserve.com/quant.js');
      %noscript
        %div{ :style => "display: none;" }
          %img{ :src => "http://pixel.quantserve.com/pixel/#{$QUANTCAST_ID}.gif", :height => "1", :width => "1", :alt => "" }
    - if $ENABLE_WEBTRENDS
      = include_javascripts :webtrends
      :javascript
        (function() {
          var _tag=new WebTrends();
          _tag.dcsGetId();
          _tag.dcsCollect();
        })();
      %noscript
        %div{ :style => "display: none;" }
          %img{ :src => "http://logs1.smithsonian.museum/dcsg0chobadzpxfga2extd7pb_7c2s/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.eol.org", :height => "1", :width => "1", :alt => "", :id => "DCSIMG" }
