- content_for :main do
  #page_heading
    .site_column
      .hgroup
        %h1= I18n.t(:search_results)
        %h2= raw(I18n.t(:count_results_for_search_term, :count => @all_results.total_entries, :search_term => @querystring))
  #content
    .site_column#permalink_add_association
      %ul.object_list
        - en_type = en_type(@data_object)
        %li{:class => en_type}
          - if thumb = @data_object.thumb_or_object('88_88')
            = link_to image_tag(thumb , :alt => alternative_text(@data_object, en_type)), data_object_path(@data_object)
          %span.icon{:title => en_type.blank? ? nil : I18n.t("item_type_#{en_type}_assistive")}
          %h4= link_to @data_object.best_title, data_object_path(@data_object)
      = form_tag({:controller => 'data_objects', :action => 'add_association'}, :method => 'post') do
        %fieldset
          = label_tag 'add_association', I18n.t(:add_a_taxon_association_label)
          = text_field_tag :name
          = submit_tag I18n.t(:find_taxa_submit_button), :class => 'button'
          = link_to I18n.t(:go_back), data_object_path(@data_object)
      #main
        = yield

= render :file => 'layouts/v2/application'
