- content_for :main do
  #page_heading.with_image
    .site_column
      .hgroup
        - if @community && ! @community.id.nil?
          -#FIXME what if already a member? what happens to button?
          = link_to I18n.t(:join_community_button), join_community_path(@community.id, :return_to => communities_path(@community.id)), :class => "button"
          -#FIXME: Change this to community image - can we get decent alt text for this, otherwise leave blank image doesn't convey anthing useful.
          = image_tag '/images/v2/icon_communities_tabs.png', :alt => ""
          %h1= h @community.name
          %p= h @community.description
        - else
          %h1= @page_title || I18n.t(:communities)
  .thumbnails
    -# FIXME: convert this to proper community march of life with meaningful alt tags
    %ul
      - demo_taxa_ids = { 2866150 => 'Amanita muscaria', 17924149 => 'Dinochelus ausubeli', 921737 => 'Haramonas dimorpha', 328607 => 'Canis lupus', 1061748 => 'Pinus strobus', 491753 => 'Anochetus mayri' }
      - demo_taxa_ids.each_with_index do |(id, name), i|
        - unless id == 17924149
          %li= link_to image_tag("v2/temporary_for_mockup/mol_#{id}.jpg", :alt => name), "/pages/#{id}"
      %li.last= link_to image_tag("v2/temporary_for_mockup/mol_17924149.jpg", :alt => demo_taxa_ids[17924149]), "/pages/17924149"
    .term
      .site_column
        %p
  #content
    .site_column
      = yield

= render :file => 'layouts/v2/application'
