- content_for :main do
  #page_heading
    .site_column
      .hgroup
        %h1= @page_title
        %h2<
          = render :partial => 'owner', :locals => { :data_object => @data_object }
      .page_actions
        %ul
          %li
            = render :partial => 'shared/add_to_my_collection', :locals => { :item => @data_object, :my_collection => @watch_collection }
      = render :partial => 'shared/flash_messages'

  #content
    .site_column
      = yield

= render :file => 'layouts/v2/application'