- content_for :main do
  - limited = (@results.total_entries > DataSearchFile::LIMIT) ? I18n.t(:data_search_limit, count:   DataSearchFile::LIMIT) : nil
  #page_heading
    .site_column
      .hgroup
        %h1= @results ? I18n.t(:search_results) : I18n.t(:search)
        - search_term_to_show = [ @attribute, @querystring ].delete_if{ |t| t.blank? }.join(' : ')
        %h2
          = @results ? raw(I18n.t(:count_results_for_search_term, count: @results.total_entries, search_term: h(search_term_to_show))) : ''
          - if @taxon_concept
            = raw I18n.t(:searching_within_clade, clade_name: link_to("#{@taxon_concept.title_canonical_italicized}", taxon_overview_url(@taxon_concept)))
      .page_actions
        %ul
          - if @results && !@results.blank?
            %li.data_download{"data-alert" => limited}
              = link_to I18n.t(:download_data), download_data_search_path(params: params), method: :post, :class => 'button'
  #content
    .site_column
      #data_search
        = render partial: 'shared/beta_warning', locals: { note: limited }
        = render 'data_search/filters'
        #search_results
          #main
            = yield

= render file: 'layouts/v2/application'
