!!! 5
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = I18n.t(:encyclopedia_of_life)
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag "errors", "accessibility"
    = javascript_include_tag "jquery-1.6.1.min", "rails", "application"
    = yield :head

  %body
    - @page_title ||= controller.instance_variable_get("@page_title")
    #content
      %h1= @page_title
      = yield
