!!! 5
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - @error_page_title ||= controller.instance_variable_get("@error_page_title")
    %title
      = @error_page_title
    %meta{ :charset => "utf-8" }
    = stylesheet_include_i18n 'errors'
    = javascript_include_tag 'errors'
    = yield :head
    - if $GOOGLE_ANALYTICS_ID && $ENABLE_ANALYTICS != false # Weird, but in this case nil is okay: only false is bad.
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{$GOOGLE_ANALYTICS_ID}']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    #content
      %h1= @error_page_title
      = yield
