- content_for :head do
  = stylesheet_link_tag 'forum'
  = javascript_include_tag 'forum'

- content_for :main do
  #page_heading.with_image
    .site_column
      .hgroup
        - if @forum
          %h1= @forum.name
          %h2= link_to(I18n.t('forums.forums_heading'), forums_path)
          - unless @forum.description.blank?
            %p= sanitize @forum.description.balance_tags
        - elsif @topic
          %h1= @topic.title
          %h2
            = link_to(I18n.t('forums.forums_heading'), forums_path)
            = raw " &bull; "
            = link_to(@topic.forum.name, @topic.forum)
        - else
          %h1= I18n.t('forums.forums_heading')
    = render :partial => 'shared/flash_messages'
  #content
    .site_column
      = yield

= render :file => 'layouts/v2/application'
