- content_for :head do
  -# TODO = use the dynamic JS- and CSS-loading stuff:
  = javascript_include_tag '_discover.js'
  = javascript_include_tag 'jquery.colorbox-min.js'
  = stylesheet_link_tag 'colorbox.css'
  = stylesheet_link_tag '_discover.css'
- content_for :main do
  #page_heading
    .site_column
      .hgroup
        = render :partial => 'content/breadcrumbs'
        %h1= page_title
        = yield :social_sharing
        - unless page_description.blank?
          %p= page_description
      = render :partial => 'shared/flash_messages'
  = yield
= render :file => 'layouts/v2/application'
