- content_for :head do
  = javascript_include 'new-community'
- content_for :main do
  #page_heading.with_image
    .site_column
      = image_tag @collection.logo_url, :alt => I18n.t(:collection_image)
      .hgroup
        %h1= h @collection.name
        %h2= I18n.t(:create_community_around_this_collection_header)
    = render :partial => 'shared/flash_messages'
  #content
    = yield
= render :file => 'layouts/v2/application'
