- content_for :head do
  - if @taxon_concept
    - if @taxon_concept.has_feed?
      %link#content_rss{ :title => I18n.t("latest_content"), :href => url_for(:controller => :feeds, :action => :all, :id => @taxon_concept.id), :rel => "alternate", :type => "application/rss+xml"}
    - if (@taxon_concept.entry && @taxon_concept.entry.hierarchies_content && (@taxon_concept.entry.hierarchies_content.image != 0 || @taxon_concept.entry.hierarchies_content.child_image != 0))
      %link#media_rss{ :title => I18n.t("mediarss_feed"), :href => "/content/mediarss/#{@taxon_concept.id}", :rel => "alternate", :type => "application/rss+xml" }

- content_for :content do
  .article{ :role => 'article' }
    -# TODO - if we want to indicate vetted status here then for accessibility we will need
    -# a translatable vetted status (trusted, untrusted, not vetted) that is accessible
    -# to assistive technologies e.g. as part of h1 value or perhaps in a title attribute
    #content_header_container
      %h1
        = hh(@taxon_concept.title(@session_hierarchy))
        %span
          = " &mdash; "
          = @current_section[:name]
      - subtitle = @taxon_concept.subtitle(@session_hierarchy)
      - unless subtitle.blank?
        %p{:title => I18n.t(:preferred_common_name_advisory_information)}
          = hh(subtitle)
      - common_name_count = @taxon_concept.common_names.count
      = link_to(I18n.t(:common_names_with_count, :count => common_name_count), '/placeholder_link',
          { :title => I18n.t(:see_all_common_names_advisory_information) })

    #section_navigation_container
      %h2= I18n.t(:section_navigation)
      %ul#section_navigation
        - @content_sections.each do |section|
          %li{:class => section[:active] ? 'active' : nil }
            = link_to(section[:name], url_for(:controller => :taxa, :action => :show, :section_name => section[:url]))

    = yield

= render :file => 'layouts/v2/main'
