- content_for :head do
  - if @taxon_concept
    - if @taxon_concept.has_feed?
      %link#content_rss{ :title => I18n.t("latest_content"), :href => url_for(:controller => :feeds, :action => :all, :id => @taxon_concept.id), :rel => "alternate", :type => "application/rss+xml"}
    - if (@taxon_concept.entry && @taxon_concept.entry.hierarchies_content && (@taxon_concept.entry.hierarchies_content.image != 0 || @taxon_concept.entry.hierarchies_content.child_image != 0))
      %link#media_rss{ :title => I18n.t("mediarss_feed"), :href => "/content/mediarss/#{@taxon_concept.id}", :rel => "alternate", :type => "application/rss+xml" }

- content_for :main do
  #page_heading.with_nav
    .site_column
      .hgroup
        -# TODO - if we want to indicate vetted status here then for accessibility we will need
        -# a translatable vetted status (trusted, untrusted, not vetted) that is accessible
        -# to assistive technologies e.g. as part of h1 value or perhaps in a title attribute
        %h1<
          = hh(@taxon_concept.title(@session_hierarchy))
          %span.assistive<
            = " &mdash; "
            = @assistive_section_header
        - preferred_common_name = @taxon_concept.subtitle(@session_hierarchy)
        - unless preferred_common_name.blank?
          %h2{:title => I18n.t(:preferred_common_name_advisory_information)}
            = hh(preferred_common_name)
            - common_name_count = @taxon_concept.common_names.count
            - if common_name_count > 0
              %small= link_to I18n.t(:common_names_with_count, :count => common_name_count), '/placeholder_link',
                { :title => I18n.t(:common_names_advisory_information) }
            - else
              %small= I18n.t(:common_names_with_count, :count => common_name_count)
      .page_actions
        - # TODO: Make these links functional
        %ul
          %li= link_to I18n.t(:add_to_my_collection_button), "/placeholder", :class => "button"
          %li= link_to I18n.t(:contribute_to_page_button), "/placeholder", :class => "button"
      %ul.nav
        %li{:class => resource_is_active('taxa/overviews')}= link_to I18n.t(:overview), taxon_overviews_path(@taxon_concept.id)
        %li{:class => resource_is_active('taxa/details')}= link_to I18n.t(:detail), taxon_details_path(@taxon_concept.id)
        %li{:class => resource_is_active('taxa/media')}= link_to I18n.t(:media_with_count, :count => @taxon_concept.media.count), taxon_media_path(@taxon_concept.id)
        %li{:class => resource_is_active('taxa/maps')}= link_to I18n.t(:maps_with_count, :count => 12), '/placeholder'
        %li{:class => resource_is_active('taxa/nomenclature')}= link_to I18n.t(:nomenclature), '/placeholder'
        %li{:class => resource_is_active('taxa/literature')}= link_to I18n.t(:literature), '/placeholder'
        %li{:class => resource_is_active('taxa/community')}= link_to I18n.t(:community), '/placeholder'
        %li{:class => resource_is_active('taxa/resources')}= link_to I18n.t(:resources), '/placeholder'

  #content
    .site_column
      = yield

= render :file => 'layouts/v2/application'
