- content_for :main do
  #page_heading.with_image
    .site_column
      - if @user && @user.id
        - # user#show or user#edit
        = image_tag @user.logo_url, :alt => ""
        .hgroup
          %h1= @user.full_name
          %h2= @user.tag_line
        - unless action_name == 'edit'
          .page_actions
            %ul
              %li= render :partial => 'shared/add_to_my_collection', :locals => { :item => @user }
              %li= link_to I18n.t(:edit_my_profile), edit_user_path(@user), :class => "button" if @user.id == current_user.id
      = render :partial => 'shared/flash_messages'
  #content
    .site_column
      - if @user && @user.id && action_name == 'show'
        #tabs_sidebar
          %ul.tabs
            %li{:class => resource_is_active('users/newsfeeds')}= link_to I18n.t(:newsfeed), user_newsfeed_path(@user)
            %li{:class => resource_is_active('users', 'show')}= link_to I18n.t(:my_info), user_path(@user)
            %li{:class => resource_is_active('users/activity')}= link_to I18n.t(:my_activity), '/placeholder'
            %li{:class => resource_is_active('users/collections')}= link_to I18n.t(:collections_with_count, :count => @user.collections.count), user_collections_path(@user)
      = yield

= render :file => 'layouts/v2/application'
