#sidebar
  .collection_list
    %h3= I18n.t(:community_focus)
    - if @community.collections.blank?
      .empty
        %p= I18n.t(:this_community_has_no_focus_list)
    - else
      %ul
        - @community.collections.each do |focus|
          = render 'collections/collection_summary', {:collection => focus, :minimal => true}
  .collection_list
    %h3= I18n.t(:endorsed_collections)
    - if @community_collections.blank?
      .empty
        %p
          = I18n.t(:this_community_has_no_endorsed_collections)
          - if @current_member && @current_member.manager?
            = I18n.t(:manager_endorse_collections_suggestion)
    - else
      - if @community_collections.count > 4
        .copy
          %p= link_to I18n.t(:see_all_featured_collections_with_count, :count => @community_collections.count), community_collections_path(@community)
      %ul
        - unless @community_collections.blank?
          - @community_collections[0..3].each do |ci|
            = render 'collections/collection_summary', {:collection => ci.collected_item, :minimal => true}
  = render 'communities/active_members_sidebar'
#community.main_container
  .copy
    %p.help_text= I18n.t(:newsfeed_help_for_community)
  .article.list.updates
    = render 'comments/new', { :parent => @community }
    .heading
      %h3= I18n.t(:newsfeed)
    = render 'activity_logs/index', { :log => @newsfeed }

