#sidebar
  .collection_list
    %h3= I18n.t(:community_focus)
    - if @community.focus.nil?
      %p= I18n.t(:this_community_has_no_focus_list)
    - else
      %ul
        = render :partial => 'collections/collection_summary', :locals => {:collection => @community.focus, :minimal => true}
  .collection_list
    %h3= I18n.t(:endorsed_collections)
    - if @community.collections.empty?
      %p= I18n.t(:this_community_has_no_endorsed_collections)
    - else
      %ul
        - @community.collections[0..3].each do |collection|
          = render :partial => 'collections/collection_summary', :locals => {:collection => collection, :minimal => true}
#community.main_container
  .article.list.updates
    = render :partial => 'comments/new', :locals => { :parent => @community }
    .heading
      %h3= I18n.t(:newsfeed)
    = render :partial => 'activity_logs/index', :locals => { :log => @community.activity_log }
