%script{:src => "https://maps.googleapis.com/maps/api/js"}
:javascript
  $( document ).ready(function() {
    initialize("http://www.inaturalist.org/observations/project/#{@inaturalist_project_id}.kml");
  });
  function initialize(url) {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, -78.5463),
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
    var georssLayer = new google.maps.KmlLayer({
      url: url
    });
    georssLayer.setMap(map);
  }

- inat_observations_url = "http://www.inaturalist.org/observations"
- if @embed_auth_provider
  - auth_provider_question = "?#{@embed_auth_provider}"
  - auth_provider_ampersand = "&#{@embed_auth_provider}"
- content_for :social_sharing do
  = render 'shared/social_sharing'
- editable = @collection.editable_by?(current_user)
= content_for :additional_page_actions do
  = render 'collections/editable_actions', { :editable => editable }
#tabs_sidebar
  = render 'collections/filter_by_item_type'
#sidebar
  - unless @inaturalist_project_observations.blank?
    .inat_top_contributors
      %h3= t('.top_contributors')
      = javascript_include_tag "http://www.inaturalist.org/projects/#{@inaturalist_project_id}/contributors.widget"
  = render 'collections/recently_visited'
#inat_observations.main_container
  .inat_observations_header
    = link_to(t('.add_observations'),
              "#{inat_observations_url}/new?project_id=#{@inaturalist_project_id}#{auth_provider_ampersand}", :class => 'button')
    %span= t('.taxa_observed', :count => @inaturalist_observed_taxa_count)
    %a{:href => "http://www.inaturalist.org/#{auth_provider_question}"}
      %img{:src => "http://inaturalist.org/images/logo-small.gif"}
  .inat_observations_map
    #map-canvas{ :style => "width:500px; height:400px;" }
    -# %iframe{:src => "http://maps.google.com/?q=#{inat_observations_url}/project/#{@inaturalist_project_id}.kml&t=p&output=embed", :frameborder => "0",
            -# :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :width => "500"}
  .copy
    %p
      - link = @inaturalist_project_observations.blank? ? '.view_project_on_inaturalist' : '.view_all_observations_on_inaturalist'
      %strong= link_to(t(link, :project_title => @inaturalist_project_title),
                        "#{inat_observations_url}/project/#{@inaturalist_project_id}#{auth_provider_question}")
  .heading
    %h3= t('.recent_observations')
  %ul.object_list
  - if @inaturalist_project_observations.blank?
    .copy
      %p= t('.no_observations_added_to_this_project_yet')
  - else
    - @inaturalist_project_observations.each do |observation|
      %li
        - if observation['photos'][0]
          %a{:href => "#{inat_observations_url}/#{observation['id']}#{auth_provider_question}"}
            %img{:src => observation['photos'][0]['square_url']}
        - species = observation['species_guess'].blank? ? t('.some_taxon') : observation['species_guess']
        %h4= link_to(species, "#{inat_observations_url}/#{observation['id']}#{auth_provider_question}")
        - observer_link = link_to(observation['user_login'],
                                  "#{inat_observations_url}/#{observation['user_login']}#{auth_provider_question}")
        %p= raw(t('.observer_with_link', :observer_link => observer_link))
        %p= t('.observation_date', :observed_on => observation['observed_on_string'])
        %p= t('.observation_place', :place => observation['place_guess'])
    %strong= link_to(t('.view_more_observations_on_inaturalist', :project_title => @inaturalist_project_title),
                      "#{inat_observations_url}/project/#{@inaturalist_project_id}#{auth_provider_question}")