- EOL.log("index.html.haml rendering", prefix: 'v')
- content_for :social_sharing do
  - unless @taxon_data.bad_connection?
    = render 'shared/social_sharing'
-# TODO - These should actually be links to filtered versions of this page, for
-# accessibility.
- EOL.log("cache: taxa/#{@taxon_data.taxon_concept.id}/data_view", prefix: 'v')
- cache("taxa/#{@taxon_data.taxon_concept.id}/data_view", skip_digest: true, expires_in: 24.hours) do
  = render 'menu', { ajax: true }
  .main_container#taxon_data
    %h3.assistive= I18n.t(:taxon_data_header, taxon: @taxon_page.scientific_name)
    - EOL.log(".about", prefix: 'v')
    = render 'about', { hidden: true }
    - only_ranges = @data_point_uris.blank? && !@range_data.blank?
    - EOL.log(".data", prefix: 'v')
    = render 'data', { hidden: only_ranges }
    - EOL.log(".ranges", prefix: 'v')
    = render 'ranges', { hidden: !only_ranges }
    - EOL.log(".glossary", prefix: 'v')
    = render 'glossary', { hidden: true }

    - if ! @data_point_uris.blank? && current_user.min_curator_level?(:full)
      .copy
        #curation_legend.help_text
          %h3= I18n.t(:legend)
          .key= raw I18n.t(:data_tab_curator_key_exemplar, image: image_tag("v2/icon_required.png"), link: taxon_overview_path(@taxon_page))
          .key= raw I18n.t(:data_tab_curator_key_excluded, image: image_tag("v2/icon_excluded.png"), link: taxon_overview_path(@taxon_page))
- if current_user.min_curator_level?(:master)
  .add_content
    %p.add_data= link_to I18n.t(:master_curators_may_add_data), '#' # Ideally, that would be a link to the user_added_data/new path...
    .article
      .header
        %h3= I18n.t('user_added_data.add_data_header')
      - EOL.log(".user_added_data/form", prefix: 'v')
      = render 'user_added_data/form'
      -# You can't have nested forms, so this is external. ...It will be handled by Ajax (only), anyway.
      #suggestions{ style: 'display:none;' }
        - EOL.log(".known_uris/categories", prefix: 'v')
        = render 'known_uris/categories'
