- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
.main_container
  %table.standard
    %thead
      %tr
        %th= I18n.t('activerecord.attributes.user_added_data.predicate')
        %th= I18n.t('activerecord.attributes.user_added_data.object')
        %th= I18n.t('activerecord.attributes.user_added_data.user')
    - @data.each do |row|
      %tr
        %td= row[:attribute]
        %td= row[:value]
        %td
          - if row.has_key?(:user)
            = link_to row[:user].full_name, row[:user]
          - else
            = row[:graph]
  .article
    .header
      %h3= I18n.t(:user_added_data_header)
    = form_for @user_added_data, :url => user_added_data_path, :builder => ApplicationHelper::EolFormBuilder do |f|
      = f.hidden_field 'taxon_concept_id'
      %fieldset
        = validation_errors_for(@user_added_data)
        %dl
          %dt
            = f.label :predicate
          %dd
            = f.text_field :predicate, :size => 100
          %dt
            = f.label :object
          %dd
            = f.text_field :object, :size => 100
      %fieldset.actions
        = submit_tag(I18n.t(:submit))
