#public-tags-admin
  =I18n.t("use_the_form_below_to_enter_in_")
  %fieldset#new-public-tag
    %legend
      =I18n.t("add_new_tag_suggestion")
    =I18n.t("_no_spaces_allowed_in_categori")
    - form_tag :action => 'create' do
      %label{ :for => "tag[key]" }
        %span
          =I18n.t("category_")
        = text_field_tag 'tag[key]'
      %label{ :for => "tag[value]" }
        %span
          =I18n.t("value_")
        = text_field_tag 'tag[value]'
      = submit_tag I18n.t("create")
  %div
    %form#pagination_form
      = will_paginate @tags
    %table.results_table{ :cellspacing => "0" }
      %tr
        %th
          =I18n.t("usage")
        %th
          =I18n.t("category")
        %th
          =I18n.t("tag")
        %th
          =I18n.t("delete_")
      - for tag in @tags
        - column_class=cycle('odd','even')
        %tr
          %td{ :class => column_class }
            = tag.usage_count
          %td{ :class => column_class }
            = tag.key
          %td{ :class => column_class }
            = tag.value
          %td{ :class => column_class }
            = render :partial => 'destroy_public_tag_form', :locals => { :tag => tag }
    %form#pagination_form2
      = will_paginate @tags
