<h1>Listing list_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Object type</th>
    <th>Object</th>
  </tr>

<% @list_items.each do |list_item| %>
  <tr>
    <td><%=h list_item.name %></td>
    <td><%=h list_item.url %></td>
    <td><%=h list_item.object_type %></td>
    <td><%=h list_item.object_id %></td>
    <td><%= link_to 'Show', list_item %></td>
    <td><%= link_to 'Edit', edit_list_item_path(list_item) %></td>
    <td><%= link_to 'Destroy', list_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list_item', new_list_item_path %>