<p>
  <b>Name:</b>
  <%=h @list_item.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @list_item.url %>
</p>

<p>
  <b>Object type:</b>
  <%=h @list_item.object_type %>
</p>

<p>
  <b>Object:</b>
  <%=h @list_item.object_id %>
</p>


<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>