= javascript_include_tag 'navigation.js'
%label{ :title => "Select a clade"[] }= "Select a clade"[]

-# This is a hidden div that lets us clone the image_tag within it without worrying about it showing up *in addtion* to the copy (since the clone shares the original's class):
#orig-clade-spinner{:style => 'display:none'}
  = image_tag('indicator_arrows_black.gif', :class => 'clade-spinner')
%span#curator_taxon
  &nbsp;
  = clade_selector(options = { :selectable_clade_level => 3 })

%label{ :title => "Curation Scope"[] }
  = "Curation Scope"[]

Please note the scope of your expertise if it is smaller than the clade you signed up for. For example: "Rodents of Borneo," or "Tri-trophic interactions," or "Conservation issues in fish." This will not limit your ability to curate but will inform the EOL community.

= f.text_area :curator_scope, { :rows => 3, :cols => 80 }

%label{ :title => "Credentials"[], :for => "user_credentials" }= "Credentials"[]

Please state at least one specific credential from this list:

%br
%ol
  %li faculty, staff, or graduate student status in a relevant university or college department
  %li authorship of a peer-reviewed publication (provide reference)
  %li member of a professional society
= f.text_area :credentials, { :rows => 7, :cols => 80 }
