- unless @user.is_curator?
  %label{ :title => I18n.t(:select_a_clade)  }= I18n.t(:select_a_clade)

  -# This is a hidden div that lets us clone the image_tag within it without worrying about it showing up *in addtion* to the copy (since the clone shares the original's class):
  #orig-clade-spinner{:style => 'display:none'}
    = image_tag('indicator_arrows_black.gif', :class => 'clade-spinner')
  %span#curator_taxon
    &nbsp;
    = clade_selector(options = { :selectable_clade_level => 3 })

%label{ :title => I18n.t(:curation_scope)  }
  = I18n.t(:curation_scope)

= I18n.t(:please_note_expertise_smaller_than_scope)

=  I18n.t(:to_change_clade_preamble)
= link_to( I18n.t(:contact_us) , "/contact_us?default_subject=Curator%20Support") + '.'

= f.text_area :curator_scope, { :rows => 3, :cols => 80 }

%label{ :title => I18n.t(:credentials) , :for => "user_credentials" }= I18n.t(:credentials)

= I18n.t("please_state_at_least_one_spec")

%br
%ol
  %li=I18n.t("faculty__staff__or_graduate_st")
  %li=I18n.t("authorship_of_a_peer_reviewed_")
  %li=I18n.t("member_of_a_professional_socie")
= f.text_area :credentials, { :rows => 7, :cols => 80 }
