#content.session
  - form_for :user do |f|
    %fieldset
      %h1= I18n.t(:forgot_password_form_header)
      %dl
        %dt
          = f.label :username, I18n.t(:forgot_password_form_username_label)
        %dd
          = f.text_field :username
        %dt
          = f.label :email, I18n.t(:forgot_password_form_email_label)
        %dd
          = f.text_field :email

    %fieldset.actions
      = f.submit I18n.t(:forgot_password_form_submit)
      = link_to  I18n.t(:forgot_password_form_cancel) , :action => 'login'
