#page-separator-general
#page-title
  %h1= "Forgot Password"[]
  %hr
#page-content.clearfix
  / center page content
  #full-page-content
    %br
    %p== #{"Enter the email address or username (or both) you registered with to reset your password"[:forgot_password_message]}:
    - form_for :user do |form|
      %fieldset
        %label{ :for => "user_email" }== #{"Email Address"[]}:
        = form.text_field 'email', :size => 50, :maxlength => 250
        %br
        %br
        or
        %br
        %br
        %label{ :for => "user_name" }== #{"Username"[]}:
        = form.text_field 'username', :size => 30, :maxlength => 30
        %br
        %br
        %table{ :border => "0", :width => "500", :cellpadding => "20" }
          %tr
            %td{ :valign => "top" }
              = submit_tag 'Submit'[:submit] + ' &#187;'
            %td{ :valign => "middle" }
              = link_to 'Cancel'[:cancel], :action => 'login'
    -# end of form
