- content_for :main do
  #content.session
    - form_for :user, :url => {:action => 'authenticate'} do |f|
      %fieldset
        %h1= I18n.t(:login_header)
        %dl
          %dt
            = f.label :username, I18n.t(:sign_in_form_username_label)
          %dd
            = f.text_field :username
          %dt
            = f.label :password, I18n.t(:sign_in_form_password_label)
          %dd
            = f.password_field :password, :maxlength => 16
      %fieldset.actions
        = f.submit I18n.t(:sign_in_form_submit)
        = link_to I18n.t(:forgot_password), :action => 'forgot_password'
      %fieldset
        %label.checkbox{ :for => "remember_me" }
          = check_box_tag :remember_me
          = I18n.t(:sign_in_form_remember_me_label)
