  <%= javascript_include_tag 'users' %>

	<script type="text/javascript">

  	womAdd('$(\'user_username\').focus();');
  	<% if params[:user] && params[:user][:curator_request] %>
  	  womAdd('reset_curator_panel();');
  	<% end %>	
	</script>
    
	<div id="page-separator-general"></div>

    <!-- page title -->
	<div id="page-title">
	    <h1><%="Your Preferences"[]%></h1>
		<hr />
	</div>
	<!-- /page title -->
	<div id="page-content" class="clearfix">
	    <!-- center page content -->
    	<div id="full-page-content">	
    	
      	  <%=eol_lang_error_messages_for :user if request.post?%>

    	    <br />

              <% form_for :user, :html=>{:class=>"warning-warn invalid-invalid styleLabelOnErr"} do |f| -%>
                <fieldset>
                    <legend><%= "Account Information"[] %></legend>


                    <label>Username:  (4 - 32 characters)</label> 
	                 	<!-- user_username ^[a-zA-Z0-9\-_]{4,32}$ false true //-->
	     					    <%= f.text_field :username, {:maxlength=>32, :onblur=>'JavaScript:check_username();'} %>
       						 <span class="error" id="username_warn"></span>
					
					<% if @user.openid? %>
  				  <label>Open ID URL:</label> <%= current_user.identity_url %><br />
  					<%= f.hidden_field :entered_password%>	
  					<%= f.hidden_field :entered_password_confirmation%>	

					<% else %>
			      <p><%="Only enter a new password if you wish to change it."[:only_enter_new_password_if_needed]%></p>
              	<label for="password"><%="New Password"[]%>  (4 - 16 characters)</label>
              	<%= f.password_field :entered_password,{:maxlength=>16} %>

              	<label for="password_confirmation"><%="Confirm New Password"[]%></label>
              	<%= f.password_field :entered_password_confirmation,{:maxlength=>16, :onblur=>'JavaScript:check_passwords();'} %>
						      <span class="error" id="password_warn"></span>
                  <br />

					<% end %>
					
				    <label for="user_email" title="<%= "Please enter your email address"[] %>"><%= "Email Address"[] %><span title="required">*</span> <span class="warn">(<%= "Required"[] %>)</span></label>
                    <% if @user.not_openid? %> 
						            <!-- user_email ^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$ false true //-->
					          <% end %>
                    
                    <%= f.text_field :email, {:maxlength=>100,:size=>30, :onblur=>'JavaScript:check_email();'} %>
       						 <span class="error" id="email_warn"></span>
       						 					
				    <label for="user_given_name" title="<%= "Please enter your given name"[] %>"><%= "Given name"[:given_name] %><span title="required">*</span> <span class="warn">(<%= "Required"[] %>)</span></label>
                    <!-- user_given_name .+ false true //-->
                    <%= f.text_field :given_name,{:maxlength=>30} %>

				    <label for="user_family_name" title="<%= "Please enter your family name"[] %>"><%= "Family name"[:family_name] %></label>
                    <%= f.text_field :family_name,{:maxlength=>30} %>
					
				    <label for="user_mailing_list" title="<%= "Do you want to receive EOL notifications?"[] %>"><%= "Do you want to receive EOL notifications?"[] %></label>
                    <%= f.check_box :mailing_list %> <%= "Yes"[:yes_answer] %>
					
					<br /><br />
					<%= render(:partial=>'taxa/set_content_settings',:locals=>{:f=>f}) %>
          
          <% if $ALLOW_CURATOR_SELF_REG %>
              <% if !@user.is_curator? %>
              <br /><br />
                <label for="user_curator_signup" title="<%= "Do you want to be a curator"[] %>"><%= "Do you want to be a curator?"[] %></label>
  	                    <%= f.check_box :curator_request, {:id => "curator_request",:onclick=>'EOL.Effect.appear("curator_request_options");'} %> <%= "Yes"[:yes_answer] %>
      
              <% end %>

 	           <div id="curator_request_options" style="<%='display:none' unless @user.is_curator?%>">
                <br /><label for="curator"><%= "Curator Information"[] %></label>
    			      
    			      <% if !@user.is_curator? %>
      			      <span><%="To request curator privileges, you must select a clade at the Family level or lower as well as indicate your credentials below.  You will
                  be notified via email if your application for curator privileges is accepted."[:curator_signup_message]%></span>
                <% end %>
                
        		       <% if @user.is_curator? # show them the clade they have selected%>
                   	 <p><%=@user.curator_approved ? "You are currently a curator of " : "You have requested curation of "%> <%= link_to (@user.curator_hierarchy_entry.name), :controller => :taxa, :action => :show, :id => @user.curator_hierarchy_entry.taxon_concept_id %> <%=link_to(image_tag('rss.png'), :controller => :feeds, :action => :all, :id => @user.curator_hierarchy_entry.taxon_concept_id)%></p>
      			       <% end %>

      		          <%= render(:partial=>'curator_form',:locals=>{:f=>f}) %>

        					<% if @user.curator_approved %>
        					  <br />
        						<%= link_to 'View your curator profile', :controller => :account, :action => :show, :id => @user.id%>
        					<% end %>
					
              </div>
          <% end %>
                	<div class="button">
                	    <input type="button" name="<%="Cancel"[]%>" onclick="document.location.href='<%=back_or_home(return_to_url)%>';" value="<%="Cancel"[]%>" /> &nbsp;&nbsp; <%= submit_tag 'Update Account'[] %>
                	</div>
                </fieldset>
            <% end -%>
            <br />
        </div>
    </div>
