-# NOTE - I don't think this Page is accessible from anywhere!  :S
:javascript
  // instant feedback to user about password matching
  function check_passwords() {
    if ($('#entered_password').val() != $('#entered_password_confirmation').value()) {
      $('#password_warn').fadeIn();
    }
    else {
      $('#password_warn').fadeOut();
    }
  }
#page-title
  %h1=  I18n.t(:change_my_password) 
  %hr
#page-content.clearfix
  #full-page-content
    - form_for :user, :url => "/account/profile", :html => {:class => "warning-warn invalid-invalid styleLabelOnErr", :id => 'form_reset_password'} do |f|
      %fieldset
        = f.hidden_field :id, :value => current_user.id
        %label{ :title => I18n.t(:please_enter_a_password) , :for => "user_entered_password" }
          = I18n.t(:password) 
          = I18n.t(:4_16_characters) 
          %span{ :title => "required" }
            *
          %span.warn== (#{ I18n.t(:required) })
        / user_entered_password .+ false true //
        = f.password_field :entered_password, { :maxlength => 16 }
        %label{ :title => I18n.t(:please_enter_the_password_again) , :for => "user_entered_password_confirmation" }
          = I18n.t(:confirm_password) 
          %span{ :title => "required" }
            *
          %span.warn== (#{ I18n.t(:required) })
        / user_entered_password_confirmation .+ false true //
        = f.password_field :entered_password_confirmation,{:maxlength => 16, :onblur => 'javascript:check_passwords();'}
        %span#password_warn.error{ :style => 'display:none;' }
          = I18n.t(:passwords_must_match) 
        .button= submit_tag I18n.t(:reset_password)  + ' &#187;'
