  <%= javascript_include_tag 'users' %>
	<% javascript_tag do %>
    document.observe("dom:loaded", function() {
      $('user_username').focus();
      <% if params[:user] && params[:user][:curator_request] %>
        reset_curator_panel();
      <% end %>
    });
	<% end %>
	    <div id="page-title">
	        <h1><%= "Change My Password"[] %></h1>
	        <hr />
	    </div>
	    <!-- /page title -->
	    <div id="page-content" class="clearfix">
	        <!-- center page content -->
	        <div id="full-page-content">
<%- form_for :user, :html=>{:class=>"warning-warn invalid-invalid styleLabelOnErr", :id =>'form_reset_password'} do |f| -%>
  <fieldset>
  <label for="user_entered_password" title="<%= "Please enter a password"[] %>"><%= "Password"[] %> (4 - 16 characters)<span title="required">*</span> <span class="warn">(<%= "Required"[] %>)</span></label>
	                    <!-- user_entered_password .+ false true //-->
	                    <%= f.password_field :entered_password, {:maxlength=>16} %>
						 
  <label for="user_entered_password_confirmation" title="<%= "Please enter the password again"[] %>"><%= "Confirm Password"[] %><span title="required">*</span> <span class="warn">(<%= "Required"[] %>)</span></label>
	                    <!-- user_entered_password_confirmation .+ false true //-->
  <%= f.password_field :entered_password_confirmation,{:maxlength=>16, :onblur=>'JavaScript:check_passwords();'}  %>
  <span class="error" id="password_warn"></span>
						
	                    <div class="button">
	                        <%= submit_tag "Reset password"[] + ' &#187;' %>
	                    </div>
	                </fieldset>
<%- end -%>
</div>
</div>
