-# NOTE - I don't think this Page is accessible from anywhere!  :S
:javascript
  // instant feedback to user about password matching
  function check_passwords() {
    if ($('#entered_password').val() != $('#entered_password_confirmation').value()) {
      $('#password_warn').fadeIn();
    }
    else {
      $('#password_warn').fadeOut();
    }
  }
#page-title
  %h1= "Change Password"[:change_my_password]
  %hr
#page-content.clearfix
  #full-page-content
    - form_for :user, :url => "/account/profile", :html => {:class => "warning-warn invalid-invalid styleLabelOnErr", :id => 'form_reset_password'} do |f|
      %fieldset
        = f.hidden_field :id, :value => current_user.id
        %label{ :title => "Please enter a password"[], :for => "user_entered_password" }
          = "Password"[]
          = "(4 - 16 characters)"[]
          %span{ :title => "required" }
            *
          %span.warn== (#{"Required"[]})
        / user_entered_password .+ false true //
        = f.password_field :entered_password, { :maxlength => 16 }
        %label{ :title => "Please enter the password again"[], :for => "user_entered_password_confirmation" }
          = "Confirm Password"[]
          %span{ :title => "required" }
            *
          %span.warn== (#{"Required"[]})
        / user_entered_password_confirmation .+ false true //
        = f.password_field :entered_password_confirmation,{:maxlength => 16, :onblur => 'javascript:check_passwords();'}
        %span#password_warn.error{ :style => 'display:none;' }
          = "Passwords must match"[]
        .button= submit_tag "Reset password"[] + ' &#187;'
