%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          Objects Curated
      %td
        \&nbsp;&nbsp;&nbsp;Curator: 
        = h @user.given_name
        = h @user.family_name 
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        = link_to 'Back to profile',{:controller=>'/account', :action=>:show, :id => @user.id}

- if @data_objects.nil? == false && @data_objects.size > 0
  = will_paginate @data_objects
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          TOC
        %th
          Activity
        %th
          Scientific Name
        %th
          Vetted
        %th
          Visible
        %th
          Description
    %tbody
    - count = 0
    - @data_objects.each do |data_object|
      - row_class = cycle('odd','even')
      - count += 1
      - details = DataObject.details_for_objects([data_object['data_object_id'].to_i], :visible => false)[0]
      - pp details
      %tr{ :valign => "top" }
        %td{ :class => row_class }
          = details['toc_label']
        %td{ :class => row_class }
          = data_object['action_code']
          = h format_date_time(data_object['action_time'],:format=>'short_no_tz')
        %td{ :class => row_class }
          %i
            - if details['taxon_concept_id'].blank?
              Page not accessible
            -else 
              = link_to details['scientific_name'],{:controller=>'/taxa', :action=>:show, :id => details['taxon_concept_id']}
          - if(!details['published']) then 
            = "*"
        %td{ :class => row_class }
          = details['vetted_label']
        %td{ :class => row_class }
          = details['visibility_label']
        %td{ :class => row_class }
          - if !details['object_cache_url'].blank?
            - url = DataObject.image_cache_path(details['object_cache_url'], :small)
            - src = "<img src=" + url + ">"
            - unless details['taxon_concept_id'].blank?
              = link_to src,{:controller=>'/taxa', :action=>:show, :id => details['taxon_concept_id'],  :image_id => data_object['data_object_id']} 
              = link_to "Permalink",{:controller=>'/taxa', :action=>:show, :id => details['taxon_concept_id'],  :image_id => data_object['data_object_id']} 
            %br
          - elsif !details['taxon_concept_id'].blank?
            = link_to "Permalink",{:controller=>'/taxa', :action=>:show, :id => details['taxon_concept_id'],  :text_id => data_object['data_object_id']}
            %br
          = details['description']
  %tr
    %td{ :colspan => "5" }
      = will_paginate @data_objects

