%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          Comments Moderated
      %td
        \&nbsp;&nbsp;&nbsp;Moderator: 
        = h @user.given_name 
        = h @user.family_name 
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = link_to 'Back to profile',{:controller=>'/account', :action=>:show, :id => @user.id}
        
- if @comments.nil? == false && @comments.size > 0
  - if(false)
    - @comment_ids.each do |comment|
      = comment 
      = @comment_ids.length
      %br
  = will_paginate @comments
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          Type
        %th
          Activity
        %th
          Comment
        %th
          Visible
        %th
          Created
        %th
          Updated
    %tbody
      - count = 0
      - @comments.each do |comment|
        - column_class=cycle('odd','even')
        - count += 1
        - if (comment.parent_type = "TaxonConcept") then
          - concept = TaxonConcept.find(comment.parent_id)
          - name = concept.quick_scientific_name(:italicized)
        - else
          - name=""
        
        %tr
          %td{ :class => cycle('odd','even') }
            = comment.parent_type
            - if(name)
              %br
              = link_to name,{:controller=>'/taxa', :action=>:show, :id => comment.parent_id}
          %td{ :class => cycle('odd','even') }            
            = @comment_ids_activity.fetch("#{comment.id}",0)
          %td{ :class => cycle('odd','even') }
            = comment.body
          %td{ :class => cycle('odd','even') }
            = h format_date_time(comment.visible_at,:format=>'short_no_tz')
          %td{ :class => cycle('odd','even') }            
            = h format_date_time(comment.created_at,:format=>'short_no_tz')
          %td{ :class => cycle('odd','even') }            
            = h format_date_time(comment.updated_at,:format=>'short_no_tz')
      %tr
        %td{ :colspan => "5" }
          = will_paginate @comments
