%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          Species Curated
      %td
        \&nbsp;&nbsp;&nbsp;Curator: 
        = h @user.given_name 
        = h @user.family_name  
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        = link_to 'Back to profile',{:controller=>'/account', :action=>:show, :id => @user.id}
         
- if @taxon_concept_ids.nil? == false && @taxon_concept_ids.size > 0
  = will_paginate @taxon_concept_ids 
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          Taxon ID
        %th
          Scientific Name
    %tbody
      - count = 0
      - @taxon_concept_ids.each do |id|
        - row_class = cycle('odd','even')
        - count += 1
        - if id then
          - concept = TaxonConcept.find(id)
          - name = concept.quick_scientific_name(:italicized)
        - else
          - name=""    
        %tr
          %td{ :class => row_class }
            = id 
          %td{ :class => row_class }
            %i
              = link_to name,{:controller=>'/taxa', :action=>:show, :id => id} 

      %tr
        %td{ :colspan => "5" }
          = will_paginate @taxon_concept_ids
