%table.results_table
  %thead{ :align => "center" }
    %tr{ :align => "center" }
      %th
        %p
          =I18n.t("comments_moderated")
      %td
        =I18n.t("_nbsp__nbsp__nbsp_moderator_") 
        = h @user.given_name 
        = h @user.family_name 
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = link_to I18n.t("back_to_profile"),{:controller=>'/account', :action=>:show, :id => @user.id}
        
- if @comments.nil? == false && @comments.size > 0
  - if(false)
    - @comment_ids.each do |comment|
      = comment 
      = @comment_ids.length
      %br
  = will_paginate @comments
  %table.results_table
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          =I18n.t("type")
        %th
          =I18n.t("activity")
        %th
          =I18n.t("comment")
        %th
          =I18n.t("visible_")
        %th
          =I18n.t("created")
        %th
          =I18n.t("updated")
    %tbody
      - count = 0
      - @comments.each do |comment|
        - row_class = cycle('odd','even')
        - count += 1
        - if (comment['parent_type'] = "TaxonConcept") then
          - concept = TaxonConcept.find(comment['parent_id'])
          - name = concept.quick_scientific_name(:italicized)
        - else
          - name=""
        
        %tr
          %td{ :class => row_class }
            = comment['parent_type']
            - if(name)
              %br
              = link_to name,{:controller=>'/taxa', :action=>:show, :id => comment['parent_id'] }
          %td{ :class => row_class }
            = comment['action_code']
            = h format_date_time(comment['action_time'],:format=>'short_no_tz')
          %td{ :class => row_class }
            = comment['body']
          %td{ :class => row_class }
            = h format_date_time(comment['visible_at'],:format=>'short_no_tz')
          %td{ :class => row_class }
            = h format_date_time(comment['created_at'],:format=>'short_no_tz')
          %td{ :class => row_class }
            = h format_date_time(comment['updated_at'],:format=>'short_no_tz')
      %tr
        %td{ :colspan => "5" }
          = will_paginate @comments
