	<div id="page-separator-general"></div>
	
<div id="user_show" class="clearfix">
   <%= link_to '[go back]', :back %>
   <% if @user == current_user %><%= link_to '[edit]', profile_path %><% end %>
    <div id="about">
        <h1><%= h @user.given_name %>&nbsp;<%= h @user.family_name %></h1>
        <p>
            Curator of <%= link_to (@user.curator_hierarchy_entry.name), :controller => :taxa, :action => :show, :id => @user.curator_hierarchy_entry.taxon_concept_id %> <%=link_to(image_tag('rss.png'), :controller => :feeds, :action => :all, :id => @user.curator_hierarchy_entry.taxon_concept_id)%>
        </p>
        <p>Curator scope <%=@user.curator_scope%></p>
        <p>"<%= h @user.username %>" joined <%= format_date(@user.created_at) %></p>
    </div>
    <div id="activity">
        <h3>Activity</h3>
        <p>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr class="<%= cycle('odd','even', :name => 'account')%>">
                        <td>
                            Objects Curated
                        </td>
                        <td>
                            <%= @user.total_objects_curated %>
                        </td>
                    </tr>
                    <tr class="<%= cycle('odd','even', :name => 'account')%>">
                        <td>
                            Comments Moderated
                        </td>
                        <td>
                            <%= @user.total_comments_curated %>
                        </td>
                    </tr>
                    <tr class="<%= cycle('odd','even', :name => 'account')%>">
                        <td>
                            Species Curated
                        </td>
                        <td>
                        <%= @user.total_species_curated %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div id="credentials">
        <h3>Credentials</h3>
            <%= allow_some_html(@user.credentials) %>
    </div>

</div>
