#page-separator-general
#user_show.clearfix
  = link_to I18n.t("_go_back_"), :back
  - if @user == current_user
    = link_to I18n.t("_edit_"), profile_path
  #about
    %h1
      = h @user.given_name
      &nbsp;
      = h @user.family_name
    %p
      =I18n.t("curator_of")
      = link_to(@user.curator_hierarchy_entry.name, :controller => :taxa, :action => :show, :id => @user.curator_hierarchy_entry.taxon_concept_id)
      = link_to(image_tag('rss.png'), :controller => :feeds, :action => :all, :id => @user.curator_hierarchy_entry.taxon_concept_id)
    %p
      = @user.curator_scope
    %p
      "
      = h @user.username
      =I18n.t("__joined")
      = format_date(@user.created_at)
  #activity
    %h3
      =I18n.t("activity")
    %p
    %table
      %thead
      %tbody
        %tr{ :class => cycle('odd','even', :name => 'account') }
          %td
            =I18n.t("objects_curated")
          %td
            = link_to @user.total_data_objects_curated,{:controller=>'/account', :action=>:show_objects_curated, :id => @user.id}

        %tr{ :class => cycle('odd','even', :name => 'account') }
          %td
            =I18n.t("comments_moderated")
          %td
            = link_to @user.total_comments_curated,{:controller=>'/account', :action=>:show_comments_moderated, :id => @user.id}

        %tr{ :class => cycle('odd','even', :name => 'account') }
          %td
            =I18n.t("species_curated")
          %td
            = link_to @user.total_species_curated,{:controller=>'/account', :action=>:show_species_curated, :id => @user.id}

        %tr{ :class => cycle('odd','even', :name => 'account') }
          %td
            =I18n.t("user_submitted_text")
          %td
            = link_to @user_submitted_text_count,{:controller=>'administrator/user_data_object', :action=>:index, :user_id => @user.id}








  #credentials
    %h3
      =I18n.t("credentials")
    = @user.credentials.blank? ? "None provided." : allow_some_html(@user.credentials)
