= javascript_include_tag 'users'
= javascript_include_tag 'validator'
:javascript
  $(document).ready(function() {
    $('#user_username').focus();
  });
#registration
  #page-separator-general
  #page-title
    %h1= I18n.t(:registration)
    %hr
  #page-content.clearfix
    #full-page-content
      %br
      =I18n.t(:please_note_confirmation_email_necessary)
      = eol_lang_error_messages_for :user
      - form_for :user, :html => { :class => "warning-warn invalid-invalid styleLabelOnErr" } do |f|
        %fieldset
          %span#verification_warn.error
            %strong= @verification_did_not_match
          %label{ :title => I18n.t(:please_enter_your_username) , :for => "user_username" }
            = I18n.t(:username)
            =I18n.t(:acceptable_sizes_for_username)
            %span{ :title => I18n.t(:required) }
              *
            %span.warn== (#{ I18n.t(:required) })
          / user_username ^[a-zA-Z0-9\-_]{4,32}$ false true //
          = f.text_field :username, {:maxlength => 32, :onblur => 'javascript:check_username();'}
          %span#username_warn.error
          %label{ :title => I18n.t(:please_enter_a_password) , :for => "user_entered_password" }
            = I18n.t(:password)
            =I18n.t("4_16_characters")
            %span{ :title => I18n.t(:required) }
              *
            %span.warn== (#{ I18n.t(:required)  })
          / user_entered_password .+ false true //
          = f.password_field :entered_password, { :maxlength => 16 }
          %label{ :title => I18n.t(:please_enter_the_password_again) , :for => "user_entered_password_confirmation" }
            = I18n.t(:confirm_password)
            %span{ :title => I18n.t(:required) }
              *
            %span.warn== (#{ I18n.t(:required) })
          / user_entered_password_confirmation .+ false true //
          = f.password_field :entered_password_confirmation, { :maxlength => 16, :onblur => 'javascript:check_passwords();' }
          %span#password_warn.error{ :style => 'display:none;' }
            = I18n.t(:passwords_must_match)
          %label{ :title => I18n.t(:please_enter_your_email_address) , :for => "user_email" }
            = I18n.t(:email_address)
            %span{ :title => I18n.t(:required) }
              *
            %span.warn== (#{ I18n.t(:required) })
          / user_email ^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6})$ false true //
          = f.text_field :email, { :maxlength => 100, :size => 30, :onblur => 'javascript:check_email();' }
          %span#email_warn.error
          %label{ :title =>  I18n.t(:please_enter_given_name) , :for => "user_given_name" }
            = I18n.t(:given_name)
            %span{ :title => I18n.t(:required) }
              *
            %span.warn== (#{ I18n.t(:required) })
          / user_given_name .+ false true //
          = f.text_field :given_name, { :maxlength => 30 }
          %label{ :title =>  I18n.t(:please_enter_family_name) , :for => "user_family_name" }
            = I18n.t(:family_name)
          = f.text_field :family_name, { :maxlength => 30}
          %label{ :title => I18n.t(:do_you_want_to_receive_eol_notifications_by_email) , :for => "user_mailing_list" }
            = I18n.t(:do_you_want_to_receive_eol_notifications_by_email)
          = f.check_box :mailing_list
          =  I18n.t(:yes_answer)
          - if $ALLOW_CURATOR_SELF_REG
            %label{ :title => I18n.t(:do_you_want_to_be_a_curator) , :for => "curator_request" }
              = I18n.t(:do_you_want_to_be_a_curator)
            = f.check_box :curator_request, { :id => "curator_request" }
            =  I18n.t(:yes_answer)
            %br
            %br
            #curator_request_options{ :style => "display:none;" }
              = render(:partial => '/curator_account/curator_form', :locals=>{ :f => f })
          - if $ENABLE_RECAPTCHA
            :javascript
              var RecaptchaOptions = { theme : 'clean'};
            %br
            %label{ :title =>  I18n.t(:recaptcha) , :for => "recaptcha" }
              =  I18n.t(:recaptcha)
            = recaptcha_tags
          %br
          .button
            = submit_tag I18n.t(:register_now)  + ' &#187;'
      %br
