- helperstscope = [:helpers, :label, :data_search]
%h3.assistive= t('.header')
= form_tag data_search_path, method: 'get', class: 'copy' do
  = hidden_field_tag :taxon_concept_id, (@taxon_concept ? @taxon_concept.id : nil)
  .vital
    %fieldset
      %dl
        %dt
          = label_tag :attribute, I18n.t(:attribute, scope: helperstscope)
        %dd
          = select_tag(:attribute, data_search_attribute_options)
  .extras
    .suggestions
      %h3= raw t('.search_suggestions_header_colon')
      %ul
        - unless @suggested_searches.blank?
          - @suggested_searches.each do |suggestion|
            %li= link_to t(".#{suggestion[:label_key]}"),
              data_search_path(suggestion[:params])
    %h3= t('.refine_search_header')
    %fieldset
      %h4= t('.search_within_taxon_group_header')
      %p= raw t('.search_within_taxon_group_intro_with_count',
        count: number_with_delimiter(TaxonData::MAXIMUM_DESCENDANTS_FOR_CLADE_SEARCH),
        contact_us_tech_url: contact_us_path(subject: 'Technical'))
      %dl
        %dt
          = label_tag :taxon_name, I18n.t(:taxon_name, scope: helperstscope)
        %dd
          = autocomplete_field :autocomplete, 'q', autocomplete_taxon_search_path,
            name: 'taxon_name', 'min-length' => 3, type: 'search',
            update_elements: { id: '#taxon_concept_id' },
            value: (@taxon_concept ? @taxon_concept.title_canonical : nil),
            placeholder: I18n.t(:taxon_name_placeholder, scope: helperstscope)
          %p= I18n.t(:taxon_name_more, scope: helperstscope)
    %fieldset
      %h4= t('.search_value_or_range_header')
      %dl
        %dt
          = label_tag :q, I18n.t(:q, scope: helperstscope)
        %dd
          = search_field_tag(:q, @querystring,
            placeholder: I18n.t(:q_placeholder, scope: helperstscope))
          %p= I18n.t(:q_more, scope: helperstscope)
      %h5= t('.or_range_header')
      %dl.range
        %dt
          = label_tag :min, I18n.t(:min, scope: helperstscope)
        %dd
          = search_field_tag(:min, @min_value,
            placeholder: I18n.t(:min_placeholder, scope: helperstscope))
      %dl.range
        %dt
          = label_tag :max, I18n.t(:max, scope: helperstscope)
        %dd
          = search_field_tag(:max, @max_value,
            placeholder: I18n.t(:max_placeholder, scope: helperstscope))
      %dl.range
        %dt
          = label_tag :unit, I18n.t(:unit, scope: helperstscope)
        %dd
          - unit_options = { I18n.t(:not_specified) => nil }.merge(Hash[ @units_for_select.collect{ |u| [ u.label, u.uri ] } ])
          = select_tag(:unit, options_for_select(unit_options, @unit))
    %fieldset.sort
      %h4= t('.sort_header')
      %dl
        %dt
          = label_tag :sort, I18n.t(:sort_by_label)
        %dd
          - sort_options = { I18n.t(:sort_by_value_ascending) => 'asc',
            I18n.t(:sort_by_value_descending) => 'desc' }
          = select_tag(:sort, options_for_select(sort_options, @sort))
  %fieldset.actions
    = submit_tag I18n.t(:search)
