Notification emails produced an error and some probably weren't sent. Please check the error log on the site to see what's up and fix the problem.

Failure occurred while working on user: 
= @user.short_name
(
= @user.id
), processing notes (
= @note_ids.join(',')
) for notification frequency of 
= @frequency
". The error was:

= @error
