-# NOTE / TODO - I couldn't get case statements using note.class to work; using note.class.name, however, works.
- content_for :title do
  -# Grrr.  This is a lot of ugly code just to get a "nice" title... but it is /is/ nice, when there's only one note:
  - if @notes.length == 1
    - note = @notes.first
    - who = note.user.full_name
    - case note.class.name
      - when 'Comment'
        - if note.parent == @user
          = I18n.t('recent_activity.comment_title_your_newsfeed', :who => who)
        - else
          = t("recent_activity.comment_title", :who => who, :what => note.parent.summary_name)
      - else
        = t("recent_activity.#{note.class.name.underscore}_title", :who => who)
  - else
    = t("recent_activity.default_subject")
%h1{:style => 'font-weight: normal;'}= I18n.t(:greeting_dear_name_with_comma, :name => @user.full_name, :scope => :notifier)
- @notes.each do |item|
  %hr{:style => "border: none; border-bottom: 1px solid #d2d9df;"}
  - if item.class.name == 'Comment' # Annoying, but comments really do behave quite differently from the others:
    = render(:partial => 'comment', :locals => { :who => item.user.full_name, :what => item.parent.summary_name, :body => item.body, :comment_link => link_to_item(Kernel.const_get(item.parent_type).find(item.parent_id)) })
  - else
    - name_with_link = item.user ? link_to(h(item.user.full_name), user_path(item.user)) : I18n.t(:an_unknown_user)
    %table{:cellpadding => 5, :style => "border: 0; margin: 0 10px 10px 0;"}
      %tr
        - if item.user
          %td
            = link_to image_tag(item.user.logo_url(:small), :alt => I18n.t(:comment_show_posters_image_alt,
              :posters_name => h(item.user.full_name))), user_path(item.user),
              :style => 'max-height: 48px; max-width: 48px; border: 1px solid #394651; margin: 0 10px 0 0;'
        %td
          = render(:partial => "activity_logs/#{item.class.name.underscore}", :locals => { :item => item })
