.main_container
  =I18n.t("year_equals")
  = @year
  %br
    =I18n.t("month_equals")
    = @month
  %br
    =I18n.t("auto_email_notifications_were_sent_to_colon")
  %br
  %br
  - for recipient in @recipients
    = recipient["full_name"]
    {
    = recipient["email"]
    }
    = recipient["partner_full_name"]
    %br
