#profile_content_partner.site_column
  .article.copy
    = form_for @partner, :builder => ApplicationHelper::EolFormBuilder, :html => { :multipart => true } do |partner_form|
      = validation_errors_for(@partner)
      = render 'partner_fieldset', { :partner_form => partner_form }
      %fieldset.actions
        = partner_form.submit I18n.t('helpers.submit.content_partner.update')
        = link_to I18n.t(:cancel), @partner
