#content.cms_page
  #content_partners.site_column
    #sidebar
      .filters.small
        = render 'content_partners/sort_form'
      .filters.small
        = form_tag({}, :method => :get) do
          %fieldset
            %dl
              %dt
                = label_tag :name, I18n.t('activerecord.attributes.content_partner.full_name')
              %dd
                = text_field_tag :name, @name
          %fieldset.actions
            = submit_tag I18n.t(:filter_button), :name => nil
            %small= link_to I18n.t(:cancel), content_partners_path
    .copy
      - if @partners.blank?
        .empty
          %p= I18n.t(:content_partners_empty)
      - else
        .header
          - start_number = (@partners.current_page - 1) * @partners.per_page + 1
          - end_number = [ (start_number + @partners.per_page - 1), @partners.total_entries ].min
          %h3= raw(I18n.t(:displaying_numerical_range, :start_number => start_number, :end_number => end_number, :total => @partners.total_entries))
          = will_paginate @partners, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
            :inner_window => 2, :outer_window => 2
        %ul.object_list
          - @partners.each do |partner|
            %li
              = link_to image_tag(partner.logo_url(:small),
                :alt => I18n.t(:content_partner_logo_alt_text, :partner_name => h(partner.name))), partner
              .details
                %h4= link_to h(partner.name), partner
                %p.meta
                  - unless partner.created_at.blank?
                    = I18n.t(:content_partner_registered_time_ago, :time_passed => time_ago_in_words(partner.created_at))
                  - unless partner.oldest_published_harvest_events.blank?
                    = I18n.t(:content_partner_oldest_published_harvest_event_time_ago,
                      :time_passed => time_ago_in_words(partner.oldest_published_harvest_events.first.published_at))
                  - unless partner.latest_published_harvest_events.blank?
                    = I18n.t(:content_partner_latest_published_harvest_event_time_ago,
                      :time_passed => time_ago_in_words(partner.latest_published_harvest_events.first.published_at))
                  - unless partner.homepage.blank?
                    %br/
                    = link_to I18n.t(:content_partner_homepage_link), h(partner.homepage), :rel => :nofollow
        .footer
          = will_paginate @partners, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next),
            :inner_window => 2, :outer_window => 2
