#content_partner_show.site_column
  #sidebar
    .content_partner_managers
      %h3= I18n.t(:content_partner_managed_by_header)
      %ul
        %li
          = link_to image_tag(@partner.user.logo_url), @partner.user
          %h4= link_to @partner.user.short_name, @partner.user
          %p= @partner.user.tag_line
    .collection_list
      %h3= I18n.t(:collections_with_count, :count => @partner_collections.size)
      - if @partner_collections.blank?
        .article
          .empty
            %p= I18n.t(:content_partner_collections_empty)
      - else
        %ul.collection.list
          - @partner_collections.each do |collection|
            = render :partial => 'collections/collection_summary', :locals => { :collection => collection, :show_description => false }

    - if current_user.can_update?(@partner)
      %h3= I18n.t(:content_partner_notes_header)
      - if @partner.notes.blank?
        .article
          .empty
            %p= I18n.t(:content_partner_notes_empty)
      - else
        %p= @partner.notes
    - if current_user.is_admin?
      %h3= I18n.t(:content_partner_administration_notes_header)
      - if @partner.admin_notes.blank?
        .article
          .empty
            %p= I18n.t(:content_partner_administration_notes_empty)
      - else
        %p= @partner.admin_notes
  .main_container.copy
    %h3= I18n.t(:content_partner_about_header, :partner_name => @partner.name)
    %p= sanitize @partner.description
    - unless @partner.homepage.blank?
      %p= link_to I18n.t(:content_partner_homepage_link), @partner.homepage

    - if current_user.can_update?(@partner)
      %h3= I18n.t(:content_partner_data_description_header)
      - if @partner.description_of_data.blank?
        .article
          .empty
            %p= I18n.t(:content_partner_data_description_empty)
      - else
        %p= sanitize @partner.description_of_data
