- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
= content_for :page_actions do
  - if current_user.can_update?(@partner)
    %li= link_to I18n.t(:content_partner_edit_link), edit_content_partner_path(@partner), :class => "button"

#content_partner_show.site_column
  #sidebar
    .content_partner_managers
      = render :partial => 'managed_by'
    .collection_list
      %h3= I18n.t(:collections_with_count, :count => @partner_collections.size)
      - if @partner_collections.blank?
        .empty
          %p= I18n.t(:content_partner_collections_empty)
      - else
        %ul.collection.list
          - @partner_collections.each do |collection|
            = render :partial => 'collections/collection_summary', :locals => { :collection => collection, :show_description => false }

    - if current_user.can_update?(@partner)
      %h3= I18n.t(:content_partner_notes_header)
      - if @partner.notes.blank?
        .empty
          %p= I18n.t(:content_partner_notes_empty)
      - else
        .copy
          %p= @partner.notes

    - if current_user.is_admin?
      %h3= I18n.t(:content_partner_administration_notes_header)
      - if @partner.admin_notes.blank?
        .empty
          %p= I18n.t(:content_partner_administration_notes_empty)
      - else
        .copy
          %p= @partner.admin_notes
  .main_container.copy
    %h3= I18n.t(:content_partner_about_header, :partner_name => @partner.name)
    %p= sanitize @partner.description.balance_tags
    - unless @partner.homepage.blank?
      %p= link_to I18n.t(:content_partner_homepage_link), @partner.homepage, :rel => :nofollow

    - unless @partner.agreement.blank? || !current_user.can_read?(@partner.agreement)
      %h3= I18n.t(:content_partner_overview_agreement_header)
      %p= link_to I18n.t(:content_partner_overview_agreement_link),
        @partner.agreement.mou_url? ? @partner.agreement.mou_url : content_partner_agreement_path(@partner, @partner.agreement)
      %dl.agreement
        %dt
          = I18n.t('activerecord.attributes.content_partner_agreement.signed_by')
        %dd
          = @partner.agreement.signed_by.blank? ? I18n.t(:value_empty) : @partner.agreement.signed_by
        %dt
          = I18n.t('activerecord.attributes.content_partner_agreement.signed_on_date')
        %dd
          = @partner.agreement.signed_on_date.blank? ? I18n.t(:value_empty) : @partner.agreement.signed_on_date
        %dt
          = I18n.t('activerecord.attributes.content_partner_agreement.created_at')
        %dd
          = @partner.agreement.created_at.blank? ? I18n.t(:value_empty) : @partner.agreement.created_at

    %h3= I18n.t(:content_partner_resources_header)
    %ul.links
      - @partner.resources.each do |resource|
        %li= link_to resource.title, [@partner, resource]

    - if current_user.can_update?(@partner)
      %h3= I18n.t(:content_partner_data_description_header)
      - if @partner.description_of_data.blank?
        .empty
          %p= I18n.t(:content_partner_data_description_empty)
      - else
        %p= sanitize @partner.description_of_data.balance_tags
