#sidebar
  - unless @partner_collections.blank?
    .collection_list
      %h3= I18n.t(:collections_with_count, :count => @partner_collections.size)
      %ul.collection.list
        - @partner_collections.each do |collection|
          = render :partial => 'collections/collection_summary', :locals => { :collection => collection, :show_description => false }

  - unless @partner_contacts.blank?
    .article
      %h3= I18n.t(:content_partner_contacts_header)
      %ul.content_partner_contacts
        - @partner_contacts.each do |contact|
          %li
            %h4
              = contact.full_name
              %b= contact.contact_role.label
            %p
              = mail_to contact.email, contact.email
              %br/
              = link_to contact.homepage, contact.homepage
              %br/
              = contact.telephone
              %br/
              = contact.address
            %p= link_to I18n.t(:content_partner_contact_edit_link),
              edit_content_partner_content_partner_contact_path(@partner, contact) if current_user.can_update?(contact)
      = link_to I18n.t(:content_partner_contact_new_link), new_content_partner_content_partner_contact_path(@partner),
        :class => "button" if current_user.can_create?(@new_partner_contact)
#profile_info.main_container
  .article
    .header
      %h3= I18n.t(:content_partner_about_header, :partner_name => @partner.name)
    .copy
      %p= @partner.description
      - unless @partner.homepage.blank?
        %p= link_to I18n.t(:content_partner_homepage_link), @partner.homepage

  - if current_user.can_update?(@partner)
    .article
      .header
        %h3= I18n.t(:content_partner_data_description_header)
      .copy
        %p= @partner.description_of_data
    .article
      .header
        %h3= I18n.t(:content_partner_notes_header)
      .copy
        %p= @partner.notes
  - if current_user.is_admin?
    .article
      .header
        %h3= I18n.t(:content_partner_administration_notes_header)
      .copy
        %p= @partner.admin_notes
