Click a username to view the user's detailed profile.  You may change the clade level curator permissions on the user profile pages.  If credentials are truncated, click to expand and show full credentials.
<%=link_to '[export all curators as CSV]',:action=>'export'%>
<div id="users">
	<% form_tag({:action=>'index'},:id=>'search',:method=>'get') do %>
		Search for curators containing: <%= text_field_tag(:user_search_string,@user_search_string)%> 
    <br />
    <%= check_box_tag 'only_unapproved','1',@only_unapproved %> Only show unapproved curators | <%= check_box_tag 'only_without_clade','1',@only_without_clade %> Only show curators with no clade selected
    <%= submit_tag 'Go' %>
		<br/>
		<br/>
  <% end %>

	<% if @users.nil? == false && @users.size > 0 %>
    A total of <%= @user_count %> users were found matching your criteria.<br />
		<form>
			<%= will_paginate @users %>
		</form>
		<table class="results_table" cellspacing="0">
      <tr><th>UserName</th><th>Credentials</th><th>Name</th><th>Clade</th><th>Approved?</th><th>Remove</th><th>On</th><th>By</th></tr>
      <% for user in @users %>
        <% column_class=cycle('odd','even') %>
        <tr id="<%="row_#{user.id}"%>">
          <td class="<%= column_class %>">
            <%= link_to(user.username, :controller => 'administrator/user', :action=>'edit',:id=>user.id)%>
            <% if user.curator_approved %>
              <br/><small>(<%= link_to('curator profile', :controller => '/account', :action => :show, :id => user.id) %>)</small>
            <% end %>
          </td>
          <td class="<%= column_class %>">
            <a href="#" onclick="Element.toggle('credentials_<%=user.id%>');return false;">
              <%=truncate(h(user.credentials))%>
            </a>
            <div style="display:none;" id="credentials_<%=user.id%>">
              <%= allow_some_html(user.credentials) %>
            </div>
          </td>
          <td class="<%= column_class %>"><%= h user.full_name%></td>
          <td class="<%= column_class %>"><%= user.curator_hierarchy_entry.name unless user.curator_hierarchy_entry.blank?%></td>
					<% form_id = "user_curator_#{user.id}"%>
					<td class="<%= column_class %>">
					  <% if !user.curator_hierarchy_entry.blank? %>
  						<% form_tag({:action => 'index'}, :id => form_id, :method => 'get') do %>
  							<input type="hidden" name="id" value="<%= user.id %>" />
  							<%= check_box_tag('curator_approved', user.curator_approved, user.curator_approved) %>
  							<%= observe_form(form_id, :url => {:controller => 'administrator/user', :action => :toggle_curator}, :frequency => 0.10) %>
  						<% end %>
  					<% else %>
  						  N/A
  					<% end %>
					</td>
					<td class="<%= column_class %>">
            <%= link_to 'remove', {:controller => 'administrator/user', :action => :clear_curatorship, :id => user.id}, {:class => :remove_link} %>
					</td>
					<td class="<%= column_class %>" id="<%= form_id %>_at">
            <%= format_date_time(user.curator_verdict_at) unless user.curator_verdict_at.nil? %>
          </td>
					<td class="<%= column_class %>" id="<%= form_id %>_by">
            <%= link_to(user.curator_verdict_by.username,:action=>'edit',:id=>user.id) unless user.curator_verdict_by.nil? %>
          </td>
				</tr>									
      <% end %>
		</table>		
		<br />
		<form>
      <%= will_paginate @users %>
		</form>
	<% else %>
    No users are available matching your search criteria.
  <%end %>
</div>
