- content_for :social_sharing do
  = render 'shared/social_sharing'
#profile_newsfeed.main_container
  .copy
    %p.help_text= I18n.t(:newsfeed_help_for_profile)
  .article.list.updates
    = render 'comments/new'
    .heading.subnav
      %ul
        %li{:class => resource_is_active('show')}
          = link_to I18n.t(:newsfeed_link, :scope => [:users, :newsfeeds]), user_newsfeed_path(@user)
        %li{:class => resource_is_active('comments')}
          = link_to I18n.t(:comments_link, :scope => [:users, :newsfeeds]), comments_user_newsfeed_path(@user)
      - if @filters
        = form_tag({}, :class => 'filter', :method => :get) do
          %fieldset
            %dl
              %dt
                = label_tag :filter_by, I18n.t(:show)
              %dd
                = select_tag('filter', options_for_select(@filters.map {|f| [I18n.t("filter_newsfeed_option_#{f}"), f]}, @filter))
          %fieldset.actions
            = submit_tag I18n.t(:filter_button)
        
    = render 'activity_logs/index', { :log => @user_activity_log }
