- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#profile_newsfeed.main_container
  .copy
    %p.help_text= I18n.t(:newsfeed_help_for_profile)
  .article.list.updates
    = render :partial => 'comments/new'
    .heading.subnav
      %ul
        %li{:class => resource_is_active('users/newsfeeds', 'show')}
          = link_to I18n.t(:newsfeed_link, :scope => [:users, :newsfeeds]), user_newsfeed_path(@user)
        %li{:class => resource_is_active('users/newsfeeds', 'messages')}
          = link_to I18n.t(:messages_link, :scope => [:users, :newsfeeds]), messages_user_newsfeed_path(@user)
        %li{:class => resource_is_active('users/newsfeeds', 'activity')}
          = link_to I18n.t(:activity_link, :scope => [:users, :newsfeeds]), activity_user_newsfeed_path(@user)
    = render :partial => 'activity_logs/index', :locals => {:log => @log}
