- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#profile_newsfeed.main_container
  .copy
    - watch_lists = link_to I18n.t(:profile_newsfeed), '/info/watch_list'
    %p.help_text= I18n.t(:newsfeed_help_for_profile)

  .article.list.updates
    = render :partial => 'comments/new'
    .newsfeed_heading
      %h3= I18n.t(:newsfeed)
      %span
        - if @filter == 'messages'
          = I18n.t(:messages_filter)
          = link_to(I18n.t(:all_filter), user_newsfeed_path(@user))
        - else
          = link_to(I18n.t(:messages_filter), user_newsfeed_path(@user, :filter => 'messages'))
          = I18n.t(:all_filter)
    - log = @filter == 'messages' ? @user.messages(:page => @page) : @user.activity_log(:news => true, :page => @page)
    = render :partial => 'activity_logs/index', :locals => {:log => log}
