- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#profile_newsfeed.main_container
  .copy
    - watch_lists = link_to I18n.t(:profile_newsfeed), '/info/watch_list'
    %p.help_text= I18n.t(:newsfeed_help_for_profile)

  .article.list.updates
    = render :partial => 'comments/new'
    .newsfeed_heading
      %h3= I18n.t(:newsfeed)
      - # TODO: Filter form?
    = render :partial => 'activity_logs/index', :locals => {:log => @user_activity_log}
