%p
  =  I18n.t(:search_log_report_intro)
#content_page
  %br
  = I18n.t(:total_searches)
  = @search_totals.num_searches
  &#124;
  = I18n.t(:total_distinct_searches)
  = @search_totals.distinct_searches
  %br
  = form_tag({:action => 'index'}, :method => 'get', :id => 'form1') do
    %div{:style => 'padding:4pt 2em;'}
      = I18n.t(:search_for_terms_containing)
      = text_field_tag(:search_string, @search_string)
    %div{:style => 'padding:4pt 2em;'}
      = I18n.t(:results_per_page)
      = select_tag(:per_page, options_for_select([['10', 10], ['30', '30'], ['50', '50'], ['100', '100'], ['200', '200']], params[:per_page] || "30"), :onchange => "javascript:$('#form1').submit();")
    %div{:style => 'padding:4pt 2em;'}
      = check_box_tag :reverse, "true", @reverse, {:onclick =>"javascript:$('#form1').submit();"}
      = I18n.t(:inverse_sort)
    %div{:style => 'padding:4pt 2em;'}
      = check_box_tag :averages, "true", @averages, {:onclick =>"javascript:$('#form1').submit();"}
      = I18n.t(:calculate_averages_slow)
    .buttons{:style => 'margin:1em 6em;'}
      = submit_tag I18n.t(:update)
    = hidden_field_tag :order, @order
    = will_paginate @search_report

    %table.results_table
      %tr
        %th
          = link_to I18n.t("search_term"), {:order => 'search_term'}
        %th
          = link_to I18n.t("type"), {:order => 'search_type'}
        %th
          = link_to I18n.t("count"), {:order => 'frequency', :reverse => 'true'}
        - if @averages
          %th
            = link_to I18n.t("page_results_avg"), {:order => 'results_avg'}
          %th
            = link_to I18n.t("suggested_results_avg"), {:order => 'suggested_results_avg'}
          %th
            = link_to I18n.t("common_name_avg"), {:order => 'common_name_avg'}
          %th
            = link_to I18n.t(:sci_name_avg_table_head), {:order => 'scientific_name_avg'}
      - @search_report.each do |row|
        - column_class=cycle('odd', 'even')
        %tr
          %td{ :class => column_class }
            = h row[:search_term]
            -#
              -# TODO - This doesn't work, I can't see how it ever worked... we have IDs, not terms, for :show.  Re-write.
              = link_to row[:search_term], search_log_url(row[:search_term])
          %td{ :class => column_class }
            = row[:search_type]
          %td{ :class => column_class }
            = row[:frequency]
          - if @averages
            %td{ :class => column_class }
              = sprintf("%.2f", row[:results_avg]) unless row[:results_avg].blank?
            %td{ :class => column_class }
              = sprintf("%.2f", row[:suggested_results_avg]) unless row[:suggested_results_avg].blank?
            %td{ :class => column_class }
              = sprintf("%.2f", row[:common_name_avg]) unless row[:common_name_avg].blank?
            %td{ :class => column_class }
              = sprintf("%.2f", row[:scientific_name_avg]) unless row[:scientific_name_avg].blank?
    %br
    = will_paginate @search_report
