- delimiter ||= I18n.t(:punctuation_semi_colon)
%li.community
  = link_to image_tag(community.logo_url(:small), :alt => ''), community
  %h4= link_to community.name, community
  = "#{I18n.t(:members_with_count, :count => community.members.count)}#{delimiter}"
  = I18n.t(:community_focus_items_with_count, :count => community.focus.collection_items.count)
  = community.created_at