- form_for @community, :html => { :multipart => true } do |f|
  %fieldset
    = f.error_messages :header_message =>  I18n.t(:error_saving_community) , |
      :message =>  I18n.t(:these_problems_need_to_be_fixed)  |
    = f.label :name,  I18n.t(:community_form_name_label)
    = f.text_field :name
    = f.label :description,  I18n.t(:community_form_description_label)
    = f.text_area :description
    %p
    = f.file_field :logo, :size=>10 # for primary image upload
  - submit_label ||= I18n.t(:save)
  = submit_tag(submit_label)
