#community_new
  .copy
    .collection_list
      %h3= I18n.t(:community_focus)
      - if @community.collections.blank?
        %p= I18n.t(:this_community_has_no_focus_list)
      - else
        %p= I18n.t(:focus_collection_edit)
    .collection_list
      %h3= I18n.t(:endorsed_collections)
      %p= I18n.t(:manager_endorse_collections_suggestion)
  = render 'form', {:submit_label => I18n.t(:save) }
