- if @communities.blank?
  %p.result_empty=  I18n.t(:communities_empty, :var_link=>link_to(I18n.t(:create_an_eol_community), new_community_path) ) 
- else
  %h2=  I18n.t(:communities_index_header) 
  - paginated_section(@communities) do
    %ul#communities_index
      - @communities.each do |community|
        %li= link_to(h(community.name), community)
.communities_actions
  %h2= I18n.t(:build_communities) 
  %ul
    %li.create_community= link_to( I18n.t(:create_a_community_on_eol) , new_community_path)
