- if @communities.blank?
  %p.result_empty= "There are no communities yet, be the first to #{ link_to("create an EOL community"[], new_community_path) }."[:communities_empty]
- else
  %h2= "Active communities"[:communities_index_header]
  - paginated_section(@communities) do
    %ul#communities_index
      - @communities.each do |community|
        %li= link_to(h(community.name), community)
.communities_actions
  %h2= 'Build communities'[]
  %ul
    %li.create_community= link_to("Create a community on EOL"[], new_community_path)
