%h1{:id => 'community_name'}= h @community.name
%p{:id => 'community_description'}= h @community.description
- i_am_in_this_community = current_user.member_of?(@community)
- member_function = i_am_in_this_community ? 'member allowed' : 'member not_allowed'
- non_member_function = i_am_in_this_community ? 'non_member not_allowed' : 'non_member allowed'
- if @community.members.blank?
  %p{:id => 'community_empty'}= "There are currently no members in this community."[:no_members_in_community_message]
- else
  %h3= "Community members:"[]
  %p{:id => 'left_message', :class => 'notice hidden'}= "You have left this community"[]
  %p{:id => 'joined_message', :class => 'notice hidden'}= "You have joined this community"[]
  %p{:id => 'community_problem', :class => 'notice hidden'}= "Sorry, there was an error."[]
  %ul{:id => 'community_members'}
    - @community.members.each do |member|
      - this_is_me = (member.user_id == current_user.id)
      %li{:class => this_is_me ? member_function : nil}
        = link_to(member.user.username, member.user)
        - if this_is_me
          = "(you)"[]
    - if logged_in? && !current_user.member_of?(@community)
      %li{:class => member_function}
        = link_to(current_user.username, current_user)
        = "(you)"[]
- if not logged_in?
  = "You must be"[]
  = link_to("logged in"[], login_path)
  = "to join communities."[]
- else
  %ul{:id => 'community_actions'}
    %li{:id => 'join_community', :class => non_member_function}
      = link_to("Join this community"[:join_community], join_community_path(:community_id => @community.id))
      = ajax_spinner
    %li{:id => 'leave_community', :class => member_function}
      = link_to("Leave this community"[:join_community], leave_community_path(:community_id => @community.id))
      = ajax_spinner
    %li{:id => 'edit_community', :class => member_function}
      = link_to("Edit this community"[:edit_community], edit_community_path(@community))
    %li{:id => 'delete_community', :class => member_function}
      = link_to("Delete this community"[:delete_community], community_path(@community), :confirm => "Are you sure?"[], :method => :delete)
