%p#description= h @community.description
- roles = @community.roles
= render :partial => 'roles/index', :locals => {:roles => roles}
- i_am_in_this_community = current_user.member_of?(@community)
-# TODO: Understand what member and non_member business is about?
- member_function = i_am_in_this_community ? 'member allowed' : 'member not_allowed'
- non_member_function = i_am_in_this_community ? 'non_member not_allowed' : 'non_member allowed'
= render :partial => 'members/index', :locals => {:i_am_in_this_community => i_am_in_this_community, :member_function => member_function, :non_member_function => non_member_function }
.community_actions
  - if @current_member && @current_member.can?(Privilege.edit_delete_community)
    %h2= 'Manage community'[]
    %ul
      %li{ :class => "edit_community #{ member_function}" }
        = link_to("Edit this community"[:edit_community], edit_community_path(@community))
      %li{:class => "delete_community #{ member_function }" }
        = link_to("Delete this community"[:delete_community], community_path(@community), :confirm => "Are you sure?"[], :method => :delete)

.community_focus
  %h2= "Taxa"[]
  - if @community.focus.nil?
    = "This community has no focus list."[]
  - elsif @community.focus.collection_items.empty?
    = "This community has no focus items associated with it."[]
  - else
    = render :partial => "/collections/show", :locals => { :collection => @community.focus }
= render :partial => 'feed_items/index', :locals => { :feed => @community.feed }
