.main_container

  %h2= I18n.t("new_content_partners_for_the_month")
  %p= I18n.t("first_time_published_content_partners_list_for_the_month")
  %ol
    - form_for :hello, :url => { :action => :report_monthly_published_partners } do |form|
      %table.results_table
        %thead
          %tr{ :align => "center" }
            %td
              = select_tag "year_month", options_for_select(@year_month_list, @year_month)
              = submit_tag("Submit")
    
    - unless @published_content_partners.blank?
    
      %table.standard
        %thead{ :align => "center" }
          %tr{ :align => "center" }
            %th
              =I18n.t("id")
            %th
              =I18n.t("content_partner")
        %tbody
          - count = 0
          - @published_content_partners.each do |content_partner|
            - column_class=cycle('odd','even')
            - count += 1
            %tr
              %td{ :class => column_class }
                = content_partner.id
              %td{ :class => column_class }
                = link_to(content_partner.user.full_name, content_partner_path(:id => content_partner.id))