%li
  %p
    Comment: "
    = truncate(act_history.comment_body, 300)
    "
    %br
    %i
      - if current_act == 'create'
        added to the
        = act_history.comment_object.parent_type_name
      - elsif current_act == 'hide' || 'show'
        changed to
        "
        = current_act
        "
      on
      "
      %a{ :href => "<haml:loud> url_for(:controller=&gt;'/taxa', :action=&gt;'show',\n      :id=&gt;act_history.taxon_concept_id) </haml:loud>", :target => "_blank" }
        = act_history.taxon_concept_name
      "
      by
      = curator_or_plain_username(act_history.user)
      = act_date
      ago
  %br
