%li
  %p
    Text description
    "
    = truncate(act_history.udo_parent_text.description, 30)
    "
    was added to
    "
    = act_history.udo_parent_text.toc_items[0].label
    "
    on "
    = link_to act_history.taxon_concept_name, {:controller => '/taxa', :action => 'show', :id => act_history.taxon_concept_id}, :target => "_blank"
    "
    by
    = curator_or_plain_username(act_history.user)
    = act_date
    ago
