<div id="report_from_eol">
  <h2>Monthly Web Usage Statistics</h2>
  <p>The following statistics represent web page statistics for EOL pages containing your data objects.
</div> 


<div id="report_from_eol">
<ol>
    <table class="results_table">
    	<thead>
        <tr align="center">
	        <th>	
				<% form_for :hello, :url => { :action => :monthly_page_stats } do |form| %>
	   				<input type='hidden' name='agent_id' value='<%= @agent_id %>'>	   
	   				<%= select_tag "year_month", options_for_select(@year_month_list,@year_month) %>    
					<%= submit_tag("Submit") %>
				<% end %>
				
	        	<h2><%= @partner.full_name %></h2>
				Agent ID:<%= @agent_id %> <br> 
				Year = <%= @report_year %>
				Month = <%= @report_month %>
				
			</th>
            <th>Taxa Pages with<br> Provider Content</th>
            <th>EOL Site</th>
            <th>Provider<br> Percentage</th>
        </tr>
		</thead>
		<tbody>
        <% @recs.each do |list| %>
        <tr><td class="odd">Count of Taxa Pages</td>
            <td class="odd" align="right"><%= list.taxa_pages %></td>
            <td class="odd" align="right"><%= list.eol_taxa_pages %></td>
			<td class="odd" align="right"><%= list.p_taxa_pages %>%</td>
            </tr>
        <tr><td class="even">Count of Taxa Pages that were viewed during the month</td>
            <td class="even" align="right"><%= list.taxa_pages_viewed %></td>
            <td class="even" align="right"><%= list.eol_taxa_pages_viewed %></td>			
			<td class="even" align="right"><%= list.p_taxa_pages_viewed %>%</td>
            </tr>
        <tr><td class="odd">Total Unique Page Views for the Month</td>
            <td class="odd" align="right"><%= list.unique_page_views %></td>
            <td class="odd" align="right"><%= format(list.unique_pageviews,2) %></td>
			<td class="odd" align="right"><%= list.p_unique_page_views %>%</td>			
            </tr>
        <tr><td class="even">Total Page Views for the Month</td>
            <td class="even" align="right"><%= list.page_views %></td>
            <td class="even" align="right"><%= list.pageviews %></td>
			<td class="even" align="right"><%= list.p_page_views %>%</td>			
            </tr>
        <tr><td class="odd">Total Time on Pages for the Month (hours)</td>
            <td class="odd" align="right"><%= list.timeonpage %></td>
            <td class="odd" align="right"><%= list.timeonpages %></td>
			<td class="odd" align="right"><%= list.p_timeonpage %>%</td>			
            </tr>    
        <% end -%>
		
		</tbody>    
    </table>

        		<table class="results_table">
        			<tr><td colspan="5"><%= will_paginate @posts %></td></tr>
					<thead align="center">
        			<tr align="center">
            			<th>ID</th>
            			<th>Scientific Name</th>
            			<th>Total<br>Page Views</th>
            			<th>Total Unique<br>Page Views</th>
            			<th>Total Time<br>On Page Seconds</th>
        			</tr>
					</thead>
					<tbody>
					<%- count = 0 -%>		
        			<% @posts.each do |post|  -%>
						<% 
						column_class=cycle('odd','even')
						count += 1 
						%>
            			<tr>
                			<td class="<%=column_class%>"><%= post.taxon_concept_id %></td>
                			<td class="<%=column_class%>"><i><%= post.scientific_name %></i></td>
                			<td class="<%=column_class%>" align="right"><%= post.page_views %></td>
                			<td class="<%=column_class%>" align="right"><%= post.unique_page_views %></td>
                			<td class="<%=column_class%>" align="right"><%= post.timeonpage %></td>
            			</tr>        
        			<% end -%>
					</tbody>
        		</table>

</ol>
</div> 
