<div id="report_from_eol">
  <h2><%= @sub_page_header %></h2>
  
  <% if @act_histories.empty? %>
    Nothing To Report
  <% end %>
  
  <%= will_paginate(@act_histories) %>
  <ul>
    <% for act_history in @act_histories -%>
    
        <% act_date = time_ago_in_words(act_history.created_at) -%>  
        <% current_act = act_history.action_with_object.action_code %>
        
        <% if act_history.history_type == 'data_object' %>
          <%= render :partial=> 'content_partner/reports/statuses_report.html.erb',
                    :locals=>{:act_history => act_history, 
                              :act_date => act_date, :current_act => current_act} %>
        
        
        <% elsif act_history.history_type == 'comment' %>
          <%= render :partial=> 'content_partner/reports/comments_report.html.erb',
                    :locals=>{:act_history => act_history, 
                              :act_date => act_date, :current_act => current_act} %>
        
        
        <% else -%>
          <li>[an object was removed&mdash;the data was not recoverable]</li>
        <% end -%> 
        
    <% end -%>                                                                                                                 
  </ul>
  
  <%= will_paginate(@act_histories) %>
</div> 
