%a.close-button{ :href => "#", :onclick => "javascript:$('#contribute-info').slideUp();return false;"}
= I18n.t(:to_submit_a_species_photograph_for) 
= @taxon_name
= I18n.t(:please_send_the_photos_to_the) 
= link_to I18n.t(:eol_flickr_group) , 'http://www.flickr.com/groups/encyclopedia_of_life/', :target=>'_blank'
= I18n.t(:and_follow_the_directions_shown_on_thehomepage_of_that_group) 
