%div#hierarchy_browser
  %ul#hierarchy_browser_list.branch
    - for metric in metrics      
      %b
        = "Taxon Concept Stats"
      %br
      %table.results_table            
        %tr
          %th
            Stat
          %th
            Value                  
        %tr
          %td.odd
            = "Text object"
          %td.odd{ :align => 'right' }
            = metric["text_total"]
        %tr            
          %td.even
            = "Image object"
          %td.even{ :align => 'right' }
            = metric["image_total"]
        %tr            
          %td.odd
            = "Video object"
          %td.odd{ :align => 'right' }
            = metric["video_total"]
        %tr            
          %td.even
            = "Flash video"
          %td.even{ :align => 'right' }
            = metric["flash_total"]
        %tr            
          %td.odd
            = "YouTube video"
          %td.odd{ :align => 'right' }
            = metric["youtube_total"]
        %tr            
          %td.even
            = "Sound object"
          %td.even{ :align => 'right' }
            = metric["sound_total"]            
        %tr            
          %td.odd
            = "Data object reference"
          %td.odd{ :align => 'right' }
            = metric["data_object_references"]            
        %tr            
          %td.even
            = "Info item"
          %td.even{ :align => 'right' }
            = metric["info_items"]            
        %tr            
          %td.odd
            = "BHL publication"
          %td.odd{ :align => 'right' }
            = metric["BHL_publications"]            
        %tr            
          %td.even
            = "Content partner"
          %td.even{ :align => 'right' }
            = metric["content_partners"]            
        %tr            
          %td.odd
            = "Outlink"
          %td.odd{ :align => 'right' }
            = metric["outlinks"]            
        %tr            
          %td.even
            = "GBIF map"
          %td.even{ :align => 'right' }
            - if metric["has_GBIF_map"].to_i > 0
              = "available"
            - else
              = "none"
        %tr            
          %td.odd
            = "Biomedical terms"
          %td.odd{ :align => 'right' }
            - if metric["has_biomedical_terms"].to_i > 0
              = "available"
            - else
              = "none"            
        %tr            
          %td.even
            = "User-submitted text"
          %td.even{ :align => 'right' }
            = metric["user_submitted_text"]
            - if metric["submitted_text_providers"].to_i > 0
              = " &nbsp;&nbsp; Providers:"
              = metric["submitted_text_providers"]                        
        %tr            
          %td.odd
            = "Common name"
          %td.odd{ :align => 'right' }
            = metric["common_names"]
            - if metric["common_name_providers"].to_i > 0
              = " &nbsp;&nbsp; Providers:"
              = metric["common_name_providers"]            
        %tr            
          %td.even
            = "Synonym"
          %td.even{ :align => 'right' }
            = metric["synonyms"]
            - if metric["synonym_providers"].to_i > 0
              = " &nbsp;&nbsp; Providers:"
              = metric["synonym_providers"]            
        %tr            
          %td.odd
            = "Page view"
          %td.odd{ :align => 'right' }
            = metric["page_views"]            
        %tr            
          %td.even
            = "Unique page view"
          %td.even{ :align => 'right' }
            = metric["unique_page_views"]
