- node_class ||= ''
%a.name{:href => '', :class => node_class, :onclick => "javascript:update_browser_stats(#{hierarchy_entry.id}, 0); return false;"}
  = raw(hierarchy_entry.italicized_name.firstcap)
= link_to(external_link_icon, { :controller => '/taxa', :action => 'show', :id => hierarchy_entry.taxon_concept_id}, :target => '_blank' )
- if hierarchy_entry.number_of_descendants > 0 && hierarchy_entry.number_of_descendants > 1000
  = image_tag('arrow_down_gray.gif', :alt => I18n.t("cannot_expand_children"), :title => I18n.t("cannot_expand_children"))
-elsif hierarchy_entry.number_of_descendants > 0
  %a{:href => '', :onclick => "javascript:update_browser_stats(#{hierarchy_entry.id}, 1); return false;"}
    = image_tag('arrow_down.gif', :alt => I18n.t("expand_all_children"), :title => I18n.t("expand_all_children"))
