- node_class ||= ''
%a.name{:href => '', :class => node_class, :onclick => "update_browser(#{entry['id']}, 0); return false;"}
  = entry['name_string']

- unless entry['rank_label'].blank?
  %span.rank
    = entry['rank_label']
= link_to(external_link_icon, { :controller => '/taxa', :action => 'show', :id => entry['taxon_concept_id']}, :target => '_blank' )
- if entry['descendants'] == 0 || entry['descendants'] > 5000
  = image_tag('arrow_down_gray.gif', :alt => 'cannot expand children')
-else
  %a{:href => '', :onclick => "update_browser(#{entry['id']}, 1); return false;"}
    = image_tag('arrow_down.gif', :alt => 'expand all children')
