- ancestors ||= []
- ancestors = ancestors.compact
- if @hierarchy_entry.blank?
  - current = @taxon_concept.id == hierarchy_entry.taxon_concept_id
- else
  - current = @hierarchy_entry.id == hierarchy_entry.id

- if ancestors.blank?
  %li
    = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => hierarchy_entry })
    - unless @in_hierarchy
      %span.message= I18n.t("name_not_in_select_an_alternate", :hierarchy => @session_hierarchy.label)
    - else
      - children = hierarchy_entry.children(:include_common_names => @include_common_names, :common_name_language => current_language)
      - unless children.blank?
        %ul.branch
          - children.each do |child|
            - if @expand && !child.is_leaf?
              = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :hierarchy_entry => child, :expanded => true })
            - else
              %li
                -# = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => child })
                -# This is cheating here - I copied some code of out a partial and uesd it here. This is where children
                -# taxa are rendered and it was much faster to keep the logic in this one partial rather than
                -# rendering another one potentially thousands of times (saved 25 seconds locally for 5240)
                - name_string = @include_common_names ? child.common_name_in_language(current_language).firstcap : child.italicized_name.firstcap
                = link_to(name_string, taxon_hierarchy_entry_overview_path(child.taxon_concept_id, child.id))
                - unless (@in_hierarchy && child.id == @hierarchy_entry.id) || child.number_of_descendants == 0
                  = link_to('+', taxon_hierarchy_entry_overview_path(child.taxon_concept, child), :class => 'show_tree', :data_url => taxon_hierarchy_entry_tree_path(child.taxon_concept, child))
- else
  - ancestor = ancestors.shift
  %li
    = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => ancestor})
    %ul.branch
      = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :ancestors => ancestors, :hierarchy_entry => hierarchy_entry })
