- ancestors ||= nil
- expand ||= false
- if ancestors.blank?
  - node_class = ancestors.nil? ? nil : 'current'
  %li.node
    = render(:partial => 'navigation/node_name', :locals => { :hierarchy_entry => hierarchy_entry, :node_class => node_class })
    - children = hierarchy_entry.children
    - unless children.blank?
      %ul.branch
        - for child in children
          - if expand && !child.is_leaf?
            = render(:partial => 'navigation/node_with_ancestry', :locals => { :expand => expand, :hierarchy_entry => child, :expanded => true })
          - else
            %li.node
              = render(:partial => 'navigation/node_name', :locals => { :hierarchy_entry => child })
- else
  - ancestor = ancestors.shift
  %li.node
    = render(:partial => 'navigation/node_name', :locals => { :hierarchy_entry => ancestor })
    %ul.branch
      = render(:partial => 'navigation/node_with_ancestry', :locals => { :expand => expand, :ancestors => ancestors, :hierarchy_entry => hierarchy_entry })
