- ancestors ||= []
- ancestors = ancestors.compact
- in_hierarchy ||= false
- expand ||= false
- link_to_taxa ||= false # Only when a preferred classification is being rendered.
- if ancestors.blank?
  %li
    = render(:partial => 'navigation/node_name_page', :locals => { :link_to_taxa => link_to_taxa, :in_hierarchy => in_hierarchy, :current_node => current_node, :hierarchy_entry => hierarchy_entry })
    - if in_hierarchy
      - children = hierarchy_entry.children(:common_name_language => current_language)
      - unless children.blank?
        %ul.branch
          - children.each do |child|
            - if expand && !child.is_leaf?
              = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :link_to_taxa => link_to_taxa, :expand => expand, :in_hierarchy => in_hierarchy, :current_node => current_node, :hierarchy_entry => child, :expanded => true })
            - else
              - link = link_to_taxa ? taxon_overview_path(child.taxon_concept_id) : taxon_hierarchy_entry_overview_path(child.taxon_concept_id, child)
              - data_link = link_to_taxa ? taxon_tree_path(child.taxon_concept_id) : taxon_hierarchy_entry_tree_path(child.taxon_concept_id, child)
              %li
                -# TODO - generalize this on a model, sheesh!
                -# = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => child })
                -# This is cheating here - I copied some code of out a partial and uesd it here. This is where children
                -# taxa are rendered and it was much faster to keep the logic in this one partial rather than
                -# rendering another one potentially thousands of times (saved 25 seconds locally for 5240)
                = link_to(child.italicized_name.firstcap, link)
                - unless (in_hierarchy && child.id == current_node.id) || child.number_of_descendants == 0
                  = link_to('+', link, :class => 'show_tree', :data_url => data_link)
    - else
      %span.message= I18n.t("name_not_in_select_an_alternate", :hierarchy => @session_hierarchy.nil? ? I18n.t(:unknown_hierarchy) : @session_hierarchy.label)
- else
  - ancestor = ancestors.shift
  %li
    = render(:partial => 'navigation/node_name_page', :locals => { :link_to_taxa => link_to_taxa, :in_hierarchy => in_hierarchy, :current_node => current_node, :hierarchy_entry => ancestor})
    %ul.branch
      = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :link_to_taxa => link_to_taxa, :expand => expand, :in_hierarchy => in_hierarchy, :current_node => current_node, :ancestors => ancestors, :hierarchy_entry => hierarchy_entry })
