  <li>
    <%#= debug() %>
    <p> Comment 
    "<%= truncate(act_history.comment_object.body, 30) -%>" 
  
    <% if current_act == 'create' -%>
      was added to the
      <%= act_history.comment_object.parent_type_name -%>
    <% elsif current_act == 'hide' || 'show' -%>
      was changed to 
      "<%= current_act -%>" 
    <% end -%>  
    on 
    "<a href="<%= url_for(:controller=>'/taxa', :action=>'show',
      :id=>act_history.taxon_concept_id) -%>" 
      target="_blank"><%= act_history.taxon_concept_name -%></a>"
    by 
    <%= curator_or_plain_username(act_history.user) %>
    <%= act_date -%> ago
   </p>
  </li>
