.metadata
  - data_point_uri ||= @data_point_uri
  - unless local_assigns.has_key?(:header_id)
    - header_id = data_point_uri.anchor
  - metadata = data_point_uri.get_metadata(current_language)
  - references = data_point_uri.get_references(current_language)
  %table.meta{ summary: I18n.t(:data_metadata_subtable_summary) }
    %caption.title= I18n.t(:data_about_this_record)
    - unless metadata.empty?
      - metadata.each_with_index do |d, i|
        - row_id = "#{header_id}_meta_#{i}"
        %tr
          %th{id: "#{row_id}_h"}= display_uri(d.predicate_uri, define: true)
          %td{id: "#{row_id}_d"}= raw display_text_for_data_point_uri(d, define: :after, value_for_known_uri: d.predicate_uri)
    -# TODO: we need to factor in refereces which use separate fields instead of full_reference
    - unless references.empty?
      - references.each_with_index do |d, i|
        - row_id = "#{header_id}_ref_#{i}"
        %tr
          %th{id: "#{row_id}_h"}
            = I18n.t(:reference)
            - info_icon
          %td{id: "#{row_id}_d"}= raw d[:full_reference].to_s.add_missing_hyperlinks
    %tr
      %th
        = I18n.t(:data_link_to_record)
        - info_icon
      - link = taxon_data_url(data_point_uri.taxon_concept, anchor: data_point_uri.anchor)
      %td= link_to link, link
  - if other_measurements = data_point_uri.get_other_occurrence_measurements(current_language)
    %table.meta{ summary: I18n.t(:data_measurement_subtable_summary) }
      %caption.title= I18n.t(:other_measurements_from_this_record)
      - other_measurements.each_with_index do |d, i|
        - row_id = "#{header_id}_measure_#{i}"
        %tr
          %th{id: "#{row_id}_h"}= display_uri(d.predicate_uri, define: true)
          %td{id: "#{row_id}_d"}= raw display_text_for_data_point_uri(d, define: :after, id: "#{row_id}_d_v", value_for_known_uri: d.predicate_uri)
