#content.cms_page
  .site_column
    .article.copy.donate
      - if @donation_amount.nil? || @donation_amount == 0
        %p=  I18n.t(:donation_introduction_paragraph_one)
        %p=  I18n.t(:donation_introduction_paragraph_two)
        = form_for :donation, @donation, :builder => ApplicationHelper::EolFormBuilder do |f|
          %fieldset.radio
            %legend= I18n.t(:donation_amount_legend)
            - f.label :preset_amount_35 do
              = f.radio_button :preset_amount, "35"
              = I18n.t(:us_dollars_35)
            - f.label :preset_amount_50 do
              = f.radio_button :preset_amount, "50"
              = I18n.t(:us_dollars_50)
            - f.label :preset_amount_75 do
              = f.radio_button :preset_amount, "75"
              = I18n.t(:us_dolars_75)
            - f.label :preset_amount_100 do
              = f.radio_button :preset_amount, "100"
              = I18n.t(:us_dollars_100)
            - f.label :preset_amount_other do
              = f.radio_button :preset_amount, "other"
              %span.assistive= I18n.t(:donation_amount_other_label)
            - f.label :amount, :class => 'other' do
              = I18n.t(:other_us_dollars_amount)
              = f.text_field :amount, {:size => 6, :maxlength => 6, :onfocus => "$('#donation_preset_amount_other').attr('checked', 'checked');"}

          %span#donation_amount_warn.error
          %fieldset.actions
            = submit_tag I18n.t(:submit)
        %p= I18n.t(:donation_sponsorship_preamble, :email_address => 'secretariat@eol.org')
        %dl
          %dt
            = I18n.t(:donation_sponsorship_content_title)
          %dd
            = I18n.t(:donation_sponsorship_content_description)
          %dt
            = I18n.t(:donation_sponsorship_fellowships_title)
          %dd
            = I18n.t(:donation_sponsorship_fellowships_description)
          %dt
            = I18n.t(:donation_sponsorship_infrastructure_title)
          %dd
            = I18n.t(:donation_sponsorship_infrastructure_description)

        %p= I18n.t(:donation_privacy_notice)
      - else
        = I18n.t(:please_confirm_your_donation_details)
        \:
        %br
        %br
        = I18n.t(:the_amount_entered_was, :number => number_to_currency(@donation_amount))
        %br
        %br
        = I18n.t(:to_process_your_donation_please_proceed)
        \:
        %form{ :action => "https://orderpage.ic3.com/hop/orderform.jsp", :method => "post" }
          = @form_elements
          = submit_tag I18n.t(:proceed_to_checkout_page)
        %br
        %br
        = I18n.t(:correct_donation_message, :go_back_link=>link_to( I18n.t(:go_back) ,:action => 'donate'))
        \.
        = I18n.t(:thank_you_for_your_generous_support)
        !
