#content
  #page-separator-general
  #page-title
    %h1
      = I18n.t(:thank_you)
    %hr
  #page-content.clearfix
    #full-page-content
      =  I18n.t(:thanks_for_donation)
    %br
    %br
    = I18n.t("please")
    = link_to(I18n.t(:return), :controller => 'content', :action=>'index')
    = I18n.t("to_the_eol_homepage")
