#content
  .section
    .article.stats
      %h3= I18n.t(:currently_in_eol)
      %ul
        %li.taxon
          %dl
            %dd= number_with_delimiter(total_count("taxon_concepts"), :delimiter => ",")
            %dt= I18n.t(:taxa)
          = link_to I18n.t(:what_is_a_taxon), "/placeholder"
        %li.contributors
          %dl
            %dd= number_with_delimiter(total_count("users"), :delimiter => ",")
            %dt= link_to I18n.t(:members_like_you), search_path('*', :type => ['user'])
          = link_to I18n.t(:learn_how_to_join), search_path('*', :type => ['user'])
        %li.collections
          %dl
            %dd= number_with_delimiter(total_count("collections"), :delimiter => ",")
            %dt= link_to I18n.t(:collections), search_path('*', :type => ['collection'])
          = link_to I18n.t(:learn_how_to_interact), "/placeholder"
        %li.images
          %dl
            %dd= number_with_delimiter(total_count("images"), :delimiter => ",")
            %dt= link_to I18n.t(:images), search_path('*', :type => ['image'])
          = link_to I18n.t(:learn_how_to_contribute), "/placeholder"
        %li.partners
          %dl
            %dd= number_with_delimiter(total_count("content_partners"), :delimiter => ",")
            %dt= link_to I18n.t(:content_partners), content_partners_path
          = link_to I18n.t(:learn_about_content_partners), content_partners_path
      %p.meta= I18n.t(:stats_last_count_less_than_minutes_ago, :minutes => $CACHE_STATS_COUNT_IN_MINUTES.nil? ? 60 : $CACHE_STATS_COUNT_IN_MINUTES)

    .article.community
      %h3= I18n.t(:community_activity)
      = render :partial => 'activity_logs/index', :locals => { :log => EOL::ActivityLog.global($ACTIVITIES_ON_HOME_PAGE), :hide_pagination => true }
    - unless logged_in?
      = render :partial => 'shared/join_eol', :locals => {:join_style => 'button'}
