#content
  .section
    .article.news
      %h3
        = raw I18n.t(:eol_news)
        %small= link_to raw(t('.see_all_eol_news')), news_items_path
      - cache(:action => 'index', :action_suffix => "news_#{current_language.iso_639_1}") do
        = render 'news_items/homepage_index', { :translated_news_items => NewsItem.homepage_news_for_user(current_user, current_language), :for_homepage => true }
    .article.community
      %h3
        = raw I18n.t(:community_activity)
        %small= link_to raw(t('.see_all_recent_activites')), recent_activities_path
      - cache(:action => 'index', :action_suffix => "activity_#{current_language.iso_639_1}_data-#{current_user.can_see_data?.to_s}") do
        = render 'activity_logs/index', { :log => EOL::ActivityLog.global($ACTIVITIES_ON_HOME_PAGE, :user => current_user), :hide_pagination => true, :truncate_comments => true, :editable => false }
    .article.sponsors
      %h3
        = raw I18n.t(:institutional_sponsors)
      - cache(:action => 'index', :action_suffix => "activity_#{current_language.iso_639_1}_data-#{current_user.can_see_data?.to_s}") do
        = render 'institutional_sponsors/index'
    .article.stats
      %h3
        = raw I18n.t(:currently_in_eol)
        %small= link_to raw(t('.see_all_statistics')), statistics_path
      %ul
        %li.taxon
          %dl
            %dt= link_to I18n.t(:eol_pages), @rich_pages_path
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("taxon_concepts"), :delimiter => ",")
        %li.users
          %dl
            %dt= link_to I18n.t(:members_like_you), search_path(:q => '*', :type => ['user'])
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("users"), :delimiter => ",")
        %li.collections
          %dl
            %dt= link_to I18n.t(:collections_link), search_path(:q => '*', :type => ['collection'])
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("collections"), :delimiter => ",")
        %li.communities
          %dl
            %dt= link_to I18n.t(:communities_link), search_path(:q => '*', :type => ['community'])
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("communities"), :delimiter => ",")
        %li.images
          %dl
            %dt= link_to I18n.t(:images), search_path(:q => '*', :type => ['image'])
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("images"), :delimiter => ",")
        %li.partners
          %dl
            %dt= link_to I18n.t(:content_partners_link), content_partners_path
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("content_partners"), :delimiter => ",")
        %li.data
          %dl
            %dt= link_to I18n.t(:data), data_search_path
            %dd= EOL::GlobalStatistics.find("data")
