#content
  .section
    - if @cached_fragment
      = @cached_fragment
    - else
      - cache({:controller=>"content", :part => 'home_' + current_user.content_page_cache_str}) do
        .article.stats
          -#TODO: Figure out how stats content is going to be generated e.g. static + count or editable from CMS?
          %h3= I18n.t(:currently_in_eol)
          %ul
            %li.taxon
              %dl
                %dd 534,315
                %dt= I18n.t(:taxa)
              = link_to I18n.t(:what_is_a_taxon), "/placeholder"
            %li.contributors
              %dl
                %dd 3,154
                %dt= I18n.t(:contributors_like_you)
              = link_to I18n.t(:learn_how_to_join), "/placeholder"
            %li.communities
              %dl
                %dd 861
                %dt= I18n.t(:communities)
              = link_to I18n.t(:learn_how_to_interact), "/placeholder"
            %li.images
              %dl
                %dd 753,234
                %dt= I18n.t(:images)
              = link_to I18n.t(:browse_gallery), "/placeholder"
            %li.partners
              %dl
                %dd 324
                %dt= I18n.t(:content_partners)
              = link_to I18n.t(:learn_about_content_partners), "/placeholder"
        .article.community
          -#TODO: Build this properly from database - currently static placeholder
          %h3= I18n.t(:community_activity)
          %ul
            %li
              = link_to image_tag("v2/temporary_for_mockup/user_john.jpg", :alt => "John"), "#"
              .details
                %p
                  %strong John
                  added
                  = link_to "4 photos", "pages/328607"
                  to
                  = link_to "Canis", "pages/328607"
                %p.meta 5 minutes ago
            %li
              = link_to image_tag("v2/temporary_for_mockup/user_sarah.jpg", :alt => "Sarah"), "#"
              .details
                %p
                  %strong Sarah
                  commented on the
                  = link_to "Distribution section", "pages/1061748"
                  of
                  = link_to "Pinus strobus", "pages/1061748"
                %p.meta 6 minutes ago
            %li
              = link_to image_tag("v2/temporary_for_mockup/user_bill.jpg", :alt => "Bill"), "#"
              .details
                %p
                  %strong Bill
                  updated the
                  = link_to "Overview section", "pages/2866150"
                  of
                  = link_to "Aminata muscaria", "pages/2866150"
                %p.meta 6 minutes ago
            %li
              = link_to image_tag("v2/temporary_for_mockup/user_sarah.jpg", :alt => "Sarah"), "#"
              .details
                %p
                  %strong Sarah
                  added
                  = link_to "2 photos", "pages/1061748"
                  to
                  = link_to "Pinus strobus", "pages/1061748"
                %p.meta 11 minutes ago
        = render :partial => 'shared/join_eol', :locals => {:join_style => 'button'}
