#content
  .section
    .article.stats
      -#TODO: Figure out how stats content is going to be generated e.g. static + count or editable from CMS?
      %h3= I18n.t(:currently_in_eol)
      %ul
        %li.taxon
          %dl
            %dd= number_with_delimiter(total_count("taxon_concepts"), :delimiter => ",")
            %dt= I18n.t(:taxa)
          = link_to I18n.t(:what_is_a_taxon), "/placeholder"
        - # TODO - Add proper members class & icon instead of contributors
        %li.contributors
          %dl
            %dd= number_with_delimiter(total_count("users"), :delimiter => ",")
            %dt= I18n.t(:members_like_you)
          = link_to I18n.t(:learn_how_to_join), "/placeholder"
        - # TODO - Add proper collections class & icon instead of communities
        %li.communities
          %dl
            %dd= number_with_delimiter(total_count("collections"), :delimiter => ",")
            %dt= I18n.t(:collections)
          = link_to I18n.t(:learn_how_to_interact), "/placeholder"
        %li.images
          %dl
            %dd= number_with_delimiter(total_count("data_objects"), :delimiter => ",")
            %dt= I18n.t(:images)
          = link_to I18n.t(:learn_how_to_contribute), "/placeholder"
        %li.partners
          %dl
            %dd= number_with_delimiter(total_count("content_partners"), :delimiter => ",")
            %dt= I18n.t(:content_partners)
          = link_to I18n.t(:learn_about_content_partners), content_partners_path
      %p.meta= I18n.t(:stats_last_count_less_than_minutes_ago, :minutes => $CACHE_STATS_COUNT_IN_MINUTES.nil? ? 60 : $CACHE_STATS_COUNT_IN_MINUTES)

    .article.community
      %h3= I18n.t(:community_activity)
      = render :partial => 'activity_logs/index', :locals => { :log => EOL::ActivityLog.global($ACTIVITIES_ON_HOME_PAGE), :hide_pagination => true }
    - unless logged_in?
      = render :partial => 'shared/join_eol', :locals => {:join_style => 'button'}
