#content
  .section
    .article.news
      %h3
        = I18n.t(:eol_news)
        %small= link_to t('.see_all_eol_news'), news_items_path
      - cache(:action => 'index', :action_suffix => "news_#{current_language.iso_639_1}") do
        = render :partial => 'news_items/index', :locals => { :news_items => @news_items, :for_homepage => true }
    .article.community
      %h3
        = I18n.t(:community_activity)
        %small= link_to t('.see_all_recent_activites'), recent_activities_path
      - cache(:action => 'index', :action_suffix => "activity_#{current_language.iso_639_1}") do
        = render :partial => 'activity_logs/index', :locals => { :log => EOL::ActivityLog.global($ACTIVITIES_ON_HOME_PAGE), :hide_pagination => true, :truncate_comments => true, :editable => false }
    .article.stats
      %h3= I18n.t(:currently_in_eol)
      %ul
        %li.taxon
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("taxon_concepts"), :delimiter => ",")
            %dt= link_to I18n.t(:eol_pages), @rich_pages_path
        %li.users
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("users"), :delimiter => ",")
            %dt= link_to I18n.t(:members_like_you), search_path('*', :type => ['user'])
        %li.collections
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("collections"), :delimiter => ",")
            %dt= link_to I18n.t(:collections_link), search_path('*', :type => ['collection'])
        %li.communities
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("communities"), :delimiter => ",")
            %dt= link_to I18n.t(:communities_link), search_path('*', :type => ['community'])
        %li.images
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("images"), :delimiter => ",")
            %dt= link_to I18n.t(:images), search_path('*', :type => ['image'])
        %li.partners
          %dl
            %dd= number_with_delimiter(EOL::GlobalStatistics.find("content_partners"), :delimiter => ",")
            %dt= link_to I18n.t(:content_partners_link), content_partners_path

