#content
  #page-separator-general
  #page-title
    %h1
      =  I18n.t(:sorry_page_does_not_exist) 
    %hr
  #page-content.clearfix
    #full-page-content
      =  I18n.t(:you_requested_a_page_that_does_not_exist) 
      =  I18n.t(:if_you_followed_a_link_here_tell_the_author) 
      - if @message and current_user.is_admin?
        %p{:style => 'padding:1em 0;'}
          = I18n.t(:you_are_an_admin_so_i_will_show_you_that_the_error_was) 
        %code{:style => 'style:block;padding:2em;'}
          = @message
      %br
      %br
      = link_to 'Return to the home page', root_url
