<%=auto_discovery_link_tag :rss, {:format=>'rss'}, {:title => "EOL News RSS"} %>

<div id="content">
	<div id="page-separator-general"></div>

    <!-- page title -->
    <div id="page-title">
          <h1><%="What's New?"[]%></h1>
        <hr />
    </div>
    <!-- /page title -->
	
	    <div id="page-content" class="clearfix">
	        <!-- center page content -->
	        <div id="full-page-content">
	        	
          	<% form_tag({:action=>'news',:id=>''},:method=>'post') do -%>
          	Search for news items containing: <%= text_field_tag(:term_search_string,@term_search_string)%> <%= submit_tag 'Search' %>
          	<br /><br />
              
          	<% if !@news_items.blank? %>

          		<%= will_paginate @news_items %>
          		    <table class="results_table" width="100%" cellspacing="0">
          		    <tr><th>Date</th><th>News Item</th></tr>
          			<% for news_item in @news_items
          			  if news_item.visible?
            				column_class=cycle('odd','even')  %>
            			    <tr>
            			    	<td width="15%" class="<%= column_class %>"><%=h format_date(news_item.display_date)%></td>
              					<td class="<%= column_class %>"><%= "<strong>" + news_item.title + "</strong><br /> " unless news_item.title.blank?%><%=news_item.body%></td>
            				</tr>									
            			<% end %>	
          			<% end %>
          		    </table>

          			<br />
          			<%= will_paginate @news_items %>

              <% elsif !@news_item.blank? %>
                <%=link_to 'all news',:action=>'news',:id=>''%><br /><br />
          		  <strong><%=h format_date(@news_item.display_date)%></strong> - <%= @news_item.title + "<br /> " unless @news_item.title.blank?%><%=@news_item.body%>
          		<% else %>
          		
          			No news items are available matching your search criteria.
          		
          		<%end%>
          		
          	<% end %>
					 
	        <%=link_to image_tag('rss.png'), {:action=>controller.action_name,:format=>'rss'}%>
			   </div>
	  </div>

</div>
