- # TODO: Should this RSS be I18nised?
= auto_discovery_link_tag :rss, {:format=>'rss'}, {:title => "EOL News RSS"}
#content
  .site_column
    .article.copy
      - form_tag({:action=>'news',:id=>''},:method=>'post') do
        %fieldset
          = label_tag :term_search_string, I18n.t("search_for_news_items_containi")
          = text_field_tag(:term_search_string,@term_search_string)
        %fieldset.actions
          = submit_tag I18n.t("search")

      - if ! @news_items.blank?
        = will_paginate @news_items
        %ul
          - for news_item in @news_items
            - if news_item.visible?
              %h2= h news_item.title unless news_item.title.blank?
              %small= h format_date(news_item.display_date)
              = news_item.body
        = will_paginate @news_items
      - elsif ! @news_item.blank?
        = link_to I18n.t("all_news"), :action=>'news', :id=>''
        %p= h format_date(@news_item.display_date)
        = @news_item.body
      - else
        =I18n.t("no_news_items_are_available_ma")
      = link_to image_tag('rss.png'), {:action=>controller.action_name, :format=>'rss'}
