- cache(:controller=>'content', :part=>@page_id + "_" + current_user.language_abbr) do
  = javascript_include_tag 'faqs' if @content.page_name.downcase=='faqs'

  #page-separator-general
  #page-title
    %h1
      = @content.title[@content.key]
    %hr
    
  - if @content.left_content != ''
    #page-content-bgfauxinside
      #page-content.clearfix
        #full-page-content
          #left-pane
            = @content.left_content
          #right-pane
            = @content.main_content
  - else
    #page-content.clearfix
      #full-page-content
        = @content.main_content
        
        -#Curator page only - curators can submit a Wikipedia article for ingestion
        - if @page_id == 'curator_central' && current_user.curator_approved
          %hr.thin
          %a{:name => 'wikipedia'}
          %br
          %h2
            =I18n.t("request_wikipedia_article_inge")
          %br
          =I18n.t("eol_is_now_allowing_curators_t") 
          %br
          %br
          =I18n.t("by_entering_a_wikipedia_revisi")
          %form{:action => '/content/wikipedia', :method => 'post'}
            %strong
              =I18n.t("enter_revision_url_") 
            %input{:type => 'text', :name => 'revision_url', :size => 60}
            %input{:type => 'submit', :value => 'Submit'}
          %i
            =I18n.t("_eg__http___en_wikipedia_org_w")
