#content
  .site_column
    .article.copy
      %p
        =I18n.t("the_encyclopedia_of_life_is_an")
      - unless @stats.blank?
        %table.standard
          %thead
            %tr
              %th
                = I18n.t("statistic")
              %th
                = I18n.t("count")
          %tbody
            %tr
              %td
                = I18n.t("total_number_of_pages")
              %td
                = number_with_delimiter(@stats.pages_incol+@stats.pages_not_incol)
            %tr
              %td
                = I18n.t("total_number_of_filled_in_page")
              %td
                = number_with_delimiter(@stats.taxa_count)
