#report_from_eol
  %h2
    = @sub_page_header
  - if @curator_logs.empty?
    =I18n.t("nothing_to_report")
  = will_paginate(@curator_logs)
  %ul
    - for curator_log in @curator_logs
      - act_date = time_ago_in_words(curator_log.created_at)
      - current_act = curator_log.activity.name
      - if curator_log.history_type == 'data_object'
        = render :partial=> 'statuses_report', :locals=>{:curator_log => curator_log,  :act_date => act_date, :current_act => current_act}
      - elsif curator_log.history_type == 'comment'
        = render :partial=> 'comments_report', :locals=>{:curator_log => curator_log,  :act_date => act_date, :current_act => current_act}
      - else
        %li
          =I18n.t("_an_object_was_removed_mdash_t")
  = will_paginate(@curator_logs)
