%div{"data-role"=>"header"}
  =link_to "Overview", mobile_taxon_path(@taxon_concept.id), "data-icon"=>"grid", "data-direction"=>"reverse"
  %h1=t "mobile.taxa.taxon_details"

%div{"data-role"=>"content"}
  %h3= @taxon_concept.title unless @taxon_concept.title.blank?
  
  - roots = @toc.collect{|t| t unless t.is_child?}.compact
  #taxonomy_detail
    - unless roots.empty?
      #main
        - for root in roots
          - root_content = @details.collect{|d| d if d[:toc_item].id == root.category_id}.compact
          - children = @toc.collect{|t| t if t.parent_id == root.category_id}.compact
          - unless root_content.empty? && children.empty?
            %h2= root.label
            .section
              = render :partial => 'details_content', :locals => { :content => root_content }
              - unless children.empty?
                - for child in children
                  - child_content = @details.collect{|d| d if d[:toc_item].id == child.category_id}.compact
                  - unless child_content.empty?
                    %h3= child.label
                    = render :partial => 'details_content', :locals => { :content => child_content }
          
                    
#more_buttons{"data-role"=>"content"}
  =link_to t("mobile.taxa.overview"), mobile_taxon_path(@taxon_concept.id), "data-role"=>"button", "data-role"=>"button"
  =#link_to t("mobile.taxa.details"), mobile_taxon_details_path(@taxon_concept.id), "data-role"=>"button"
  =link_to t("mobile.taxa.media"), mobile_taxon_media_path(@taxon_concept.id), "data-role"=>"button"
  =#link_to t("mobile.taxa.maps"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.nomenclature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.literature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.community"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.resources"), "", "data-role"=>"button"
