= render :partial => 'menu'
#statistics_overall.main_container
  .copy
    %h2= t(".page_header")
  = render :partial => 'download_form'
  = will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
  - @stats.each do |s|
    %table.standard
      %caption
        = t(".table_caption", :created_at_time => s.created_at.strftime("%Y-%m-%d"))
      %tbody
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.members_count')
          %td= number_with_delimiter(s.members_count)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.communities_count')
          %td= number_with_delimiter(s.communities_count)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.collections_count')
          %td= number_with_delimiter(s.collections_count)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_count')
          %td= number_with_delimiter(s.pages_count)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_content')
          %td= number_with_delimiter(s.pages_with_content)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_text')
          %td= number_with_delimiter(s.pages_with_text)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_image')
          %td= number_with_delimiter(s.pages_with_image)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_map')
          %td= number_with_delimiter(s.pages_with_map)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_video')
          %td= number_with_delimiter(s.pages_with_video)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_sound')
          %td= number_with_delimiter(s.pages_with_sound)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_without_text')
          %td= number_with_delimiter(s.pages_without_text)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_without_image')
          %td= number_with_delimiter(s.pages_without_image)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_image_no_text')
          %td= number_with_delimiter(s.pages_with_image_no_text)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_text_no_image')
          %td= number_with_delimiter(s.pages_with_text_no_image)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.base_pages')
          %td= number_with_delimiter(s.base_pages)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_at_least_a_trusted_object')
          %td= number_with_delimiter(s.pages_with_at_least_a_trusted_object)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_at_least_a_curatorial_action')
          %td= number_with_delimiter(s.pages_with_at_least_a_curatorial_action)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_BHL_links')
          %td= number_with_delimiter(s.pages_with_BHL_links)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_BHL_links_no_text')
          %td= number_with_delimiter(s.pages_with_BHL_links_no_text)
        %tr
          %th{:scope => 'row'}= I18n.t('activerecord.attributes.eol_statistic.pages_with_BHL_links_only')
          %td= number_with_delimiter(s.pages_with_BHL_links_only)
  = will_paginate @stats, :previous_label => I18n.t(:pagination_previous), :next_label => I18n.t(:pagination_next)
