- search_result = nil unless defined?(search_result)
- if image = item.exemplar_or_best_image_from_solr && image && image.thumb_or_object('88_88')
  = link_to image_tag(image.thumb_or_object('88_88')), overview_taxon_path(item)
- else
  = link_to image_tag("v2/icon_taxon.png"), overview_taxon_path(item)
.details
  %h4= link_to item.title_canonical, overview_taxon_path(item)
  - subtitle = item.preferred_common_name_in_language(current_language)
  - unless subtitle.blank?
    %p= subtitle.firstcap
  - unless item.entries.blank?
    %ul
      - item.entries.each do |he|
        %li
          - unless data_object.association_for_hierarchy_entry(he).nil?
            %form{ :action => data_object_path(data_object) }
              %input.button.associated(type="submit" value="#{I18n.t(:associated_submit_button)}")
          - else
            %form{ :action => "/data_objects/#{data_object.id}/save_association/#{he.id}",  :method => "post" }
              %input.button(type="submit" value="#{I18n.t(:add_association_submit_button)}")
          - if he.hierarchy.agent.homepage.blank?
            = he.hierarchy.agent.full_name
          - else
            = link_to he.hierarchy.agent.full_name, he.hierarchy.agent.homepage
          - classification_summary = item.entry.preferred_classification_summary
          - unless classification_summary.blank?
            %span
              &bull;
            = classification_summary
