<div class="attribution <%=data_object.id%>">
  <% if data_object.map? %>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr class="credit-line">
        <td><div class="credit-caption"><%= "Legend"[] %></div></td>
        <td><div class="credit-value"><%=image_tag 'gbif_legend.gif', :title=>'GBIF Map Legend',:alt=>'GBIF Map Legend'%><br />
        Not all maps have occurrence information.</div></td>
      </tr>		
    </table>
  <%elsif has_hidden_attributions?(data_object) && !@preview%>
    <a href="#" id="tdo_<%=data_object.id%>" class="attribution-icon expand-text-attribution" title="View full attribution details" style="width: 25px; height: 25px"></a>
  <%end%>

  <% if data_object.created_by_user? %>
    <div class="credit supplier">
      <div class="credit-caption">Supplier</div>
      <div class="credit-value"><%=data_object.user.given_name%> <%=data_object.user.family_name%></div>
      <div class="footer"></div>
    </div>
  <% end %>

  <% for attribution in data_object.attributions %>
    <div class="credit <%= css_class(attribution.agent_role) %>">
      <div class="credit-caption"><%= attribution.agent_role %></div>
      <div class="credit-value">

        <!-- agent partial -->
        <%= agent_partial(attribution.agent) %>

        <!-- agent icon -->
        <%= agent_icons_partial(attribution.agent) %>

      </div>
      <div class="footer"></div>

    </div>
  <% end %>

  <% if data_object.text? || data_object.image? %>
    <div class="credit permalink">
     <div class="credit-caption"><%="Permalink"[]%></div>
     <div class="credit-value"><form><input onclick="this.select();" size="35" type="text" value="<%="http://#{request.domain}/pages/#{data_object.taxon_concepts[0].id}?#{data_object.data_type.label.downcase}_id=#{data_object.id}"%>"/></form></div>
    <div class="footer"></div>
  </div>
  <% end %>
  
</div>
