%ul{ :class => "attribution #{data_object.id}" }
  - if data_object.map?
    -# TODO
  - if data_object.added_by_user?
    %li
      %em
        = I18n.t(:supplier)
      = data_object.users_data_objects[0].user.given_name
      = data_object.users_data_objects[0].user.family_name
  - data_object.citable_entities.each do |citable|
    %li
      %em
        = citable.type
      = citables_to_string(citable)
      = citables_to_icons(citable)
  - if data_object.in_wikipedia?
    -# TODO ... putting an edit link here is wrong.  Don't do it.
