= include_javascripts 'data-object-curation'
:javascript
  if (!EOL) { var EOL = {}; }
  if (!EOL.Curation) { EOL.Curation = {}; }
  EOL.Curation.UNKNOWN_ID       = #{Vetted.unknown.id};
  EOL.Curation.TRUSTED_ID       = #{Vetted.trusted.id};
  EOL.Curation.UNTRUSTED_ID     = #{Vetted.untrusted.id};
  EOL.Curation.INAPPROPRIATE_ID = #{Vetted.inappropriate.id};
  EOL.Curation.VISIBLE_ID       = #{Visibility.visible.id};
  EOL.Curation.INVISIBLE_ID     = #{Visibility.invisible.id};
  EOL.Curation.vetted_type = {}
  EOL.Curation.vetted_type[EOL.Curation.UNTRUSTED_ID] = 'untrusted';
  EOL.Curation.vetted_type[EOL.Curation.UNKNOWN_ID] = 'unknown';
  EOL.Curation.vetted_type[EOL.Curation.TRUSTED_ID] = 'trusted';
