.visibility.curation-section
  .label.credit-caption
    = I18n.t(:visibility) 
  .options.action-value
    .option
      = radio_button_tag "visibility_id", Visibility.visible.id.to_s, data_object.visible?, { :id => ("#{data_object['id']}_visibility_id_" + Visibility.visible.id.to_s) }
      
    .option
      = radio_button_tag "visibility_id", Visibility.invisible.id.to_s, data_object.invisible?, { :id => ("#{data_object['id']}_visibility_id_" + Visibility.invisible.id.to_s) }
      
    .option
      = radio_button_tag "visibility_id", Visibility.inappropriate.id.to_s, data_object.inappropriate?, { :id => ("#{data_object['id']}_visibility_id_" + Visibility.inappropriate.id.to_s) }
      
.vetted.curation-section
  .label.credit-caption
    = I18n.t(:vetted) 
  .options.action-value
    .option.unreviewed
      = radio_button_tag "vetted_id", Vetted.unknown.id.to_s, data_object.unknown?, { :id => ("#{data_object['id']}_vetted_id_" + Vetted.unknown.id.to_s), :class =>"vetted_unknown" }
      
    .option.trust
      = radio_button_tag "vetted_id", Vetted.trusted.id.to_s, data_object.trusted?, { :id => ("#{data_object['id']}_vetted_id_" + Vetted.trusted.id.to_s), :class =>"vetted_trusted" }
      
    .option.untrust
      = radio_button_tag "vetted_id", Vetted.untrusted.id.to_s, data_object.untrusted?, { :id => ("#{data_object['id']}_vetted_id_" + Vetted.untrusted.id.to_s), :class =>"vetted_untrusted" }
      
      - div_style = data_object.untrusted? ? '' :  'display:none;'
      .reason{ :style => div_style, :id => "reason_#{data_object.id}" }
        / = "Please select a reason, and optionally leave a curation comment to explain your decision:"
        %b=I18n.t("please_select_a_reason__and_or")
        .option
          = check_box_tag 'untrust_reasons[]', UntrustReason.misidentified.id.to_s, data_object.untrust_reasons_include?(UntrustReason.misidentified), {:id => "#{data_object['id']}_untrust_reason_misidentified", :class => "untrust_reason misidentified"}
          
        .option
          = check_box_tag 'untrust_reasons[]', UntrustReason.incorrect.id.to_s, data_object.untrust_reasons_include?(UntrustReason.incorrect), {:id => "#{data_object['id']}_untrust_reason_incorrect", :class => "untrust_reason incorrect"}
          
        .option
          = check_box_tag 'untrust_reasons[]', UntrustReason.poor.id.to_s, data_object.untrust_reasons_include?(UntrustReason.poor), {:id => "#{data_object['id']}_untrust_reason_poor", :class => "untrust_reason poor"}
          
        .option
          = check_box_tag 'untrust_reasons[]', UntrustReason.duplicate.id.to_s, data_object.untrust_reasons_include?(UntrustReason.duplicate), {:id => "#{data_object['id']}_untrust_reason_duplicate", :class => "untrust_reason duplicate"}
          
        .option
          = check_box_tag 'untrust_reasons[]', UntrustReason.other.id.to_s, data_object.untrust_reasons_include?(UntrustReason.other), {:id => "#{data_object['id']}_untrust_reason_other", :class => "untrust_reason other"}
          
        %input{ :type => "hidden", :id => "#{data_object['id']}_untrust_reasons_comment", :class => "untrust_reasons_comment", :name => "untrust_reasons_comment" }
.curation-section
  .label.credit-caption
    = I18n.t(:curation_comment) 
  .options.action-value
    .comment
      = text_area_tag 'comment', nil, :class => 'curation-comment-box', :id => "#{data_object['id']}_curator_comment"
