- title = @data_object.data_objects_table_of_contents.blank? ? '' : @data_object.data_objects_table_of_contents[0].toc_item.label
- subtitle = @data_object.subtitle_to_show

%div{ :id => "data_object_content_text" }
  #text_object_title
    %h2= title
    - if subtitle
      %h3= subtitle
    #text_object_body
      = @data_object.description.balance_tags
  - unless @data_object.refs.blank?
    %h4 References
    %ul
      - @data_object.refs.each do |ref|
        %li
          = ref.full_reference.balance_tags
          - ref.ref_identifiers.each do |identifier|
            -# we do not show identifier unless we know how to handle them:
            - next unless identifier.display?
            &emsp;
            = external_link_to(identifier.identifier, identifier.link_to_identifier)
