- action = current_user.ignored_data_object?(@data_object) ? 'undo_ignore' : 'ignore'
= form_for @data_object, :url => data_object_ignore_path(@data_object), :html => { :method => :put, :class => 'ignore_data_object' } do |f|
  = hidden_field_tag :undo, true if action == 'undo_ignore'
  - if params[:worklist_return_to]
    = hidden_field_tag :worklist_return_to, params[:force_return_to] || current_url
    = hidden_field_tag :return_to, params[:worklist_return_to]
  - else
    = hidden_field_tag :return_to, current_url
  %fieldset.actions
    = submit_tag I18n.t("data_object_#{action}")
