- if data_object && data_object.image?
  = content_for :head do
    = javascript_include_tag "jquery.Jcrop.min.js"
    = javascript_include_tag "jcrop_data_objects.js"
    = stylesheet_link_tag "jquery.Jcrop.min.css"
  .article.source
    .header
      %h3= I18n.t('crop_image_thumbnails')
    #crop_panel
      .preview
        .title
          = I18n.t(:march_of_life_thumbnail_title)
        .crop_preview.width_130
          %img#preview_image{ :src => data_object.thumb_or_object('130_130'), :original_src => data_object.thumb_or_object('130_130') }
      .preview
        .title
          = I18n.t(:summary_thumbnail_title)
        .crop_preview.width_88
          %img#preview_image{ :src => data_object.thumb_or_object('88_88'), :original_src => data_object.thumb_or_object('88_88') }
    #crop_form
      %form{ :action => crop_data_object_path(data_object), :method => :get }
        = hidden_field_tag 'id', data_object.id
        = hidden_field_tag 'x'
        = hidden_field_tag 'y'
        = hidden_field_tag 'w'
        = hidden_field_tag 'h'
        %fieldset.actions
          = submit_tag I18n.t('crop_image')
