= javascript_include_tag 'jquery-1.6.1.min'
= javascript_include_tag 'jplayer/js/jquery.jplayer.min'

%link{:href=>"/javascripts/jplayer/skin/jplayer.blue.monday.css", :rel=>"stylesheet", :type=>"text/css"}

- if type == 'big'
  .jp-jplayer{:id => "jquery_jplayer_1"}  
  .jp-audio{}
    .jp-type-single{}
      .jp-interface{:id => "jp_interface_1"}
        %ul{:class => "jp-controls"}
          %li
            %a{:href => '#', :class => "jp-play", :tabindex => "1"}= I18n.t(:audio_play)
          %li
            %a{:href => '#', :class => "jp-pause", :tabindex => "1"}= I18n.t(:audio_pause)
          %li
            %a{:href => '#', :class => "jp-stop", :tabindex => "1"}= I18n.t(:audio_stop)
          %li
            %a{:href => '#', :class => "jp-mute", :tabindex => "1"}= I18n.t(:audio_mute)
          %li
            %a{:href => '#', :class => "jp-unmute", :tabindex => "1"}= I18n.t(:audio_unmute)
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-volume-bar
          .jp-volume-bar-value
        .jp-current-time
        .jp-duration
      .jp-playlist{:id => "jp_playlist_1"}
        %ul
          %li
            %noscript{:id => 'no_script'}= I18n.t(:player_is_disabled) + '<br>'
            = link_to I18n.t("download_#{en_mime_type.sub(/\//, '_')}"), sound_url, { :title => I18n.t("download_#{en_mime_type.sub(/\//, '_')}_assistive") }
            %noscript= "<br>" + I18n.t(:try_google_audio_player)
- else
  - no_script = render :partial => 'data_objects/sound_player', :locals => {:width => 150, :sound_url => sound_url}
  %noscript= "<br><br><br>" + no_script

  '<br><br><br>'
  %a{:href => '#', :id => "play"}= I18n.t(:audio_play)
  %a{:href => '#', :id => "pause"}= I18n.t(:audio_pause)
  |
  %a{:href => '#', :id => "stop"}= I18n.t(:audio_stop)
  |
  %a{:href => '#', :id => "mute"}= I18n.t(:audio_mute)
  %a{:href => '#', :id => "unmute"}= I18n.t(:audio_unmute)
  .jp-jplayer{:id => "jquery_jplayer_2"}  


:javascript
  $(document).ready(function(){

    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          mp3: "#{sound_url}"
        }).jPlayer(""); // put 'play' here to auto-play
      },
      ended: function (event) {
        //$(this).jPlayer("play");
      },
      swfPath: "/javascripts/jplayer/js",
      supplied: "mp3"
    });

    $("#jquery_jplayer_2").jPlayer({
    ready: function () {
      $(this).jPlayer("setMedia", {
      mp3: "#{sound_url}"
      });
    },
    swfPath: "/javascripts/jplayer/js",
    supplied: "mp3",
    cssSelectorAncestor: "",
    cssSelector: {
      play: "#play",
      pause: "#pause",
      stop: "#stop",
      videoPlay: "",
      seekBar: "",
      playBar: "",
      mute: "#mute",
      unmute: "#unmute",
      volumeBar: "",
      volumeBarValue: "",
      currentTime: "#currentTime",
      duration: "#duration"
    }
    });
  });
