- form_for @data_object, :url => taxon_data_objects_path(@taxon_concept) do |f|
  = f.hidden_field :data_type_id
  %fieldset
    = validation_errors_for(@data_object)
    %dl
      = f.fields_for :toc_items do |toc_items_form|
        %dt
          = toc_items_form.label :id, I18n.t('helpers.label.data_object.toc_item')
        %dd
          = toc_items_form.select :id, options_from_collection_for_select(@toc_items, :id, :label)
      %dt
        = f.label :object_title
      %dd
        = f.text_field :object_title
      %dt
        = f.label :description
      %dd
        = f.text_area :description
      %dt
        = f.label :language_id
      %dd
        = f.select :language_id, options_from_collection_for_select(@languages, :id, :source_form) # @data_object.language_id
      %dt
        = f.label :license_id
      %dd
        = f.select :license_id, options_from_collection_for_select(@licenses, :id, :title) # @data_object.license_id
        = I18n.t('helpers.label.data_object.license_id_more', :policy_url => "/content/page/eol_licensing_policy")
      %dt
        = f.label :refs
      %dd
        = text_area_tag 'references', @data_object.visible_references.map {|r| r.full_reference}.join("\n\n")
  %fieldset.actions
    = link_to I18n.t('helpers.submit.data_object.create'), 'javascript:validate()', :class => 'button'
    = link_to I18n.t(:dato_create_cancel), taxon_details_path(@taxon_concept)

:javascript
  function validate()
  {
    if (document.getElementById('data_object_description').value == "")
    {
      alert("Descripition body cannot be blank.")
      document.getElementById('data_object_description').focus();
    }
    else {document.getElementById('new_data_object').submit();}
  }
