- taxon_concept = @data_object.taxon_concept(:published => :preferred)[0]
- if taxon_concept
  %h1
    - if taxon_concept.published?
      = link_to (taxon_concept.scientific_name, taxon_concept_url(:id => taxon_concept.id))
    - else
      == associated with deprecated page for #{taxon_concept.scientific_name}

- if @data_object.image?
  - title = @data_object.object_title
  - if title.nil? or title.empty?
    - title = @data_object.description
  - else
    - subtitle = @data_object.description
- else
  - title = @data_object.object_title.empty? ? '[No title]' : @data_object.object_title
- license_attribution_html = ''
- if !@data_object.license.blank?
  - license_attribution_html += link_to(image_tag(@data_object.license.small_logo_url, {:alt=>(@data_object.license.title || '')}),@data_object.license.source_url, {:target => '_blank' })
  - license_attribution_html += " #{@data_object.license.description}" unless @data_object.license.description.blank? 
- source = ''
- if @data_object.sources.length == 1
  - source = "(Source: #{@data_object.sources.first.full_name})"
- elsif @data_object.sources.length > 1
  - source = "(Sources: #{@data_object.sources.collect {|src| src.full_name}.join(', ')})"

%h2
  = title
- unless subtitle.nil?
  %h2
    = subtitle
%p
  = "#{license_attribution_html} by #{agent_partial(@data_object.authors)} #{source}"
