- taxon_concept = @data_object.taxon_concept(:published => :preferred)[0]
- if taxon_concept
  %h1
    = taxon_concept_link(taxon_concept)
- if @data_object.image?
  - title = @data_object.object_title
  - if title.nil? or title.empty?
    - title = @data_object.description
  - else
    - subtitle = @data_object.description
- else
  - title = @data_object.object_title.empty? ? '[No title]' : @data_object.object_title
- license_attribution_html = ''
- if !@data_object.license.blank?
  - license_attribution_html += link_to(image_tag(@data_object.license.small_logo_url, {:alt=>(@data_object.license.title || '')}),@data_object.license.source_url, {:target => '_blank' })
  - license_attribution_html += " #{@data_object.license.description}" unless @data_object.license.description.blank? 
- source = ''
- if @data_object.sources.length == 1
  - source = "(#{I18n.t(:source)}: #{@data_object.sources.first.full_name})"
- elsif @data_object.sources.length > 1
  - source = "(#{I18n.t(:source)}: #{@data_object.sources.collect {|src| src.full_name}.join(', ')})"

%h2
  = title
- unless subtitle.nil?
  %h2
    = subtitle
%p
  = I18n.t("var_license_attribution_html_b", :var_license_attribution_html => license_attribution_html, :var_citables_to_string__data_object_authors_map__a__a_citable => citables_to_string(@data_object.authors.map{|a| a.citable, :var_source => source)
