- data_object ||= @data_object
- unless data_object.blank?
  - entries = data_object.data_object_taxa_by_visibility
  - if entries.blank?
    %p= I18n.t(:data_object_not_associated_with_any_hierarchies)
  - else
    %ul.review_status
      - entries.each do |entry|
        - next if entry.nil?
        - en_status = entry.vetted.label('en').downcase
        - status = entry.vetted.curation_label
        %li
          %p{:class => en_status}= status
          %legend= link_to raw(entry.italicized_name), taxon_overview_path(entry.taxon_concept_id)
          - if entry.can_be_deleted_by?(current_user) && !entry.users_data_object?
            -# NOTE: DataObjectTaxon can be a UsersDataObject not just an entry.
            -#       Not allowing remove association for UsersDataObject because
            -#       its broken and/or never worked see WEB-4982
            .remove_association
              = link_to I18n.t(:remove_data_object_association),
                remove_association_path(:id => data_object.id, :hierarchy_entry_id => entry.id),
                :id => "remove_association_#{entry.id}", :data => { :confirm => I18n.t(:are_you_sure) }
