- minimal = false unless defined?(minimal)
%p
  - if data_object.added_by_user? && !data_object.users_data_object.blank?
    = I18n.t(:supplier_colon)
    = link_to data_object.users_data_object.user.full_name, data_object.users_data_object.user rescue nil
  - elsif data_object.content_partner
    - if !data_object.source_url.blank?
      = I18n.t(:source_colon)
      = link_to data_object.content_partner.name, data_object.source_url rescue nil
      %br
    - elsif !data_object.content_partner.homepage.blank?
      = I18n.t(:supplier_colon)
      = link_to data_object.content_partner.name, data_object.content_partner.homepage rescue nil
      %br
    - if (data_object.source_url.blank? && data_object.content_partner.homepage.blank?) || !minimal
      = I18n.t(:supplier_colon)
      = link_to data_object.content_partner.name, data_object.content_partner rescue nil
