%p
  - agent  ||= data_object.data_supplier_agent
  - unless agent.blank?
    = I18n.t(:supplier_colon) + " "
    - content_partner = agent.user.content_partner
    - if content_partner
      = link_to content_partner.full_name,  content_partner_path(:id => content_partner.id)
    - else
      = agent.full_name
  - else
    - udo = data_object.users_data_objects
    - unless udo.blank?
      = I18n.t(:supplier_colon) + " "
      - user = udo[0].user
      = link_to user.full_name,  user_path(:id => user.id)
