<input type="hidden" name="taxon_concept_id" value="<%= @taxon_concept_id %>" />
<table>
  <tr>
    <td width="25%">
      <label for="data_object_TOC category">Toc category</label>
    </td>
    <td>
      <%= select("data_objects_toc_category", "toc_id", @selectable_toc, {}, {'data-change_toc_url' => url_for(:controller => 'taxa', :action => 'user_text_change_toc')}) %>
    </td>
  </tr>

  <tr>
    <td><%= f.label 'Title (optional)' %></td>
    <td><%= f.text_field( :object_title )%> </td>
  </tr>

  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area( :description, :size => "33x8" )%> </td>
  </tr>

  <tr>
    <td><%= f.label :language_id %></td>
    <td>
      <%= select("data_object", "language_id", @languages) %>
    </td>
  </tr>

  <tr>
    <td><%= f.label :license_id %></td>
    <td>
      <%= select("data_object", "license_id", @licenses) %>
    </td>
  </tr>

  <tr>
    <td><label>NOTE</label></td>
    <td>
      After submitting your text entry it will appear as an untrusted entry.
      To view your entry, make sure you Information slider is set to All. Your
      entry will appear with a yellow (untrusted) background until a curator
      marks it as trusted.
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <% if @data_object.id %>
        <input type="button" id="cancel_edit_text" value="Cancel" data-data_object_id="<%=@data_object.id%>"/>
        &nbsp;
      <% end %>
      <input id="preview_text" type="button" value="Preview" data-preview_url="<%=url_for(:controller => 'data_objects', :action => 'preview')%>"/>
      &nbsp;
      <input type="submit" value="Confirm"/>
      &nbsp;
      <span id="edit_text_spinner" style="display:none;"><%=image_tag('indicator_arrows_black.gif')%> Please wait...</span>
    </td>
  </tr>
</table>
