<h1>Object Curation</h1>

<div class="vetted">
  <form action="<%= curate_data_object_path(@data_object) %>" data-data_object_id="<%= @data_object.id %>" data-data_object_type="<%=@data_object.data_type_id%>">
    <div class="label">VETTED <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%></div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.approve!.id.to_s, @data_object.trusted?, {:id => "curate_trust_#{@data_object.id}", 'data-vetted_id' => Vetted.trusted.id} %> Trusted
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.disapprove!.id.to_s, @data_object.untrusted?, {:id => "curate_untrust_#{@data_object.id}", 'data-vetted_id' => Vetted.untrusted.id} %> Untrusted
    </div>
  </form>
</div>

<div class="visibility">
  <form action="<%= curate_data_object_path(@data_object) %>" data-data_object_id="<%= @data_object.id %>" data-data_object_type="<%=@data_object.data_type_id%>">
    <div class="label">VISIBILITY <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%></div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.hide!.id.to_s, @data_object.invisible?, {:id => "curate_invisible_#{@data_object.id}", 'data-visibility_id' => Visibility.invisible.id} %> Hide
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.show!.id.to_s, @data_object.visible?, {:id => "curate_visible_#{@data_object.id}", 'data-visibility_id' => Visibility.visible.id} %> Show
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.inappropriate!.id.to_s, @data_object.inappropriate?, {:id => "curate_inappropriate_#{@data_object.id}", 'data-visibility_id' => Visibility.inappropriate.id} %> Inappropriate
    </div>
  </form>
</div>

Note that some changes may take 24 hours to be shown on the website to other users.

