<h1>Object Curation</h1>

<div class="vetted">
  <form action="<%= curate_data_object_path(@data_object) %>" data-data_object_id="<%= @data_object.id %>" data-data_object_type="<%=@data_object.data_type_id%>">
    <div class="label">VETTED <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%></div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.approve!.id.to_s, @data_object.trusted?%> Trusted
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.disapprove!.id.to_s, @data_object.untrusted?%> Untrusted
    </div>
  </form>
</div>

<div class="visibility">
  <form action="<%= curate_data_object_path(@data_object) %>" data-data_object_id="<%= @data_object.id %>" data-data_object_type="<%=@data_object.data_type_id%>">
    <div class="label">VISIBILITY <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;')%></div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.show!.id.to_s, @data_object.visible?%> Show to all users
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.hide!.id.to_s, @data_object.invisible?%> Hide for all except curators
    </div>
    <div class="option">
      <%= radio_button_tag 'curator_activity_id', CuratorActivity.inappropriate!.id.to_s, @data_object.inappropriate?%> Permanently Remove
    </div>
  </form>
</div>

Note that some changes may take 24 hours to be shown on the website to other users.

