= content_for :head do
  = javascript_include_tag "ckeditor/init"
#content
  - if @data_object.is_text?
    #text_object_new_edit.site_column.copy
      = form_for @data_object, :url => data_object_path(params[:id]), :html => { :method => :put },
        :builder => ApplicationHelper::EolFormBuilder do |f|
        = render :partial => 'text_fieldset', :locals => { :f => f, :link_object => @edit_link }
        %fieldset.actions
          = f.submit I18n.t("helpers.submit.data_object#{'_link' if @edit_link}.update"), :name => "commit#{'_link' if @edit_link}"
          = link_to I18n.t(:dato_edit_cancel), data_object_path(params[:id])
