= content_for :head do
  = javascript_include_tag "temp-permalink"

- en_type ||= en_type(@data_object)
- # TODO: Looks like HR have moved from using article to text css class - need to check across the site and adjust en_type
#permalink{:class => en_type == 'article' ? 'text' : en_type}
  #main
    %div{:class => @data_object.is_text? ? 'article copy' : 'media'}
      - if @data_object.is_text? && ! @data_object.object_title.blank?
        %h2= @data_object.object_title
      = render :partial => "data_objects/data_object_#{en_type}", :locals => { :size => '580_360' }
    - unless @data_object.is_text? # NOTE - if it IS text, it was already shown, above.
      .article
        .header
          %h3= I18n.t(:description)
        .copy
          = @data_object.description.balance_tags
    .article.list.updates
      .header
        %h3= I18n.t(:recent_updates)
      = render :partial => 'activity_logs/index', :locals => {:log => @data_object.activity_log}
      = render :partial => 'comments/new', :locals => {:parent => @data_object}
  #sidebar
    = render :partial => 'rating', :locals => { :data_object => @data_object, :en_type => en_type }
    .article.source
      .header
        %h3= I18n.t(:source_information_header)
      = render :partial => 'attribution'
      - if @data_object.is_image?
        %p= link_to I18n.t(:view_full_size_image), @data_object.thumb_or_object(:orig)
      - if @data_object.is_sound?
        - en_mime_type = @data_object.mime_type ? @data_object.mime_type.label('en') : DataType.sound.simple_type
        %p= link_to I18n.t("download_#{en_mime_type.sub(/\//, '_')}"), @data_object.sound_url, { :title => I18n.t("download_#{en_mime_type.sub(/\//, '_')}_assistive") }
    .article.list
      .header
        %h3= I18n.t("associated_with_#{en_type}_header")
        - if current_user.is_curator?
          = link_to I18n.t(:add_new_association_link), :action => :add_association, :id => @data_object.id
      - if current_user.is_curator?
        = render :partial => 'associations_curation'
      - else
        = render :partial => 'associations_index'
    - unless @revisions.blank?
      .article.list
        .header
          %h3= I18n.t(:revisions)
        %ul
          - @revisions.each do |revision|
            - if revision.created_at == @data_object.created_at
              %li= revision.created_at
            - else
              %li= link_to revision.created_at, data_object_path(revision.id)
    - unless @translations.blank?
      .article.list
        .header
          %h3= I18n.t(:languages)
        %ul
          - @translations.each do |tr|
            - if tr.id == @data_object.id
              %li= tr.language.source_form
            - else
              %li= link_to tr.language.source_form, set_language_url(:language => tr.language.iso_639_1)+"&return_to=/data_objects/#{tr.id}"
