#page-title
  %h1== #{@type} permalink 
  %h2
    - if @taxon_concepts.blank?
      ( stands alone )
    - else
      == ( belongs to the following page#{@taxon_concepts.size == 1 ? '' : 's'}: 
      - @taxon_concepts.each_with_index do |tc, i|
        - comma = (i+1 == @taxon_concepts.size) ? '' : ', '
        = link_to(tc.scientific_name, taxon_concept_path(tc.id)) + comma
      )
      
#page-content.clearfix
  #full-page-content
    #data_object_wrapper
      = render :partial => "data_objects/data_object_#{@type.downcase}", :locals => { :data_object => @data_object, :scientific_names => @scientific_names.keys.sort.join(", ") }
    %h3 Attribution
    = render :partial => 'attribution', :locals => { :data_object => @data_object }, :layout => @layout
    - if @revisions.size > 1
      %h3 Revisions
      %ul
        - @revisions.each do |revision|
          %li= link_to(revision.created_at, data_object_path(revision.id))
    %h3 Pages
    %ul
      - @taxon_concepts.each do |tc|
        %li= link_to(tc.scientific_name, taxon_concept_path(tc.id)) 
    - unless @comments.blank?
      %h3 Comments
      #taxaCommentsWrap
        #commentsContain
          = render :partial => 'shared/comments', :locals => { :comments => @comments, :opts => { :params => {:anchor => "commentsContain"} }}
