= content_for :head do
  = javascript_include_tag "permalink"

- en_type ||= @data_object.data_type.label('en').downcase.strip
- en_type = 'video' if DataType.video_type_ids.include?(@data_object.data_type.id)
- copy = @data_object.is_text? ? 'copy' : nil
#permalink
  .ratings
    = render :partial => 'rating', :locals => { :data_object => @data_object, :type => en_type }
  .media{:class => copy}
    - if @data_object.is_text? && ! @data_object.object_title.blank?
      %h2= @data_object.object_title
    = render :partial => "data_objects/data_object_#{en_type}", :locals => { :show_category_title => true }
  - if @data_object.is_image?
    %ul.sizes
      - image_sizes = { :small => @data_object.smart_thumb, :medium => @data_object.smart_medium_thumb, :large => @data_object.smart_image, :original => @data_object.original_image }
      - [:small, :medium, :large, :original].each do |size|
        - unless image_sizes[size].blank?
          %li
            - link_to image_sizes[size] do
              %strong= I18n.t("#{size.to_s}_size")
              - # MISSING: image dimensions are shown in design, we do not currently have them
  #main
    - unless @data_object.is_text?
      .article.copy
        .header
          %h3= I18n.t(:description)
        .description
          = @data_object.description.balance_tags
    = render :partial => 'feed_items/index', :locals => {:feed => @data_object.feed}

  #sidebar
    .article.source
      .header
        %h3= I18n.t(:source_information_header)
      = render :partial => 'attribution'
    .article.list
      .header
        %h3= I18n.t("associated_with_#{en_type}_header")
        - if current_user.is_curator?
          = link_to I18n.t(:add_new_association_link), '/placeholder'
          - # TODO: Where does the add association link go? Or we show form (not here) as in: = render :partial => 'associations_new'
      - if current_user.is_curator?
        = render :partial => 'associations_curation'
      - else
        = render :partial => 'associations_index'
    - unless @revisions.blank?
      .article.list
        .header
          %h3= I18n.t(:revisions)
        %ul
          - @revisions.each do |revision|
            - if revision.created_at == @data_object.created_at
              %li= revision.created_at
            - else
              %li= link_to revision.created_at, data_object_path(revision.id)


