#page_title
  %h2 Page title

#page-content.clearfix
  #full-page-content
    = render :partial => 'attribution', :locals => { :data_object => @data_object }, :layout => @layout
    #taxaCommentsWrap{ :style => "margin-top:2em" }
      #commentsContain
        .controls
          - if @slim_container
            - info = "Total %s comments" % @comments.size
            = info == 'No entries found' ? 'Comments' : "#{info},"
            on
            = @title_label
            - if @title != ''
              %div
                %h2
                  = @title
          - else
            %h2
              Comments
            %small
              = info == 'No entries found' ? '' : info
        - if @comments.empty?
          %p#no-comments
            No comments have been left yet.
        - else
          %ul.comments
            = render :partial => 'comments/list', :locals => { :current_objects => @comments }
