- type = @type
- type = 'Video' if DataType.video_type_ids.include?(@data_object.data_type.id)
-# TODO: Provide a more informative title e.g. object title or data object type of referred taxon name
-# e.g. if clicked on data object from taxon page pass the referring taxon page in to use in title
-# this provides the user with an association to their previous page.

#permalink
  .ratings
    
    = render :partial => 'rating', :locals => { :data_object => @data_object, :type => type.downcase, :show_controls => true }
  .media
    - if type == "Video"
      = render :partial => "/shared/show_video"
    - else
      = render :partial => "data_objects/data_object_#{type.downcase}", :locals => { :show_category_title => true }
  %ul.sizes
    - if @data_object.data_type_id == DataType.image.id
      - {:small => 1, :medium => 2, :large => 4, :original => 8}.each do |size, multiplier|
        %li
          - link_to data_object_path(@data_object.id, :params => {:image_size => size}) do
            %strong= size
            = "#{400 * multiplier}x#{300 * multiplier}"

  /%ul.sizes
  /  - {:small => 1, :medium => 2, :large => 4, :original => 8}.each do |label, multiplier|
  /    %li
  /      = link_to "" do
  /        %strong= label.to_s
  /        = "#{400 * multiplier}x#{300 * multiplier}"

  #main
    .article.copy
      .header
        %h3 Description
      %p 
        = render :partial => 'description', :locals => { :data_object => @data_object }, :layout => @layout

    .article.list.updates
      = render(:partial => 'feed_items/index', :locals => {:feed => @data_object.feed})
    
  #sidebar
    .article.source
      .header
        %h3 Source Information
      /= image_tag "icon_cc.png", :alt => "CC by-sa"
      /%p== &copy; Noah Siegel
      /%p Some rights reserved
      /%p
      /  Supplier:
      /  = link_to "Mushroom Observer", "#"
      /%p Photographer: Noah Siegel
      /%p= link_to "View image source", "#"
      
      = render :partial => 'attribution', :locals => { :data_object => @data_object }, :layout => @layout
       
    .article.list
      .header
        /%h3 In This Image
        %h3= I18n.t(:in_this_data_object_by_type, :type => @data_object.data_type.simple_type)
        
    

      - if @data_object.published_entries.blank?
        %p= I18n.t(:data_object_not_associated_with_any_hierarchies)
      - else
        = render :partial => 'data_objects/curation', :locals => { :data_object => @data_object }
      - if current_user.is_curator?
        - form_tag({:controller => 'data_objects', :action => 'add_association'}) do
          = hidden_field_tag 'id', @data_object.id
          = label_tag 'add_association', I18n.t(:add_association_label_colon)
          = text_field_tag 'add_association'
          = submit_tag I18n.t(:add_association_submit_button)

    .article.list
      .header
        %h3=I18n.t("revisions")

      %ul
        - @revisions.each do |revision|
          - revision_class = revision.created_at == @data_object.created_at ? 'current_revision' : nil
          %li= link_to(revision.created_at, data_object_path(revision.id))


