= content_for :head do
  = javascript_include_tag "temp-permalink"

- en_type ||= en_type(@data_object)
#permalink{:class => en_type}
  = render :partial => 'rating', :locals => { :data_object => @data_object, :en_type => en_type }
  %div{:class => @data_object.is_text? ? 'article copy' : 'media'}
    - if @data_object.is_text? && ! @data_object.object_title.blank?
      %h2= @data_object.object_title
    = render :partial => "data_objects/data_object_#{en_type}", :locals => { :size => '580_360' }
  - if @data_object.is_image?
    %ul.sizes
      - image_sizes = { :small => @data_object.smart_thumb, :medium => @data_object.smart_medium_thumb, :large => @data_object.smart_image, :original => @data_object.thumb_or_object(:orig) }
      - [:original].each do |size|
        - unless image_sizes[size].blank?
          %li
            - link_to image_sizes[size] do
              %strong= I18n.t("#{size.to_s}_size")
  - if @data_object.is_sound?
    - en_mime_type = @data_object.mime_type ? @data_object.mime_type.label('en') : DataType.sound.simple_type
    %ul.sizes
      %li= link_to I18n.t("download_#{en_mime_type.sub(/\//, '_')}"), @data_object.sound_url, { :title => I18n.t("download_#{en_mime_type.sub(/\//, '_')}_assistive") }
  #main
    - unless @data_object.is_text? # NOTE - if it IS text, it was already shown, above.
      .article
        .header
          %h3= I18n.t(:description)
        .copy
          = @data_object.description.balance_tags
    .article.list.updates
      .header
        %h3= I18n.t(:recent_updates)
      = render :partial => 'activity_logs/index', :locals => {:log => @data_object.activity_log}
      = render :partial => 'comments/new', :locals => {:parent => @data_object}

  #sidebar
    .article.source
      .header
        %h3= I18n.t(:source_information_header)
      = render :partial => 'attribution'
    .article.list
      .header
        %h3= I18n.t("associated_with_#{en_type}_header")
        - if current_user.is_curator?
          = link_to I18n.t(:add_new_association_link), :action => :add_association, :id => @data_object.id
          - # TODO: Where does the add association link go? Or we show form (not here) as in: = render :partial => 'associations_new'
      - if current_user.is_curator?
        = render :partial => 'associations_curation'
      - else
        = render :partial => 'associations_index'
    - unless @revisions.blank?
      .article.list
        .header
          %h3= I18n.t(:revisions)
        %ul
          - @revisions.each do |revision|
            - if revision.created_at == @data_object.created_at
              %li= revision.created_at
            - else
              %li= link_to revision.created_at, data_object_path(revision.id)
    - unless @translations.blank?
      .article.list
        .header
          %h3= I18n.t(:languages_colon)
        %ul
          - @translations.each do |tr|
            - if tr.id == @data_object.id
              %li= tr.language.display_code
            - else
              %li= link_to tr.language.display_code, set_language_url(:language => tr.language.iso_639_1)+"&return_to=/data_objects/#{tr.id}"


