<h1><%= I18n.t("editing_task_state") %></h1>

<% form_for(@task_state) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit I18n.t("update") %>
  </p>
<% end %>

<%= link_to I18n.t("show"), @task_state %> |
<%= link_to I18n.t("back"), task_states_path %>
