<h1><%= I18n.t("listing_task_states") %></h1>

<table>
  <tr>
    <th><%= I18n.t("name") %><th>
  </tr>

<% @task_states.each do |task_state| %>
  <tr>
    <td><%=h task_state.name %></td>
    <td><%= link_to I18n.t("show"), task_state %></td>
    <td><%= link_to I18n.t("edit"), edit_task_state_path(task_state) %></td>
    <td><%= link_to I18n.t("destroy"), task_state, :confirm => I18n.t("are_you_sure"), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t("new_task_state"), new_task_state_path %>
