!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    = stylesheet_link_tag 'jquery_ui_south_street'
    = stylesheet_link_tag 'concept_manager'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery_ui'
    = javascript_include_tag 'concept_manager'
  %body
    = yield(:content) or yield
