- @page_header ||= 'Manage Resources'
- agent = current_agent.nil? ? @content_partner.agent : current_agent
- content_for :content do
  #page-separator-general
  #page-title
    #cp-desc-personal{ :style => "float: right; width: 400px; margin-right: 20px; margin-top: 5px; text-align:right;" }
      =I18n.t("welcome")
      = agent.full_name || agent.username
      %br
      = link_to I18n.t("logout"),:controller=>'/content_partner',:action => 'logout'
      \&nbsp; | &nbsp;
      = link_to I18n.t("account_profile"),:controller=>'/content_partner',:action => 'profile'
      \&nbsp; | &nbsp;
      = link_to I18n.t("contact_us_"),:action => 'contact_us', :return_to=>CGI.escape(request.request_uri)
    %h1
      = @page_header
    %hr
  #page-content.clearfix
    #page-content-bgfauxinside
      #full-page-content
        #left-pane
          - in_dashboard_section = @page_header.downcase.include?('dashboard')
          - in_partner_section = @page_header.downcase=='partner information'
          - in_contacts_section = (@page_header.downcase=='contact information' || @page_header.downcase=='add contact' || @page_header.downcase=='edit contact')
          - in_agreements_section = @page_header.downcase.include?('partnering')
          - in_resources_section = @page_header.downcase.include?('resource')
          - in_reports_section = @page_header.downcase.include?('reports')
          %ul#toc.content_partner
            %li
              = link_to I18n.t("dashboard_"),{:controller=>'/content_partner',:action=>'index'},:class=>"#{in_dashboard_section ? 'active' : ''} toc_item"
            %li
              = link_to I18n.t("partner_information_"),{:controller=>'/content_partner',:action=>'partner'},:class=>"#{in_partner_section ? 'active' : ''} toc_item"
            %li
              = link_to I18n.t("contact_information_"),{:controller=>'/content_partner',:action=>'contacts'},:class=>"#{in_contacts_section ? 'active' : ''} toc_item"
            %li
              = link_to I18n.t("partnering_steps"),{:controller=>'/content_partner',:action=>'licensing'},:class=>"#{in_agreements_section ? 'active' : ''} toc_item"
            - if in_agreements_section
              %li
                = link_to I18n.t("licensing_policy"),{:controller=>'/content_partner',:action=>'licensing'}, :class=>"#{(@content_partner.step  == :licensing) ? 'active': ''} nested toc_item"
              %li
                = link_to I18n.t("attribution_guidelines"),{:controller=>'/content_partner',:action=>'attribution'}, :class=>"#{(@content_partner.step  == :attribution) ? 'active': ''} nested toc_item"
              %li
                = link_to I18n.t("roles"),{:controller=>'/content_partner',:action=>'roles'}, :class=>"#{(@content_partner.step  == :roles) ? 'active': ''} nested toc_item"
              %li
                = link_to I18n.t("transfer_schema_overview"),{:controller=>'/content_partner',:action=>'transfer_overview'}, :class=>"#{(@content_partner.step  == :transfer_overview) ? 'active': ''} nested toc_item"
              %li
                = link_to I18n.t("transfer_schema_upload"),{:controller=>'/content_partner',:action=>'transfer_upload'}, :class=>"#{(@content_partner.step  == :transfer_upload) ? 'active': ''} nested toc_item"
            - if agent.ready_for_agreement?
              %li
                = link_to I18n.t("your_agreement"), {:controller=>'/content_partner',:action => "agreement"} ,  {:class=>'toc_item',:target=>"_new"}
              %li
                = link_to I18n.t("manage_resources"), resources_url, :class=>"#{in_resources_section ? 'active' : ''} toc_item"
            %li
              %a{ :href => url_for(:controller=>'/content_partner',:action=>'reports'), :class => "#{in_reports_section ? 'active' : ''} toc_item" }
                =I18n.t("usage_reports_")
              - if controller.is_a? ContentPartner::ReportsController
                %li
                  = link_to I18n.t("monthly_page_statistics"),{:controller=>'/content_partner/reports', :action=>'monthly_page_stats'}, :class=>"#{(@report_type  == :monthly_page_stats) ? 'active': ''} nested toc_item"
                %li
                  = link_to I18n.t("data_object_harvested_statisti"),{:controller=>'/content_partner/reports', :action=>'data_object_stats'}, :class=>"#{(@report_type  == :data_object_stats) ? 'active': ''} nested toc_item"
                %li
                  = link_to I18n.t("curation_and_comments"),{:controller=>'/content_partner/reports', :action=>'whole_report'}, :class=>"#{(@report_type  == :whole_report) ? 'active': ''} nested toc_item"
                %li
                  = link_to I18n.t("curation_activity"),{:controller=>'/content_partner/reports', :action=>'statuses_report'}, :class=>"#{(@report_type  == :statuses_report) ? 'active': ''} nested toc_item"
                %li
                  = link_to I18n.t("comments_on_data_objects"),{:controller=>'/content_partner/reports', :action=>'comments_report'}, :class=>"#{(@report_type  == :comments_report) ? 'active': ''} nested toc_item"
                %li
                  = link_to I18n.t("comments_on_taxa"),{:controller=>'/content_partner/reports', :action=>'taxa_comments_report'}, :class=>"#{(@report_type  == :taxa_comments_report) ? 'active': ''} nested toc_item"

        #right-pane
          #content_partner_edit_area
            - # using content_partner_edit_area for its styles to be consistent
            = yield
          #message_area.message
= render :file => 'layouts/main'
