- content_for :main do
  #page_heading
    .site_column
      .hgroup
        - if @suggested_search.label.blank?
          %h2= t 'curators_suggested_searches.add_a_new_search_suggestion'
        - else
          %h2= t 'curators_suggested_searches.edit_search_suggestion', label: @suggested_search.label
      = render 'shared/flash_messages'
  #content
    .site_column
      .suggested_search
        = yield
= render file: 'layouts/application'

