- @revisions ||= @data_object.revisions_by_date
- @latest_published_revision ||= @data_object.latest_published_version_in_same_language
- content_for :main do
  #page_heading
    .site_column
      .hgroup
        %h1<
          - if @latest_published_revision && @latest_published_revision.id != @data_object.id
            - link = link_to DataObjectCaching.title(@latest_published_revision, current_language), data_object_path(@latest_published_revision)
            - if @latest_published_revision.id > @data_object.id
              = raw(I18n.t(:older_version_of_latest_published_data_object_title_link, :link => link))
            - else
              = raw(I18n.t(:preview_version_of_latest_published_data_object_title_link, :link => link))
          - else
            = raw(@page_title)
        - if @page_description.blank?
          %h2<
            = @data_object.owner.html_safe || "&nbsp;"
        - else
          %p= raw(@page_description)
        = yield :social_sharing
      .page_actions
        %ul
          %li
            = render 'shared/add_to_my_collection', { :item => @data_object, :my_collection => current_user.watch_collection } if @latest_published_revision && @latest_published_revision.id == @data_object.id
          - if ! dato.new_record? && current_user.is_admin? || current_user.min_curator_level?(:master)
            %li= link_to I18n.t(:reindex_data_object_button), reindex_data_object_path(@data_object), :class => 'button'
          - if @data_object.users_data_object && @data_object.users_data_object.user_id == current_user.id && @latest_published_revision
            - if @data_object.data_subtype_id == DataType.link.id
              %li= link_to I18n.t(:dato_edit_link_button), edit_data_object_path(@latest_published_revision, :link => true), :class => 'button'
            - else
              %li= link_to I18n.t(:dato_edit_text_button), edit_data_object_path(@latest_published_revision), :class => 'button'
          - if @add_article
            %li= link_to I18n.t(:add_link_instead), new_taxon_data_object_path(@taxon_concept, :toc => @add_article_toc_id, :link => true), :class => 'button'
          - elsif @add_link
            %li= link_to I18n.t(:add_article_instead), new_taxon_data_object_path(@taxon_concept, :toc => @add_article_toc_id), :class => 'button'
      = render 'shared/flash_messages'
  #content
    .site_column
      = yield
= render :file => 'layouts/application'
