- content_for :head do
  -# TODO = use the dynamic JS- and CSS-loading stuff:
  = javascript_include_tag '_discover.js'
  = javascript_include_tag 'jquery.colorbox-min.js'
  = stylesheet_link_tag 'colorbox.css'
  = stylesheet_link_tag '_discover.css'
- content_for :main do
  - heading_class = (@translated_content && @translated_content.is_discover_page?) ? 'discover_heading' : ''
  #page_heading{ :class => heading_class }
    .site_column
      .hgroup
        = render 'content/breadcrumbs'
        %h1= page_title
        - unless page_description.blank?
          %p= page_description
      = render 'shared/flash_messages'
  = yield
= render :file => 'layouts/application'
