- content_for :head do
  = stylesheet_include_i18n_merged(@additional_stylesheet) if @additional_stylesheet
  = javascript_include_tag @additional_javascript if @additional_javascript
- content_for :content do
  #content
    #page-separator-general
    #page-title
      %h1
        = @page_title || I18n.t(:select_an_item_from_the_menu)
      %hr
    #page-content.clearfix
      #page-content-bgfauxinside
        #page-content.clearfix
          #full-page-content
            #left-pane
              = render(:partial => @navigation_partial)
            #right-pane
              = yield
= render :file => 'layouts/main'
