<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <!-- Google verrify code -->
    <meta name="verify-v1" content="mJIytYT6a+K1y+bCmD1wr1ge+4Q63O0YfTHCYWwkzaY="/>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title><%= page_title = "Encyclopedia of Life"[:encyclopedia_of_life]
               page_title = "#{@taxon_concept.title(@session_hierarchy)} - #{page_title}" if
                 @taxon_concept and not @taxon_concept.title(@session_hierarchy).blank?
               h(strip_tags(page_title)) %></title>
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

    <%- if @taxon_concept -%>
        <meta name="description" content="<%= h strip_tags("#{@taxon_concept.title} (#{@taxon_concept.subtitle}) in Encyclopedia of Life") %>" />
        <meta name="keywords" content="<%=
          meta_keywords(h(strip_tags(@taxon_concept.title + ' ' + @taxon_concept.subtitle))) %>" />
        <%- if !@taxon_concept.entry.nil? && !@taxon_concept.entry.hierarchies_content.nil? && (@taxon_concept.entry.hierarchies_content.image != 0 || @taxon_concept.entry.hierarchies_content.child_image != 0) -%>
          <link id="media_rss" rel="alternate" href="/content/mediarss?format=rss&id=<%= @taxon_concept.id %>" type="application/rss+xml" />
        <%- end -%>
    <%- else -%>
        <meta name="description" content="Encyclopedia of Life" />
        <meta name="keywords" content="Encyclopedia of Life,Biodiversity,Biology,Bioinformatics" />
    <%- end -%>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="Encyclopedia of Life" href="/opensearch.xml"/>
    <%= auto_discovery_link_tag(:rss, {:controller=>'content',:action=>'news',:format=>'rss'}, {:title => "EOL News RSS"}) if controller.class == ContentController %>

    <%= stylesheet_link_merged 'base-cached' %>
    <%= eol_lang_main_stylesheet 'buttons', :media => "all" %>
    <%= stylesheet_link_tag 'star_rating' %>

    <%= javascript_include_merged 'jquery-cached' %>
    <script language="javascript" type="text/javascript">var $j = jQuery.noConflict();</script>

    <%= javascript_include_merged 'prototype-cached' %>
    <%= javascript_include_merged 'base-cached' %>

    <%# TODO - LOW PRI - Move this into a content_for :head block -%>
    <%= javascript_include_tag 'swfobject' %>

    <script language="javascript" type="text/javascript">
      EOL.USE_EXTERNAL_LINK_POPUPS = <%=$USE_EXTERNAL_LINK_POPUPS%>;
    </script>
    
    <script language="javascript" type="text/javascript">
      EOL.Curation.UNKNOWN_ID   = <%=Vetted.unknown.id.to_s%>;
      EOL.Curation.TRUSTED_ID   = <%=Vetted.trusted.id.to_s%>;
      EOL.Curation.UNTRUSTED_ID = <%=Vetted.untrusted.id.to_s%>;
    
      EOL.Curation.VISIBLE_ID       = <%=Visibility.visible.id.to_s%>;
      EOL.Curation.INVISIBLE_ID     = <%=Visibility.invisible.id.to_s%>;
      EOL.Curation.INAPPROPRIATE_ID = <%=Visibility.inappropriate.id.to_s%>;
    </script>

	<%#= javascript_include_tag 'http://s9.addthis.com/js/widget.php?v=10' %>

    <!--[if lt IE 7]>
        <style type="text/css" media="screen">
            body { behavior: url(/javascripts/csshover.htc); }
        </style>
    <![endif]-->

    <%= yield :head %>

</head>
<body id="<%=h controller.controller_name %>-page">
    <ul class="hide">
        <li><a href="#global-navigation" title="<%= "Skip to navigation"[] %>"><%= "Skip to navigation"[] %></a></li>
        <li><a href="#toc" title="<%= "Skip to table of contents"[] %>"><%= "Skip to table of contents"[] %></a></li>
        <li><a href="#center-page-content" title="<%= "Skip to content"[] %>"><%= "Skip to content"[] %></a></li>
    </ul>
    <hr />

    <!-- Page Container -->
    <div id="container">
        <!-- header -->
        <div id="header">
            <!-- logo -->
            <h1><a href="<%=root_url%>" title="<%= "Encyclopedia of Life"[:encyclopedia_of_life] %>"><span></span></a></h1>

            <hr />
            <!-- /logo -->


            <% cache(:controller=>'/content', :part=>'top_nav_' + current_user.language_abbr) do %>                
            <!-- global navigation -->
            <p class="hide"><%= "Global Navigation"[] %></p>
            <ul id="global-navigation">
                <li>
                    <a href="<%=root_url%>" title="<%= "Home"[] %>"><%= "Home"[] %></a>
                 </li>
                <li>
                  <%= link_to('Preferences'[], settings_url, {:alt => 'Preferences'[], :class => 'return_to'}) %>
                </li>
                <li>
                    <a title="<%= "Language"[] %>: <%= Gibberish.current_language %>" class="dropdown"><%= "Language"[] %>: <%= Gibberish.current_language %></a>
                    <ul class="uppercase">
                    	<% Language.find_active.each do |language| %>
                      <li><%= link_to("#{language.name} <em>(#{language.display_code})</em>",
                                      set_language_url(:language => language.iso_639_1),
                                      :class => 'return_to', :alt => language.name) %></li>
                    	<% end %>
                      <li><%= link_to 'Google Translate', {:controller => 'content', :action => 'translate'},
                                                          {:class => 'return_to', :alt=>'Google Translate'} %></li>
					          </ul>
                </li>
                <li>
                    <a class="dropdown" id="feedback" title="<%="Feedback"[]%>"><%="Feedback"[]%></a>
                    <ul class="uppercase">
                        <%= render :partial=>'layouts/top_menu', :locals=>{:menu_items=>ContentSection.find_pages_by_section('Feedback')}%>
                        <% if $SHOW_SURVEYS %>
                            <li><%= link_to "Survey"[], $SURVEY_URL, :target=>'blank', :title=>"Survey"[] %></li>
                        <% end %>
                    </ul>
                </li>
                <li>
                    <a class="dropdown" id="press_room" title="<%="Press Room"[]%>"><%="Press Room"[]%></a>
                    <ul class="uppercase">
                        <%= render :partial=>'layouts/top_menu', :locals=>{:menu_items=>ContentSection.find_pages_by_section('Press Room')}%>
                    </ul>
                </li>
                <li>
                    <a class="dropdown" id="using_the_site" title="<%="Using The Site"[]%>"><%="Using The Site"[]%></a>
                    <ul class="uppercase">
                        <%= render :partial=>'layouts/top_menu', :locals=>{:menu_items=>ContentSection.find_pages_by_section('Using the Site')}%>
                    </ul>
                </li>
                <li class="last">
                    <a title="<%= "About EOL"[] %>" id="about_eol" class="last dropdown"><%="About EOL"[]%></a>
                    <ul class="uppercase">
                        <%= render :partial=>'layouts/top_menu', :locals=>{:menu_items=>ContentSection.find_pages_by_section('About EOL')}%>
                    </ul>
                </li>
            </ul>
            <hr />
            <!-- /global navigation -->
            <% end %>

                  <div style="display:none;" class="ajax-indicator" id="ajax-indicator"><%=image_tag('indicator_arrows_black.gif', :alt => 'loading', :title => 'loading')%></div>

            <!-- personal space -->
            <p class="hide"><%= "Personal Space"[] %></p>
            <div id="personal-space">


		<% if @home_page %>
			<span class="quote">"Imagine an electronic page for each species of organism on Earth..."</span> - Edward O. Wilson
		<% end %>

              <% if logged_in? && $ALLOW_USER_LOGINS && !agent_logged_in?-%>
                <div class="desc-personal">
                    <p><strong><%= "Hello {user}"[:hello_user, current_user.given_name] %></strong>
                    <%= @home_page.nil? ? "</p><p>" : " | " %>
					          <%=link_to("admin"[],{:controller=>'/admin',:action=>'index'}) + " | " if current_user.is_admin? %>
                    <% if current_user.is_curator? %>
                      <%=link_to("curators",
                                {:controller => '/content', :action => 'page', :id => 'curator_central'}) %> |
                    <% end %>
                    <%=link_to("your preferences"[:your_preferences],
                               {:controller => '/account', :action => 'profile'},
                               {:class => 'return_to'})%> |
					          <%=link_to("logout"[:logout],logout_url)%></p>
                </div>
              <% elsif $ALLOW_USER_LOGINS && !agent_logged_in?-%>
                <p><%= link_to("login"[:login], {:controller=>'account', :action=>'login'}, {:class => 'return_to'})%> |
                   <%= link_to("create an account"[:create_account], {:controller => 'account', :action => 'signup'},
                                                                     {:class => 'return_to'})%></p>
              <% elsif $ALLOW_USER_LOGINS == false && @home_page.nil? %>
                	<p><%= "We apologize, but the user registration system is not currently available.  Please try again later."[:user_system_down]%></p>
              <% elsif agent_logged_in? %>
              <div class="desc-personal">
                  <p><strong><%= "Hello {user}"[:hello_user, current_agent.full_name] %></strong>
                    <%= @home_page.nil? ? "</p><p>" : " | " %>
					          <%=link_to("dashboard"[],:controller=>'/content_partner',:action => 'index')%> |
					          <%=link_to("logout"[:logout],:controller=>'/content_partner',:action => 'logout')%></p>
              </div>
              <% end -%>
              <hr />

           </div>
           <!-- /personal space -->

            <!-- search -->
            <div id="quick-search">
                <script language="javascript" type="text/javascript">
                  // <![CDATA[
                    EOL.Search.validate_parameters = function(form,advanced_search) {
                      if (form.q.value.length < 3 || form.q.value == "<%=escape_javascript("Name of organism"[])%>") {
                        error_message='<%= "Term must have at least 3 characters."[:searching_error]%>';
                        $('search_message').update(error_message);
                        if (advanced_search == true) {
                          $('advanced_search_message').update(error_message);
                        }
                        return false;
                      } else {
                        Element.hide('search_image');
                        if (advanced_search == true) {
                          $('advanced_search_message').update('<%="Searching..."[:searching]%>');
                        } else {
                          $('search_message').update('<%="Searching..."[:searching]%>');
                        }
                        if(!advanced_search) {
                          EOL.Search.show_top_spinner();
                        } else {
                          Element.show('ajax-indicator');
                        }
                        return true;
                      }
                    }

                    EOL.Search.clear_field = function(form_field) {
                      if (form_field.value != '') {
                        form_field.value='';
                      }
                    }
                  // ]]>
                </script>

                <% form_tag(search_url, :method=>'get', :onsubmit=>"return EOL.Search.validate_parameters(this,false);") do -%>
                  <div class="search_box">
                    <fieldset>
                      <%= text_field_tag :q,@search_string || '',{:size=>'20',:maxlength=>'250',:onfocus=>"EOL.Search.clear_field(this);",:class=>"left"} %>
                      &nbsp;<input name="search_image" id="search_image" value="" title="<%="Find"[]%>" type="submit"  />
                      <%=image_tag('indicator_arrows_black.gif', :style => 'display:none;', :id => 'top_search_spinner')%>
                    </fieldset>
                  </div>
                  <div class="search_options">
                    <%= render :partial=>'shared/google_custom_search_params'%>
                    <%= radio_button_tag('search_type','text',true) %> Names
                    <%= radio_button_tag('search_type','tag',false) %> Tags
                    <%= radio_button_tag('search_type','google',false) %> Full-text
                  </div>
                  <span id="search_message"></span>
                <% end %>
                <hr />

            </div>
            <!-- /search -->

                  <div class="page-mode"><%="Showing"[]%> <%= case current_user.vetted
                      when true: "authoritative information"[]
                      when false: "all information"[]
                  end %>
                </div>


        </div>
        <!-- /header -->

        <%# a div to wrap *just* the rendered template, so it's easy to update the whole template via Ajax calls, if needed %>
        <div id="content">
          <%= yield %>
        </div><!-- end of content -->

        <div id="footer">
            <!-- ADDTHIS BUTTON BEGIN -->
            <script language="javascript" type="text/javascript">
            addthis_pub = 'YOUR-ACCOUNT-ID';
            </script><a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-bookmark-en.gif" width="125" height="16" border="0" alt="Bookmark" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
            <!-- ADDTHIS BUTTON END -->
            &nbsp; | &nbsp;
            <%= render :partial=>'layouts/footer_menu', :locals=>{:menu_items=>ContentSection.find_pages_by_section('Footer')}%>
            <%=ENV['APP_VERSION'] unless ENV['APP_VERSION'].blank?%>
        </div>

    </div> <!-- container -->

    <div id="progress-open" style="display: none;"></div>

    <!-- Flash Notices -->
    <% if flash[:notice] %>
    <div id="progress-bar">
        <div id="flash-good" style="display: block">
            <%= flash[:notice] %>
            <script language="javascript" type="text/javascript">
            // <![CDATA[
            new EOL.Effect.appear('progress-open', {duration: 0.5, from: 0.0, to: 0.50});
         //   new Effect.Pulsate('flash-good', {pulses: 2});
            new EOL.Effect.disappear('flash-good', {delay: 2, queue: 'end'});
            new EOL.Effect.disappear('progress-open', { delay: 2, duration: 0.5, from: 0.50, to: 0.0});
            // ]]>
            </script>
        </div>
    </div>
    <% elsif flash[:warning] %>
    <div id="progress-bar">
        <div id="flash-warning" style="display: block">
            <%= flash[:warning] %>
            <script language="javascript" type="text/javascript">
            // <![CDATA[
            new EOL.Effect.appear('progress-open', {duration: 0.5, from: 0.0, to: 0.50});
      //      new Effect.Pulsate('flash-warning', {pulses: 2});
            new EOL.Effect.disappear('flash-warning', {delay: 2, queue: 'end'});
            new EOL.Effect.disappear('progress-open', { delay: 2, duration: 0.5, from: 0.50, to: 0.0});
            // ]]>
            </script>
        </div>
    </div>
    <% elsif flash[:error] %>
    <div id="progress-bar">
        <div id="flash-error" style="display: block">
            <%= flash[:error] %>
            <script language="javascript" type="text/javascript">
            // <![CDATA[
            new EOL.Effect.appear('progress-open', {duration: 0.5, from: 0.0, to: 0.50});
     //       new Effect.Pulsate('flash-error', {pulses: 2});
            new EOL.Effect.disappear('flash-error', {delay: 2, queue: 'end'});
            new EOL.Effect.disappear('progress-open', { delay: 2, duration: 0.5, from: 0.50, to: 0.0});
            // ]]>
            </script>
        </div>
    </div>
    <% end -%>

   <% if @display_survey %>
    <div id="progress-bar">
        <div id="flash-survey" class="pop-up-panel" style="display:none;">
        <%= render :partial=> 'popups/survey'%>
            <script language="javascript" type="text/javascript">
            // <![CDATA[
              womAdd('setTimeout("Element.show(\'flash-survey\');new EOL.Effect.appear(\'progress-open\', {duration: 0.5, from: 0.0, to: 0.50})","5000");');
            // ]]>
            </script>
        </div>
    </div>
    <% end %>

<% if $ENABLE_ANALYTICS %>

  <script language="javascript" type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script language="javascript" type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("<%=$GOOGLE_ANALYTICS_ID%>");
  pageTracker._trackPageview();
  } catch(err) {}</script>

<% end %>

</body>
</html>
