!!! XML
!!! 5
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  - # TODO: Should language be a variable? What happens when the content is not in English?
  %head
    %title
      - # Accessibility tip: Page titles should be unique and meaningful to the page and include the site name.
      - # Home page title can just be the site name.
      - page_title = "Encyclopedia of Life"[:encyclopedia_of_life]
      - if @page_title
        - page_title.insert(0, "#{@page_title} - ")
      - elsif (@taxon_concept and not @taxon_concept.title(@session_hierarchy).blank?)
        - page_title.insert(0, "#{@taxon_concept.title(@session_hierarchy)} - #{page_title} - ")
      &= strip_tags(page_title)

    %meta{ :name => "verify-v1", :content => "mJIytYT6a+K1y+bCmD1wr1ge+4Q63O0YfTHCYWwkzaY=" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :content => "en-us", "http-equiv" => "Content-Language" }
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }

    - if @taxon_concept
      %meta{ :name => "description", :content => h(strip_tags("#{@taxon_concept.title} (#{@taxon_concept.subtitle}) in Encyclopedia of Life")) }
      %meta{ :name => "keywords", :content => meta_keywords(h(strip_tags(@taxon_concept.title + ' ' + @taxon_concept.subtitle))) }

      - if @taxon_concept.has_feed?
        %link#content_rss{ :title => 'Latest Content', :href => url_for(:controller => :feeds, :action => :all, :id => @taxon_concept.id), :rel => "alternate", :type => "application/rss+xml"}
      - if (@taxon_concept.entry && @taxon_concept.entry.hierarchies_content && (@taxon_concept.entry.hierarchies_content.image != 0 || @taxon_concept.entry.hierarchies_content.child_image != 0))
        %link#media_rss{ :title => 'MediaRSS Feed', :href => "/content/mediarss/#{@taxon_concept.id}", :rel => "alternate", :type => "application/rss+xml" }
      - else
        %meta{ :name => "description", :content => "Encyclopedia of Life" }
        %meta{ :name => "keywords", :content => "Encyclopedia of Life,Biodiversity,Biology,Bioinformatics" }

    - if @no_cache
      %meta{ :content => "NO-CACHE", "http-equiv" => "CACHE-CONTROL" }
      %meta{ :content => "NO-CACHE", "http-equiv" => "PRAGMA" }

    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %link{ :href => "/opensearchdescription.xml", :title => "Encyclopedia of Life", :rel => "search", :type => "application/opensearchdescription+xml" }

    = yield :head

  %body{ :class => "#{h controller.controller_name} #{h controller.action_name}" }
    %div#page
      %div#controls
        %ul
          %li
            %a{ :href => '#content_target' }
              = 'Skip to content'[]
          %li#language{ :title => "Choose which language you would like to view the site in, the currently selected language is #{Gibberish.current_language}" }
            = 'Language'[]
            \:
            = Gibberish.current_language
            %ul
              - Language.find_active.each do |language|
                %li
                  = link_to "#{language.source_form} <em>(#{language.display_code})</em>", set_language_url(:language => language.iso_639_1), :title => "Switch the site language to #{language.display_code}"
              %li
                = link_to 'Google Translate', {:controller => '/content', :action => 'translate'}, {:title => 'Use Google Translate widget to transform the site content into another language'}

      %header#banner{ :role => 'banner'}
        %h1
          %a{ :href => root_url, :title => 'The Encyclopedia of Life (EOL) Web site home page'[] }
            = 'Encyclopedia of Life'[:encyclopedia_of_life]
        %p#tagline
          %q= 'Imagine an electronic page for each species of organism on Earth...'
          \- Edward O. Wilson

      - cache(:controller => '/content', :part => 'secondary_navigation_' + current_user.language_abbr) do
        %nav#secondary_navigation{ :role => 'navigation' }
          %h2= 'Global navigation'[]
          %ul
            %li#about
              = "What is EOL?"[]
              %ul
                = render :partial => 'layouts/menu_item', :locals => { :menu_items => ContentSection.find_pages_by_section('About EOL') }
            %li#press_room
              = 'Press Room'[]
              %ul
                = render :partial => 'layouts/menu_item', :locals => { :menu_items => ContentSection.find_pages_by_section('Press Room') }
            %li#donate
              = link_to 'Donate'[], { :controller => '/content', :action => 'donate' }

      %div#search
        = render :partial => "/layouts/search"

      %div#personal_toolbar
        %h2= 'Personal toolbar'[]
        - if logged_in? && $ALLOW_USER_LOGINS && !agent_logged_in?
          %p
            = "Logged in as #{ current_user.given_name }"
          %ul
            %li= link_to 'Profile'[], { :controller => '/account', :action => 'profile', :data => { :user_id => current_user.id} }
            - if current_user.is_admin?
              %li= link_to 'Administration'[], { :controller => '/admin', :action => 'index' }
            - if current_user.is_curator?
              %li= link_to 'Curation'[], { :controller => '/content', :action => 'page' }
            %li= link_to 'Sign out'[], logout_url
        - elsif $ALLOW_USER_LOGINS && !agent_logged_in?
          %ul
            %li
              = link_to 'Login'[:login], { :controller => '/account', :action => 'login' }
            %li
              = link_to 'Create account'[:create_account], { :controller => '/account', :action => 'signup' }
        - elsif $ALLOW_USER_LOGINS == false && @home_page.nil?
          %p
            = 'We apologize, but the user registration system is not currently available. Please try again later.'[:user_system_down]
        - elsif agent_logged_in?
          %p
            = "Logged in as #{current_agent.full_name}"
          %ul
            %li
              = link_to 'Dashboard'[], { :controller => '/content_partner', :action => 'index' }
            %li
              = link_to 'Sign out'[], { :controller => '/content_partner', :action => 'logout' }

    %section#content
      %a#content_target
      %div#messages
        - if flash[:notice]
          %div.notice
            = flash[:notice]
        - if flash[:warning]
          %div.warning
            = flash[:warning]
        - if flash[:error]
          %div.error
            = flash[:error]

      = yield(:content) or yield

    %footer#footer
      %h2= 'Further information'[]
      %nav#tertiary_navigation
        %ul
          %li#feedback
            = 'Feedback'[]
            %ul
              = render :partial => 'layouts/menu_item', :locals => { :menu_items => ContentSection.find_pages_by_section('Feedback') }
          %li#help
            = "Using The Site"[]
            %ul
              = render :partial => 'layouts/menu_item', :locals => { :menu_items => ContentSection.find_pages_by_section('Using the Site') }

          = render :partial => 'layouts/footer_menu', :locals => { :menu_items => ContentSection.find_pages_by_section('Footer') }

      = ENV['APP_VERSION'] unless ENV['APP_VERSION'].blank?

  - if $ENABLE_ANALYTICS || true
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try { var pageTracker = _gat._getTracker("#{$GOOGLE_ANALYTICS_ID}"); pageTracker._trackPageview(); } catch(err) {}
