- content_for :head do
  - if @taxon_concept
    - if @taxon_concept.has_feed?
      %link#content_rss{ :title => I18n.t("latest_content"), :href => url_for(:controller => :feeds, :action => :all, :id => @taxon_concept.id), :rel => "alternate", :type => "application/rss+xml"}
    - if (@taxon_concept.entry && @taxon_concept.entry.hierarchies_content && (@taxon_concept.entry.hierarchies_content.image != 0 || @taxon_concept.entry.hierarchies_content.child_image != 0))
      %link#media_rss{ :title => I18n.t("mediarss_feed"), :href => "/content/mediarss/#{@taxon_concept.id}", :rel => "alternate", :type => "application/rss+xml" }

- content_for :content do
  .article{ :role => article }
    -# would probably need a css class indicating vetted status here (trusted, untrusted, not vetted)
    #content_header_container
      %h1
        -# if we want to indicate vetted status here then for accessibility we will need
        -# a translatable vetted status (trusted, untrusted, not vetted) that is accessible
        -# to assistive technologies e.g. as part of h1 value or perhaps in a title attribute
        = hh(@taxon_concept.title(@session_hierarchy))
      %h2
        = hh(@taxon_concept.subtitle(@session_hierarchy))
        - if current_user.can_curate?(@taxon_concept)
          %span#curate_common_names
            = link_to I18n.t(:viewedit_common_name)

    #content_navigation_container
      %ul#content_navigation

        @content_navigation_items.each do |item|
          - is_active = item.active?(params)
          %li{ :role => is_active, :class => is_active }= link_to I18n.t(item.translatable_string, item.url(@taxon_page))
          -# %li= link_to I18n.t(:overview), '/placeholder_link'
          -# %li= link_to I18n.t(:topics, :count => @topics_count), '/placeholder_link'
          -# %li= link_to I18n.t(:media, :count => @media_count), '/placeholder_link'
          -# %li= link_to I18n.t(:maps, :count => @maps_count), '/placeholder_link'
          -# %li= link_to I18n.t(:activity, :count => @activities_count), '/placeholder_link'
          -# %li= link_to I18n.t(:classifications, :count => @classifications_count), '/placeholder_link'
          -# %li= link_to I18n.t(:communities, :count => @communities_count), '/placeholder_link'
          -# %li= link_to I18n.t(:collections, :count => @collections_count), '/placeholder_link'
          -# %li= link_to I18n.t(:tools), '/placeholder_link'

        = yield


= render :file => 'layouts/main'
