- content_for :main do
  = render 'taxa/classification_selector' if @taxon_page.classification_filter?
  #page_heading.with_nav
    .site_column
      .hgroup
        %h1.scientific_name
          = @scientific_name.html_safe
          - unless @assistive_section_header.blank?
            %span.assistive= " &mdash; #{@assistive_section_header}"
        - unless @preferred_common_name.blank?
          %h2{:title => I18n.t(:preferred_common_name_advisory_information)}
            = raw @preferred_common_name
            %small= link_to I18n.t(:learn_more_about_names_for_this_taxon),
              taxon_names_path(@taxon_page)
        - else
          .copy
            %p= link_to I18n.t(:learn_more_about_names_for_this_taxon),
              taxon_names_path(@taxon_page)
        = yield :social_sharing
      .page_actions
        %ul
          %li
            = render 'shared/add_to_my_collection', { :item => @taxon_concept, :my_collection => current_user.watch_collection }
          - if @taxon_page.can_be_reindexed?
            %li= link_to(I18n.t(:reindex_page_button), taxon_reindexing_url(@taxon_page), :method => :post, :class => "button reindex")
          - if @show_add_link_buttons
            %li
              = link_to I18n.t(:add_link_to_page_button), new_taxon_data_object_path(@taxon_page, :link => true), :class => 'button link_button'
              = link_to I18n.t(:add_article_to_page_button), new_taxon_data_object_path(@taxon_page, :toc => @add_article_toc_id), :class => 'button'
          / - if @taxon_data && @taxon_data.downloadable?
          /   %li
          /     = link_to I18n.t(:download_data), taxon_overview_path(@taxon_page), :class => 'button', :onclick => 'return false'
      = render 'shared/flash_messages'

      - if @taxon_page.classification_filter?
        %p#citation.status
          = raw(hierarchy_entry_display_attribution(@taxon_page.hierarchy_entry, :show_rank_first => true))
          &emsp;&bull;&emsp;
          = link_to I18n.t(:show_data_from_all_content_partners), taxon_overview_path(@taxon_concept)

      %ul.nav
        %li{:class => resource_is_active('overview')}= link_to raw(I18n.t(:overview)),
          taxon_overview_path(@taxon_page)
        %li{:class => resource_is_active('details')}= link_to raw(I18n.t(:detail)), taxon_details_path(@taxon_page)
        - if EolConfig.data?
          %li{:class => resource_is_active('data')}= link_to raw(I18n.t(:data)), taxon_data_path(@taxon_page)
        %li{:class => resource_is_active('media')}= link_to raw(I18n.t(:media_with_count,
          :count => @taxon_page.media_count)), taxon_media_path(@taxon_page)
        %li{:class => resource_is_active('maps')}= link_to raw(I18n.t(:maps_with_count,
          :count => @taxon_page.maps_count)), taxon_maps_path(@taxon_page)
        %li{:class => resource_is_active('names')}= link_to raw(I18n.t(:names)), taxon_names_path(@taxon_page)
        %li{:class => resource_is_active('communities')}= link_to raw(I18n.t(:community)),
          taxon_communities_path(@taxon_page)
        %li{:class => resource_is_active('resources')}= link_to raw(I18n.t(:resources)),
          taxon_resources_path(@taxon_page)
        %li{:class => resource_is_active('literature')}= link_to raw(I18n.t(:literature)),
          taxon_literature_path(@taxon_page)
        %li{:class => resource_is_active('updates')}= link_to raw(I18n.t(:updates)), taxon_updates_path(@taxon_page)
        %li{:class => resource_is_active('worklist')}= link_to raw(I18n.t(:worklist)),
          taxon_worklist_path(@taxon_page) if current_user.is_curator?

  #content
    .site_column
      = yield
      .disclaimer.copy
        %h3.assistive= I18n.t(:taxon_page_content_disclaimer_header)
        %p= I18n.t(:taxon_page_content_disclaimer)
        %p= I18n.t(:taxon_page_content_disclaimer_suggest_improvement)
= render :file => 'layouts/application'
