- content_for :main do
  #page_heading.with_image
    .site_column
      - if @user && @user.id
        - # user#show or user#edit
        = image_tag @user.logo_url, :alt => ""
        .hgroup
          %h1= h @user.full_name
          - unless @user.tag_line.blank?
            %h2= h @user.tag_line
          = yield :social_sharing
        - unless action_name == 'edit'
          .page_actions
            %ul
              %li= render 'shared/add_to_my_collection', { :item => @user }
              - if @user.id == current_user.id
                %li= link_to I18n.t(:edit_my_profile), edit_user_path(@user), :class => "button" 
              - if logged_in? && @user.id != current_user.id
                %li= link_to I18n.t(:make_an_editor), choose_editor_target_collections_path(:user_id => @user.id), :class => "button collect" 
              - if logged_in? && current_user.is_admin? && @user.is_active? && @user.id != current_user.id
                %li= link_to I18n.t(:deactivate), {:controller=>'administrator/user', :action=>'deactivate'}, :class => "button", :data => { :confirm => I18n.t(:confirm_deactivate_user) }
              - if current_user.is_admin?
                %li= link_to I18n.t(:reindex_users_button), reindex_user_path(@user), :class => "button"
                %li= link_to I18n.t(:scrub_user_button) , scrub_user_path(@user), confirm: I18n.t(:scrub_user_warning), :class => "button"
      = render 'shared/flash_messages'
  #content
    .site_column
      - if @user && @user.id && (['show', 'index', 'comments', 'activity'].include?(action_name))
        #tabs_sidebar
          %ul.tabs
            %li.newsfeed{:class => resource_is_active('newsfeeds')}= link_to I18n.t(:profile_newsfeed), user_newsfeed_path(@user)
            %li{:class => resource_is_active('userscontroller')}= link_to I18n.t(:my_info), user_path(@user)
            %li{:class => resource_is_active('activities')}= link_to I18n.t(:my_activity), user_activity_path(@user)
            -# The +1 here is to account for the watchlist, which isn't listed in #published_collections:
            %li{:class => resource_is_active('collections')}= link_to I18n.t(:collections_with_count, :count => @user.published_collections(current_user).count + 1), user_collections_path(@user)
            %li{:class => resource_is_active('communities')}= link_to I18n.t(:communities_with_count, :count => @user.communities.published.count), user_communities_path(@user)
            %li{:class => resource_is_active('content_partners')}= link_to I18n.t(:content_partners_with_count, :count => @user.content_partners.count), user_content_partners_path(@user)
            - if current_user.can_update?(@user)
              %li{:class => resource_is_active('data_downloads')}= link_to I18n.t(:data_search_files_with_count, :count => @user.data_search_files.count+@user.collection_download_files.count), user_data_downloads_path(@user)
      = yield

= render :file => 'layouts/application'
