= will_paginate(@members)
- if @managers.count < 1 && @nonmanagers.count < 1
  %p= I18n.t(:community_empty_notice) # NOTE you really shouldn't get here... empty communities should be barred.
- if @managers.count > 0
  .article.list
    .heading
      %h3= I18n.t(:community_managers_with_count, :count => @managers.count)
    %ul
      - @members.select {|m| m.manager? }.each do |manager|
        - revoke = @current_member && @current_member.manager? && manager.user.id != current_user.id
        = render 'members/member_summary', {:member => manager, :revoke => revoke}
- if @nonmanagers.count > 0
  .article.list
    .heading
      %h3= I18n.t(:community_members_with_count, :count => @nonmanagers.count)
    - if @members.blank?
      %p= I18n.t(:there_are_currently_no_members_in_this_community)
    - else
    %ul
      - @members.select {|m| !m.manager? }.each do |member|
        - grant = @current_member && @current_member.manager? && member.user.id != current_user.id
        = render 'members/member_summary', {:member => member, :grant => grant}
