- # FIXME: Community managers?
.article.list
  .heading
    %h2= I18n.t(:community_managers_with_count, :count => 999999)
  %ul
    - # FIXME: Faked need to get actual managers
    - @community.managers.each do |manager|
      = render :partial => 'members/member_summary.html.haml', :locals => {:member => manager}
.article.list
  .heading
    %h2= I18n.t(:community_members_with_count, :count => 999999)
  - # TODO: Should the community be removed if the last member leaves?
  - if @members.blank?
    %p= I18n.t(:there_are_currently_no_members_in_this_community)
  - else
  %ul
    =# TODO: will_paginate @members
    - @members.each do |member|
      = render :partial => 'members/member_summary.html.haml', :locals => {:member => member}
      - # FIXME - membership management ?
      - if @current_member && @current_member.can_edit_members? && ! member.user.id == current_user.id
        = link_to I18n.t(:edit_membership), community_member_path(@community, member)
      - if @current_member && @current_member.can?(Privilege.remove_members) && ! member.user.id == current_user.id
        = link_to I18n.t(:remove_membership), [@community, member], :method => :delete, :confirm => I18n.t(:are_you_sure)
