=# will_paginate @members # TODO - since this is in a partial, we may want to make this Ajaxy.
%h3= "Community members:"[]
%p{:id => 'left_message', :class => 'notice hidden'}= "You have left this community"[]
%p{:id => 'joined_message', :class => 'notice hidden'}= "You have joined this community"[]
%p{:id => 'community_problem', :class => 'notice hidden'}= "Sorry, there was an error."[]
%ul{:id => 'community_members'}
  - @members.each do |member|
    - this_is_me = (member.user_id == current_user.id)
    %li{:class => this_is_me ? member_function : nil}
      = link_to member.user.username, member.user
      = member.roles.map {|r| r.title}.sort.join(', ')
      - if this_is_me
        = "(you)"[]
      - else # NOTE THE ELSE!!!!  You *cannot* edit yourself.
        - if @current_member && @current_member.can_edit_members?
          = link_to("Edit membership"[], edit_community_member_path(@community, member))
        - if @current_member && @current_member.can?(Privilege.remove_members)
          = link_to("Remove membership"[], [@community, member], :method => :delete, :confirm => 'Are you sure?'[])
  - if logged_in? && ! current_user.member_of?(@community)
    %li{:class => member_function}
      = link_to(current_user.username, current_user)
      = "(you)"[]
