#sidebar
  .collection_list
    %h3= I18n.t(:community_focus)
    - if @community.focus.nil?
      .empty
        %p= I18n.t(:this_community_has_no_focus_list)
    - else
      %ul
        = render :partial => 'collections/collection_summary', :locals => {:collection => @community.focus, :minimal => true}
  .collection_list
    %h3= I18n.t(:endorsed_collections)
    - if @community_collections.empty?
      .empty
        %p= I18n.t(:this_community_has_no_endorsed_collections)
    - else
      - if @community_collections.count > 4
        = link_to I18n.t(:see_all), community_collections_path(@community)
      %ul
        - @community_collections[0..3].each do |ci|
          = render :partial => 'collections/collection_summary', :locals => {:collection => ci.object, :minimal => true}
#community.main_container
  = render :partial => 'index'
