- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#sidebar
  .collection_list
    %h3= I18n.t(:community_focus)
    - if @community.collections.blank?
      .empty
        %p= I18n.t(:this_community_has_no_focus_list)
    - else
      %ul
        - @community.collections.each do |focus|
          = render :partial => 'collections/collection_summary', :locals => {:collection => focus, :minimal => true}
  .collection_list
    %h3= I18n.t(:endorsed_collections)
    - if @community_collections.blank?
      .empty
        %p= I18n.t(:this_community_has_no_endorsed_collections)
    - else
      - if @community_collections.count > 4
        .copy
          %p= link_to I18n.t(:see_all_featured_collections_with_count, :count => @community_collections.count), community_collections_path(@community)
      %ul
        - @community_collections[0..3].each do |ci|
          = render :partial => 'collections/collection_summary', :locals => {:collection => ci.collected_item, :minimal => true}
#community.main_container
  = render :partial => 'index'
