- current_member_is_an_admin = @current_member && @current_member.can?(Privilege.grant_level_20_privileges)
%h1
  = "#{ link_to @member.user.username, @member.user } #{I18n.t(:member_of)} #{ link_to(h(@community.name), @community) } "
.roles
  %h2= I18n.t(:roles) 
  %ul#roles
    - @member.roles.sort_by {|r| r.title }.each do |role|
      %li{:id => "role_#{role.id}"}
        = role.title
        - if current_member_is_an_admin
          = link_to( I18n.t(:remove) , remove_role_from_member_path(@member, :member => { :removed_role_id => role.id }, :community_id => @community.id), :method => :delete, :confirm => I18n.t(:are_you_sure) )
  .add
    - if current_member_is_an_admin
      - roles = (@community.roles - @member.roles).sort_by {|r| r.title }
      - if roles.blank?
        %p= I18n.t(:this_member_has_all_of_the_roles_available_in_this_community) 
      - else
        - form_tag(add_role_to_member_path(@member)) do
          %h3= I18n.t(:assign_additional_roles_to_this_member) 
          = hidden_field_tag :community_id, @community.id
          = collection_select(:member, :new_role_id, roles, :id, :title, :prompt => true)
          = submit_tag( I18n.t(:add_role) )
.privileges
  %h2= I18n.t(:special_privileges) 
  %p=  I18n.t(:explain_member_privileges) 
  - listed_privileges = []
  - if @member.member_privileges.blank?
    %p= I18n.t(:this_member_has_no_special_privileges) 
  - else
    %ul#privileges
      - @member.member_privileges.sort_by {|mp| mp.privilege.name }.each do |member_privilege|
        - privilege = member_privilege.privilege
        - listed_privileges << privilege
        %li{:id => "privilege_#{privilege.id}"}
          = privilege.name
          - if member_privilege.revoked?
            = I18n.t(:revoked) 
            - if current_member_is_an_admin
              = link_to( I18n.t(:remove) , grant_privilege_to_member_path(@member, :community_id => @community.id, :member => { :new_privilege_id => privilege.id}), :method => :post, :confirm => I18n.t(:are_you_sure) )
          - else
            - if current_member_is_an_admin
              = link_to( I18n.t(:remove) , revoke_privilege_from_member_path(@member, :community_id => @community.id, :member => { :removed_privilege_id => privilege.id}), :method => :delete, :confirm => I18n.t(:are_you_sure) )
  .add
    - if current_member_is_an_admin
      - if listed_privileges.blank?
        -# TODO: Is this right?
        %p= I18n.t(:this_member_has_all_of_the_privileges_in_this_community_as_special_privileges) 
      - else
        - form_tag(grant_privilege_to_member_path(@member)) do
          = hidden_field_tag :community_id, @community.id
          = collection_select(:member, :new_privilege_id, @privileges - listed_privileges, :id, :name, :prompt => true)
          = submit_tag( I18n.t(:grant_privilege) )
        - form_tag(revoke_privilege_from_member_path(@member), :method => :delete) do
          = hidden_field_tag :community_id, @community.id
          = collection_select(:member, :removed_privilege_id, @privileges - listed_privileges, :id, :name, :prompt => true)
          = submit_tag( I18n.t(:revoke_privilege) )
