-# I imagine this view will *mostly* be seen via Ajax, so it's pretty bare-bones.
%h3
  = link_to "#{@member.user.username},", @member.user
  = "member of" 
  = link_to @member.community.name, @member.community
.privileges
  - @privileges.each do |privilege|
    = privilege.name
